<template>
  <div class="whitestripes" id="whitestripes" :style="{height: this.height - 56 + 'px'}">
    <div class="whitestripes-box">
      <router-link to="/center/white/whiteBill">
        <h6>本期应还款</h6>
        <span>{{data.balance | Price}}</span>
        <p>查账<i class="iconfont">&#xe6a7;</i></p>
      </router-link>
      <button @click="submit()">立即还款</button>
    </div>
    <div class="whitestripes-msg">
      <h6>白条剩余额度(元)</h6>
      <span>{{data.remaininglimit | Price}}</span>
      <p>白条总额度：{{data.quota | Price}}</p>
    </div>
  </div>
</template>

<script lang='ts'>
import { Component, Prop, Vue } from 'vue-property-decorator'

@Component
export default class Whitestripes extends Vue {
  @Prop()
  height!: number

  data: any = {
    balance: 0,
    number: 0,
    remaininglimit: 0,
    quota: 0,
    overdue_amount: 0
  }

  created () {
    let that = this
    Vue.prototype.Axios.post('/index.php/Home/White/WhiteLou')
      .then((res: any) => {
        if (res.data.code === 1) {
          that.data = res.data.data
        }
      })
  }

  /**
   * @description 还款
   * @param void
   * @returns void
   */
  submit () {
    if (Number(this.data.remaininglimit) >= Number(this.data.quota)) {
      return
    }
    if (Number(this.data.balance) === 0) {
      return false
    }
    let that = this
    Vue.prototype.Axios.post('/index.php/Home/Submitpay/Repayment', {
      type: 'all'
    })
      .then((res: any) => {
        if (res.data.code === 1) {
          sessionStorage.setItem('payType', JSON.stringify('white'))
          that.$router.push({
            name: 'pay',
            params: {
              data: res.data.data
            }
          })
        }
      })
  }
}
</script>

<style scoped lang="less">
.whitestripes{
  background: #f6f6f6;
}
.whitestripes-box{
  background: url("../../../static/img/whitestripes_bg.jpg") no-repeat center center;
  background-size: cover;
  color: #fff;
}
.whitestripes-msg{
  background: #fff;
  margin-top: 1rem;
}
.whitestripes-box,
.whitestripes-msg{
  text-align: center;
  padding: 3.5rem 0;
  a {
    color: #fff;
    i {
      font-size: 1rem;
    }
  }
  h6{
    font-size: 1.1rem;
  }
  span{
    font-size: 2.8rem;
    letter-spacing: 0.5px;
    font-weight: 700;
    line-height: 4rem;
  }
  p{
    font-size: 1rem;
  }
}
.whitestripes-box {
  button{
    line-height: 3rem;
    border-radius: 1.5rem;
    background: #f5fafd;
    border: 1px solid #f5fafd;
    color: #3488c7;
    padding: 0 2.8rem;
    font-size: 1.3rem;
    margin-top: 2.4rem;
  }
}
</style>
