<template>
  <div class="whitestripesaccount" id="whitestripesaccount" :style="{height: this.height - 56 + 'px'}">
    <mu-tabs :value="activeTab" @change="handleTabChange" lineClass="tabs-line">
      <mu-tab value="tab1" title="全部账单"/>
      <mu-tab value="tab2" title="流水"/>
    </mu-tabs>
    <div v-if="activeTab === 'tab1'" >
      <div class="account">
        <img src="../../../static/img/icon_note.png" @click="open" alt="">
        <h6>本期应还款</h6>
        <span>{{balance | Price}}</span>
        <!-- <p>逾期金额：{{ Number(remaininglimit) >= Number(quota) ? '0.00' : expect | Price }}</p> -->
        <button @click="submit()">一次还清</button>
      </div>
      <ul class="account-list">
        <li v-for="item in this.list" :key="item.id" @click="toWhiteDetail(item)">
          <div class="account-msg">
            <h3>采购 {{item.name}}</h3>
            <i>{{item.time}}</i>
          </div>
          <span class="account-link">
            <p :class="getClass(item.value)">{{item.value}}</p>
          </span>
        </li>
      </ul>
    </div>
    <div v-if="activeTab === 'tab2'" class="turnover">
      <ul>
        <li v-for="item in turnoverList" :key="item.id" @click="toWhiteDetail(item)">
          <div>
            <h3>{{item.name}}(单号:{{item.orderId}})</h3>
            <span>{{item.time}}</span>
          </div>
          <label :class="getClass(item.value)">{{item.value}}</label>
        </li>
      </ul>
    </div>
    <mu-dialog :open="dialog" title="">
      <p class="cashback-open-title">每年6次固定出账日为：</p>
      <p class="cashback-open">2月10日，4月10日，6月10日，8月10日，10月10日，12月10日</p>
      <br>
      <p class="cashback-open-title">每年6次固定最后还款日为：</p>
      <p class="cashback-open">2月28日(12月11日到2月10日的全部白条)</p>
      <p class="cashback-open">4月28日，6月28日，8月28日，10月28日，12月28日</p>
      <mu-flat-button label="确定" slot="actions" primary @click="close"/>
    </mu-dialog>
  </div>
</template>

<script lang='ts'>
import { Component, Vue, Prop } from 'vue-property-decorator'

@Component
export default class Whitestripesaccount extends Vue {
  @Prop()
  height!: number

  dialog: boolean = false
  expect: number = 0
  activeTab: string = 'tab1'
  balance: number = 0
  list: Array<any> = []
  turnoverList: Array<any> = []
  remaininglimit: string = ''
  quota: string = ''

  created () {
    let that = this
    this.$route.params.name ? this.activeTab = this.$route.params.name : this.activeTab = 'tab1'
    // 白条账单
    Vue.prototype.Axios.post('/index.php/Home/White/CheckAccounts')
      .then((res: any) => {
        if (res.data.code === 1) {
          that.balance = res.data.data.balance
          that.list = res.data.data.list
          that.expect = res.data.data.overdue_amount
          that.remaininglimit = res.data.remaininglimit
          that.quota = res.data.quota
        }
      })
    // 白条流水
    Vue.prototype.Axios.post('/index.php/Home/White/Stream')
      .then((res: any) => {
        if (res.data.code === 1) {
          that.turnoverList = res.data.data
        }
      })
  }

  /**
   * @description 打开弹框
   * @param void
   * @returns void
   */
  open () {
    this.dialog = true
  }

  /**
   * @description 关闭弹框
   * @param void
   * @returns void
   */
  close () {
    this.dialog = false
  }

  /**
   * @description 点击切换选项卡
   * @param { string } val 选中的选项卡
   * @returns void
   */
  handleTabChange (val: string) {
    this.activeTab = val
  }

  /**
   * @description 价格正负的class
   * @param { string } val 价格
   * @returns { string } class名
   */
  getClass (val: string) {
    let vals: number = parseFloat(val)
    if (vals > 0) {
      return 'in'
    } else {
      return 'out'
    }
  }

  /**
   * @description 跳转白条流水详情
   * @param { any } item 流水数据
   * @returns void
   */
  toWhiteDetail (item: any) {
    if (item.name === '采购' || item.name === '退款') {
      return false
    }
    this.$router.push({
      name: 'whiteDetail',
      params: {
        data: JSON.stringify(item)
      }
    })
  }

  /**
   * @description 提交还款
   * @param void
   * @returns void
   */
  submit () {
    if (Number(this.remaininglimit) >= Number(this.quota)) {
      return
    }
    if (Number(this.balance) === 0) {
      return false
    }
    let that = this
    Vue.prototype.Axios.post('/index.php/Home/Submitpay/Repayment', {
      type: 'all'
    })
      .then((res: any) => {
        if (res.data.code === 1) {
          sessionStorage.setItem('payType', JSON.stringify('white'))
          that.$router.push({
            name: 'pay',
            params: {
              data: res.data.data
            }
          })
        }
      })
  }
}
</script>

<style scoped lang="less">
.whitestripesaccount{
  overflow-y: auto;
}
.account{
  text-align: center;
  padding: 3rem 0;
  border-top: 1rem solid #f6f6f6;
  border-bottom: 1rem solid #f6f6f6;
  position: relative;
  > img{
    position: absolute;
    right: 1rem;
    top: 1rem;
    width: 1.5rem;
  }
  h6{
    font-size: 1.1rem;
  }
  span{
    font-size: 2.8rem;
    letter-spacing: 0.5px;
    font-weight: 600;
    line-height: 4rem;
  }
  p {
    color: #e47777;
  }
  button{
    display: block;
    margin: 0 auto;
    margin-top: 1.2rem;
    line-height: 2.8rem;
    border-radius: 1.4rem;
    padding: 0 2.4rem;
    background: #348ac7;
    border-color: #348ac7;
    color: #fff;
    font-size: 1.2rem;
  }
}
.account-list{
  > li{
    display: flex;
    padding: 1rem;
    border-bottom: 1px solid #eeeeee;
    align-items:center;
    justify-content:center;
    .account-msg{
      h3{
        font-size: 1.1rem;
        font-weight: 700;
        line-height: 1.5rem;
        word-wrap: break-word;
      }
      i{
        font-size: 0.9rem;
        color: #a7a7a7;
      }
    }
    .account-link{
      margin-left: auto;
      position:relative;
      width: 6rem;
      p{
        font-size: 1.1rem;
        text-align: right;
        height: 100%;
      }
      p.out{
        color: #54b056;
      }
      p.in{
        color: #dd5555;
      }
      button{
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        line-height: 2.8rem;
        height: 2.8rem;
        width: 6rem;
        border-radius: 1.4rem;
        padding: 0 1.4rem;
        background: #fff;
        border-color: #348ac7;
        color: #348ac7;
        font-size: 1.2rem;
      }
    }
  }
}
.turnover{
  > ul{
    border-top: 1rem solid #f6f6f6;
    li{
      display: flex;
      padding: 1rem;
      border-bottom: 1px solid #f4f4f4;
      align-items:center;
      justify-content:center;
      > div{
        h3{
          font-size: 1.2rem;
          line-height: 1.8rem;
          font-weight: 700;
          margin-bottom: 0.4rem;
        }
        span{
          font-size: 0.9rem;
          line-height: 1.4rem;
          color: #a7a7a7;
        }
      }
      > label{
        margin-left: auto;
        font-size: 1.2rem;
        font-weight: 700;
      }
      > label.in{
        color: #dd5555;
      }
      > label.out{
        color: #54b056;
      }
    }
  }
}
.cashback-open-title{
  font-weight: 600;
}
.cashback-open-title,
.cashback-open {
  padding: 0.3rem 0;
  font-size: 1.1rem;
  line-height: 1.6rem;
}
</style>
