<template>
  <div class="whitedetail" id="whitedetail" :style="{height: this.height - 56 + 'px'}">
    <div class="detail-centent">
      <div class="detail-header">
        <h4 class="detail-title">白条详情</h4>
        <p class="detail-money">{{whiteMoney}}</p>
        <!-- <p class="detail-sub">已成功存款金额</p> -->
      </div>
      <ul class="detail-list">
        <li>
          <div class="detail-box">
            <label>还款单号</label>
            <span>{{whiteId}}</span>
          </div>
          <div class="detail-box">
            <label>订单时间</label>
            <span>{{whiteList[0].time}}</span>
          </div>
          <div class="detail-box">
            <label>来源</label>
            <span>{{whiteList[0].source}}</span>
          </div>
          <!-- <div class="return" v-if="item.return && items.lous_return" v-for="items in item.return" :key="items.id">
            <div class="return-box">
              <label>退单号</label>
              <span>{{items.return_order_id ? items.return_order_id : '-'}}</span>
            </div>
            <div class="return-box">
              <label>退款金额</label>
              <span>{{items.lous_return ? items.lous_return : '-'}}</span>
            </div>
            <div class="return-box">
              <label>退款时间</label>
              <span>{{items.return_time ? items.return_time : '-'}}</span>
            </div>
          </div> -->
        </li>
      </ul>
    </div>
  </div>
</template>

<script lang='ts'>
import { Prop, Component, Vue } from 'vue-property-decorator'

@Component
export default class Whitedetail extends Vue {
  @Prop()
  height!: number

  whiteId: string = ''
  whiteMoney: string = ''
  whiteList: Array<any> = [{
    order_id: '',
    source: '',
    time: ''
  }]

  created () {
    if (this.$route.params.data !== undefined) {
      let data = JSON.parse(this.$route.params.data)
      this.whiteId = data.orderId ? data.orderId : data.totalId
      this.whiteMoney = data.value
      sessionStorage.setItem('whiteDetailId', data.orderId ? data.orderId : data.totalId)
      sessionStorage.setItem('whiteDetailValue', data.value)
    } else {
      this.whiteId = sessionStorage.getItem('whiteDetailId') || '""'
      this.whiteMoney = sessionStorage.getItem('whiteDetailValue') || '""'
    }
    this.getChildOrderId(this.whiteId)
  }

  /**
   * @description 获取子单号列表
   * @param { string } orderId 订单号
   * @returns void
   */
  getChildOrderId (orderId: string) {
    Vue.prototype.Axios.post('/index.php/Home/white/getSubOrders', {
      order_no: orderId
    })
    .then((res: any) => {
      if (res.data.code === 1) {
        this.whiteList = res.data.data
      }
    })
  }

  /**
   * @description 订单详情
   * @param { string } orderId 订单号
   * @returns void
   */
  // toOrderDetail (orderId: string) {
  //   this.$router.push({
  //     name: 'orderDetail',
  //     params: {
  //       orderNum: orderId
  //     }
  //   })
  // }
}
</script>

<style scoped lang="less">
.whitedetail{
  background: #f6f6f6;
  overflow-y: auto;
  .detail-centent{
    background: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    width:92%;
    margin: 4%;
    min-height: 100px;
    .detail-header{
      padding: 2rem 0;
      background: url("../../../static/img/bg_detail.jpg") no-repeat bottom center;
      background-size: contain;
      text-align: center;
      .detail-title{
        padding-top: 0.4rem;
        font-size: 0.91rem;
        color: #616161;
      }
      .detail-money{
        font-size: 1.83rem;
        color: #1f1f1f;
        font-weight: 800;
        margin-top: 0.4rem;
        margin-bottom: 0.6rem;
      }
      .detail-sub{
        font-size: 1rem;
        color: #999999;
      }
    }
    .detail-list{
      li{
        border-top: 1px dotted #e0e0e0;
        padding: 1rem 0;
        margin: 0 4%;
        .detail-box{
          overflow: hidden;
          padding: 0.4rem 1rem;
          min-height: 1.5rem;
          line-height: 1.5rem;
          label{
            float: left;
            width: 24%;
            color: #999999;
          }
          span{
            float: left;
            width: 76%;
            color: #333333;
          }
        }
        .return {
          margin-top: 0.4rem;
          padding: 0.6rem 1rem;
          background-color: #f6f6f6;
          .return-box {
            overflow: hidden;
            padding: 0.3rem 0;
            min-height: 1.5rem;
            line-height: 1.5rem;
            label{
              float: left;
              width: 24%;
              color: #999999;
            }
            span{
              float: left;
              width: 76%;
              color: #333333;
            }
          }
        }
      }
      li:first-child {
        border-top: 0px;
      }
    }
  }
}
</style>

