<template>
  <ul class="order-con">
    <li v-for="(item,index) in orderList" :key="item.id">
      <div class="order-up" @click="toDetail(item.orderNum)">
        <span class="order-num">订单号:{{ item.orderNum }}</span>
        <span class="order-time">{{ item.orderTime }}</span>
      </div>
      <div class="order-list-bg"></div>
      <div class="order-list-box" :data-state="index">
        <ul class="order-list">
          <li v-for="itemParts in item.orderPartsList" :key="itemParts.id" @click="toAfterSaleDetail(itemParts, item.orderNum, item.istax)">
            <div class="order-list-mess">
              <h2 class="order-list-title">{{ itemParts.orderPartsName }}</h2>
              <p class="order-list-remark"><i>原厂编号：{{ itemParts.orderPartsNum }}</i> <i>类别：<span>{{ itemParts.type ? itemParts.type : '—' }}</span></i></p>
              <p class="order-list-remark">钉箱费：{{ itemParts.pack ? itemParts.pack : '—' }}</p>
              <p class="order-list-remark">备注：{{ itemParts.orderPartsNote ? itemParts.orderPartsNote : '—' }}</p>
              <div class="order-list-money-box">
                <span v-if="item.orderStateCode === 'cancel' || item.orderStateCode === 'abnormal'" class="order-list-money">-</span>
                <span v-else class="order-list-money">￥{{ itemParts.orderPartsMoney }}</span>
                <span class="order-list-num">x{{ itemParts.orderPartsNumber }}</span>
              </div>
            </div>
            <div class="order-list-num-box">
              <p class="order-part-state">{{handlePartState(itemParts.orderPartsState) ? handlePartState(itemParts.orderPartsState) : '暂无状态'}}</p>
            </div>
          </li>
          <li class="order-costs" @click="toDetail(item.orderNum)">
            <div class="order-costs-left">
              <p class="order-costs-title">钉箱费</p>
              <p class="order-costs-value">￥{{ getTotalPack(item.orderPartsList) | Price }}</p>
            </div>
          </li>
        </ul>
      </div>
      <div class="order-bottom" @click="toDetail(item.orderNum)">
        <span class="order-money">共{{ item.orderAllNumber }}件商品,合计：<span v-if="item.orderStateCode === 'cancel' || item.orderStateCode === 'abnormal'">-</span>
          <span v-else><span>￥</span><i>{{ item.orderAllMoney }}</i></span>
        </span>
        <!--<span class="order-state" :class="handleOrderState(item.orderStateCode)" >{{handleOrderStateLang(item.orderStateCode)}}</span>-->
      </div>
      <div class="order-arrival-time" @click="toDetail(item.orderNum)">
        <i class="iconfont icon-shijian"></i>
        <span v-if="item.orderCarTime">到货时间(更新结果为准)：{{ item.orderCarTime }} 前</span>
        <span v-else>同城商品,11点前下单当日送达,11点后下单次日送达</span>
      </div>
    </li>
    <li class="noData" v-if="orderList.length === 0">暂无数据...</li>
  </ul>
</template>

<script lang='ts'>
import { Component, Vue, Prop } from 'vue-property-decorator'

@Component
export default class Order extends Vue {
  @Prop()
  orderList!: Array<any>

  /**
   * @description 钉箱费总额
   * @param { any } item 配件数据
   * @returns { number } 钉箱费
   */
  getTotalPack (item: any) {
    if (!item) {
      return false
    }
    let pack: number = 0
    item.forEach((element: any) => {
      pack += Number(element.pack) ? Number(element.pack) : 0
    })
    return pack
  }

  /**
   * @description 跳转到详情页
   * @param { string } orderNum 订单号
   * @returns void
   */
  toDetail (orderNum: string) {
    this.$router.push({
      name: 'orderDetail',
      params: {
        orderNum: orderNum
      }
    })
  }

  /**
   * @description 查看售后详情页
   * @param { any } itemParts 配件数据
   * @param { string } orderId 订单号
   * @param { string } istax 发票
   * @returns void
   */
  toAfterSaleDetail (itemParts: any, orderId: string, istax: string) {
    if (itemParts.orderPartsState === '4' || itemParts.orderPartsState === '5' || itemParts.orderPartsState === '6' || itemParts.orderPartsState === '7') {
      let status: string = ''
      switch (itemParts.orderPartsState) {
        case '4':
          status = '退货'
          break
        case '5':
          status = '换货'
          break
        case '6':
          status = '退货'
          break
        case '7':
          status = '换货'
          break
      }
      this.$router.push({
        name: 'aftersaleDetail',
        params: {
          from: 'orderList',
          data: JSON.stringify({
            type: status,
            orderId: orderId,
            orderDetailId: itemParts.orderPartsId,
            istax: istax !== '否' ? '发票' : '',
            item: JSON.stringify(itemParts)
          })
        }
      })
    } else {
      this.toDetail(orderId)
    }
  }

  /**
   * @description 去除首尾空格
   * @param { string } str 源字符串
   * @returns { string } 处理后的字符串
   */
  trim (str: string) {
    let strs: string = str.replace(/(^\s*)|(\s*$)/g, '')
    return strs
  }

  /**
   * @description 配件状态文案
   * @param { string } val 配件状态
   * @returns { string } 文案
   */
  handlePartState (val: string) {
    let v = this.trim(val)
    switch (v) {
      case '0':
        return '已取消'
      case '1':
        return '未发货'
      case '2':
        return '待收货'
      case '3':
        return '已完成'
      case '4':
        return '退货处理中'
      case '5':
        return '换货处理中'
      case '6':
        return '退货完成'
      case '7':
        return '换货完成'
      default:
        return ''
    }
  }

  /**
   * @description 配件状态class
   * @param { string } val 配件状态
   * @returns { string } class
   */
  // handleOrderState (val: string) {
  //   let v = this.trim(val)
  //   switch (v) {
  //     case '0':
  //       return 'orderStateSuccess'
  //     case '1':
  //       return 'orderStateSuccess'
  //     case '2':
  //       return 'orderStateSuccess'
  //     case '3':
  //       return 'orderStatefinish'
  //     case '4':
  //       return 'orderStateabnormal'
  //     case '5':
  //       return 'orderStateabnormal'
  //     case '6':
  //       return 'orderStateabnormal'
  //     case '7':
  //       return 'orderStateabnormal'
  //     default:
  //       return ''
  //   }
  // }

  /**
   * @description 订单状态文案
   * @param { string } val 订单状态
   * @returns { string } 文案
   */
  // handleOrderStateLang (val: string) {
  //   let v = this.trim(val)
  //   switch (v) {
  //     case '0':
  //       return '待支付'
  //     case '1':
  //       return '支付中'
  //     case '2':
  //       return '待收货'
  //     case '3':
  //       return '已完成'
  //     case '4':
  //       return '已取消'
  //     case '5':
  //       return '售后中'
  //     case '6':
  //       return '退货完成'
  //     case '7':
  //       return '换货完成'
  //     default:
  //       return ''
  //   }
  // }
}
</script>

<style scoped lang='less'>

  .order-con{
    background: #f4f4f4;
    padding-bottom: 1px;
    > li{
      margin-bottom: 0.8rem;
      background: #fff;
      .order-up{
        font-size: 1.08rem;
        .order-num{
          float: left;
          color: #212121;
          letter-spacing: -0.4px;
        }
        .order-time{
          float: right;
          color: #212121;
          letter-spacing: -0.4px;
        }
      }
      .order-list-bg{
        background: url('../../../static/img/order_list_top.jpg') repeat-x;
        height: 4px;
      }
      .order-deputy-attributes{
        padding: 1.2rem 1rem 1.25rem 0;
        margin-left: 1rem;
        border-bottom: 1px solid #f1f1f1;
        p{
          font-size: 1.08rem;
          line-height: 1.75rem;
          color: #757575;
          span{
            color: #000000
          }
        }
      }
      .order-arrival-time{
        background-color: #fefbea;
        color: #935351;
        padding: 0.6rem 1rem;
        font-size: 0.9rem;
        i,
        span{
          vertical-align: middle
        }
      }
      .order-up,
      .order-add,
      .order-car,
      .order-bottom{
        overflow: hidden;
        padding: 0 1rem ;
      }
      .order-up{
        line-height: 3.4rem;
      }
      .order-add,
      .order-car{
        display: table;
        width: 100%;
      }
      .order-car .iconfont,
      .order-car .order-add-mess,
      .order-add .iconfont,
      .order-add .order-add-mess{
        display: table-cell;
        vertical-align: middle
      }
      .order-add,.order-car{
        color: #6d6d6f;
        background-color: #fffced
      }
      .order-add .iconfont,
      .order-car .iconfont{
        font-size: 1.6rem;
        color: #6d6d6d;
        width: 10%;
        padding: 1rem 0;
      }
      .order-add .order-add-mess,
      .order-car .order-car-mess{
        border-bottom: 1px solid #f1f1f1;
        font-size: 1.08rem;
        padding: 1rem 0;
      }
      .order-list > li{
        padding: 1.2rem 1rem 1.25rem 0;
        margin-left: 1rem;
        border-bottom: 1px solid #f1f1f1;
        overflow: hidden;
        position: relative;
        .order-list-mess{
          float: left;
          width: 70%;
          .order-list-title{
            font-size: 1.16rem;
            line-height: 1.6rem;
            margin-bottom: 0.4rem;
            color: #010101;
          }
          .order-list-remark{
            color: #808080;
            font-size: 1rem;
            margin-top: 0.05rem;
            overflow: hidden;
            i{
              float: left;
              &:first-child {
                margin-right: 1rem;
              }
            }
          }
          .order-list-money{
            font-size: 1.33rem;
            color: #010101;
          }
          .order-list-money-cn{
            font-size: 1.15rem;
          }
          .order-list-num{
            color: #808080;
            font-size: 0.9rem;
          }
        }
        .order-list-num-box{
          float: right;
          width: 30%;
          .order-part-state{
            font-size: 1.16rem;
            margin-bottom: 0.4rem;
            text-align: right;
          }
          .order-part-service{
            border: 1px solid #808080;
            font-size: 1.08rem;
            color: #212121;
            border-radius: 3px;
            padding: 0.6rem 1.4rem;
            position: absolute;
            bottom: 1.25rem; right: 1rem;
          }
        }
      }
      .order-list > li.order-costs{
        display: flex;
        padding: 1.2rem 1rem 1.25rem 1rem;
        margin-left: 0;
        .order-costs-left{
          text-align: left;
          flex: 1;
        }
        .order-costs-title,
        .order-costs-value{
          font-size: 1.08rem;
          color: #010101;
        }
        .order-costs-value{
          font-size: 1.33rem;
          margin-top: 0.35rem;
          line-height: 1.8rem;
        }
      }
      .order-list > li
      .order-list-money-box{
        margin-top: 0.7rem;
        span{
          margin-right: 0.6rem;
        }
      }
      .order-bottom{
        line-height: 3.3rem;
        .order-money{
          float: left;
          font-size: 1.25rem;
          color: #404040;
          span{
            color: #dd5555;
          }
          i{
            font-size: 1.33rem;
          }
        }
        .order-state{
          float: right;
          font-size: 1.16rem;
          margin-top: 1px;
          color: #8a8a8a
        }
        .orderStateSuccess{
          color: #f7ae45
        }
        .orderStatefinish{
          color: #54b056
        }
        .orderStateabnormal{
          color: #dd5555
        }
      }
      .order-add-name,
      .order-car-name{
        margin-bottom: 0.3rem;
      }
    }
    > li.show-more{
      text-align: center;
      padding: 2rem 0;
    }
  }
  .order-con > li.noData{
    background-color: #f4f4f4;
    padding-top: 10rem;
    color: #ccc;
    text-align: center;
  }
</style>
