<template>
  <div class="order" id="order" :style="{height: this.height - 56 + 'px'}">
    <!--筛选-->
    <div class="filtrate-box">
      <div class="filtrate-content">
        <div class="filtrate-only" @click="openMenu()">
          <span>{{ filtrateCur | OmittedThree }}</span>
          <i class="iconfont">&#xe77a;</i>
        </div>
        <div class="filtrate">
          <i class="iconfont">&#xe60d;</i>
          <input v-if="filtrateCur !== '时间筛选'" type="text" placeholder="输入搜索内容" v-model="filtrateText">
          <Datepicker v-if="filtrateCur === '时间筛选'" @input="getChildDate" :value="defDate"></Datepicker>
        </div>
        <button class="filtrate-btn" @click="getSearchResult">搜索</button>
      </div>
      <ul class="filtrate-list" v-if="filtrateListState">
        <li v-for="item in filtrateList" :key='item.id' @click="handleFiltrateMeun(item)">
          <span>{{item.name}}</span>
          <i v-show="item.state" class="iconfont">&#xe682;</i>
        </li>
      </ul>
    </div>
    <ul class="ordertype">
       <li v-for="item in orderType" :class="{'on':curOrderType === item}" @click="choiceType(item)" :key="item.id">{{item}}</li>
    </ul>
    <Order :orderList="orderList"></Order>
  </div>
</template>

<script lang='ts'>
import { Component, Vue, Prop } from 'vue-property-decorator'

@Component
export default class OrderList extends Vue {
  @Prop()
  height!: number

  defDate: Array<any> = ['2018-01-01', '2018-01-01']
  filtrateText: string = ''
  filtrateCur: string = '全部'
  filtrateListState: boolean = false
  filtrateList: Array<any> = [
    {
      name: '全部',
      state: true
    },
    {
      name: 'VIN搜索',
      state: false
    },
    {
      name: 'OE搜索',
      state: false
    },
    {
      name: '时间筛选',
      state: false
    },
    {
      name: '配件名搜索',
      state: false
    },
    {
      name: '单号查询',
      state: false
    }
  ]
  orderList: Array<any> = []
  orderType: Array<any> = ['全部', '待收货', '已完成', '售后中', '售后完成']
  curOrderType: string = '全部'

  created () {
    let that = this
    this.$store.commit('CHANGE_LINEAR', true)
    Vue.prototype.Axios.post('/index.php/home/Orders/orderList', {
      time: 'three'
    })
    .then(function (res: any) {
      that.$store.commit('CHANGE_LINEAR', false)
      if (res.data.code === 1) {
        that.orderList = res.data.data
      } else if (res.data.code === 0) {
        that.$store.commit('OPEN_ALERT', {'val': '暂无记录','wait': 1000})
      } else if (res.data.code === 17) {
        that.$router.push('/login')
      }
    })
  }

  mounted () {
    if (this.GetQueryString(location.hash.substring(location.hash.indexOf('?') + 1), 'action' ) === 'reload') {
      let that = this
      this.$store.commit('CHANGE_LINEAR', true)
      Vue.prototype.Axios.post('/index.php/home/Orders/orderList', {
        time: 'three'
      })
      .then(function (res: any) {
        that.$store.commit('CHANGE_LINEAR', false)
        if (res.data.code === 1) {
          that.orderList = res.data.data
        } else if (res.data.code === 0) {
          that.$store.commit('OPEN_ALERT', {'val': '暂无记录','wait': 1000})
        } else if (res.data.code === 17) {
          that.$router.push('/login')
        }
      })
    }
  }

  /**
   * @description 获取url参数
   * @param { string } url 需要解析的url
   * @param { string } name 需要获取的key
   * @returns { string } 拿到的value
   */
  GetQueryString (url: string, name: string) {
    let reg = new RegExp('(^|&)' + name + '=([^&]*)(&|$)')
    let r = url.match(reg)
    if (r === null) {
      return null
    } else {
      return unescape(r[2])
    }
  }

  /**
   * @description 选项卡请求数据
   * @param { string } item 选中
   * @returns void
   */
  choiceType (item: string) {
    let that = this
    if (item !== this.curOrderType) {
      this.curOrderType = item
      Vue.prototype.Axios.post('/index.php/home/Orders/orderList', {
        time: 'three',
        type: item
      })
        .then(function (res: any) {
          that.$store.commit('CHANGE_LINEAR', false)
          if (res.data.code === 1) {
            that.orderList = res.data.data
          } else if (res.data.code === 0) {
            that.$store.commit('OPEN_ALERT', {'val': '暂无记录','wait': 1000})
          } else if (res.data.code === 17) {
            that.$router.push('/login')
          }
        })
    }
  }
  /**
   * @description 交互操作-筛选-打开关闭筛选下拉
   * @param void
   * @returns void
   */
  openMenu () {
    this.filtrateListState ? this.filtrateListState = false : this.filtrateListState = true
  }

  /**
   * @description 交互操作-筛选-选择下拉
   * @param { any } item 选中的下拉
   * @returns void
   */
  handleFiltrateMeun (item: any) {
    this.filtrateCur = item.name
    this.filtrateListState = false
    this.filtrateList.forEach((key: any) => {
      key.state = false
      if (key.name === item.name) {
        key.state = true
      }
    })
    this.filtrateText = ''
  }

  /**
   * @description 交互操作-获得时间框子组件的数据
   * @param { any } date 子组件的数据
   * @returns void
   */
  getChildDate (date: any) {
    console.log(date)
    this.defDate = date
  }

  /**
   * @description 交互操作-筛选-请求筛选结果
   * @param void
   * @returns void
   */
  getSearchResult () {
    let searchContent: string = ''
    let searchType: string = ''
    let Obj: any = {}
    switch (this.filtrateCur) {
      case '全部':
        searchType = 'all'
        break
      case 'VIN搜索':
        searchType = 'vin'
        break
      case 'OE搜索':
        searchType = 'oe'
        break
      case '配件名搜索':
        searchType = 'part'
        break
      case '时间筛选':
        searchType = 'time'
        break
      case '单号查询':
        searchType = 'order_id'
        break
    }
    if (this.filtrateCur !== '时间筛选') {
      searchContent = this.filtrateText
    } else {
      searchContent = this.defDate[0] + ' - ' + this.defDate[1]
    }
    if (!searchContent.replace(/(^\s*)|(\s*$)/g, '') && this.filtrateCur !== '全部') {
      this.$store.commit('OPEN_ALERT', {'val': '请输入搜索内容', wait: 1000})
      return false
    }
    Obj['key'] = searchType
    Obj['value'] = searchContent
    Obj['time'] = 'three'
    Vue.prototype.Axios.post('/index.php/home/Orders/orderList', Obj)
      .then((res: any) => {
        if (res.data.code === 1) {
          this.orderList = res.data.data
          this.curOrderType = this.orderType[0]
        } else {
          this.$store.commit('OPEN_ALERT', {'val': res.data.mess, wait: 1000})
        }
      })
  }
}
</script>

<style scoped lang="less">
  .order{
    overflow-y: auto;
    background: #f4f4f4;
  }
  .ordertype{
    width: 100%;
    background-color: #fff;
    margin-top: 0.8rem;
    line-height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    li {
      flex: 1;
      text-align: center;
      border-bottom: 1px solid #ebebeb;
      &.on {
        border-bottom: 1px solid #348ac7;
        color: #348ac7;
      }
    }
  }
  .filtrate-box{
    background: #fff;
    position: relative;
    .filtrate-content{
      padding: 0.8rem 1rem;
      overflow: hidden;
      .filtrate-only,
      .filtrate,
      .filtrate-btn{
        float: left;
      }
      .filtrate-only {
        width: 24%;
        span,i{
          vertical-align: middle;
          line-height: 2.4rem;
        }
      }
      .filtrate{
        width: 62%;
        background: #f6f6f6;
        height: 2.4rem;
        line-height: 2.4rem;
        border-radius: 2.4rem;
        i {
          padding: 0 0.3rem 0 0.6rem;
          color: #B0B0B0;
        }
        input{
          background: #f6f6f6;
          height: 2.2rem;
          border: 0px;
          margin: 0px; padding: 0px;
          width: 70%;
        }
      }
      .filtrate-btn{
        width: 14%;
        text-align: right;
        padding: 0;
        height: 2.4rem;
        border: 0px;
        font-size: 1.08rem;
        background: #fff;
      }
    }
    .filtrate-list{
      background: #fff;
      position: absolute;
      top: 4rem; left: 0px;
      width: 100%; z-index: 9;
      box-shadow: 0px 5px 10px #eee;
      li {
        border-top: 1px solid #E0E0E0;
        padding: 0.8rem 1rem;
        overflow: hidden;
        span {
          float: left;
        }
        i {
          float: right;
        }
      }
    }
  }
</style>
