<template>
  <div class='order-detail' :style="{height: this.height - 56 + 'px'}" :data-order='orderNum'>
    <ul class="order-con">
      <li>
        <div class="order-state" :class="handleOrderState(item.orderStateCode)">{{handleOrderStateLang(item.orderStateCode)}}</div>
        <div class="order-list-bg"></div>
        <div class="order-title">
          <div class="order-add">
            <i class="iconfont icon-dizhi"></i>
            <div class="order-add-mess">
              <h2 class="order-add-name">收货人：{{ item.orderConsignee }}</h2>
              <label class="order-add-label">收货地址：{{ item.orderAdd }}</label>
            </div>
          </div>
          <div class="order-car">
            <i class="iconfont icon-car"></i>
            <div class="order-car-mess">
              <h2 class="order-car-name">{{ item.orderCarName }}</h2>
              <label class="order-car-vin">VIN：{{ item.orderCarVIN ? item.orderCarVIN : '—' }}</label>
            </div>
          </div>
        </div>
        <div class="order-list-box">
          <ul class="order-list">
            <li v-for="(itemParts, index) in item.orderPartsList" :key="itemParts.id" @click="toAfterSaleDetail(itemParts)">
              <div class="order-list-mess">
                <h2 class="order-list-title">{{ itemParts.orderPartsName }}</h2>
                <p class="order-list-remark"><i>原厂编号：{{ itemParts.orderPartsNum }}</i> <i>类别：<span>{{ itemParts.type ? itemParts.type : '—' }}</span></i></p>
                <p class="order-list-remark">钉箱费：{{ itemParts.pack ? itemParts.pack : '—' }}</p>
                <p class="order-list-remark">备注：{{ itemParts.orderPartsNote ? itemParts.orderPartsNote : '—' }}</p>
                <div class="order-list-money-box">
                  <span v-if="item.orderStateCode === 'cancel' || item.orderStateCode === 'abnormal'" class="order-list-money">-</span>
                  <span v-else class="order-list-money">￥{{ itemParts.orderPartsMoney }}</span>
                  <span class="order-list-num">x{{ itemParts.orderPartsNumber }}</span>
                </div>
              </div>
              <div class="order-list-num-box">
                <p class="order-part-state" :class="{ 'order-part-state-red' : ( itemParts.orderPartsState === '4' || itemParts.orderPartsState === '5' ) }">
                  {{handlePartState(itemParts.orderPartsState) ? handlePartState(itemParts.orderPartsState) : '暂无状态'}}
                </p>
                <div class="order-part-service">
                  <span class="order-part-service-query" @click="ConfirmTheGoods(itemParts, index)" v-if="itemParts.orderPartsState === '2'">确认收货</span>
                  <span class="order-part-service-after" @click="joinCart(item.orderNum, itemParts)" v-if="itemParts.orderPartsState === '3'">立即购买</span>
                  <span class="order-part-service-after" @click="toAfterSale(item.orderNum, itemParts, item.istax)" v-if="itemParts.orderPartsState === '3' && !item.IsReplac">申请售后</span>
                </div>
              </div>
            </li>
            <li class="order-costs">
              <div class="order-costs-left">
                <p class="order-costs-title">钉箱费</p>
                <p class="order-costs-value">￥{{ getTotalPack() | Price }}</p>
              </div>
            </li>
          </ul>
        </div>
        <div class="order-up-box">
          <div class="order-up">
            <div class="order-num"><i class="order-up-title">订单编号：</i><span>{{ item.orderNum }}</span></div>
            <div class="order-time"><i class="order-up-title">下单时间：</i><span>{{ item.orderTime }}</span></div>
          </div>
          <div class="order-up">
            <div class="order-num" v-if="item.orderCarTime"><i class="order-up-title">到货日期：</i><span>到货时间(以更新结果为准)：{{ item.orderCarTime }} 前</span></div>
            <div class="order-num" v-else><i class="order-up-title">到货日期：</i><span>同城商品,11点前下单当日送达,11点后下单次日送达</span></div>
            <div class="order-time"><i class="order-up-title">付款方式：</i><span>{{ item.paytype ? item.paytype : '-' }}</span></div>
          </div>
          <div class="order-up">
            <div class="order-num"><i class="order-up-title">发票类型：</i><span>{{ item.istax ? item.istax : '-' }}</span></div>
            <div class="order-time"><i class="order-up-title">发票抬头：</i><span>{{ item.invoicetitle ? item.invoicetitle : '-' }}</span></div>
            <div class="order-num"><i class="order-up-title">发票内容：</i><span>{{ item.invoicomment ? item.invoicomment : '-' }}</span></div>
            <div class="order-time"><i class="order-up-title">识别号：</i><span>{{ item.invoinumber ? item.invoinumber : '-' }}</span></div>
          </div>
        </div>
        <div class="order-money-box">
          <div class="order-money-details">
            <div class="order-money-list">
              <h3 class="order-money-title">商品总额：</h3>
              <span class="order-money-number">{{ processingDate(item.orderAllMoney, 'price') }}</span>
            </div>
            <!-- <div class="order-money-list">
              <h3 class="order-money-title">税费总额：</h3>
              <span class="order-money-number">{{ processingDate(item.tax, 'tax') }}</span>
            </div> -->
            <div class="order-money-list">
              <h3 class="order-money-title">总钉箱费：</h3>
              <span class="order-money-number">{{ processingDate(item.totalPack, 'totalPack') }}</span>
            </div>
            <div class="order-money-list">
              <h3 class="order-money-title">返现抵扣：</h3>
              <span class="order-money-number">{{ processingDate(item.cashback, 'cashback') }}</span>
            </div>
            <div class="order-money-list" v-if="item.invoiceTax">
              <h3 class="order-money-title">优惠金额：</h3>
              <span class="order-money-number">{{ processingDate(item.invoiceTax, 'invoiceTax') }}</span>
            </div>
          </div>
          <div class="order-money-handle">
            实付总额：<span>￥{{ item.payAmount }}</span>
          </div>
        </div>
      </li>
    </ul>
  </div>
</template>

<script lang='ts'>
import { Component, Vue, Prop } from 'vue-property-decorator'

@Component
export default class OrderDetail extends Vue {
  @Prop()
  height!: number

  orderNum: string = ''
  item: any = {}

  created () {
    if (this.$route.params.orderNum !== undefined) {
      this.orderNum = this.$route.params.orderNum
      sessionStorage.setItem('orderDetailNum', this.$route.params.orderNum)
    } else {
      this.orderNum = sessionStorage.getItem('orderDetailNum') || '""'
    }
    this.getOrderData()
  }

  /**
   * @description 添加各价格的正负符号
   * @param { string } money 金额数量
   * @param { string } type 金额类型
   * @returns { string } 拼接后的金额
   */
  processingDate (money: string, type: string) {
    if (type === 'cashback' || type === 'invoiceTax') {
      return '-￥' + (money ? money : '0.00')
    } else {
      return '￥' + (money ? money : '0.00')
    }
  }

  /**
   * @description 总的钉箱费
   * @param void
   * @returns void
   */
  getTotalPack () {
    let totalPack: number = 0
    if (this.item.orderPartsList) {
      for (let i = 0; i < this.item.orderPartsList.length; i++) {
        totalPack += Number(this.item.orderPartsList[i].pack)
      }
    }
    return totalPack
  }

  /**
   * @description 查看售后详情页
   * @param { any } itemParts 配件数据
   * @returns void
   */
  toAfterSaleDetail (itemParts: any) {
    if (itemParts.orderPartsState === '4' || itemParts.orderPartsState === '5' || itemParts.orderPartsState === '6' || itemParts.orderPartsState === '7') {
      let status: string = ''
      switch (itemParts.orderPartsState) {
        case '4':
          status = '退货'
          break
        case '5':
          status = '换货'
          break
        case '6':
          status = '退货'
          break
        case '7':
          status = '换货'
          break
      }
      this.$router.push({
        name: 'aftersaleDetail',
        params: {
          from: 'orderList',
          data: JSON.stringify({
            type: status,
            orderId: this.orderNum,
            orderDetailId: itemParts.orderPartsId,
            istax: this.item.istax === '普通发票' ? '发票' : '',
            item: JSON.stringify(itemParts)
          })
        }
      })
    }
  }

  /**
   * @description 确认收货
   * @param { any } item 配件信息
   * @param { number } index 配件下标
   * @returns void
   */
  ConfirmTheGoods (item: any, index: number) {
    Vue.prototype.Axios.post('/index.php/Home/Orders/confirmReceipt', {
      orderId: this.orderNum,
      orderDetailId: item.orderPartsId
    })
    .then((res: any) => {
      if (res.data.code === 1) {
        this.$store.commit('OPEN_ALERT', {'val': '确认收货成功', wait: 1000})
        this.item.orderPartsList[index].orderPartsState = '3'   //  修改配件状态
      } else {
        this.$store.commit('OPEN_ALERT', {'val': '获取失败，请稍后重试！', wait: 1000})
      }
    })
  }

  /**
   * @description 申请售后
   * @param { string } orderid 订单单号
   * @param { any } item 配件数据
   * @param { any } istax 发票
   * @returns void
   */
  toAfterSale (orderid: string, item: any, istax: any) {
    Vue.prototype.Axios.post('/index.php/Home/Orders/applicationSale', {
      orderId: this.orderNum,
      orderDetailId: item.orderPartsId
    })
      .then((res: any) => {
        if (res.data.code === 1) {
          this.$router.push({
            name: 'aftersaleApply',
            params: {
              from: 'orderdetail',
              orderid: orderid,
              istax: istax,
              data: JSON.stringify(item),
              salenumber: item.orderPartsNumber,
              address: JSON.stringify(res.data.data)
            }
          })
        } else {
          this.$store.commit('OPEN_ALERT', {'val': res.data.message, wait: 1000})
        }
      })
  }

  /**
   * @description 再次加入购物车（立即购买）
   * @param { string } orderid 订单单号
   * @param { any } item 配件数据
   * @returns void
   */
  joinCart (orderid: string, item: any) {
    let that = this
    Vue.prototype.Axios.post('/index.php/Home/Shopping/buyItNow', {
      orderId: this.orderNum,
      orderDetailId: item.orderPartsId
    })
      .then(function (res: any) {
        that.$store.commit('CHANGE_LINEAR', false)
        if (res.data.code === 1) {
          that.$store.commit('OPEN_ALERT', {'val': '加入成功购物车成功', wait: 1000})
        } else {
          that.$store.commit('OPEN_ALERT', {'val': res.data.message, wait: 1000})
        }
      })
  }

  /**
   * @description 请求订单数据
   * @param void
   * @returns void
   */
  getOrderData () {
    let that = this
    this.$store.commit('CHANGE_LINEAR', true)
    Vue.prototype.Axios.post('/index.php/Home/Orders/OrderDetails', {
      orderNumber: this.orderNum
    })
    .then((res: any) => {
      that.$store.commit('CHANGE_LINEAR', false)
      if (res.data.code === 1) {
        that.item = res.data.data
      } else {
        that.$store.commit('OPEN_ALERT', {'val': '获取失败，请稍后重试！', wait: 1000})
      }
    })
  }

  /**
   * @description 去除首尾空格
   * @param { string } str 原字符串
   * @returns { string } 处理后的字符串
   */
  trim (str: string) {
    if (!str) return false
    let strs: string = str.replace(/(^\s*)|(\s*$)/g, '')
    return strs
  }

  /**
   * @description 配件状态文案
   * @param { string } val 配件状态
   * @returns { string } 文案
   */
  handlePartState (val: string) {
    let v = this.trim(val)
    switch (v) {
      case '0':
        return '已取消'
      case '1':
        return '未发货'
      case '2':
        return '待收货'
      case '3':
        return '已完成'
      case '4':
        return '退货处理中'
      case '5':
        return '换货处理中'
      case '6':
        return '退货完成'
      case '7':
        return '换货完成'
      default:
        return v
    }
  }

  /**
   * @description 配件状态class
   * @param { string } val 配件状态
   * @returns { string } class
   */
  handleOrderState (val: string) {
    let v = this.trim(val)
    switch (v) {
      case '':
        return 'orderStateSuccess'
      case '1':
        return 'orderStateSuccess'
      case '2':
        return 'orderStateSuccess'
      case '3':
        return 'orderStatefinish'
      case '4':
        return 'orderStateabnormal'
      case '5':
        return 'orderStateabnormal'
      case '6':
        return 'orderStateabnormal'
      case '7':
        return 'orderStateabnormal'
      default:
        return v
    }
  }

  /**
   * @description 订单状态文案
   * @param { string } val 订单状态
   * @returns { string } 文案
   */
  handleOrderStateLang (val: string) {
    let v = this.trim(val)
    switch (v) {
      case '0':
        return '待支付'
      case '1':
        return '支付中'
      case '2':
        return '待收货'
      case '3':
        return '已完成'
      case '4':
        return '已取消'
      case '5':
        return '售后中'
      case '6':
        return '退货完成'
      case '7':
        return '换货完成'
      default:
        return v
    }
  }
}
</script>

<style scoped lang='less'>
  .order-detail{
    overflow-y: auto;
  }
  .order-con{
    > li{
      background: #f4f4f4;
      padding-bottom: 1px;
      .order-state{
        background: url('../../../static/img/order-top.jpg') no-repeat center bottom;
        background-size: cover;
        width: 100%;
        color: #fff;
        padding: 1.6rem 1rem;
        font-size: 1.16rem;
      }
      .order-list-bg{
        background: url('../../../static/img/order_list_top.jpg') repeat-x;
        height: 4px;
      }
      .order-deputy-attributes{
        padding: 1.2rem 1rem 1.25rem 0;
        margin-left: 1rem;
        border-bottom: 1px solid #f1f1f1;
        p{
          font-size: 1.08rem;
          line-height: 1.75rem;
          color: #757575;
          span{
            color: #000000
          }
        }
      }
      .order-arrival-time{
        background-color: #fefbea;
        color: #935351;
        padding: 0.6rem 1rem;
        font-size: 0.9rem;
        i,
        span{
          vertical-align: middle
        }
      }
      .order-up,
      .order-add,
      .order-car,
      .order-bottom{
        overflow: hidden;
        padding: 0 1rem ;
      }
      .order-up-box{
        background: #fff;
      }
      .order-up{
        font-size: 1.08rem;
        line-height: 1.75rem;
        color: #212121;
        padding: 0.8rem 0;
        margin-left: 1rem;
        border-bottom: 1px solid #d7d7d7;
        .order-num, .order-time{
          overflow: hidden;
          width: 100%;
          position: relative;
          span {
            display: block;
            float: left;
            word-break: break-all;
            color: #212121;
            margin-left: 6rem;
          }
        }
        .order-up-title{
          width:6rem;
          color: #999999;
          position: absolute;
          left: 0px; top: 0px;
        }
      }
      .order-up:last-child {
        border-bottom: 0px;
      }
      .order-money-box{
        margin: 1rem 0;
        background-color: #fff;
        .order-money-details,
        .order-money-handle{
          background-color: #fff;
          margin-left: 1rem;
        }
        .order-money-details{
          padding: 0.8rem 0;
          border-bottom: 1px solid #d7d7d7;
        }
        .order-money-handle{
          text-align: right;
          margin-right: 1rem;
          line-height: 3rem;
          font-size: 1.16rem;
          span{
            color: #df6060;
          }
        }
        .order-money-list{
          overflow: hidden;
          line-height: 1.75rem;
          .order-money-title{
            float: left;
            font-size: 1.08rem;
            color: #999999;
          }
          .order-money-number{
            float: right;
            margin-right: 1rem;
          }
        }
      }
      .order-add,
      .order-car{
        display: table;
        width: 100%;
      }
      .order-car .iconfont,
      .order-car .order-add-mess,
      .order-add .iconfont,
      .order-add .order-add-mess{
        display: table-cell;
        vertical-align: middle
      }
      .order-add,.order-car{
        color: #6d6d6f;
        background-color: #fffced
      }
      .order-add .iconfont,
      .order-car .iconfont{
        font-size: 1.6rem;
        color: #6d6d6d;
        width: 10%;
        padding: 1rem 0;
      }
      .order-add .order-add-mess,
      .order-car .order-car-mess{
        border-bottom: 1px solid #f1f1f1;
        font-size: 1.08rem;
        padding: 1rem 0;
      }
      .order-list-box{
        background-color: #f4f4f4;
        padding: 1rem 0;
      }
      .order-list{
        background-color: #fff;
      }
      .order-list > li{
        padding: 1.2rem 1rem 1.25rem 0;
        margin-left: 1rem;
        border-bottom: 1px solid #f1f1f1;
        overflow: hidden;
        position: relative;
        .order-list-mess{
          float: left;
          width: 70%;
          .order-list-title{
            font-size: 1.16rem;
            margin-bottom: 0.4rem;
            color: #010101;
          }
          .order-list-remark{
            color: #808080;
            font-size: 1rem;
            margin-top: 0.05rem;
            overflow: hidden;
            i{
              float: left;
              &:first-child {
                margin-right: 1rem;
              }
            }
          }
          .order-list-money{
            font-size: 1.33rem;
            color: #010101;
          }
          .order-list-money-cn{
            font-size: 1.15rem;
          }
          .order-list-num{
            color: #808080;
            font-size: 0.9rem;
          }
        }
        .order-list-num-box{
          float: right;
          width: 30%;
          .order-part-state{
            font-size: 1.16rem;
            margin-bottom: 0.4rem;
            text-align: right;
          }
          .order-part-service{
            position: absolute;
            bottom: 1.25rem; right: 1rem;
            span {
              border: 1px solid #808080;
              font-size: 1.08rem;
              color: #212121;
              text-align: center;
              border-radius: 3px;
              padding: 0.6rem 0.8rem;
              margin-left: 0.8rem;
              float: right;
              &:last-child {
                margin-left: 0px;
              }
            }
            span.order-part-service-after{
              padding: 0.4rem 0.4rem;
              margin-left: 0.5rem;
              font-size: 1rem;
            }
            span.order-part-service-query{
              color: #ba3b35;
              border-color: #ba3b35; 
            }
          }
        }
      }
      .order-list > li.order-costs{
        display: flex;
        padding: 1.2rem 1rem 1.25rem 1rem;
        margin-left: 0;
        .order-costs-left{
          text-align: left;
          flex: 1;
        }
        .order-costs-title,
        .order-costs-value{
          font-size: 1.08rem;
          color: #010101;
        }
        .order-costs-value{
          font-size: 1.25rem;
          margin-top: 0.35rem;
          line-height: 1.8rem;
        }
      }
      .order-list > li 
      .order-list-money-box{
        margin-top: 0.7rem;
        span{
          margin-right: 0.6rem;
        }
      }
      .order-bottom{
        line-height: 3.3rem;
        .order-money{
          float: left;
          font-size: 1.25rem;
          color: #404040;
          span{
            color: #dd5555;
          }
          i{
            font-size: 1.33rem;
          }
        }
        .order-state{
          float: right;
          font-size: 1.16rem;
          margin-top: 1px;
          color: #8a8a8a
        }
      }
      .order-add-name,
      .order-car-name{
        margin-bottom: 0.3rem;
      }
    }
    > li.show-more{
      text-align: center;
      padding: 2rem 0;
    }
  }
  .orderStateSuccess{
    // color: #f7ae45;
    color: #fff;
  }
  .orderStatefinish{
    // color: #54b056;
    color: #fff;
  }
  .orderStateabnormal{
    // color: #dd5555;
    color: #fff;
  }
</style>
