<template>
  <div class='cart' id='cart' :style="{height: this.height - 56 + 'px'}">
    <div class='cart-content' id='cart-content' :style="{height: this.height - 56 - 56 + 'px'}">
      <!--筛选-->
      <div class="filtrate-box">
        <div class="filtrate-content">
          <div class="filtrate-only" @click="openMenu()">
            <span>{{ filtrateCur | OmittedThree }}</span>
            <i class="iconfont">&#xe77a;</i>
          </div>
          <div class="filtrate">
            <i class="iconfont">&#xe60d;</i>
            <input v-if="filtrateCur !== '时间筛选'" type="text" placeholder="输入搜索内容" v-model="filtrateText">
            <Datepicker v-if="filtrateCur === '时间筛选'" @input="getChildDate" :value="defDate"></Datepicker>
          </div>
          <button class="filtrate-btn" @click="getSearchResult()">搜索</button>
        </div>
        <ul class="filtrate-list" v-if="filtrateListState">
          <li v-for="item in filtrateList" :key='item.id' @click="handleFiltrateMeun(item)">
            <span>{{item.name}}</span>
            <i v-show="item.state" class="iconfont">&#xe682;</i>
          </li>
        </ul>
      </div>
      <mu-circular-progress :size='60' v-if='loading' class='loading' color='#2580c1'/>
      <ul class='cart-list' v-if='!loading'>
        <li v-for='(item,index) in cartlist' :key='item.id + item.create_time'>
          <div class='cart-car-mess'>
            <div class='cart-msg-box' v-if='item.carttitle && item.carticon !== "https://api.autocloudpro.com/Public/car_logo_images/"'>
              <img :src='item.carticon' alt='' class='cart-car-mess-icon'>
              <span class='cart-car-mess-title'>{{item.carttitle}}</span>
            </div>
            <div class='cart-msg-aid'>
              <div class='cart-vin'>
                <span class='cart-vin-title'>VIN：</span>
                <div class='cart-vin-enter' :class='{ "vinverification" : !item.vinverification }'>
                  <input type='text' oninput='if(value.length>17)value=value.slice(0,17)' v-model='item.vin' placeholder='请输入车辆VIN'>
                  <i class='iconfont'>&#xe610;</i>
                </div>
              </div>
              <div class='cart-address' @click='showAddress(index, item)'>
                <span class='cart-address-title' :data-cityid='item.curaddress.city_id' :data-provinceid='item.curaddress.province_id'>{{item.curaddress.province | OmittedThree}}/{{item.curaddress.city | OmittedThree}}</span>
                <i class='iconfont'>&#xe77a;</i>
              </div>
            </div>
          </div>
          <ul class='cartpart-list'>
            <li v-for='(items,indexs) in item.cartpartslist' :id="'cart-' + index + '-' + indexs" style='transform:translateX(0rem)' :data-id='items.id' :key='items.id' @touchstart='_touchStart' @touchmove="_touchMove('cart-' + index + '-' + indexs)" @touchend='_touchEnd'>
              <div class='cart-con'>
                <div class='cartpart-input'>
                  <div class='cartpart-checkbox' v-if='items.partmoney.state === "money"'>
                    <input type='checkbox' v-model='items.partpicthon' name='cartpart-group' @change='changeCheckedAll(items.partpicthon)'>
                    <div class='checkbox-box'>
                      <span class='checkbox-true' v-if='items.partpicthon'><i class='iconfont icon-dui'></i></span>
                      <span class='checkbox-false' v-else></span>
                    </div>
                  </div>
                  <div class='cartpart-checkbox' v-else>
                    <input type='checkbox' v-model='items.partpicthon' name='cartpart-group' disabled='disabled'>
                    <div class='checkbox-box'>
                      <span class='checkbox-no'></span>
                    </div>
                  </div>
                </div>
                <div class='cartpart-allmess'>
                  <div class='cartpart-mess'>
                    <h2 class='cartpart-title'>{{items.parttitle}}</h2>
                    <div class='cartpart-info'>
                      <span class='cartpart-num'>OE：{{items.partnum}}</span>
                      <span class='cartpart-quantity'>装配数量：{{items.partquantity?items.partquantity:'—'}}</span>
                    </div>
                    <p class='cartpart-note'>备注：{{items.partnote?items.partnote:'—'}}</p>
                    <div class='cartpart-source' @click="OpenPartType(index, indexs)">
                      <span>{{ typeText(items.type) }}</span>
                      <i class='iconfont'>&#xe77a;</i>
                    </div>
                  </div>
                  <div class='cartpart-assist'>
                    <div class='cartpart-state'>
                      <div class='state-money' @click='handlemoney(index, indexs, items.partmoney.statemoneylist)' v-if='items.partmoney.state === "money"'>
                        <div :data-provinceid='items.partmoney.statemoney.province_code' :data-cityid='items.partmoney.statemoney.city_code' :data-type='items.partmoney.statemoney.part_type'>
                          <p>{{ items.partmoney.statemoney.company_name | OmittedFour}}(含税)</p>
                          <p>￥{{ items.partmoney.statemoney.sale_price | Price}}</p>
                        </div>
                        <i v-if='itemsIconShow(index, indexs, items.partmoney.statemoneyshow)' class='iconfont'>&#xe6a6;</i>
                      </div>
                      <div class='state-inquiry' @click='inquiry(item)' v-if='items.partmoney.state === "inquiry"'>
                        询价
                      </div>
                      <div class='state-inquirying' v-if='items.partmoney.state === "inquirying"'>
                        询价中
                      </div>
                      <div class='state-blank' v-if='items.partmoney.state === "blank"'>
                        暂无价格
                      </div>
                    </div>
                    <div class='cartpart-handle-num'>
                      <span class='reduce' @click='reduce(index,indexs,items.id)'><i class='iconfont icon-minus'></i></span>
                      <input type='text' :value='items.partnumber' disabled>
                      <span class='add' @click='add(index, indexs,items.id)'><i class='iconfont icon-add'></i></span>
                    </div>
                  </div>
                </div>
                </div>
              <div class='cart-del deleteIcon' :style='zIndex' @click.prevent='deleteItem(items.id, index, indexs)'> 删除</div>
            </li>
            <li class='cart-y'>
              <div class='cart-con'>
                <div class='cartpart-input'>
                  <div class='cartpart-checkbox'>
                    <input type='checkbox' name='cartpart-group'>
                    <div class='checkbox-box'>
                      <span v-if='ShippingCostsState(item)' class='checkbox-true-on'><i class='iconfont icon-dui'></i></span>
                      <span v-if='!ShippingCostsState(item)' class='checkbox-true-no'></span>
                    </div>
                  </div>
                </div>
                <div class='cartpart-allmess'>
                  <div class='cartpart-mess'>
                    <h2 class='cartpart-title'>运费</h2>
                    <p class='cartpart-costsmsg'>* 到付或免费</p>
                  </div>
                </div>
              </div>
            </li>
            <li class="cart-hint">
              <i class="iconfont icon-shijian"></i>
              <span>此价格为含税价，运费到付或免费，同城商品，11点前下单当日送达，11点后下单次日送达</span>
            </li>
          </ul>
        </li>
      </ul>
      <ul v-show='cartlist.length === 0' v-if='!loading'>
        <li class='cart-no'>
          <img src='../../../static/img/nocart.png' alt='' class='nocart'>
        </li>
      </ul>
    </div>
    <div class='cart-bottom' id='cart-bottom'>
      <div class='cart-bottom-input'>
        <div class='cartpart-checkbox'>
          <input type='checkbox' id='cart-bottom-checkbox' v-model='checkedAll' @change='handlecheckedAll(checkedAll)'>
          <div class='checkbox-box'>
            <span class='checkbox-true' v-if='checkedAll'><i class='iconfont icon-dui'></i></span>
            <span class='checkbox-false' v-else></span>
          </div>
          <label for='cart-bottom-checkbox' class='cart-bottom-input-text'>全选</label>
        </div>
      </div>
      <div class='cart-bottom-money'>
        合计：<span>￥{{sum ? sum : '0.00'}}</span>
      </div>
      <div class='cart-bottom-btn'>
        <button @click='submit()'>结算</button>
      </div>
    </div>
    <!-- 地址弹出 -->
    <div class='address-alert' v-if='addressAlert.show' :data-index='addressAlert.index'>
      <div class="bg" v-if='addressAlert.show'></div>
      <div class='address-alert-tabs'>
        <span @click='clicktabsprovince()' :class="{'tabs-on':addressAlert.provinceshow}" class='tabs-province'>{{addressAlert.curProvince?addressAlert.curProvince:'请选省'}}</span>
        <span :class="{'tabs-on':addressAlert.cityshow}" class='tabs-city'>{{addressAlert.curCity?addressAlert.curCity:'请选市'}}</span>
        <span @click='clicktabsdel()' class='tabs-close'>取消</span>
      </div>
      <div class='address-alert-list'>
        <ul class='address-alert-province' v-if='addressAlert.provinceshow'>
          <li @click='handleAddressAlertProvince(index, item)' v-for='(item, index) in addressAlert.addresslist' :key='item.id' :data-id='item.id'>{{item.name}}</li>
        </ul>
        <ul class='address-alert-city' v-if='addressAlert.cityshow'>
          <li @click='handleAddressAlertCity(items)' v-for='items in addressAlert.citylist' :key='items.id' :data-id='items.id'>{{items.name}}</li>
        </ul>
      </div>
    </div>
    <!-- 价格弹出 -->
    <div class='money-alert' v-if='moneyalert.show' :data-index='moneyalert.index'>
      <div class="bg" v-if='moneyalert.show'></div>
      <div class='money-alert-content'>
        <h2>选择商品</h2>
        <i @click='handleMoneyAlertDel()' class='iconfont'>&#xe69a;</i>
        <ul>
          <li @click='handleMoneyAlert(item)' v-for='item in moneyalert.moneylist' :key='item.id' :class="{ 'current' : item.isCurrent === 'true' }">
            <p>
              <span>{{item.company_name}} ￥{{item.sale_price}}(含税)</span>
              <span>{{getCity(item.province_code, item.city_code) ? getCity(item.province_code, item.city_code) : ' '}}</span>
              <span v-if="item.pack"> 钉箱费:{{item.pack}}</span>
            </p>
            <p v-if="item.remark">备注：{{ item.remark }}</p>
          </li>
        </ul>
      </div>
    </div>
    <!-- 配件类型弹出（原厂件，副厂件） -->
    <div class='money-alert' v-if='part.show' :data-index='part.index'>
      <div class="bg" v-if='part.show'></div>
      <div class='money-alert-content'>
        <h2>选择配件类型</h2>
        <i @click="ClosePartAlert()" class='iconfont'>&#xe69a;</i>
        <ul>
          <li v-for="item in partType" :key='item.id' @click="handlePartType(item)">{{ item }}</li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script lang='ts'>
import { Component, Vue, Prop } from 'vue-property-decorator'
import address from '../../../static/data/address'

@Component
export default class Cart extends Vue {
  @Prop()
  height!: number

  defDate: Array<any> = ['2018-01-01', '2018-01-01']
  filtrateText: string = ''
  filtrateCur: string = '全部'
  filtrateListState: boolean = false
  filtrateList: Array<any> = [
    {
      name: '全部',
      state: true
    },
    {
      name: 'VIN搜索',
      state: false
    },
    {
      name: 'OE搜索',
      state: false
    },
    {
      name: '时间筛选',
      state: false
    },
    {
      name: '配件名搜索',
      state: false
    }
  ]
  rawdata: Array<any> = []
  loading: boolean = true
  typetime: number = 100
  type: boolean = true
  sumState: boolean = false
  checkedAll: boolean = false
  partType: Array<any> = ['全部', '原厂件', '品牌件']
  moneyalert: any = {
    show: false,
    index: [],
    moneylist: []
  }
  part: any = {
    show: false,
    index: []
  }
  addressAlert: any = {
    show: false,
    index: 0,
    provinceshow: true,
    curProvince: '',
    curProvinceid: '',
    cityshow: false,
    curCity: '',
    citylist: [],
    addresslist: address
  }
  cartlist: Array<any> = []
  startX: number = 0
  moveX: number = 0
  disX: number = 0
  delWidth: number = 600
  top: string = ''
  zIndex: string = 'z-index:-1'

  // 计算总价统计
  get sum () {
    if (this.sumState) {
      let listNum = this.cartlist.length
      let sum: number = 0
      for (let i = 0; i < listNum; i++) {
        let costsState = false
        let partNum = this.cartlist[i].cartpartslist.length
        for (let q = 0; q < partNum; q++) {
          if (this.cartlist[i].cartpartslist[q].partpicthon === true) {
            costsState = true
            let money = this.cartlist[i].cartpartslist[q].partmoney.statemoney.sale_price ? this.cartlist[i].cartpartslist[q].partmoney.statemoney.sale_price : 0
            let pack = this.cartlist[i].cartpartslist[q].partmoney.statemoney.pack ? this.cartlist[i].cartpartslist[q].partmoney.statemoney.pack : 0
            sum += ((Number(money) + Number(pack)) * Number(this.cartlist[i].cartpartslist[q].partnumber))
          }
        }
        if (costsState) {
          if (this.cartlist[i].costs.state === 'money') {
            sum += Number(this.cartlist[i].costs.value)
          }
        }
      }
      let sums = sum.toFixed(2)
      return sums
    }
  }
  mounted () {
    // 获取购物车默认数据
    let that = this
    this.$store.commit('CHANGE_LINEAR', true)
    Vue.prototype.Axios.post('/index.php/home/shopping/CartProductlist')
    .then(function (res: any) {
      that.$store.commit('CHANGE_LINEAR', false)
      that.loading = false
      if (res.data.code === 1) {
        that.cartlist = res.data.cartlist
        that.rawdata = JSON.parse(JSON.stringify(res.data.cartlist))
        // 开始计算总价
        that.sumState = true
      } else if (res.data.code === 17) {
        that.$router.push('/login')
      }
    })
  }

  /**
   * @description 交互操作-删除配件-监听滑动开始
   * @param { any } ev 鼠标事件
   * @returns void
   */
  _touchStart (ev: any) {
    ev = ev || event
    if (ev.touches.length === 1) {
      // 手指按下的时候记录按下的位置
      this.startX = ev.touches[0].clientX
    }
  }

  /**
   * @description 交互操作-删除配件-监听滑动中
   * @param { string } val 配件DOM的ID
   * @param { any } ev 鼠标事件
   * @returns void
   */
  _touchMove (val: string, ev: any) {
    ev = ev || event
    if (ev.touches.length === 1) {
      // 滑动过程中的实时位置
      this.moveX = ev.touches[0].clientX
      // 滑动过程中实时计算滑动距离
      this.disX = this.startX - this.moveX
      // 如果是向右滑动或者只是点击，不改变滑动位置
      if (this.disX < 0 || this.disX === 0) {
        document.getElementById(val)!.style.transform = 'translateX(0rem)'
      } else if (this.disX > 0) {
        document.getElementById(val)!.style.transform = 'translateX(-' + this.disX / 100 + 'rem)'
        if (this.disX >= this.delWidth / 100) {
          document.getElementById(val)!.style.transform = 'translateX(-' + this.delWidth / 100 + 'rem)'
          this.zIndex = 'z-index:' + 10 + 'rem'
        }
      }
    }
  }

  /**
   * @description 交互操作-删除配件-监听滑动结束
   * @param { any } event 鼠标事件
   * @returns void
   */
  _touchEnd (event: any) {
    if (event.changedTouches.length === 1) {
      this.startX = 0
      this.zIndex = 'z-index:' + -1 + 'rem'
      // 手指移动结束后的水平位置
      let endX = event.changedTouches[0].clientX
      // 触摸开始与结束,手指移动的距离
      this.disX = this.startX - endX
      // 如果距离小于删除按钮的1/2，不显示删除按钮
    }
  }

  /**
   * @description 交互操作-联动勾选运费
   * @param { any } item 车型数据
   * @returns { boolean } 运费状态
   */
  ShippingCostsState (item: any) {
    let state = false
    for (let i = 0; i < item.cartpartslist.length; i++) {
      if (item.cartpartslist[i].partpicthon) {
        state = item.cartpartslist[i].partpicthon
      }
    }
    return state
  }

  /**
   * @description 数据处理-获得省市的中文名称
   * @param { string } a 省ID
   * @param { string } b 市ID
   * @returns { string } 省市名称
   */
  getCity (a: string, b: string) {
    if (!a) return false
    if (!b) return false
    a = String(a)
    b = String(b)
    let province
    let city
    if (a === b) {
      for (let i in this.addressAlert.addresslist) {
        if ((this.addressAlert.addresslist[i].id + '') === a) {
          city = this.addressAlert.addresslist[i].name
        }
      }
      province = ''
    } else {
      for (let i in this.addressAlert.addresslist) {
        if ((this.addressAlert.addresslist[i].id + '') === a) {
          province = this.addressAlert.addresslist[i].name
          for (let q in this.addressAlert.addresslist[i].cites) {
            if ((this.addressAlert.addresslist[i].cites[q].id + '') === b) {
              city = this.addressAlert.addresslist[i].cites[q].name
            }
          }
        }
      }
    }
    province = province !== 'undefined' ? province : '-'
    city = city !== 'undefined' ? city : '-'
    return province + ' ' + city
  }

  /**
   * @description 判断-初始化页面时，价格旁边的箭头图标存在状态
   * @param { number } index 原始数据的车型下标
   * @param { number } indexs 车型内的配件下标
   * @param { string } type 价格显示状态
   * @returns { boolean } 图标状态
   */
  itemsIconShow (index: number, indexs: number, type: string) {
    // if (this.partsupplierType(index, indexs, '0')) {
    //   if (this.partsupplierType(index, indexs, '0').length === 1) {
    //     return false
    //   } else {
    //     return true
    //   }
    // } else {
    //   return false
    // }
    return true
  }

  /**
   * @description 插件-阻断器，防止连点
   * @param void
   * @returns void
   */
  CHANGETYPE () {
    let that = this
    setTimeout(function () {
      that.type = true
    }, that.typetime)
  }

  /**
   * @description 交互操作-获得时间框子组件的数据
   * @param { any } date 子组件的数据
   * @returns void
   */
  getChildDate (date: any) {
    this.defDate = date
  }

  /**
   * @description 交互操作-配件数量-减少
   * @param { number } index 原始数据的车型下标
   * @param { number } indexs 车型内的配件下标
   * @param { string } id 配件ID
   * @returns void
   */
  reduce (index: number, indexs: number, id: string) {
    if (!this.filterKSXJ(index)) {
      this.$store.commit('OPEN_ALERT', {'val': '模糊询价的商品请勿再次操作', wait: 1000})
      return false
    }
    if (this.type === true) {
      if (this.cartlist[index].cartpartslist[indexs].partnumber > 1) {
        let that = this
        this.$store.commit('CHANGE_LINEAR', true)
        Vue.prototype.Axios.post('/index.php/home/Shopping/CartProductup', {
          ordernumber: id,
          handle: 'reduce'
        })
        .then(function (res: any) {
          that.$store.commit('CHANGE_LINEAR', false)
          if (res.data.code === 1) {
            that.cartlist[index].cartpartslist[indexs].partnumber--
            that.type = false
            that.CHANGETYPE()
          } else if (res.data.code === 17) {
            that.$router.push('/login')
          }
        })
      }
    }
  }

  /**
   * @description 交互操作-配件数量-增加
   * @param { number } index 原始数据的车型下标
   * @param { number } indexs 车型内的配件下标
   * @param { string } id 配件ID
   * @returns void
   */
  add (index: number, indexs: number, id: string) {
    if (!this.filterKSXJ(index)) {
      this.$store.commit('OPEN_ALERT', {'val': '模糊询价的商品请勿再次操作', wait: 1000})
      return false
    }
    if (this.type === true) {
      let that = this
      this.$store.commit('CHANGE_LINEAR', true)
      Vue.prototype.Axios.post('/index.php/home/Shopping/CartProductup', {
        ordernumber: id,
        handle: 'add'
      })
      .then(function (res: any) {
        that.$store.commit('CHANGE_LINEAR', false)
        if (res.data.code === 1) {
          that.cartlist[index].cartpartslist[indexs].partnumber++
          that.type = false
          that.CHANGETYPE()
        } else if (res.data.code === 17) {
          that.$router.push('/login')
        }
      })
    }
  }

  /**
   * @description 交互操作-配件-删除
   * @param { number } index 原始数据的车型下标
   * @param { number } indexs 车型内的配件下标
   * @param { string } id 配件ID
   * @returns void
   */
  deleteItem (id: string, index: number, indexs: number) {
    if (!this.filterKSXJ(index)) {
      this.$store.commit('OPEN_ALERT', {'val': '模糊询价的商品请勿再次操作', wait: 1000})
      return false
    }
    let that = this
    this.$store.commit('CHANGE_LINEAR', true)
    Vue.prototype.Axios.post('/index.php/home/shopping/CartProductDelete', {
      key: id
    })
    .then(function (res: any) {
      that.$store.commit('CHANGE_LINEAR', false)
      if (res.data.code === 1) {
        if (that.cartlist[index].cartpartslist.length === 1) {
          that.cartlist.splice(index, 1)
        } else {
          that.cartlist[index].cartpartslist.splice(indexs, 1)
        }
      } else if (res.data.code === 0) {
        that.$store.commit('OPEN_ALERT', {'val': '删除失败', wait: 1000})
      } else if (res.data.code === 17) {
        that.$router.push('/login')
      }
    })
  }

  /**
   * @description 交互操作-配件-点击发起询价
   * @param { any } item 一组车型的数据
   * @returns void
   */
  inquiry (item: any) {
    let that = this
    // 验证VIN必填且17位
    if (item.vin.length !== 17) {
      that.$store.commit('OPEN_ALERT', {'val': '请输入所购商品正确的VIN', wait: 1000})
      return false
    }
    if (item.curaddress.city_id === '000000') {
      this.$store.commit('OPEN_ALERT', {'val': '请选择收货省市', wait: 1000})
      return false
    }
    this.$store.commit('CHANGE_LINEAR', true)
    Vue.prototype.Axios.post('/index.php/Home/InquiryOrder/add', {
      car: JSON.stringify(item)
    })
    .then((res: any) => {
      that.$store.commit('CHANGE_LINEAR', false)
      if (res.data.code === 1) {
        // 所有询价的配件变为询价中
        for (let a in item.cartpartslist) {
          if (item.cartpartslist[a].partmoney.state === 'inquiry') {
            item.cartpartslist[a].partmoney.state = 'inquirying'
          }
        }
        // 运费状态改变
        item.costs.state = 'inquirying'
      } else {
        that.$store.commit('OPEN_ALERT', {'val': '询价失败，请稍后再试', wait: 1000})
      }
    })
  }

  /**
   * @description 交互操作-配件-切换选中状态
   * @param { string } val 复选框的状态
   * @returns void
   */
  changeCheckedAll (val: string) {
    if (val) {
      this.checkedAll = false
    }
  }

  /**
   * @description 交互操作-配件-购物车全选-选择购物车中可选的配件
   * @param { string } val 复选框(全选)的状态
   * @returns void
   */
  handlecheckedAll (val: string) {
    if (val) {
      // 选
      let bel = false
      if (this.cartlist) {
        let listNum = this.cartlist.length
        for (let i = 0; i < listNum; i++) {
          let partNum = this.cartlist[i].cartpartslist.length
          for (let q = 0; q < partNum; q++) {
            // 只有该配件有价格时
            // 才会改变input点选状态
            if (this.cartlist[i].cartpartslist[q].partmoney.state === 'money') {
              bel = true
            }
          }
        }
      }
      if (bel) {
        let listNum = this.cartlist.length
        for (let i = 0; i < listNum; i++) {
          let partNum = this.cartlist[i].cartpartslist.length
          for (let q = 0; q < partNum; q++) {
            // 只有该配件有价格时
            // 才会改变input点选状态
            if (this.cartlist[i].cartpartslist[q].partmoney.state === 'money') {
              this.cartlist[i].cartpartslist[q].partpicthon = val
            }
          }
        }
      } else {
        this.checkedAll = false
      }
    } else {
      // 取消
      if (this.cartlist) {
        let listNum = this.cartlist.length
        for (let i = 0; i < listNum; i++) {
          let partNum = this.cartlist[i].cartpartslist.length
          for (let q = 0; q < partNum; q++) {
            // 只有该配件有价格时
            // 才会改变input点选状态
            if (this.cartlist[i].cartpartslist[q].partmoney.state === 'money') {
              this.cartlist[i].cartpartslist[q].partpicthon = false
            }
          }
        }
      }
    }
  }

  /**
   * @description 数据过滤-配件类型(文字)
   * @param { string } item 配件类型标识
   * @returns { string } 配件类型名称
   */
  typeText (item: string) {
    switch (item) {
      case '2':
        return '品牌件'
      case '1':
        return '原厂件'
      case '0':
        return '全部'
    }
  }

  /**
   * @description 数据过滤-运费DOM(Class)
   * @param { string } item 配件状态
   * @returns { string } 配件的class名
   */
  costsClass (item: string) {
    switch (item) {
      case 'inquiry':
        return 'state-inquiry'
      case 'inquiryreset':
        return 'state-inquiry'
      case 'inquirying':
        return 'state-inquirying'
      case 'free':
        return 'state-blank'
      case 'money':
        return 'state-money'
      default:
        return ''
    }
  }

  /**
   * @description 数据过滤-运费DOM(文字)
   * @param { any } item 运费数据
   * @returns { string } 运费文案
   */
  costsText (item: any) {
    switch (item.state) {
      case 'inquiry':
        return '询价'
      case 'inquiryreset':
        return '重新询价'
      case 'inquirying':
        return '询价中'
      case 'free':
        return '免费'
      case 'money':
        return '￥' + item.value
      default:
        return ''
    }
  }

  /**
   * @description 交互操作-筛选-打开关闭筛选下拉
   * @param void
   * @returns void
   */
  openMenu () {
    this.filtrateListState ? this.filtrateListState = false : this.filtrateListState = true
  }

  /**
   * @description 交互操作-筛选-选择下拉
   * @param { any } item 选中的筛选
   * @returns void
   */
  handleFiltrateMeun (item: any) {
    this.filtrateCur = item.name
    this.filtrateListState = false
    this.filtrateList.forEach((key: any) => {
      key.state = false
      if (key.name === item.name) {
        key.state = true
      }
    })
    this.filtrateText = ''
  }

  /**
   * @description 交互操作-筛选-请求筛选结果
   * @param void
   * @returns void
   */
  getSearchResult () {
    let searchContent: string = ''
    let searchType: string = ''
    let Obj: any = {}
    switch (this.filtrateCur) {
      case '全部':
        searchType = 'all'
        break
      case 'VIN搜索':
        searchType = 'vin'
        break
      case 'OE搜索':
        searchType = 'oe'
        break
      case '配件名搜索':
        searchType = 'part'
        break
      case '时间筛选':
        searchType = 'time'
        break
    }
    if (this.filtrateCur !== '时间筛选') {
      searchContent = this.filtrateText
    } else {
      searchContent = this.defDate[0] + ' - ' + this.defDate[1]
    }
    if (!searchContent.replace(/(^\s*)|(\s*$)/g, '') && this.filtrateCur !== '全部') {
      this.$store.commit('OPEN_ALERT', {'val': '请输入搜索内容', wait: 1000})
      return false
    }
    Obj['key'] = searchType
    Obj['value'] = searchContent
    Vue.prototype.Axios.post('/index.php/home/shopping/CartProductlist', Obj)
      .then((res: any) => {
        if (res.data.code === 1) {
          this.cartlist = res.data.cartlist
        } else {
          this.$store.commit('OPEN_ALERT', {'val': res.data.mess, wait: 1000})
        }
      })
  }

  /**
   * @description 交互操作-运费-发起询价
   * @param { any } item 一组车型数据
   * @returns void
   */
  getcosts (item: any) {
    if (item.costs.state === 'inquiry' || item.costs.state === 'inquiryreset') {
      if (item.curaddress.city_id === '000000') {
        this.$store.commit('OPEN_ALERT', {'val': '请选择收货省市', wait: 1000})
        return false
      }
      let that = this
      this.$store.commit('CHANGE_LINEAR', true)
      Vue.prototype.Axios.post('/index.php/Home/InquiryOrder/add', {
        car: JSON.stringify(item)
      })
        .then((res: any) => {
          that.$store.commit('CHANGE_LINEAR', false)
          if (res.data.code === 1) {
            // 所有询价的配件变为询价中
            for (let a in item.cartpartslist) {
              if (item.cartpartslist[a].partmoney.state === 'inquiry') {
                item.cartpartslist[a].partmoney.state = 'inquirying'
              }
            }
            item.costs.state = 'inquirying'
          } else {
            that.$store.commit('OPEN_ALERT', {'val': '询价失败，请稍后再试', wait: 1000})
          }
        })
    }
  }

  /**
   * @description 交互操作-地址选择-弹出
   * @param { number } index 车型数据的下标
   * @returns void
   */
  showAddress (index: number) {
    if (!this.filterKSXJ(index)) {
      this.$store.commit('OPEN_ALERT', {'val': '模糊询价的商品请勿再次操作', wait: 1000})
      return false
    }
    // 验证VIN必填且17位
    if (this.cartlist[index].vin.length !== 17) {
      this.$store.commit('OPEN_ALERT', {'val': '请输入所购商品正确的VIN', wait: 1000})
      return false
    }
    this.addressAlert.show = true
    this.addressAlert.index = index
  }

  /**
   * @description 交互操作-地址选择-选择省份
   * @param { number } index 车型数据的下标
   * @param { any } item 省份信息
   * @returns void
   */
  handleAddressAlertProvince (index: number, item: any) {
    this.addressAlert.curProvinceid = item.id + ''
    this.addressAlert.curProvince = item.name
    this.addressAlert.provinceshow = false
    this.addressAlert.citylist = item.cites
    this.addressAlert.cityshow = true
  }

  /**
   * @description 交互操作-地址选择-选择城市
   * @param { any } items 市信息
   * @returns void
   */
  handleAddressAlertCity (items: any) {
    // 判断新点击的地址是否和原地址相同
    let addBel
    let that = this
    if (this.cartlist[this.addressAlert.index].curaddress.city_id === (items.id + '')) {
      addBel = true
    } else {
      addBel = false
    }
    this.cartlist[this.addressAlert.index].curaddress.province = this.addressAlert.curProvince
    this.cartlist[this.addressAlert.index].curaddress.city = items.name
    this.cartlist[this.addressAlert.index].curaddress.city_id = items.id + ''
    this.cartlist[this.addressAlert.index].curaddress.province_id = this.addressAlert.curProvinceid
    this.cartlist[this.addressAlert.index].curaddress.goods_storage_id = items.goods_storage_id
    // 点击前后选择的城市不相同
    if (!addBel) {
      // 判断修改数据与原始数据相同
      if (this.verifydata(this.addressAlert.index)) {
        // 设置整条数据为原始数据
        this.$set(this.cartlist, this.addressAlert.index, this.ToRawData(this.cartlist[this.addressAlert.index].id))
      } else {
        // 更换车型城市后，更改购物车列表的价格，并更改运费状态
        this.$store.commit('CHANGE_LINEAR', true)
        Vue.prototype.Axios.post('/index.php/Home/Shopping/GetAreaprice', {
          key: JSON.stringify(this.cartlist[this.addressAlert.index])
        })
          .then((res: any) => {
            that.$store.commit('CHANGE_LINEAR', false)
            if (res.data.code === 1) {
              let data = res.data.data
              data.cartpartslist.forEach((res: any) => {
                res.type = '0'
                res.storage_id = res.partmoney.statemoney.goods_storage_id
              })
              that.$set(this.cartlist, this.addressAlert.index, data)
            } else {
              that.$store.commit('OPEN_ALERT', {'val': res.data.message, wait: 1000})
            }
          })
      }
    }
    // 恢复弹框的默认
    this.clicktabsdel()
  }

  /**
   * @description 交互操作-地址选择-退回省份选择
   * @param void
   * @returns void
   */
  clicktabsprovince () {
    if (this.addressAlert.show) {
      if (this.addressAlert.cityshow) {
        this.addressAlert.provinceshow = true
        this.addressAlert.curProvince = ''
        this.addressAlert.cityshow = false
      }
    }
  }

  /**
   * @description 交互操作-地址选择-关闭,恢复默认
   * @param void
   * @returns void
   */
  clicktabsdel () {
    this.addressAlert.show = false
    this.addressAlert.provinceshow = true
    this.addressAlert.curProvince = ''
    this.addressAlert.curProvinceid = ''
    this.addressAlert.cityshow = false
    this.addressAlert.curCity = ''
    this.addressAlert.citylist = []
  }

  /**
   * @description 展开的价格列表追加isCurrent属性（对比标准：市ID,名称，价格，配件类型，钉箱费，价格ID，询价价格ID）
   * @param { any } current 当前选中的价格
   * @param { array } moneyList 价格列表
   * @returns void
   */
  AddisCurrent (current: any, moneyList: Array<any>) {
    for (let item in moneyList) {
      if (moneyList[item].city_code === current.city_code
          && moneyList[item].sale_price === current.sale_price
          && moneyList[item].company_name === current.company_name
          && moneyList[item].part_type === current.part_type
          && moneyList[item].pack === current.pack
          && moneyList[item].inquiry_detail_id === current.inquiry_detail_id
          && moneyList[item].goods_storage_id === current.goods_storage_id) {
        moneyList[item].isCurrent = 'true'
      } else {
        moneyList[item].isCurrent = 'false'
      }
    }
  }

  /**
   * @description 交互操作-价格选择-弹出
   * @param { number } index 原始数据的车型下标
   * @param { number } indexs 车型内的配件下标
   * @param { any } itemslist 价格列表（废弃）
   * @returns void
   */
  handlemoney (index: number, indexs: number, itemslist: any) {
    let afterData = this.partsupplierType(index, indexs, this.cartlist[index].cartpartslist[indexs].type)
    // if (afterData.length > 1) {
    // 赋值并展开
    this.moneyalert.index = [index, indexs]
    // 根据该配件的类别，注入符合类别的数据
    this.moneyalert.moneylist = afterData
    this.moneyalert.show = true
    this.AddisCurrent(this.cartlist[index].cartpartslist[indexs].partmoney.statemoney, afterData)
    // }
  }

  /**
   * @description 交互操作-价格选择-点击价格
   * @param { any } item 选中的价格
   * @returns void
   */
  handleMoneyAlert (item: any) {
    Vue.set(this.cartlist[this.moneyalert.index[0]].cartpartslist[this.moneyalert.index[1]].partmoney, 'statemoney', item)
    Vue.set(this.cartlist[this.moneyalert.index[0]].cartpartslist[this.moneyalert.index[1]], 'storage_id', item.goods_storage_id)
    // 开始判断新的数据和原始数据是否相等,以此设置运费的状态
    // if (this.verifydata(this.moneyalert.index[0])) {
    //   this.$set(this.cartlist, this.moneyalert.index[0], this.ToRawData(this.cartlist[this.moneyalert.index[0]].id))
    // } else {
    //   if (this.cartlist[this.moneyalert.index[0]].costs.state !== 'inquiry') {
    if (this.ToPartCosts(this.moneyalert.index[0])) {
      this.cartlist[this.moneyalert.index[0]].costs.state = 'free'
    } else {
      this.cartlist[this.moneyalert.index[0]].costs.state = 'inquiryreset'
    }
    //   }
    // }
    // 恢复默认
    this.handleMoneyAlertDel()
  }

  /**
   * @description 交互操作-价格选择-关闭，恢复默认
   * @param void
   * @returns void
   */
  handleMoneyAlertDel () {
    this.moneyalert.index = []
    this.moneyalert.show = false
    this.moneyalert.moneylist = []
  }

  /**
   * @description 交互操作-配件类型-弹出
   * @param { number } index 原始数据的车型下标
   * @param { number } indexs 车型内的配件下标
   * @returns void
   */
  OpenPartType (index: number, indexs: number) {
    if (!this.filterKSXJ(index)) {
      this.$store.commit('OPEN_ALERT', {'val': '模糊询价的商品请勿再次操作', wait: 1000})
      return false
    }
    if (this.cartlist[index].curaddress.province_id === '000000') {
      this.$store.commit('OPEN_ALERT', {'val': '请先选择配件的收货省市', 'wait': 1000})
    } else {
      this.part.show = true
      this.part.index = [index, indexs]
    }
  }

  /**
   * @description 交互操作-配件类型-选择类型，并准备对应价格数据
   * @param { string } item 选中的类型
   * @returns void
   */
  handlePartType (item: string) {
    let types: string = ''
    let that = this
    switch (item) {
      case '品牌件':
        types = '2'
        break
      case '原厂件':
        types = '1'
        break
      case '全部':
        types = '0'
        break
    }
    // 利用弹框下标更改这组配件的当前展示的价格！
    if (this.partsupplierType(this.part.index[0], this.part.index[1], item).length > 0) {
      let filterData = this.partsupplierType(this.part.index[0], this.part.index[1], item)
      this.cartlist[this.part.index[0]].cartpartslist[this.part.index[1]].partmoney.state = 'money'
      // 输出同城配件价格列表
      let priceList: any = []
      let modelCityId = this.cartlist[this.part.index[0]].curaddress.city_id
      filterData.forEach((key: any) => {
        if (modelCityId === key.city_code) {
          priceList.push(key)
        }
      })
      if (priceList.length > 0) {
        this.cartlist[this.part.index[0]].cartpartslist[this.part.index[1]].partmoney.statemoney = priceList[0]
      } else {
        this.cartlist[this.part.index[0]].cartpartslist[this.part.index[1]].partmoney.statemoney = filterData[0]
      }
      this.cartlist[this.part.index[0]].cartpartslist[this.part.index[1]].storage_id = this.cartlist[this.part.index[0]].cartpartslist[this.part.index[1]].partmoney.statemoney.goods_storage_id
      // 根据列表长度判断是否显示下拉图标
      if (filterData.length === 1) {
        this.cartlist[this.part.index[0]].cartpartslist[this.part.index[1]].partmoney.statemoneyshow = false
      } else {
        this.cartlist[this.part.index[0]].cartpartslist[this.part.index[1]].partmoney.statemoneyshow = true
      }
    } else {
      // 如果没有这种配件类型，则请求接口询问显示 询价 还是询价中
      let index = this.part.index
      Vue.prototype.Axios.post('/index.php/home/Shopping/changeOeType', {
        carId: this.cartlist[this.part.index[0]].cartpartslist[this.part.index[1]].id,
        cityId: this.cartlist[this.part.index[0]].curaddress.city_id
      })
        .then((res: any) => {
          if (res.data.code === 1) {
            that.cartlist[index[0]].cartpartslist[index[1]].partmoney.state = 'inquiry'
            that.cartlist[index[0]].cartpartslist[index[1]].partmoney.statemoney = {}
            that.cartlist[index[0]].cartpartslist[index[1]].storage_id = '0'
          } else {
            that.cartlist[index[0]].cartpartslist[index[1]].partmoney.state = 'inquirying'
            that.cartlist[index[0]].cartpartslist[index[1]].partmoney.statemoney = {}
            that.cartlist[index[0]].cartpartslist[index[1]].storage_id = '0'
          }
        })
    }
    // 变更当前配件类型
    this.cartlist[this.part.index[0]].cartpartslist[this.part.index[1]].type = types
    // 进行运费判断
    if (this.ToPartCosts(this.part.index[0])) {
      this.cartlist[this.part.index[0]].costs.state = 'free'
    } else {
      // 有价格的配件和组地址不一致，去取存留数据的运费，重新赋回来，取数据的依据为当前配件组的ID
      if (this.verifydata(this.part.index[0])) {
        this.cartlist[this.part.index[0]].costs = this.ToRawData(this.cartlist[this.part.index[0]].id).costs
      } else {
        if (this.ToRawData(this.cartlist[this.part.index[0]].id).costs.state === 'inquiry' || this.ToRawData(this.cartlist[this.part.index[0]].id).costs.state === 'inquirying') {
          this.cartlist[this.part.index[0]].costs.state = this.ToRawData(this.cartlist[this.part.index[0]].id).costs.state
        } else {
          this.cartlist[this.part.index[0]].costs.state = 'inquiry'
        }
      }
    }
    // 恢复弹窗默认状态
    this.ClosePartAlert()
  }

  /**
   * @description 交互操作-配件类型-关闭，并恢复默认
   * @param void
   * @returns void
   */
  ClosePartAlert () {
    this.part.show = false
    this.part.index = []
  }

  /**
   * @description 数据处理-获取配件的价格列表
   * @param { number } index 原始数据的车型下标
   * @param { number } indexs 车型内的配件下标
   * @param { string } type 配件的配件类型
   * @returns { array } 配件类型对应的价格列表
   */
  partsupplierType (index: number, indexs: number, type: string) {
    let types: string = ''
    let listAfter: Array<any> = []
    switch (type) {
      case '品牌件':
        types = '2'
        break
      case '原厂件':
        types = '1'
        break
      case '全部':
        types = '0'
        break
      case '2':
        types = '2'
        break
      case '1':
        types = '1'
        break
      case '0':
        types = '0'
        break
    }
    // 遍历供应商列表，找出符合配件类型的供应商
    if (this.cartlist[index].cartpartslist[indexs].partmoney.statemoneylist === null) {
      return listAfter
    } else {
      for (let i = 0; i < this.cartlist[index].cartpartslist[indexs].partmoney.statemoneylist.length; i++) {
        if (types === '0') {
          listAfter.push(this.cartlist[index].cartpartslist[indexs].partmoney.statemoneylist[i])
        }
        if (types === '1') {
          if (this.cartlist[index].cartpartslist[indexs].partmoney.statemoneylist[i].company_name.match(/原厂/)) {
            this.cartlist[index].cartpartslist[indexs].partmoney.statemoneylist[i].part_type = types
            listAfter.push(this.cartlist[index].cartpartslist[indexs].partmoney.statemoneylist[i])
          }
        }
        if (types === '2') {
          if (!this.cartlist[index].cartpartslist[indexs].partmoney.statemoneylist[i].company_name.match(/原厂/)) {
            this.cartlist[index].cartpartslist[indexs].partmoney.statemoneylist[i].part_type = types
            listAfter.push(this.cartlist[index].cartpartslist[indexs].partmoney.statemoneylist[i])
          }
        }
      }
      listAfter.sort(function (a, b) { return a.sale_price - b.sale_price })
      return listAfter
    }
  }

  /**
   * @description 数据处理-获取初始数据中某一车型的数据
   * @param { string } id 需要获取数据的ID
   * @returns { any } 初始数据的车型数据
   */
  ToRawData (id: string): any {
    let oldData
    for (let a in this.rawdata) {
      if (this.rawdata[a].id === id) {
        oldData = JSON.parse(JSON.stringify(this.rawdata[a]))
      }
    }
    return oldData
  }

  /**
   * @description 判断-运费免费状态
   * @param { number } index 原始数据的车型下标
   * @returns { boolean } 运费是否免费 true=>免费 false=>不免费
   */
  ToPartCosts (index: number): boolean {
    let Numb: number = 0
    let CostsState: boolean = true
    let AddressCityId = this.cartlist[index].curaddress.city_id   // 车型地址
    let AddressProvinceId = this.cartlist[index].curaddress.province_id   // 车型地址
    // 循环对比该一级组内配件与组地址一致
    for (let i = 0; i < this.cartlist[index].cartpartslist.length; i++) {
      if (this.cartlist[index].cartpartslist[i].partmoney.state === 'money') {
        if (this.cartlist[index].cartpartslist[i].partmoney.statemoney.city_code === this.cartlist[index].cartpartslist[i].partmoney.statemoney.province_code) {
          // 如果省ID和市ID一致，则为直辖市，比较车型地址的省
          if (this.cartlist[index].cartpartslist[i].partmoney.statemoney.city_code !== AddressProvinceId) {
            CostsState = false
          }
        } else {
          // 不为直辖市，比较车型地址的市
          if (this.cartlist[index].cartpartslist[i].partmoney.statemoney.city_code !== AddressCityId) {
            CostsState = false
          }
        }
      } else {
        Numb++
      }
    }
    if (Numb === this.cartlist[index].cartpartslist.length) {
      CostsState = false
    }
    return CostsState
  }

  /**
   * @description 判断-车型的VIN必填，合法性(17)
   * @param void
   * @returns { boolean } 是否合法 true=>非空且合法 false=>有空且不合法
   */
  dataLegitimate () {
    let that = this
    let legitimate = true
    for (let i = 0; i < this.cartlist.length; i++) {
      let partlist = this.cartlist[i].cartpartslist.length
      let partopen = false
      for (let p = 0; p < partlist; p++) {
        if (this.cartlist[i].cartpartslist[p].partpicthon) {
          partopen = true
        }
      }
      if (partopen) {
        if (this.cartlist[i].vin) {
          let vin = this.cartlist[i].vin
          if (vin.length !== 17) {
            legitimate = false
            that.cartlist[i].vinverification = false
          } else {
            that.cartlist[i].vinverification = true
          }
        } else {
          legitimate = false
          that.cartlist[i].vinverification = false
        }
      }
    }
    return legitimate
  }

  /**
   * @description 判断-购物车中的是否选择了商品
   * @param void
   * @returns { boolean } true=>选择 false=>未选择
   */
  watchPartpicthon () {
    let state = false
    for (let i = 0; i < this.cartlist.length; i++) {
      let partNum = this.cartlist[i].cartpartslist.length
      for (let q = 0; q < partNum; q++) {
        if (this.cartlist[i].cartpartslist[q].partpicthon) {
          if (this.cartlist[i].cartpartslist[q].partmoney.state === 'money') {
            state = this.cartlist[i].cartpartslist[q].partpicthon
          }
        }
      }
    }
    return state
  }

  /**
   * @description 判断-车型地区和配件地区的一致性
   * @param void
   * @returns { boolean } true=>一致 false=>不一致
   */
  dataAddress () {
    let AddressBel = true
    let Address = ''
    for (let i = 0; i < this.cartlist.length; i++) {
      let partlist = this.cartlist[i].cartpartslist.length
      for (let p = 0; p < partlist; p++) {
        if (this.cartlist[i].cartpartslist[p].partpicthon) {
          if (this.cartlist[i].curaddress.city_id === '000000') {
            AddressBel = false
            return false
          }
          if (Address === '') {
            Address = this.cartlist[i].curaddress.city_id
          } else {
            if (Address !== this.cartlist[i].curaddress.city_id) {
              AddressBel = false
            }
          }
        }
      }
    }
    return AddressBel
  }

  /**
   * @description 判断-所选配件是否明确运费
   * @param void
   * @returns { boolean } true=>有运费 false=>无运费
   */
  dataCosts () {
    let costs = true
    // for (let i = 0; i < this.cartlist.length; i++) {
    //   let partlist = this.cartlist[i].cartpartslist.length
    //   for (let p = 0; p < partlist; p++) {
    //     if (this.cartlist[i].cartpartslist[p].partpicthon) {
    //       if (this.cartlist[i].costs.state !== 'money' && this.cartlist[i].costs.state !== 'free') {
    //         costs = false
    //       }
    //     }
    //   }
    // }
    return costs
  }

  /**
   * @description 过滤操作的对象是否是模糊询价的商品
   * @param { number } index 数据下标
   * @returns { boolean } 是否可以继续操作
   */
  filterKSXJ (index: number): boolean {
    if (String(this.cartlist[index].id) === '0') {
      return false
    } else {
      return true
    }
  }

  /**
   * @description 提交的数量是否为零
   * @param void
   * @returns { boolean } 是否有零的配件
   */
  isNumberNotZero () {
    let isNotZero = true
    for (let i = 0; i < this.cartlist.length; i++) {
      for (let c = 0; c < this.cartlist[i].cartpartslist.length; c++) {
        if (this.cartlist[i].cartpartslist[c].partpicthon) {
          if (this.cartlist[i].cartpartslist[c].partnumber < 1) {
            isNotZero = false
          }
        }
      }
    }
    return isNotZero
  }

  /**
   * @description 判断-改变数据与初始数据是否相同(1.车型的市ID；2.所选价格的goods_storage_id；3.配件类型)
   * @param { number } index 需要判断的车型下标
   * @returns { boolean }
   */
  verifydata (index: number) {
    let Numb: number = 0
    let dataBel = true
    let getData = this.cartlist[index]
    let oldData
    // 根据车型ID取出原数据
    for (let a in this.rawdata) {
      if (this.rawdata[a].id === getData.id) {
        oldData = this.rawdata[a]
      }
    }
    if (getData.curaddress.city_id !== oldData.curaddress.city_id) {
      dataBel = false
    }
    // 对比新旧数据中的配件，1.有价格为前提，对比配件供应商ID
    for (let i in getData.cartpartslist) {
      if (getData.cartpartslist[i].partmoney.state === 'money') {
        // 通过inquiry_detail_id判断是询价来的还是库里来的
        if (getData.cartpartslist[i].partmoney.statemoney.inquiry_detail_id === '0') {
          // 库
          if (getData.cartpartslist[i].partmoney.statemoney.goods_storage_id !== oldData.cartpartslist[i].partmoney.statemoney.goods_storage_id) {
            dataBel = false
          }
        } else {
          // 报价
          if (getData.cartpartslist[i].partmoney.statemoney.inquiry_detail_id !== oldData.cartpartslist[i].partmoney.statemoney.inquiry_detail_id) {
            dataBel = false
          }
        }
        if (getData.cartpartslist[i].part_type !== oldData.cartpartslist[i].part_type) {
          dataBel = false
        }
      } else {
        Numb++
      }
    }
    if (Numb === getData.cartpartslist.length) {
      dataBel = false
    }
    return dataBel
  }

  /**
   * @description 交互操作-提交结算
   * @param void
   * @returns void
   */
  submit () {
    let that = this
    if (!this.watchPartpicthon()) {
      that.$store.commit('OPEN_ALERT', {'val': '请至少添加一件商品', wait: 1000})
      return false
    }
    // 验证提交运费状态
    if (!this.dataCosts()) {
      that.$store.commit('OPEN_ALERT', {'val': '所选配件未询价运费', wait: 1000})
      return false
    }
    // 验证提交地址一致性（各个车型所选地区）
    if (!this.dataAddress()) {
      that.$store.commit('OPEN_ALERT', {'val': '请选择省市或勾选收货省市一致的配件', wait: 1000})
      return false
    }
    // 验证VIN必填且17位
    if (!this.dataLegitimate()) {
      that.$store.commit('OPEN_ALERT', {'val': '请输入所购商品正确的VIN', wait: 1000})
      return false
    }
    if (!this.isNumberNotZero()) {
      that.$store.commit('OPEN_ALERT', {'val': '提交数量不能为零', wait: 1000})
      return false
    }
    let orderData = []
    for (let item = 0; item < this.cartlist.length; item++) {
      let bel = false
      let cart: any = {}
      cart.parts = []
      for (let items = 0; items < this.cartlist[item].cartpartslist.length; items++) {
        if (this.cartlist[item].cartpartslist[items].partpicthon) {
          bel = true
          let obj: any = {
            'inquiry_detail_id': this.cartlist[item].cartpartslist[items].partmoney.statemoney.inquiry_detail_id,
            'supplier_id': this.cartlist[item].cartpartslist[items].partmoney.statemoney.supplier_id,
            // 'storage_id': this.cartlist[item].cartpartslist[items].storage_id,
            'storage_id': this.cartlist[item].cartpartslist[items].partmoney.statemoney.goods_storage_id,
            'pack': this.cartlist[item].cartpartslist[items].partmoney.statemoney.pack,
            'price': this.cartlist[item].cartpartslist[items].partmoney.statemoney.sale_price,
            'priceremark': this.cartlist[item].cartpartslist[items].partmoney.statemoney.note,
            'factory': this.cartlist[item].cartpartslist[items].partmoney.statemoney.company_name,
            'type': this.cartlist[item].cartpartslist[items].partmoney.statemoney.company_name.match(/原厂/) ? '1' : '2',
            'part_name': this.cartlist[item].cartpartslist[items].parttitle,
            'code': this.cartlist[item].cartpartslist[items].partnum,
            'note': this.cartlist[item].cartpartslist[items].partnote,
            'series_id': this.cartlist[item].cartpartslist[items].series_id,
            'group_id': this.cartlist[item].cartpartslist[items].group_id,
            'car_id': this.cartlist[item].cartpartslist[items].id,
            'num': this.cartlist[item].cartpartslist[items].partnumber,
            'partquantity': this.cartlist[item].cartpartslist[items].partquantity
          }
          cart.parts.push(obj)
        }
      }
      if (bel) {
        cart.vin = this.cartlist[item].vin
        cart.costs = '0'
        cart.brand_name = this.cartlist[item].carttitle
        cart.logo = this.cartlist[item].carticon
        cart.brand_id = this.cartlist[item].id
        cart.city = this.cartlist[item].curaddress.city
        cart.city_id = this.cartlist[item].curaddress.city_code
        cart.province = this.cartlist[item].curaddress.province
        cart.province_id = this.cartlist[item].curaddress.province_code
        orderData.push(cart)
      }
    }
    this.$store.commit('CHANGE_LINEAR', true)
    Vue.prototype.Axios.post('/index.php/Home/Orders/orderadd', {
      'orders': JSON.stringify(orderData),
      'price': this.sum
    })
    .then(function (res: any) {
      that.$store.commit('CHANGE_LINEAR', false)
      if (res.data.code === 1) {
        that.$router.push({
          name: 'purchase',
          params: {
            orderid: res.data.order_id
          }
        })
      } else {
        that.$store.commit('OPEN_ALERT', {'val': res.data.message, wait: 1000})
      }
    })
  }
}
</script>

<style>
.iconfonts{
  border-radius: 100%;
}
</style>

<style scoped lang='less'>
  .cart{
    position: relative;
    overflow-y: auto;
    .cart-content{
      width: 100vw;
      transform: translateX(0);
      overflow-x: hidden;
      overflow-y: auto;
      background: #f6f6f6;
      position: relative;
      .filtrate-box{
        background: #fff;
        position: relative;
        .filtrate-content{
          padding: 0.8rem 1rem;
          overflow: hidden;
          .filtrate-only,
          .filtrate,
          .filtrate-btn{
            float: left;
          }
          .filtrate-only {
            width: 24%;
            span,i{
              vertical-align: middle;
              line-height: 2.4rem;
            }
          }
          .filtrate{
            width: 62%;
            background: #f6f6f6;
            height: 2.4rem;
            line-height: 2.4rem;
            border-radius: 2.4rem;
            i {
              padding: 0 0.3rem 0 0.6rem;
              color: #B0B0B0;
            }
            input{
              background: #f6f6f6;
              height: 2.2rem;
              border: 0px;
              margin: 0px; padding: 0px;
              width: 70%;
            }
          }
          .filtrate-btn{
            width: 14%;
            text-align: right;
            padding: 0;
            height: 2.4rem;
            border: 0px;
            font-size: 1.08rem;
            background: #fff;
          }
        }
        .filtrate-list{
          background: #fff;
          position: absolute;
          top: 4rem; left: 0px;
          width: 100%; z-index: 9;
          box-shadow: 0px 5px 10px #eee;
          li {
            border-top: 1px solid #E0E0E0;
            padding: 0.8rem 1rem;
            overflow: hidden;
            span {
              float: left;
            }
            i {
              float: right;
            }
          }
        }
      }
    }
    .cart-bottom{
      height: 56px;
      overflow: hidden;
      background: #fff;
      position: fixed;
      bottom: 56px;
      left: 0;
      width: 100%;
      box-shadow: 0 0 9px #e2e2e2;
      .cart-bottom-input{
        float: left;
        width: 22%;
        line-height:56px;
        height: 56px;
        font-size: 1.2rem;
        .cartpart-checkbox{
          margin-top: 20px;
          left: 22.72%;
          margin-left: -7px;
        }
      }
      .cart-bottom-input-text {
        position:absolute;
        left: 24px;
        top: 0px;
        font-size: 1.2rem;
        line-height: 16px;
        height: 16px;
      }
      .cart-bottom-money{
        float: left;
        width: 45%;
        text-align: right;
        line-height: 56px;
        font-size: 1.2rem;
        padding-right: 1rem;
        span{
          color: #eb2222
        }
      }
      .cart-bottom-btn{
        float: right;
        width: 33%;
        button{
          background: #348ac7;
          font-size: 1.4rem;
          width: 100%;
          height: 56px;
          color: #fff;
          border: 0px;
        }
      }
    }
    .cart-list{
      background: #f6f6f6;
      padding: 1px 0;
      width: 100vw;
      overflow-x: hidden;
      transform: translateX(0) !important;
      > li{
        background: #fff;
        margin: 1rem 0;
        width: 100vw;
        overflow-x: hidden;
        transform: translateX(0) !important;
        .cart-car-mess{
          overflow: hidden;
          .cart-msg-aid{
            padding: 0.6rem 1rem;
            border-bottom: 1px solid #f1f1f1;
            display: table;
            width: 100%;
            .cart-vin{
              .cart-vin-title{
                float: left;
                line-height: 2.4rem;
              }
              .cart-vin-enter{
                padding: 0 0.4rem;
                float: left;
                height: 2.4rem;
                line-height: 2.4rem;
                border-radius: 3px;
                border: 1px solid #f1f1f1;
                input{
                  padding: 0px; margin: 0px; border: 0px;
                  line-height: 2.2rem;
                  width: 10rem;
                  margin-right:0.4rem;
                  float: left;
                }
                .iconfont{
                  font-size: 1.2rem;
                }
              }
              .cart-vin-enter.vinverification{
                border-color: red
              }
              @media screen and (min-width:321px){
                .cart-vin-enter input{
                  width: 12rem;
                }
              }
            }
            .cart-address,
            .cart-vin{
              display: table-cell;
              vertical-align: middle
            }
            .cart-address{
              border: 1px solid #348ac7;
              border-radius: 3px;
              text-align: center;
              color: #348ac7;
              .iconfont{
                vertical-align: middle
              }
            }
          }
          .cart-msg-box{
            padding: 0.6rem 1rem;
            border-bottom: 1px solid #f1f1f1;
            overflow: hidden;
          }
          .cart-car-mess-icon{
            float: left;
            width: 2.4rem;
          }
          .cart-car-mess-title{
            float: left;
            width: 86%;
            overflow: hidden;
            font-size: 1.3rem;
            height: 2.4rem;
            line-height: 2.4rem;
            margin-left: 0.6rem;
          }
        }
        .cartpart-list{
          width: 100%;
          overflow: hidden;
          > li{
            float: left;
            width: 100%;
            -webkit-transition: all 0.15s;
            -moz-transition: all 0.15s;
            transition: all 0.15s;
            .cart-con{
              float: left;
              width: 100%;
              display: table;
              .cartpart-input{
                float: none;
                display: table-cell;
                vertical-align: middle;
                padding: 1rem 0;
                width: 10%;
              }
              .cartpart-allmess{
                padding: 1rem 0;
                display: flex;
                width: 100%;
                border-bottom: 1px solid #f1f1f1;
                padding-right: 1rem;
                .cartpart-mess {
                  width: 68%;
                  .cartpart-title{
                    font-size: 1.2rem;
                    margin-bottom: 0.5rem;
                  }
                  .cartpart-info{
                    color: #b7b7b7;
                    font-size: 1rem;
                    overflow: hidden;
                    margin-top: 0.3rem;
                  }
                  .cartpart-num{
                    float: left;
                  }
                  .cartpart-quantity{
                    float: right;
                  }
                  .cartpart-note{
                    color: #b7b7b7;
                    font-size: 1rem;
                    margin-top: 0.2rem;
                    word-break:break-all;
                    margin-bottom: 0.6rem;
                  }
                  .cartpart-source{
                    border: 1px solid #cdcdcd;
                    border-radius: 3px;
                    text-align: center;
                    color: #808080;
                    display: table-cell;
                    vertical-align: middle;
                    padding: 0.2rem 0.4rem;
                    span,
                    i{
                      vertical-align: middle
                    }
                  }
                }
                .cartpart-assist{
                  width: 28%;
                  margin-left: 4%;
                  position: relative;
                  .cartpart-state{
                    overflow: hidden;
                    position: relative;
                    .cartpart-money{
                      display: block;
                      text-align: right;
                      font-size: 1.3rem;
                      margin-bottom: 0.4rem;
                      color: #ef4e4e
                    }
                    .cartpart-money-no{
                      display: block;
                      text-align: right;
                      font-size: 1.2rem;
                      color: #666
                    }
                  }
                  .cartpart-handle-num{
                    position: absolute;
                    bottom: 0px; right: 0px;
                    width: 100%;
                    overflow: hidden;
                    border:1px solid #cdcdcd;
                    .reduce,
                    .add{
                      float: left;
                      width: 30%;
                      height: 4vh;
                      line-height: 4vh;
                      text-align: center;
                      .iconfont{
                        font-size: 1rem;
                        font-weight: 300;
                        line-height: 4vh
                      }
                    }
                    input{
                      float: left;
                      opacity: 1;
                      width: 40%;
                      height: 4vh;
                      line-height: 4vh;
                      font-size: 1rem;
                      background: #fff;
                      text-align: center;
                      border: 0px;
                      border-radius: 0px;
                      border-left: 1px solid #cdcdcd;
                      border-right: 1px solid #cdcdcd;
                      color: #ef4e4e;
                    }
                  }
                }
              }
            }
            .cart-del{
              position:absolute;
              width: 6rem;
              height: 100%;
              right: -6.1rem;
              top: 0;
              background-color: #ef4e4e;
              color: #fff;
              justify-content:center;
              align-items:center; display: -webkit-flex;
              text-align: center;
              font-size: 1.3rem;
            }
          }
          li.cart-y{
            .cartpart-allmess{
              border-bottom: 0px;
              .cartpart-mess{
                width: 68%
              }
            }
            .cartpart-mess{
              width: 95%;
            }
          }
          li.cart-hint{
            background-color: #fefbea;
            color: #935351;
            padding: 0.6rem 1rem;
            font-size: 0.9rem;
            i,
            span{
              vertical-align: middle
            }
          }
        }
      }
    }
    .cartpart-checkbox{
      position: relative;
      left: 50%; top: 0;
      margin-left: -7px;
      input{
        width: 14px;
        height: 14px;
        opacity: 0;
        position: absolute;
        z-index: 2;
        top: 0px; left: 0px;
      }
      .checkbox-box{
        position: relative;
        width: 14px;
        line-height: 14px;
        text-align: center;
        height: 14px;
        left: 0px; top: 0px;
        z-index: 1;
        span{
          width: 100%;
          height: 100%;
          display: block;
          border-radius: 100%;
        }
        span.checkbox-false{
          border: 1px solid #b7b7b7;
          box-sizing: content-box
        }
        span.checkbox-true{
          background-color: #348ac7;
          border: 1px solid #348ac7;
          box-sizing: content-box;
          .iconfont{
            color: #fff;
            font-size: 10px;
          }
        }
        span.checkbox-no{
          background-color: #eee;
          border: 1px solid #eee;
          box-sizing: content-box
        }
        span.checkbox-true-no{
          background-color: #eee;
          border: 1px solid #ccc;
          box-sizing: content-box
        }
        span.checkbox-true-on{
          background-color: #348ac7;
          border: 1px solid #348ac7;
          box-sizing: content-box;
          .iconfont{
            color: #fff;
            font-size: 10px;
          }
        }
      }
      .checkbox-box::before{
        margin-top: 100%
      }
    }
    .cart-no{
      padding:130px 40px 0;
      text-align: center;
      background: #f6f6f6 !important;
      color: #777;
      .nocart{
        width: 30%
      }
    }
    .cartpart-fmesg{
      text-align: right;
      color: #759db9;
    }
    .state-money{
      font-size: 1.1rem;
      line-height: 1.4rem;
      color: #ba3b35;
      padding: 0.55rem 0.5rem 0.45rem;
      border-radius: 3px;
      border: 1px solid #ba3b35;
      .iconfont{
        position: absolute;
        right: 3%;
        top: 50%;
        margin-top: -8px;
      }
    }
    .state-inquiry,
    .state-inquirying,
    .state-blank{
      text-align: center;
      padding: 0 0.5rem;
      height: 3rem;
      line-height: 3rem;
      font-size: 1.1rem;
      border-radius: 3px;
      width: 100%;
    }
    .state-inquiry{
      background-color: #2e7fc0;
      border: 1px solid #2e7fc0;
      color: #fff;
    }
    .state-inquirying{
      background-color: #fff;
      border: 1px solid #cdcdcd;
      color: #2e7fc0;
    }
    .state-blank{
      background-color: #fff;
      border: 1px solid #fff;
      color: #9c9c9c;
    }
    .cartpart-costsmsg{
      color: #9c9c9c
    }
    .cartpart-costs{
      margin-left: 4%;
      width: 28%;
      line-height: 3.8rem;
      text-align: center;
      color: #9c9c9c;
      font-size: 1.2rem;
    }
    .address-alert .bg,
    .money-alert .bg{
      content: '';
      display: block;
      z-index: 3;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: #000;
      opacity: .6;
    }
    .address-alert,
    .money-alert{
      position: fixed;
      bottom: 0px; left: 0px;
      width: 100%;
      max-height: 100%;
      z-index: 9;
      background-color: #fff;
    }
    .address-alert-tabs,
    .address-alert-list,
    .money-alert-content{
      background-color: #fff;
      z-index: 9;
      position: relative;
    }
    .address-alert-tabs{
      overflow: hidden;
      padding: 0 2%;
    }
    .tabs-province,
    .tabs-city,
    .tabs-close{
      font-size: 1.1rem;
      padding: 1rem 1.2rem;
    }
    .tabs-province,
    .tabs-city{
      float: left;
    }
    .tabs-close{
      float: right;
    }
    .tabs-on{
      border-bottom: 2px solid #348ac7;
    }
    .address-alert-list{
      padding: 2%;
      max-height: 80vh;
      overflow-y: auto;
    }
    .address-alert-province,
    .address-alert-city{
      overflow: hidden;
      li{
        float: left;
        padding: 0.6rem 1rem;
        margin: 1%;
        border: 1px solid #e9e9e9;
        text-align: center;
        border-radius: 3px;
      }
    }
    .money-alert-content{
      padding: 2%;
      padding-bottom: 2rem;
      h2{
        font-size: 1.3rem;
        padding: 2rem 0 1.2rem
      }
      .iconfont{
        position: absolute;
        right: 1rem;
        top: 1rem;
      }
      ul{
        overflow: hidden;
        max-height: 80vh;
        overflow-y: auto;
        li{
          float: left;
          width: 98%;
          margin: 1%;
          border: 1px solid #e9e9e9;
          text-align: center;
          padding: 0.6rem 0;
          // min-height: 4.2rem;
          border-radius: 3px;
          p{
            line-height: 1.5rem;
          }
          &.current {
            border-color: #ba3b35;
          }
        }
      }
    }
    .loading{
      display: block;
      margin: 130px auto 0;
    }
  }
</style>
