<template>
  <div class="purchase" id="purchase" :style="{height: this.height - 56 + 'px'}">
    <div id="purchase-box" :style="{height: this.height - 56 - 56 + 'px'}">
      <div class="address-box" @click="ToAddressManagement()">
        <div class="address-box-top"></div>
        <div class="address-cur" :data-provinceid='shippingaddress.provinceid' :data-cityid='shippingaddress.city'>
          <i class="iconfont icon-dizhi"></i>
          <div class="address-msg">
            <div class="address-msg-top">
              <h3 class="address-msg-name">收货人：{{ shippingaddress.name }}</h3>
              <h4 class="address-msg-tel">{{ shippingaddress.tel }}</h4>
            </div>
            <p class="address-msg-addr">收货地址：{{ shippingaddress.addr }}</p>
            <p class="address-msg-company">公司：{{ shippingaddress.company }}</p>
          </div>
          <i class="iconfont icon-more"></i>
        </div>
      </div>
      <div class="note-box">
        <label>备注：</label>
        <input type="text" placeholder="卖家选填" v-model="note">
      </div>
      <div :data-orderid="item.order_id" v-for="item in purchaselist" :key="item.id">
        <div class="purchase-part-box">
          <div class="cart-msg-box">
            <img v-if="item.brand_logo && item.brand_logo !== 'https://api.autocloudpro.com/Public/car_logo_images/'" :src="item.brand_logo" alt="" class="cart-car-mess-icon">
            <span class="cart-car-mess-address" :data-citycode="item.city_code" :data-provincecode="item.province_code">{{item.province}}/{{item.city}}</span>
            <span class="cart-car-mess-title">{{item.brand_name | OmittedTen}}</span>
          </div>
          <ul class="purchase-accessories-list">
            <li v-for="items in item.list" :key="items.id">
              <div class="accessories-msg-box">
                <h3 class="accessories-msg-title">{{items.part_name}}</h3>
                <div class="accessories-sub-box">
                  <span class="accessories-msg-sub accessories-num">原厂编号：{{items.part_code}}</span>
                  <span class="accessories-msg-sub accessories-quantity">装配数量：{{items.partquantity ? items.partquantity : '-'}}</span>
                </div>
                <div class="accessories-sub-boxs">
                  <span class="accessories-msg-sub accessories-num">类别：{{items.type ? items.type : '-'}}</span>
                  <span class="accessories-msg-sub accessories-quantity">钉箱费：{{ items.pack ? items.pack : '-' }}</span>
                </div>
                <p class="accessories-msg-sub">备注：{{items.note ? items.note : '-'}}</p>
              </div>
              <div class="accessories-option">
                <p class="accessories-option-factory">{{items.factory}}</p>
                <p class="accessories-option-price">￥{{items.sale_price}}</p>
                <p class="accessories-option-number">×{{items.num}}</p>
              </div>
            </li>
            <li>
              <div class="cart-con">
                <div class="cartpart-allmess">
                  <div class="cartpart-mess">
                    <h2 class="cartpart-title">运费</h2>
                    <p class="cartpart-costsmsg">* 到付或免费</p>
                  </div>
                  <!-- <div class="cartpart-costs">
                    <div :class="costsClass(item)">{{costsText(item)}}</div>
                  </div> -->
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="hint">同城商品，11点前下单当日送达，11点后下单次日送达</div>
      <div class="money-calculate">
        <div class="money-handle-box">
          <div class="money-handle-all">
            <div class="cartpart-checkbox">
              <input type="checkbox" id="invoice" v-model="invoice" name="cartpart-group" @change="changeInvoice(invoice)">
              <div class="checkbox-box">
                <span class="checkbox-true" v-if="invoice"><i class="iconfont icon-dui"></i></span>
                <span class="checkbox-false" v-else></span>
              </div>
            </div>
            <label for="invoice">我需要发票 <span v-if="this.invoiceAlert.curInvoice.name">(发票抬头:{{ this.invoiceAlert.curInvoice.name }})</span></label>
          </div>
        </div>
        <div class="money-handle-box" v-if="reconstructionShow">
          <div class="money-handle-half">
            <div class="cartpart-checkbox">
              <input type="checkbox" id="reconstruction" v-model="reconstruction" name="cartpart-group" @change="changereconstruction(reconstruction)">
              <div class="checkbox-box">
                <span class="checkbox-true" v-if="reconstruction"><i class="iconfont icon-dui"></i></span>
                <span class="checkbox-false" v-else></span>
              </div>
            </div>
            <label for="reconstruction">复勘配件免检</label>
          </div>
        </div>
        <div class="money-handle-box">
          <div class="cartpart-checkbox">
            <input type="checkbox" id="cashbackState" v-model="cashbackState" name="cartpart-group" @change="changeChecked(cashbackState)">
            <div class="checkbox-box" :class="{'checkbox-no' : shippingaddress.cashback_surplus === '0.00'}">
              <span class="checkbox-true" v-if="cashbackState"><i class="iconfont icon-dui"></i></span>
              <span class="checkbox-false" v-else></span>
            </div>
          </div>
          <label for="cashbackState">返现余额</label>
          <span>当前余额：￥{{shippingaddress.cashback_surplus}}</span>
          <i>抵用￥{{Chargeback}}</i>
        </div>
        <ul class="money-list">
          <li>
            <label>商品总计：</label>
            <span>￥{{totalPrice}}</span>
          </li>
          <li>
            <label>返现账户：</label>
            <span>-￥{{Chargeback}}</span>
          </li>
          <li>
            <label>配送费用：</label>
            <span>￥{{shippingCosts}}</span>
          </li>
          <li>
            <label>钉箱费用：</label>
            <span>￥{{packing}}</span>
          </li>
          <li>
            <label>退换无忧：</label>
            <span>￥0.00</span>
          </li>
          <!-- <li v-if="purchaselist[0].userType">
            <label>优惠价格：</label>
            <span>-￥{{!invoice ? purchaselist[0].invoice_tax : 0 | Price}}</span>
          </li> -->
        </ul>
      </div>
    </div>
    <div class="accessories-bottom" id="accessories-bottom">
      <div class="accessories-bottom-money">
        <p class="accessories-bottom-money-num">应付:￥{{ReliefPrice}}</p>
      </div>
      <button class="accessories-bottom-btn" @click="openPay()">支付</button>
    </div>
    <div class="invoice-alert" v-if="invoiceAlert.show">
      <div class="bg" v-if="invoiceAlert.show"></div>
      <div class="content">
        <h2>发票信息</h2>
        <i @click="closeInvoice()" class='iconfont'>&#xe69a;</i>
        <div v-if="invoiceAlert.invoiceList.length > 0 && invoiceAlert.status" >
          <div class="box">
            <label class="label">发票抬头</label>
            <div class="div">
              <select v-model="invoiceAlert.curInvoice">
                <option :value="item" :code="item.code" :type="item.type" v-for="item in invoiceAlert.invoiceList" :key="item.id">{{ item.name }}</option>
              </select>
              <button class="add" @click="addInvoice()">新增</button>
            </div>
          </div>
          <div class="box">
            <label class="label">纳税人识别号</label>
            <div class="div">
              <input type="text" v-model="invoiceAlert.curInvoice.code" disabled>
            </div>
          </div>
          <div class="box">
            <label class="label">发票内容</label>
            <div class="div">
              商品明细
            </div>
          </div>
        </div>
        <div v-else>
          <div class="box">
            <label class="label">发票类别</label>
            <div class="div">
              <button class="btn" :class="{ 'cur': invoiceAlert.addStatusType }" @click="addInvoiceType('单位')">单位</button>
              <button class="btn" :class="{ 'cur': !invoiceAlert.addStatusType }" @click="addInvoiceType('个人')">个人</button>
            </div>
          </div>
          <div v-if="invoiceAlert.addStatusType">
            <div class="box">
              <label class="label">发票抬头</label>
              <div class="div">
                <input type="text" v-model="invoiceAlert.addname" placeholder="输入单位名称">
              </div>
            </div>
            <div class="box">
              <label class="label">纳税人识别号</label>
              <div class="div">
                <input type="text" v-model="invoiceAlert.addcode">
              </div>
            </div>
            <div class="box">
              <label class="label">发票内容</label>
              <div class="div">
                商品明细
              </div>
            </div>
          </div>
          <div v-else>
            <div class="box">
              <label class="label">发票内容</label>
              <div class="div">
                商品明细
              </div>
            </div>
          </div>
        </div>
        <button class="submit" @click="saveInvoice()">保存</button>
      </div>
    </div>
  </div>
</template>

<script lang='ts'>
import { Component, Vue, Prop } from 'vue-property-decorator'

@Component
export default class Purchase extends Vue {
  @Prop()
  height!: number

  note: string = ''
  reconstruction: boolean = false
  invoice: boolean = false
  cashbackState: boolean = false
  type: boolean = true
  shippingaddress: any = {}
  purchaselist: Array<any> = [{
    'order_id': '',
    'costs': '',
    'city': '',
    'province': '',
    'city_code': '',
    'province_code': '',
    'brand_name': '',
    'brand_logo': '',
    'list': [{
      'part_code': '',
      'part_name': '',
      'note': '',
      'num': '',
      'sale_price': '',
      'status': '',
      'cartype': '',
      'brand_id': '',
      'vin': '',
      'group_id': '',
      'series_id': '',
      'partquantity': '',
      'factory': '',
      'type': '',
      'supplier_id': null,
      'pack': ''
    }]
  }]
  invoiceAlert: any = {
    show: false,
    status: true,
    addStatusType: true,
    curInvoice: {
      name: '',
      type: '',
      code: ''
    },
    addname: '',
    addcode: '',
    invoiceList: []
  }


  get reconstructionShow () {
    // 如果是佛山就返回true
    if (this.shippingaddress.cityid === '440600' && this.purchaselist[0].city_code === '440600') {
      return true
    } else {
      return false
    }
  }
  get totalPrice () {
    // 商品总计
    let sum: number = 0
    for (let i = 0; i < this.purchaselist.length; i++) {
      for (let a = 0; a < this.purchaselist[i].list.length; a++) {
        sum += Number(this.purchaselist[i].list[a].sale_price) * Number(this.purchaselist[i].list[a].num)
      }
    }
    return sum.toFixed(2)
  }
  get Chargeback () {
    // 返现账户
    let Balance = Number(this.shippingaddress.cashback_surplus)
    let Chargeback = 0
    if (this.cashbackState) {
      // if (Balance < (Number(this.totalPrice) - Number(this.purchaselist[0].invoice_tax) + Number(this.shippingCosts) + Number(this.packing)) ) {
      //   Chargeback = Balance
      // } else {
      //   Chargeback = ((Number(this.totalPrice) * 100 - Number(this.purchaselist[0].invoice_tax * 100) + (Number(this.shippingCosts) * 100) + (Number(this.packing)) * 100)) / 100
      // }
      if (Balance < (Number(this.totalPrice) + Number(this.shippingCosts) + Number(this.packing)) ) {
        Chargeback = Balance
      } else {
        Chargeback = ((Number(this.totalPrice) * 100 + (Number(this.shippingCosts) * 100) + (Number(this.packing)) * 100)) / 100
      }
    }
    return Chargeback.toFixed(2)
  }
  get shippingCosts () {
    // 配送费用
    let shippingCosts = 0
    for (let i = 0; i < this.purchaselist.length; i++) {
      shippingCosts += (Number(this.purchaselist[i].costs) * 100) / 100
    }
    return shippingCosts.toFixed(2)
  }
  get packing () {
    // 总钉箱费
    let packages: number = 0
    for (let i = 0; i < this.purchaselist.length; i++) {
      for (let a = 0; a < this.purchaselist[i].list.length; a++) {
        packages += Number(this.purchaselist[i].list[a].pack) * Number(this.purchaselist[i].list[a].num)
      }
    }
    return packages.toFixed(2)
  }
  get ReliefPrice () {
    // 应付总额
    let last
    last = ((Math.round(Number(this.totalPrice) * 100)) + (Math.round(Number(this.shippingCosts) * 100)) + (Math.round(Number(this.packing) * 100)) - (Math.round(Number(this.Chargeback) * 100))) / 100
    // if (this.purchaselist[0].userType && !this.invoice) {
    //   last = last - (Math.round(Number(this.purchaselist[0].invoice_tax) * 100)) / 100
    // }
    // if (this.invoice) {
    //   last = last * 1.08
    // }
    last = last.toFixed(2)
    return last
  }

  mounted () {
    let that = this
    // 根据orderid查询订单信息
    if (this.$route.params.orderid !== undefined) {
      sessionStorage.setItem('orderId', JSON.stringify(this.$route.params.orderid))
      this.getOrderMsg(JSON.parse(sessionStorage.getItem('orderId') || '""'))
    } else {
      this.getOrderMsg(JSON.parse(sessionStorage.getItem('orderId') || '""'))
    }
    this.$store.commit('CHANGE_LINEAR', true)
    // 请求默认地址
    Vue.prototype.Axios.get('/index.php/home/orders/AddressBuyersLists')
    .then(function (res: any) {
      that.$store.commit('CHANGE_LINEAR', false)
      if (res.data.code === 1) {
        that.shippingaddress = res.data.data
        that.invoiceAlert.invoiceList = res.data.invoice
      } else if (res.data.code === 17) {
        that.$router.push('/login')
      }
    })
  }

  /**
   * @description 复勘配件免检切换
   * @param { any } val 复选框状态
   * @returns void
   */
  changereconstruction (val: any) {
    !val ? this.reconstruction = false : this.reconstruction = true
  }

  /**
   * @description 勾选我要发票
   * @param { any } val 复选框状态
   * @returns void
   */
  changeInvoice (val: any) {
    this.cashbackState = false
    !val ? this.invoice = false : this.invoice = true
    if (this.invoice === true) {
      // 打开发票选择
      this.handleInvoice()
    } else {
      this.invoiceAlert.curInvoice = {}
    }
  }

  /**
   * @description 打开选择发票
   * @param void
   * @returns void
   */
  handleInvoice () {
    if (this.invoiceAlert.invoiceList[0]) this.invoiceAlert.curInvoice = JSON.parse(JSON.stringify(this.invoiceAlert.invoiceList[0]))
    this.invoiceAlert.show = true
    this.invoiceAlert.invoiceList.length > 0 ? this.invoiceAlert.status = true : this.invoiceAlert.status = false
  }

  /**
   * @description 保存发票信息
   * @param void
   * @returns void
   */
  saveInvoice () {
    if (!this.invoiceAlert.status) {
      if (this.invoiceAlert.addStatusType) {
        this.invoiceAlert.curInvoice.name = this.invoiceAlert.addname
        this.invoiceAlert.curInvoice.type = '单位'
        this.invoiceAlert.curInvoice.code = this.invoiceAlert.addcode
      } else {
        this.invoiceAlert.curInvoice.name = '个人'
        this.invoiceAlert.curInvoice.type = '个人'
        this.invoiceAlert.curInvoice.code = ''
      }
    }
    if (!this.invoiceAlert.curInvoice.name) {
      this.$store.commit('OPEN_ALERT', {'val': '发票抬头不能为空', 'wait': 1000})
      return false
    }
    if (!this.invoiceAlert.curInvoice.type) {
      this.$store.commit('OPEN_ALERT', {'val': '发票类别不能为空', 'wait': 1000})
      return false
    }
    if (!this.invoiceAlert.curInvoice.code && this.invoiceAlert.addStatusType && this.invoiceAlert.curInvoice.type !== '个人') {
      this.$store.commit('OPEN_ALERT', {'val': '纳税人识别号不能为空', 'wait': 1000})
      return false
    }
    if (this.invoiceAlert.status) {
      this.invoiceAlert.show = false
    } else {
      Vue.prototype.Axios.post('index.php/Home/Submitpay/saveInvoice', {
        name: this.invoiceAlert.curInvoice.name,
        type: this.invoiceAlert.curInvoice.type,
        code: this.invoiceAlert.curInvoice.code
      })
        .then((res: any) => {
          if (res.data.code === 1) {
            this.invoiceAlert.show = false
            this.invoiceAlert.invoiceList.push({
              code: this.invoiceAlert.curInvoice.code,
              name: this.invoiceAlert.curInvoice.name,
              type: this.invoiceAlert.curInvoice.type
            })
          } else {
            this.$store.commit('OPEN_ALERT', {'val': res.data.message, 'wait': 1000})
          }
        })
    }
  }

  /**
   * @description 发票类型
   * @param { string } type 发票类型
   * @returns void
   */
  addInvoiceType (type: string) {
    switch (type) {
      case '单位':
        this.invoiceAlert.addStatusType = true
        break
      case '个人':
        this.invoiceAlert.addStatusType = false
        break
    }
  }

  /**
   * @description 新增发票
   * @param void
   * @returns void
   */
  addInvoice () {
    this.invoiceAlert.status = false
  }

  /**
   * @description 关闭发票窗口
   * @param void
   * @returns void
   */
  closeInvoice () {
    this.invoiceAlert.show = false
    this.invoice = false
    this.invoiceAlert.curInvoice = {}
  }

  /**
   * @description 勾选返现抵扣
   * @param { any } val 复选框状态
   * @returns void
   */
  changeChecked (val: any) {
    if (this.shippingaddress.cashback_surplus === '0.00') {
      this.cashbackState = false
    } else {
      this.invoice = false
      this.invoiceAlert.curInvoice = {}
      !val ? this.cashbackState = false : this.cashbackState = true
    }
  }

  /**
   * @description 请求提交订单信息
   * @param { string } orderid 订单号
   * @returns void
   */
  getOrderMsg (orderid: string) {
    let that = this
    this.$store.commit('CHANGE_LINEAR', true)
    Vue.prototype.Axios.post('/index.php/Home/Orders/orderok', {
      'orderid': orderid
    })
    .then(function (res: any) {
      that.$store.commit('CHANGE_LINEAR', false)
      if (res.data.code === 1) {
        that.purchaselist = res.data.orders
      }
    })
  }

  /**
   * @description 数据转组（没用到）
   * @param { array } data 原数组
   * @returns { array } 转好的数组
   */
  handleData (data: Array<any>) {
    let dataLength = data.length
    let cartArr = []
    let listData = []
    for (let i = 0; i < dataLength; i++) {
      if (cartArr.indexOf(data[i].carttitle) === -1) {
        cartArr.push(data[i].carttitle)
      }
    }
    for (let i = 0; i < cartArr.length; i++) {
      let listObj: any = {}
      listObj.carttitle = cartArr[i]
      listObj.cartdata = []
      for (let r = 0; r < dataLength; r++) {
        if (data[r].carttitle === cartArr[i]) {
          listObj.cartdata.push(data[r])
        }
      }
      listData.push(listObj)
    }
    return listData
  }

  /**
   * @description 判断收货地址与配件地址一致性
   * @param void
   * @returns { boolean }
   */
  dataAddress () {
    let add = true
    for (let i in this.purchaselist) {
      if (this.shippingaddress.cityid !== this.purchaselist[i].city_code) {
        add = false
      }
    }
    return add
  }

  /**
   * @description 提交结算前判断
   * @param void
   * @returns void
   */
  payBefore () {
    let state = true
    if (!this.shippingaddress.name) {
      this.$store.commit('OPEN_ALERT', {'val': '请填写收货人', 'wait': 1000})
      state = false
      return false
    }
    if (!this.shippingaddress.tel) {
      this.$store.commit('OPEN_ALERT', {'val': '请填写收货人电话', 'wait': 1000})
      state = false
      return false
    }
    if (!/^1(3|4|5|6|7|8|9)\d{9}$/.test(this.shippingaddress.tel)) {
      this.$store.commit('OPEN_ALERT', {'val': '请填写正确的收货人电话', 'wait': 1000})
      state = false
      return false
    }
    if (!this.shippingaddress.city) {
      this.$store.commit('OPEN_ALERT', {'val': '请填写收货省市', 'wait': 1000})
      state = false
      return false
    }
    if (!this.shippingaddress.addr) {
      this.$store.commit('OPEN_ALERT', {'val': '请填写详细地址', 'wait': 1000})
      state = false
      return false
    }
    if (!this.dataAddress()) {
      this.$store.commit('OPEN_ALERT', {'val': '收货省市与配件所在地不符，请重新选择', 'wait': 1000})
      state = false
      return false
    }
    return state
  }

  /**
   * @description 提交结算
   * @param void
   * @returns void
   */
  openPay () {
    if (this.payBefore()) {
      let reqData: any = {}
      let that = this
      reqData.address = JSON.stringify(this.shippingaddress)
      reqData.note = this.note
      reqData.orderList = JSON.stringify(this.purchaselist)
      reqData.cashbackState = this.cashbackState
      reqData.invoice = this.invoice
      reqData.reconstruction = this.reconstruction
      reqData.totalPrice = this.ReliefPrice
      if (this.invoice) {
        let name: string = ''
        let type: string = ''
        let code: string = ''
        if (this.invoiceAlert.status) {
          name = this.invoiceAlert.curInvoice.name
          type = this.invoiceAlert.curInvoice.type
          code = this.invoiceAlert.curInvoice.code
        } else {
          if (this.invoiceAlert.addStatusType) {
            name = this.invoiceAlert.addname
            type = '单位'
            code = this.invoiceAlert.addcode
          } else {
            name = '个人'
            type = '个人'
            code = ''
          }
        }
        if (!name) {
          this.$store.commit('OPEN_ALERT', {'val': '发票抬头不能为空', 'wait': 1000})
          return false
        }
        if (!type) {
          this.$store.commit('OPEN_ALERT', {'val': '发票类别不能为空', 'wait': 1000})
          return false
        }
        // if (this.invoiceAlert.addStatusType) {
        //   this.$store.commit('OPEN_ALERT', {'val': '纳税人识别号不能为空', 'wait': 1000})
        //   return false
        // }
        reqData.invoicecontent = JSON.stringify({
          'name': name,
          'type': type,
          'code': code
        })
      }
      this.$store.commit('CHANGE_LINEAR', true)
      Vue.prototype.Axios.post('/index.php/Home/Submitpay/submitPayment', reqData)
        .then((res: any) => {
          that.$store.commit('CHANGE_LINEAR', false)
          if (res.data.code === 1) {
            sessionStorage.setItem('payType', JSON.stringify('order'))
            that.$router.push({
              name: 'pay',
              params: {
                data: res.data.data
              }
            })
          } else {
            this.$store.commit('OPEN_ALERT', {'val': res.data.message, 'wait': 1000})
          }
        })
    }
  }

  /**
   * @description 跳转到地址管理
   * @param void
   * @returns void
   */
  ToAddressManagement () {
    sessionStorage.setItem('fromRouter', JSON.stringify({
      type: 'getData',
      from: 'purchase'
    }))
    this.$router.push({
      name: 'addressList'
    })
  }

  /**
   * @description 运费---class---初始化
   * @param { any } item 运费数据
   * @returns { string } class名
   */
  costsClass (item: any) {
    if (item.costs === '0.00') {
      return 'state-blank'
    } else {
      return 'state-money'
    }
  }

  /**
   * @description 运费---文案---初始化
   * @param { any } item 运费数据
   * @returns { string } 文案
   */
  costsText (item: any) {
    if (item.costs === '0.00') {
      return '免费'
    } else {
      return '￥' + item.costs
    }
  }
}
</script>

<style scoped lang="less">
  .purchase{
    background: #f6f6f6;
    overflow: auto;
    height: 100%;
    position: relative;
    .hint{
      background: #fff;
      margin-bottom: 1rem;
      padding: 1.2rem 2%;
    }
    #purchase-box{
      overflow: auto;
      .address-box{
        background-color: #fffced;
        margin: 1rem 0;
        overflow: hidden;
        display: table;
        width: 100%;
        .address-box-top{
          background: url('../../../static/img/order_list_top.jpg') repeat-x;
          height: 4px;
        }
        .address-cur{
          padding: 1rem 0;
          width: 100%;
          display: table;
          .iconfont {
            display: table-cell;
            vertical-align: middle;
            width: 10%;
            text-align: center;
          }
          .address-msg{
            display: table-cell;
            width: 80%;
            .address-msg-top{
              display: flex;
              color: #212121;
              margin-bottom: 0.3rem;
              line-height: 1.5rem;
              .address-msg-name{
                flex: 1;
              }
              .address-msg-tel{
                flex: 1;
                text-align: right;
              }
            }
            .address-msg-addr,
            .address-msg-company{
              color: #7a7978;
              font-size: 0.91rem;
              margin-top: 0.2rem;
            }
          }
        }
      }
      .note-box{
        background: #fff;
        margin-bottom: 1rem;
        padding: 1.2rem 2%;
        overflow: hidden;
        label{
          float: left;
          line-height: 16px;
          width:13%;
        }
        input{
          float: left;
          font-size: 0.91rem;
          line-height: 14px;
          border: 1px solid #fff;
          margin: 0; padding: 0;
          width: 87%;
        }
      }
      .money-calculate{
        .money-handle-box{
          background: #fff;
          border-bottom: 1px solid #f1f1f1;
          padding: 1rem 2%;
          display: flex;
          line-height: 2rem;
          font-size: 1rem;
          > .money-handle-half {
            display: flex;
            width: 50%;
          }
          > .money-handle-all {
            display: flex;
            width: 100%;
          }
          .cartpart-checkbox{
            position: relative;
            width: 2rem;
            input{
              width: 14px;
              height: 14px;
              opacity: 0;
              position: absolute;
              z-index: 2;
              top: 3px; left: 0px;
            }
            .checkbox-no{
              .checkbox-false{
                background-color: #eee;
              }
            }
            .checkbox-box{
              position: relative;
              width: 14px;
              line-height: 14px;
              text-align: center;
              height: 14px;
              left: 0px; top: 3px;
              z-index: 1;
              span{
                width: 100%;
                height: 100%;
                display: block;
                border-radius: 100%;
              }
              span.checkbox-false{
                border: 1px solid #b7b7b7;
                box-sizing: content-box
              }
              span.checkbox-true{
                background-color: #348ac7;
                border: 1px solid #348ac7;
                box-sizing: content-box;
                .iconfont{
                  color: #fff;
                  font-size: 10px;
                }
              }
              span.checkbox-no{
                background-color: #f1f1f1;
                border: 1px solid #f1f1f1;
                box-sizing: content-box
              }
              span.checkbox-true-on{
                background-color: #fff;
                border: 1px solid #ccc;
                box-sizing: content-box;
                .iconfont{
                  color: #ccc;
                  font-size: 10px;
                }
              }
            }
            .checkbox-box::before{
              margin-top: 100%
            }
          }
          > h3{
            display: inline;
          }
          > span{
            margin-left: 0.6rem;
            color: #afafaf;
          }
          > i{
            margin-left: auto;
            color: #ee6568;
          }
        }
        .money-list{
          background: #fff;
          padding: 1rem 2%;
          margin: 1rem 0;
          > li{
            line-height: 2rem;
          }
        }
      }
    }
  }
  .purchase-part-box{
    margin-bottom: 1rem;
    .cart-msg-box{
      padding: 0.6rem 2%;
      border-bottom: 1px solid #f1f1f1;
      overflow: hidden;
      background: #fff;
      .cart-car-mess-icon{
        float: left;
        width: 2.4rem;
      }
      .cart-car-mess-title{
        float: left;
      }
      .cart-car-mess-address{
        float: right;
        color: #486282;
      }
      .cart-car-mess-title,
      .cart-car-mess-address{
        line-height: 2.4rem;
        overflow: hidden;
        font-size: 1.3rem;
        height: 2.4rem;
        margin-left: 0.6rem;
      }
    }
    .purchase-accessories-list > li{
      padding: 1rem 2%;
      background: #fff;
      border-bottom: 1px solid #f1f1f1;
      overflow: hidden;
      .accessories-msg-box{
        float: left;
        width: 74%;
        .accessories-msg-title{
          font-size: 1.2rem;
          margin-bottom: 0.2rem;
        }
        .accessories-sub-box{
          color: #b7b7b7;
          font-size: 1rem;
          overflow: hidden;
          margin-top: 0.5rem;
        }
        .accessories-sub-boxs{
          overflow: hidden;
        }
        .accessories-num{
          float: left;
          width: 62%;
        }
        .accessories-quantity{
          float: right;
          width: 38%;
          text-align: right;
        }
        .accessories-msg-sub{
          color: #b7b7b7;
          font-size: 1rem;
          margin-top: 0.2rem;
          word-break: break-all;
        }
        .accessories-msg-money{
          margin-top: 0.6rem;
          span{
            font-size: 1.4rem;
            color: #348ac7;
            margin-right: 0.4rem;
          }
          .accessories-msg-sub{
            color: #759db9
          }
          span.money-no{
            font-size: 1.2rem;
            color: #666
          }
        }
      }
      .accessories-option{
        float: right;
        width: 24%;
        p{
          font-size: 1.2rem;
          text-align: right;
        }
        p.accessories-option-factory{
          margin-bottom: 0.2rem;
        }
        p.accessories-option-price{
          margin-top: 0.5rem;
        }
        p.accessories-option-number{
          font-size: 1rem;
          color: #b7b7b7
        }
      }
      .cartpart-allmess{
        display: table;
        width: 100%;
        .cartpart-title{
          font-size: 1.2rem;
          margin-bottom: 0.5rem;
        }
        .cartpart-costsmsg{
          color: #9c9c9c;
        }
        .cartpart-costs{
          width: 22%;
          line-height: 3.8rem;
          text-align: center;
          color: #9c9c9c;
          font-size: 1.2rem;
          display: table-cell;
          vertical-align: middle;
        }
        .state-money{
          font-size: 1.1rem;
          line-height: 1.4rem;
          color: #ba3b35;
          padding: 0.55rem 0.5rem 0.45rem;
          border-radius: 3px;
          border: 1px solid #ba3b35;
        }
        .state-inquiry,
        .state-inquirying,
        .state-blank{
          text-align: center;
          padding: 0 0.5rem;
          height: 3rem;
          line-height: 3rem;
          font-size: 1.1rem;
          border-radius: 3px;
        }
        .state-inquiry{
          background-color: #2e7fc0;
          border: 1px solid #2e7fc0;
          color: #fff;
        }
        .state-inquirying{
          background-color: #fff;
          border: 1px solid #cdcdcd;
          color: #2e7fc0;
        }
        .state-blank{
          background-color: #fff;
          border: 1px solid #cdcdcd;
          color: #9c9c9c;
        }
      }
    }
  }
  .accessories-bottom{
    position: fixed;
    bottom: 56px;
    left: 0;
    width: 100%;
    background: #fff;
    overflow: hidden;
    padding-left: 1rem;
    height: 56px;
    line-height: 56px;
    box-shadow: 0 0 9px #e2e2e2;
    .accessories-bottom-money{
      float: left;
      text-align: right;
      .accessories-bottom-money-num{
        font-size: 1.4rem;
        line-height: 56px;
        color: #eb2222;
      }
    }
    .accessories-bottom-btn{
      display: block;
      float: right;
      width: 36%;
      background: #348ac7;
      font-size: 1.4rem;
      height: 56px;
      color: #fff;
      border: 0px;
    }
  }
  .invoice-alert{
    position: fixed;
    bottom: 0px; left: 0px;
    width: 100%;
    max-height: 100%;
    z-index: 9;
    background-color: #fff;
    .bg {
      content: '';
      display: block;
      z-index: 3;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: #000;
      opacity: .6;
    }
    .content{
      background-color: #fff;
      z-index: 9;
      padding: 2%;
      padding-bottom: 2rem;
      position: relative;
      h2 {
        font-size: 1.3rem;
        padding: 2rem 0 1.2rem;
      }
      .iconfont {
        position: absolute;
        right: 1rem;
        top: 1rem;
      }
      .submit{
        -webkit-appearance: none;
        width: 85%;
        display: block;
        height: 3.4rem;
        line-height: 3.4rem;
        border-radius: 3.4rem;
        margin: 1rem auto 0;
        font-size: 1.5rem;
        outline: none;
        text-align: center;
        position: relative;
        overflow: hidden;
        background: #2580c1;
        border: 1px solid #2580c1;
        color: #fff;
      }
      .box {
        padding: 0.7rem 0;
        overflow: hidden;
      }
      .label,
      .div {
        float: left;
      }
      .label {
        width: 30%;
        color: #999;
        line-height: 2.4rem;
      }
      .div {
        width: 70%;
        line-height: 2.4rem;
        button.btn {
          background-color: #fff;
          border-radius: 4px;
          width: 30%;
          padding: 0;
          margin: 0;
          margin-right: 8%;
          line-height: 2.4rem;
          box-sizing: border-box;
        }
        .cur {
          border: 1px solid #2580c1;
          color: #2580c1;
          margin-left: 0px;
        }
        input {
          border: 1px solid #e9e9e9;
          width: 98%;
          height: 2.4rem;
          line-height: 2.4rem;
          float: left;
          text-indent: .5rem;
          border-radius: 4px;
        }
        select, button.add {
          float: left;
          height: 2.4rem;
          line-height: 2.4rem;
        }
        select {
          border: 1px solid #e9e9e9;
          width: 70%;
        }
        select.type {
          width: 20%;
          margin-left: 5%;
        }
        button.add {
          margin-left: 5%;
          width: 20%;
          border: 0px;
          background: none;
        }
      }
    }
  }
</style>
