<template>
  <div class="cashbackturnover" id="cashbackturnover" :style="{height: this.height - 56 + 'px'}">
    <div class="cashbackbalance-box">
      <img src="../../../static/img/icon_note.png" @click="open" alt="">
      <h6>当前金额(元)</h6>
      <span>{{data.balance | Price}}</span>
    </div>
    <h2>账户收支流水</h2>
    <ul>
      <li v-for="item in data.list" :key="item.id" :orderid="item.order_id" @click="toOrderDetail(item)">
        <div>
          <h3>{{item.name}}(单号:{{item.order_id}})</h3>
          <span>{{item.time}}</span>
        </div>
        <label :class="getClass(item.value)">{{item.value}}</label>
      </li>
    </ul>
    <mu-dialog :open="dialog" title="">
      <p class="cashback-open">1. 返现账户内现金券来源于保险佣金，只可抵用订单应付金额</p>
      <mu-flat-button label="确定" slot="actions" primary @click="close"/>
    </mu-dialog>
  </div>
</template>

<script lang='ts'>
import { Prop, Component, Vue } from 'vue-property-decorator'

@Component
export default class Cashbackturnover extends Vue {
  @Prop()
  height!: number

  dialog: boolean = false
  data: any = {
    balance: 0,
    list: []
  }

  created () {
    let that = this
    Vue.prototype.Axios.post('/index.php/Home/Cashback/Getcashback')
      .then((res: any) => {
        if (res.data.code === 1) {
          that.data = res.data.data
        }
      })
  }

  /**
   * @description 价格正负的class
   * @param { string } val 价格
   * @returns { string } class名
   */
  getClass (val: string) {
    let vals: number = parseFloat(val)
    if (vals >= 0) {
      return 'in'
    } else {
      return 'out'
    }
  }

  /**
   * @description 打开弹出框
   * @param void
   * @returns void
   */
  open () {
    this.dialog = true
  }

  /**
   * @description 关闭弹出框
   * @param void
   * @returns void
   */
  close () {
    this.dialog = false
  }

  /**
   * @description 跳转到返现详情
   * @param { any } item 返现数据
   * @returns void
   */
  toOrderDetail (item: any) {
    if (item.name !== '系统') {
      this.$router.push({
        name: 'cashbackDetail',
        params: {
          orderId: item.order_id,
          orderValue: item.value
        }
      })
    }
  }
}
</script>

<style scoped lang="less">
.cashbackturnover{
  overflow-y: auto;
  .cashbackbalance-box{
    height: 14rem;
    text-align: center;
    position: relative;
    > img{
      position: absolute;
      right: 1rem; top: 1rem;
      width: 1.5rem;
    }
    h6{
      font-size: 1.1rem;
      line-height: 2rem;
      margin-bottom: 0.2rem;
      padding-top: 4.2rem;
    }
    span{
      font-size: 2.8rem;
      font-weight: 700;
    }
  }
  h2{
    padding: 1.4rem 1rem 0.8rem;
    background: #f4f4f4;
    font-size: 1.2rem;
  }
  > ul{
    li{
      display: flex;
      padding: 1rem;
      border-bottom: 1px solid #f4f4f4;
      > div{
        h3{
          font-size: 1.2rem;
          line-height: 1.8rem;
          font-weight: 600;
          margin-bottom: 0.4rem;
        }
        span{
          font-size: 0.9rem;
          line-height: 1.4rem;
          color: #56565b
        }
      }
      > label{
        margin-left: auto;
        display: table;
        line-height: 3.6rem;
        font-size: 1.2rem;
        font-weight: 600;
      }
      > label.in{
        color: #dd5555;
      }
      > label.out{
        color: #54b056;
      }
    }
  }
}
</style>

<style>
.cashback-open{
  padding: 0.4rem 0;
  font-size: 1.1rem;
  line-height: 1.6rem
}
</style>
