<template>
  <div class="cashbackdetail" id="cashbackdetail" :style="{height: this.height - 56 + 'px'}">
    <div class="detail-centent">
      <div class="detail-header">
        <h4 class="detail-title">返现详情</h4>
        <p class="detail-money">{{orderMoney}}</p>
        <!-- <p class="detail-sub">已成功存款金额</p> -->
      </div>
      <ul class="detail-list">
        <li v-for="item in orderList" :key="item.id" @click="toOrderDetail(item.order_id)">
          <div class="detail-box">
            <label>订单号</label>
            <span>{{item.order_id}}</span>
          </div>
          <div class="detail-box">
            <label>订单时间</label>
            <span>{{item.time}}</span>
          </div>
          <div class="detail-box">
            <label>来源</label>
            <span>{{item.source}}</span>
          </div>
        </li>
      </ul>
    </div>
  </div>
</template>

<script lang='ts'>
import { Prop, Component, Vue } from 'vue-property-decorator'

@Component
export default class Cashbackdetail extends Vue {
  @Prop()
  height!: number

  orderId: string = ''
  orderMoney: string = ''
  orderList: Array<any> = []

  created () {
    if (this.$route.params.orderId !== undefined) {
      this.orderId = this.$route.params.orderId
      this.orderMoney = this.$route.params.orderValue
      sessionStorage.setItem('cashBackDetailId', this.$route.params.orderId)
      sessionStorage.setItem('cashBackDetailValue', this.$route.params.orderValue)
    } else {
      this.orderId = sessionStorage.getItem('cashBackDetailId') || '""'
      this.orderMoney = sessionStorage.getItem('cashBackDetailValue') || '""'
    }
    this.getChildOrderId(this.orderId)
  }

  /**
   * @description 获取子单号列表
   * @param { string } orderId 总单号
   * @returns void
   */
  getChildOrderId (orderId: string) {
    Vue.prototype.Axios.post('index.php/Home/Orders/getSubOrders', {
      orderNumber: orderId
    })
    .then((res: any) => {
      if (res.data.code === 1) {
        this.orderList = res.data.subOrders
      } else {
        this.$store.commit('OPEN_ALERT', {'val': res.data.msg,'wait': 1000})
      }
    })
  }

  /**
   * @description 跳转到订单详情
   * @param { string } orderId 子单号
   * @returns void
   */
  toOrderDetail (orderId: string) {
    // this.$router.push({
    //   name: 'orderDetail',
    //   params: {
    //     orderNum: orderId
    //   }
    // })
  }
}
</script>

<style scoped lang="less">
.cashbackdetail{
  background: #f6f6f6;
  overflow-y: auto;
  .detail-centent{
    background: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    width:92%;
    margin: 4%;
    min-height: 100px;
    .detail-header{
      padding: 2rem 0;
      background: url('../../../static/img/bg_detail.jpg') no-repeat bottom center;
      background-size: contain;
      text-align: center;
      .detail-title{
        padding-top: 0.4rem;
        font-size: 0.91rem;
        color: #616161;
      }
      .detail-money{
        font-size: 1.83rem;
        color: #1f1f1f;
        font-weight: 800;
        margin-top: 0.4rem;
        margin-bottom: 0.6rem;
      }
      .detail-sub{
        font-size: 1rem;
        color: #999999;
      }
    }
    .detail-list{
      li{
        border-top: 1px dotted #e0e0e0;
        padding: 1rem 0;
        margin: 0 4%;
        .detail-box{
          overflow: hidden;
          padding: 0.4rem 0;
          min-height: 1.5rem;
          line-height: 1.5rem;
          label{
            float: left;
            width: 24%;
            color: #999999;
          }
          span{
            float: left;
            width: 76%;
            color: #333333;
          }
        }
      }
      li:first-child {
        border-top: 0px;
      }
    }
  }
}
</style>

