<template>
  <div class="article" :style="{height: this.height - 56 + 'px'}">
    <h1 class="title">{{article.title}}</h1>
    <p class="time">{{article.time}}</p>
    <div class="content">{{article.content}}</div>
  </div>
</template>

<script lang='ts'>
import { Component, Vue, Prop } from 'vue-property-decorator'

@Component
export default class Article extends Vue {
  @Prop()
  height!: number

  article: any = {
    title: '车通云再获5000万战略投资，计划2018年建成100家直营店',
    time: '2017-02-30 12:30:20',
    content: `继7月12日获投1.2亿元A+轮融资后，车通云本轮继续获得先锋国盛5000万元战略投资，本次融资用途反应了车通云一贯作风，将服务再次升级，用于供应链金融建立，30000余用户的深度需求得到积极回应。

在车通云用户不断递增的过程中，呼声最高的增值服务即金融产品的需求及配送周期的效率，将用户与生命线联系在一起的车通云果断出击，紧密部署多维服务结构，真正为实现一站式服务不断突破。

车通云CEO郝鼎文认为，中国汽车零部件从垄断市场到现在的开放市场，国内零部件质量大幅提高，但在过去的垄断机制下缺乏有效的分销渠道，未来汽车后市场供应链领域将呈爆发趋势。

车通云将全力构建配件交易及金融服务平台，并计划于2017年底在全国建设30家配件周转中心，2018年建设100家直营门店，目标营业额20亿。`
  }
}
</script>

<style scoped lang="less">
.article{
  padding: 1rem;
  overflow-y: auto;
  .title{
    font-size: 2rem;
    color: #2f2f32;
    font-weight: 400
  }
  .time{
    font-size: 1rem;
    color: #b7b7b7;
    line-height: 3rem;
  }
  .content{
    font-size: 1.3rem;
    color: #2f2f32;
    line-height: 2.0rem;
    padding: 0.6rem 0
  }
}
</style>
