<template>
  <mu-paper class="nav-bottom">
    <mu-bottom-nav :value="bottomNav" @change="handleCurrent">
      <mu-bottom-nav-item value="query" title="首页" to="/" iconClass="iconfont icon-xiaoxi-" icon=" "/>
      <mu-bottom-nav-item value="cart" title="购物车" to="/cart" iconClass="iconfont icon-cart" icon=" "/>
      <mu-bottom-nav-item value="order" title="订单" to="/order" iconClass="iconfont icon-order" icon=" "/>
      <mu-bottom-nav-item value="center" title="我的" to="/center" iconClass="iconfont icon-wode" icon=" "/>
    </mu-bottom-nav>
  </mu-paper>
</template>

<script lang='ts'>
import { Component, Vue, Watch } from 'vue-property-decorator'

@Component
export default class BottomMenu extends Vue {
  bottomNav: string = 'query'
  urlPath: string = ''

  created () {
    this.fetchDate()
  }

  /**
   * @description 切换当前选中状态
   * @argument { string } val 选中的按钮
   * @returns void
   */
  handleCurrent (val: string): void {
    this.bottomNav = val
  }

  /**
   * @description 根据不同的URL，切换按钮状态
   * @argument void
   * @returns void
   */
  @Watch('$route')
  fetchDate () {
    this.urlPath = location.hash.indexOf('?') > 0 ? location.hash.split('?')[0] : window.location.hash
    if (this.urlPath === '#/cart'
        || this.urlPath === '#/cart/purchase'
        || this.urlPath === '#/feedback'
        ) {
      this.bottomNav = 'cart'
    } else if (this.urlPath === '#/order'
              || this.urlPath === '#/order/orderDetail'
              || this.urlPath === '#/aftersaleApply'
              || this.urlPath === '#/aftersaleApply/aftersaleDetail'
              || this.urlPath === '#/feedbackaftersale'
              ) {
      this.bottomNav = 'order'
    } else if (this.urlPath === '#/center'
              || this.urlPath === '#/center/cashback'
              || this.urlPath === '#/center/cashback/cashbackDetail'
              || this.urlPath === '#/center/renewals'
              || this.urlPath === '#/center/white'
              || this.urlPath === '#/center/white/whiteBill'
              || this.urlPath === '#/center/white/whiteBill/whiteDetail'
              || this.urlPath === '#/center/addressList'
              || this.urlPath === '#/center/addressList/addressEdit'
              || this.urlPath === '#/center/paypassword'
              ) {
      this.bottomNav = 'center'
    } else {
      this.bottomNav = 'query'
    }
  }
}
</script>

<style scoped>
  .nav-bottom{
    position: fixed;
    z-index: 2;
    left: 0;
    bottom: 0;
    width: 100%;
    font-size: 0.9rem;
  }
</style>
