<template>
    <div class="date-picker">
        <div class="input-wrapper" @mouseenter="showCancel = true" @mouseleave="showCancel = false">
            <div class="input" @click="togglePanel" v-text="range ? value[0] + ',' + value[1] : value"></div>
            <!-- <transition name="fade">
                <img class="cancel-btn" src="../../../static/img/cancel.png" v-show="showCancel" @click="clear">
            </transition> -->
        </div>
        <transition name="toggle">
            <div class="date-panel" v-show="panelState" :style="coordinates">
                <div class="panel-header" v-show="panelType !== 'year'">
                    <div class="arrow-left" @click="prevMonthPreview()"><i class="iconfont">&#xe697</i></div>
                    <div class="year-month-box">
                        <div class="year-box" @click="chType('year')" v-text="tmpYear"></div>
                        <div class="month-box" @click="chType('month')">{{tmpMonth + 1 | month(language)}}</div>
                    </div>
                    <div class="arrow-right" @click="nextMonthPreview()"><i class="iconfont">&#xe6a7</i></div>
                </div>
                <div class="panel-header" v-show="panelType === 'year'">
                    <div class="arrow-left" @click="chYearRange(0)"><i class="iconfont">&#xe697</i></div>
                    <div class="year-range">
                        <span v-text="yearList[0]"></span> - <span v-text="yearList[yearList.length - 1]"></span>
                    </div>
                    <div class="arrow-right" @click="chYearRange(1)"><i class="iconfont">&#xe6a7</i></div>
                </div>
                <div class="type-year" v-show="panelType === 'year'">
                    <ul class="year-list">
                        <li v-for="item in yearList"
                            :key="item.id"
                            v-text="item"
                            :class="{selected: isSelected('year', item), invalid: validateYear(item)}"
                            @click="selectYear(item)"
                        >
                        </li>
                    </ul>
                </div>
                <div class="type-month" v-show="panelType === 'month'">
                    <ul class="month-list">
                        <li v-for="(item, index) in monthList"
                            :key="item.id"
                            :class="{selected: isSelected('month', index), invalid: validateMonth(index)}"
                            @click="selectMonth(index)"
                        >
                            {{item | month(language)}}
                        </li>
                    </ul>
                </div>
                <div class="type-date" v-show="panelType === 'date'">
                    <ul class="weeks">
                        <li v-for="item in weekList"
                            :key="item.id">{{item | week(language)}}</li>
                    </ul>
                    <ul class="date-list">
                        <li v-for="(item, index) in dateList"
                            :key="item.id"
                            :class="{preMonth: item.previousMonth, nextMonth: item.nextMonth,
                                invalid: validateDate(item), firstItem: (index % 7) === 0}"
                            @click="selectDate(item)">
                            <div class="message" :class="{selected: isSelected('date', item)}">
                                <div class="bg"></div><span v-text="item.value"></span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </transition>
    </div>
</template>

<script lang="ts">
import { Component, Vue, Watch, Prop } from 'vue-property-decorator'

interface ArrayConstructor {
  from (arrayLike: any, mapFn?: any, thisArg?: any): Array<any>
}

@Component
export default class Datepicker extends Vue {
  @Prop()
  value!: Array<any>

  showCancel: boolean = false
  panelState: boolean = false
  panelType: string = 'date'
  coordinates: object = {}
  year: number = new Date().getFullYear()
  month: number = new Date().getMonth()
  date: number = new Date().getDate()
  tmpYear: number = new Date().getFullYear()
  tmpMonth: number = new Date().getMonth()
  tmpStartYear: number = new Date().getFullYear()
  tmpStartMonth: number = new Date().getMonth()
  tmpStartDate: number = new Date().getDate()
  tmpEndYear: number = new Date().getFullYear()
  tmpEndMonth: number = new Date().getMonth()
  tmpEndDate: number = new Date().getDate()
  minYear: any = Number
  minMonth: any = Number
  minDate: any = Number
  maxYear: any = Number
  maxMonth: any = Number
  maxDate: any = Number
  yearList: Array<any> = [new Date().getFullYear() + 0, new Date().getFullYear() + 1, new Date().getFullYear() + 2, new Date().getFullYear() + 3, new Date().getFullYear() + 4, new Date().getFullYear() + 5, new Date().getFullYear() + 6, new Date().getFullYear() + 7, new Date().getFullYear() + 8, new Date().getFullYear() + 9, new Date().getFullYear() + 10, new Date().getFullYear() + 11]
  monthList: Array<any> = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
  weekList: Array<any> = [0, 1, 2, 3, 4, 5, 6]
  rangeStart: boolean = false
  language: string = 'ch'
  min: string = '1970-01-01'
  max: string = '2050-01-01'
  // value: Array<any> = ['2018-01-01', '2018-01-01']
  range: any = {
    type: Boolean,
    default: true
  }

  get dateList () {
    let currentMonthLength = new Date(
      this.tmpYear,
      this.tmpMonth + 1,
      0
    ).getDate()
    let dateList: Array<any> = []
    for (let i = 0; i < currentMonthLength; i++) {
      dateList.push({
        currentMonth: true,
        value: i + 1
      })
    }
    let startDay = new Date(this.tmpYear, this.tmpMonth, 1).getDay()
    let previousMongthLength = new Date(
      this.tmpYear,
      this.tmpMonth,
      0
    ).getDate()
    let i = 0
    let len = startDay
    for (; i < len; i++) {
      dateList = [
        { previousMonth: true, value: previousMongthLength - i }
      ].concat(dateList)
    }
    let q = dateList.length
    let item = 1
    for (; q < 42; q++, item++) {
      dateList[dateList.length] = { nextMonth: true, value: item }
    }
    return dateList
  }

  mounted () {
    this.$nextTick(() => {
      let minArr = this.min.split('-')
      this.minYear = Number(minArr[0])
      this.minMonth = Number(minArr[1])
      this.minDate = Number(minArr[2])
      let maxArr = this.max.split('-')
      this.maxYear = Number(maxArr[0])
      this.maxMonth = Number(maxArr[1])
      this.maxDate = Number(maxArr[2])
      if (this.range) {
        if (
          Object.prototype.toString.call(this.value).slice(8, -1) !== 'Array'
        ) {
          throw new Error('Binding value must be an array in range mode.')
        }
        if (this.value.length) {
          let rangeStart = this.value[0].split('-')
          let rangeEnd = this.value[1].split('-')
          this.tmpStartYear = Number(rangeStart[0])
          this.tmpStartMonth = Number(rangeStart[1]) - 1
          this.tmpStartDate = Number(rangeStart[2])
          this.tmpEndYear = Number(rangeEnd[0])
          this.tmpEndMonth = Number(rangeEnd[1]) - 1
          this.tmpEndDate = Number(rangeEnd[2])
        } else {
          this.$emit('input', ['', ''])
          // this.value = ['', '']
        }
      }
      if (!this.value) {
        this.$emit('input', '')
        // this.value = ''
      }
      window.addEventListener('click', this.close)
    })
  }
  beforeDestroy () {
    window.removeEventListener('click', this.close)
  }

  togglePanel () {
    this.panelState = !this.panelState
    this.rangeStart = false
  }
  isSelected (type: string, item: any) {
    switch (type) {
      case 'year':
        if (!this.range) return item === this.tmpYear
        return (
          new Date(item, 0).getTime() >=
          new Date(this.tmpStartYear, 0).getTime() &&
          new Date(item, 0).getTime() <=
          new Date(this.tmpEndYear, 0).getTime()
        )
      case 'month':
        if (!this.range) {
          return item === this.tmpMonth && this.year === this.tmpYear
        }
        return (
          new Date(this.tmpYear, item).getTime() >=
          new Date(this.tmpStartYear, this.tmpStartMonth).getTime() &&
          new Date(this.tmpYear, item).getTime() <=
          new Date(this.tmpEndYear, this.tmpEndMonth).getTime()
        )
      case 'date':
        if (!this.range) {
          return (
            this.date === item.value &&
            this.month === this.tmpMonth &&
            item.currentMonth
          )
        }
        let month = this.tmpMonth
        item.previousMonth && month--
        item.nextMonth && month++
        return (
          new Date(this.tmpYear, month, item.value).getTime() >=
          new Date(
            this.tmpStartYear,
            this.tmpStartMonth,
            this.tmpStartDate
          ).getTime() &&
          new Date(this.tmpYear, month, item.value).getTime() <=
          new Date(
            this.tmpEndYear,
            this.tmpEndMonth,
            this.tmpEndDate
          ).getTime()
        )
    }
  }
  chType (type: any) {
    this.panelType = type
  }
  chYearRange (next: any) {
    if (next) {
      this.yearList = this.yearList.map(i => i + 12)
    } else {
      this.yearList = this.yearList.map(i => i - 12)
    }
  }
  prevMonthPreview () {
    if (this.tmpMonth === 0) {
      this.tmpMonth = 11
      this.tmpYear = this.tmpYear - 1
    } else {
      this.tmpMonth = this.tmpMonth - 1
    }
  }
  nextMonthPreview () {
    if (this.tmpMonth === 11) {
      this.tmpMonth = 0
      this.tmpYear = this.tmpYear + 1
    } else {
      this.tmpMonth = this.tmpMonth + 1
    }
  }
  selectYear (year: any) {
    if (this.validateYear(year)) return
    this.tmpYear = year
    this.panelType = 'month'
  }
  selectMonth (month: any) {
    if (this.validateMonth(month)) return
    this.tmpMonth = month
    this.panelType = 'date'
  }
  selectDate (date: any) {
    setTimeout(() => {
      if (this.validateDate(date)) return
      if (date.previousMonth) {
        if (this.tmpMonth === 0) {
          this.year -= 1
          this.tmpYear -= 1
          this.month = this.tmpMonth = 11
        } else {
          this.month = this.tmpMonth - 1
          this.tmpMonth -= 1
        }
      } else if (date.nextMonth) {
        if (this.tmpMonth === 11) {
          this.year += 1
          this.tmpYear += 1
          this.month = this.tmpMonth = 0
        } else {
          this.month = this.tmpMonth + 1
          this.tmpMonth += 1
        }
      }
      if (!this.range) {
        this.year = this.tmpYear
        this.month = this.tmpMonth
        this.date = date.value
        let value = `${this.tmpYear}-${('0' + (this.month + 1)).slice(-2)}-${(
          '0' + this.date
        ).slice(-2)}`
        this.$emit('input', value)
        // this.value = value
        this.panelState = false
      } else if (this.range && !this.rangeStart) {
        this.tmpEndYear = this.tmpStartYear = this.tmpYear
        this.tmpEndMonth = this.tmpStartMonth = this.tmpMonth
        this.tmpEndDate = this.tmpStartDate = date.value
        this.rangeStart = true
      } else if (this.range && this.rangeStart) {
        this.tmpEndYear = this.tmpYear
        this.tmpEndMonth = this.tmpMonth
        this.tmpEndDate = date.value
        let d1 = new Date(
          this.tmpStartYear,
          this.tmpStartMonth,
          this.tmpStartDate
        ).getTime()
        let d2 = new Date(
          this.tmpEndYear,
          this.tmpEndMonth,
          this.tmpEndDate
        ).getTime()
        if (d1 > d2) {
          let tmpY
          let tmpM
          let tmpD
          tmpY = this.tmpEndYear
          tmpM = this.tmpEndMonth
          tmpD = this.tmpEndDate
          this.tmpEndYear = this.tmpStartYear
          this.tmpEndMonth = this.tmpStartMonth
          this.tmpEndDate = this.tmpStartDate
          this.tmpStartYear = tmpY
          this.tmpStartMonth = tmpM
          this.tmpStartDate = tmpD
        }
        let RangeStart = `${this.tmpStartYear}-${(
          '0' +
          (this.tmpStartMonth + 1)
        ).slice(-2)}-${('0' + this.tmpStartDate).slice(-2)}`
        let RangeEnd = `${this.tmpEndYear}-${(
          '0' +
          (this.tmpEndMonth + 1)
        ).slice(-2)}-${('0' + this.tmpEndDate).slice(-2)}`
        let value = [RangeStart, RangeEnd]
        this.$emit('input', value)
        // this.value = value
        this.rangeStart = false
        this.panelState = false
      }
    }, 0)
  }
  validateYear (year: any) {
    return year > this.maxYear || (year < this.minYear ? true : false)
  }
  validateMonth (month: any) {
    if (
      new Date(this.tmpYear, month).getTime() >=
      new Date(this.minYear, this.minMonth - 1).getTime() &&
      new Date(this.tmpYear, month).getTime() <=
      new Date(this.maxYear, this.maxMonth - 1).getTime()
    ) {
      return false
    }
    return true
  }
  validateDate (date: any) {
    let mon = this.tmpMonth
    if (date.previousMonth) {
      mon -= 1
    } else if (date.nextMonth) {
      mon += 1
    }
    if (
      new Date(this.tmpYear, mon, date.value).getTime() >=
      new Date(this.minYear, this.minMonth - 1, this.minDate).getTime() &&
      new Date(this.tmpYear, mon, date.value).getTime() <=
      new Date(this.maxYear, this.maxMonth - 1, this.maxDate).getTime()
    ) {
      return false
    }
    return true
  }
  close (e: any) {
    if (!this.$el.contains(e.target)) {
      this.panelState = false
      this.rangeStart = false
    }
  }

  // watch: {
  //   min (v) {
  //     let minArr = v.split('-')
  //     this.minYear = Number(minArr[0])
  //     this.minMonth = Number(minArr[1])
  //     this.minDate = Number(minArr[2])
  //   },
  //   max (v) {
  //     let maxArr = v.split('-')
  //     this.maxYear = Number(maxArr[0])
  //     this.maxMonth = Number(maxArr[1])
  //     this.maxDate = Number(maxArr[2])
  //   },
  //   range (newVal, oldVal) {
  //     if (newVal === oldVal) return
  //     if (
  //       newVal &&
  //       Object.prototype.toString.call(this.value).slice(8, -1) === 'String'
  //     ) {
  //       this.$emit('input', ['', ''])
  //     }
  //     if (
  //       !newVal &&
  //       Object.prototype.toString.call(this.value).slice(8, -1) === 'Array'
  //     ) {
  //       this.$emit('input', '')
  //     }
  //   }
  // }

}
</script>

<style scoped lang='less'>
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  .date-picker {
    position: relative;
    display: inline-block;
    background: #f6f6f6;
    height: 2.2rem;
    border: 0px;
    margin: 0px;
    padding: 0px;
    width: 70%;
  }
  .input-wrapper {
    border-radius: 2px;
    vertical-align: middle;
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
    align-items: center;
    height: 2.2rem;
    box-sizing: border-box;
  }
  .input {
    height: 100%;
    width: 100%;
    font-size: inherit;
    box-sizing: border-box;
    outline: none;
  }
  .cancel-btn {
    height: 14px;
    width: 14px;
  }
  .date-panel {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 5000;
    border: 1px solid #eee;
    box-sizing: border-box;
    width: 100%;
    padding: 5px 10px 10px;
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: 0px 5px 10px #eee;
  }
  .panel-header {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
  }
  .arrow-left,
  .arrow-right {
    flex: 1;
    font-size: 24px;
    line-height: 40px;
    background-color: #fff;
    text-align: center;
    cursor: pointer;
  }
  .year-range {
    font-size: 16px;
    line-height: 40px;
    flex: 3;
    display: flex;
    justify-content: center;
  }
  .year-month-box {
    flex: 3;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
  }
  .type-year,
  .type-month,
  .date-list {
    background-color: #fff;
  }
  .year-box,
  .month-box {
    transition: all ease 0.1s;
    font-family: Roboto, sans-serif;
    flex: 1;
    text-align: center;
    font-size: 16px;
    line-height: 40px;
    cursor: pointer;
    background-color: #fff;
  }
  .year-list,
  .month-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    li {
      font-family: Roboto, sans-serif;
      transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
      cursor: pointer;
      text-align: center;
      font-size: 16px;
      width: 33%;
      padding: 10px 0;
      &:hover {
        background-color: #55b0f1;
        color: #fff;
      }
      &.selected {
        background-color: #348ac7;
        color: #fff;
      }
      &.invalid {
        cursor: not-allowed;
        color: #ccc;
      }
    }
  }
  .date-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    .valid:hover {
      background-color: #eee;
    }
    li {
      transition: all ease 0.1s;
      cursor: pointer;
      box-sizing: border-box;
      border-bottom: 1px solid #fff;
      position: relative;
      .message {
        font-weight: 300;
        font-size: 14px;
        position: relative;
        height: 30px;
        &.selected {
          .bg {
            background-color: #348ac7;
          }
          span {
            color: #fff;
          }
        }
        &:not(.selected) {
          .bg {
            transform: scale(0);
            opacity: 0;
          }
          &:hover {
            .bg {
              background-color: #348ac7;
              transform: scale(1);
              opacity: 0.6;
            }
            span {
              color: #fff;
            }
          }
        }
        .bg {
          height: 30px;
          width: 30px;
          transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
          border-radius: 50%;
          position: absolute;
          z-index: 10;
          top: 0;
          left: 50%;
          margin-left: -15px;
        }
        span {
          position: absolute;
          z-index: 20;
          left: 50%;
          top: 50%;
          transform: translate3d(-50%, -50%, 0);
        }
      }
      &.invalid {
        cursor: not-allowed;
        color: #ccc;
      }
    }
  }
  .weeks {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    li {
      font-weight: 600;
    }
  }
  .weeks,
  .date-list {
    width: 100%;
    text-align: center;
    .preMonth,
    .nextMonth {
      color: #ccc;
    }
    li {
      font-family: Roboto;
      width: 14.28%;
      height: 30px;
      text-align: center;
      line-height: 30px;
      margin-bottom: 4px;
    }
  }
  .toggle-enter,
  .toggle-leave-active {
    opacity: 0;
    transform: translateY(-10px);
  }
  .toggle-enter-active,
  .toggle-leave-active {
    transition: all ease 0.2s;
  }
  .fade-enter,
  .fade-leave-active {
    opacity: 0;
    transform: scale3d(0, 0, 0);
  }
  .fade-enter-active,
  .fade-leave-active {
    transition: all ease 0.1s;
  }
</style>
