<template>
  <div class="feedback" :style="{height: this.height - 56 + 'px'}">
    <div class="feed">
      <div class="feed-success-icon">
        <div class="feed-icon-box">
          <i class="iconfont icon-duicuo-1"></i>
        </div>
      </div>
      <div class="feed-text">
        <h2 class="feed-title">提交成功</h2>
        <p class="feed-hint">
          服务人员将在24小时内进行审核，审核结果 <br>
          会以短讯形式告知您 <br>
          <br>
          您也可以在我的订单中进行查询
        </p>
        <div class="qr">
          <img src="../../../static/img/qr.jpg">
          <strong>扫一扫微信关注“车通云”</strong>
          <p>
            查询售后服务单进度更便捷，还有更多知识和<br>
            惊喜等着您
          </p>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang='ts'>
import { Component, Vue, Prop } from 'vue-property-decorator'

@Component
export default class Feedback extends Vue {
  @Prop()
  height!: number

  state: boolean = true
  val: string = ''

  mounted () {
    this.state = !!this.$route.params.state
  }

  /**
   * @description 跳转到首页
   * @param void
   * @returns void
   */
  back () {
    this.$router.push('/')
  }
}
</script>

<style scoped lang="less">
.feedback{
  overflow-y: auto;
  .feed{
    padding-top: 4rem;
    .feed-success-icon,
    .feed-error-icon{
      margin: 0 auto 0;
      width: 30%;
      color: #fff;
      position: relative;
    }
    .feed-success-icon::before,
    .feed-error-icon::before{
      content: '';
      display: block;
      background: #fff;
      border-radius: 100%;
      padding-top: 100%;
    }
    .feed-icon-box{
      position: absolute;
      left: 0; top: 0;
      width: 100%;
      text-align: center
    }
    .feed-success-icon .iconfont,
    .feed-error-icon .iconfont{
      font-size: 80px;
    }
    .feed-success-icon .iconfont{
      color: #09bb07
    }
    .feed-error-icon .iconfont{
      color: #f76260
    }
    .feed-text{
      text-align: center
    }
    .feed-title{
      font-size: 1.3rem;
      line-height: 2.8rem
    }
    .feed-hint{
      font-size: 1rem;
      color: #8a8a8b
    }
  }
  .qr {
    margin-top: 2rem;
    img {
      width: 40%;
      margin: 0 auto;
      display: block;
    }
    strong {
      font-size: 1.2rem;
      line-height: 3rem;
    }
    p {
      font-size: 1rem;
      color: #8a8a8b
    }
  }
}
</style>
