<template>
  <div class="feedback" :style="{height: this.height - 56 + 'px'}">
    <div class="feed">
      <div class="feed-success-icon" v-if="state">
        <div class="feed-icon-box">
          <i class="iconfont icon-duicuo-1"></i>
        </div>
      </div>
      <div class="feed-error-icon" v-else>
        <div class="feed-icon-box">
          <i class="iconfont icon-duicuo-"></i>
        </div>
      </div>
      <div class="feed-text">
        <h2 class="feed-title" v-if="state">提交成功</h2>
        <h2 class="feed-title" v-else>提交失败</h2>
        <p class="feed-hint" v-if="state">稍后会有客服人员与您取得联系 <br>
请您稍作等待</p>
        <p class="feed-hint" v-else>提交失败，请重试</p>
      </div>
    </div>
    <button @click="back()" class="address-btn">完成</button>
  </div>
</template>

<script lang='ts'>
import { Component, Vue, Prop } from 'vue-property-decorator'

@Component
export default class Feedback extends Vue {
  @Prop()
  height!: number

  state: boolean = true
  val: string = ''

  mounted () {
    this.state = !!this.$route.params.state
  }

  /**
   * @description 跳转到首页
   * @param void
   * @returns void
   */
  back () {
    this.$router.push('/')
  }
}
</script>

<style scoped lang="less">
.feedback{
  overflow-y: auto;
  .feed{
    padding-top: 5rem;
    .feed-success-icon,
    .feed-error-icon{
      margin: 0 auto 1.4rem;
      width: 40%;
      color: #fff;
      position: relative;
    }
    .feed-success-icon::before,
    .feed-error-icon::before{
      content: '';
      display: block;
      background: #fff;
      border-radius: 100%;
      padding-top: 100%;
    }
    .feed-icon-box{
      position: absolute;
      left: 0; top: 0;
      width: 100%;
      text-align: center
    }
    .feed-success-icon .iconfont,
    .feed-error-icon .iconfont{
      font-size: 130px;
    }
    .feed-success-icon .iconfont{
      color: #09bb07
    }
    .feed-error-icon .iconfont{
      color: #f76260
    }
    .feed-text{
      text-align: center
    }
    .feed-title{
      font-size: 1.8rem;
      line-height: 2.8rem
    }
    .feed-hint{
      font-size: 1.2rem;
      color: #8a8a8b
    }
  }
  .address-btn{
    width: 80%;
    display: block;
    height: 3.4rem;
    line-height: 3.4rem;
    border-radius: 3.4rem;
    margin: 3rem auto 2rem;
    background: #2580c1;
    color: #fff;
    font-size: 1.6rem;
    border: 0px;
  }
}
</style>
