<template>
  <div class="logoff" :style="{height: this.height + 'px'}">
    <img class="logoff-img" src="../../../static/img/miniapp_logo.jpg" alt="">
    <h1 class="title">车通云微信小程序</h1>
    <div class="content">请移步微信小程序继续使用车通云服务<br>
或微信搜索公众号"<strong class="strong">车通云服务号</strong>"<br>
进入车通云小程序</div>
  </div>
</template>

<script lang='ts'>
import { Component, Vue, Prop } from 'vue-property-decorator'

@Component
export default class Logoff extends Vue {
  @Prop()
  height!: number

}
</script>

<style scoped lang="less">
.logoff{
  padding: 1rem;
  overflow-y: auto;
  .logoff-img {
    width: 67%;
    display: block;
    margin: 0 auto;
    padding: 100px 0;
  }
  .title{
    font-size: 1.6rem;
    color: #1f1f1f;
    font-weight: 550;
    text-align: center;
  }
  .content{
    margin-top: 1rem;
    font-size: 1.2rem;
    color: #999;
    line-height: 1.8rem;
    text-align: center;
    .strong{
      color: #02a3da
    }
  }
}
</style>
