<template>
  <div class="nofind" id="nofind" :style="{height: this.height - 56 + 'px'}">
    <img class="nofindimg" src="../../../static/img/404.jpg" alt="">
  </div>
</template>

<script lang='ts'>
import { Component, Vue, Prop } from 'vue-property-decorator'

@Component
export default class Nofind extends Vue {
  @Prop()
  height!: number
}
</script>

<style lang='less'>
.nofind{
  background-color: #fff;
  .nofindimg{
    width: 70%;
    margin: 0 auto;
    display: block;
    padding-top: 10rem;
  }
}
</style>
