<template>
  <div class="pay" id="pay" :style="{height: this.height - 56 + 'px'}">
    <p>应付金额：￥{{ money | Price}}</p>
    <h2>选择支付方式</h2>
    <ul class="pay-type">
      <li v-if="showPay(start, 'whitestripes') && whitestripesshow && this.$store.getters.whitestripesState !== 'close'">
        <div class="cartpart-checkbox">
          <input type="checkbox" v-model="whitestripesradio" name="cartpart-group" @change="changeChecked('whitestripes')">
          <div class="checkbox-box">
            <span class="checkbox-true" v-if="whitestripesradio"><i class="iconfont icon-dui"></i></span>
            <span class="checkbox-false" v-else></span>
          </div>
        </div>
        <img src="../../../static/img/icon_btpay.png" alt="">
        <span>打白条</span>
        <i>可用额度 {{remaininglimit | Price}}元</i>
      </li>
      <li v-if="showPay(start, 'alipay') && !isWx">
        <div class="cartpart-checkbox">
          <input type="checkbox" v-model="alipayradio" name="cartpart-group" @change="changeChecked('alipay')">
          <div class="checkbox-box">
            <span class="checkbox-true" v-if="alipayradio"><i class="iconfont icon-dui"></i></span>
            <span class="checkbox-false" v-else></span>
          </div>
        </div>
        <img src="../../../static/img/icon_alipay.png" alt="">
        <span>支付宝</span>
      </li>
      <li v-if="showPay(start, 'wxpay')">
        <div class="cartpart-checkbox">
          <input type="checkbox" v-model="wxradio" name="cartpart-group" @change="changeChecked('wxpay')">
          <div class="checkbox-box">
            <span class="checkbox-true" v-if="wxradio"><i class="iconfont icon-dui"></i></span>
            <span class="checkbox-false" v-else></span>
          </div>
        </div>
        <img src="../../../static/img/icon_wxpay.png" alt="">
        <span>微信</span>
      </li>
    </ul>
    <div id="alipay" v-show="alipayshow"></div>
    <div class="pay-btn-box">
      <button v-if="payType == 'order' && current !== '白条' && current !== '支付宝'" class="pay-other" @click="submitOther()">找人代付</button>
      <button class="pay-btn" @click="submit()">
        {{current}}支付 ￥{{money | Price}}
      </button>
    </div>
    <div class="qr-box" v-if="QR.isShow">
      <div class="qr-bg"></div>
      <div class="qr-content" v-if="QR.isShow">
        <i class="iconfont icon-close qr-close" @click="hideQR"></i>
        <p class="qr-p">使用<span>{{current}}</span>扫码付款</p>
        <img class="qr-img" :src="QR.url">
      </div>
    </div>
  </div>
</template>

<script lang='ts'>
import { Component, Vue, Watch, Prop } from 'vue-property-decorator'
import QRCode from 'qrcode'

interface Window {
  WeixinJSBridge?: any
}

declare var window: Window

@Component
export default class Pay extends Vue {
  @Prop()
  height!: number

  alipayshow: boolean = false
  isWx: boolean = false
  whitestripesradio: boolean = false
  alipayradio: boolean = false
  wxradio: boolean = false
  current: string = ''
  remaininglimit: number = 0
  money: number = 0
  start: Array<any> = []
  orderid: string = ''
  payType: string = ''
  QR = {
    isShow: false,
    url: ''
  }


  created () {
    // 监控微信
    if (this.isWeiXin()) {
      this.isWx = true
    } else {
      this.isWx = false
    }
    this.payType = JSON.parse(sessionStorage.getItem('payType') || '')
    // 加载用户信息
    let that = this
    this.$store.commit('CHANGE_LINEAR', true)
    Vue.prototype.Axios.post('/index.php/Home/CommentPer/PersonalCom')
      .then((res: any) => {
        that.$store.commit('CHANGE_LINEAR', false)
        if (res.data.code === 1) {
          that.$store.commit('UPDATEUSERMESSGAES', res.data.data)
        }
      })
  }

  mounted () {
    document.getElementById('alipay')!.innerHTML = ''
    if (this.$route.params.data !== undefined) {
      let payMsg: any = {}
      payMsg.state = true
      payMsg.data = this.$route.params
      sessionStorage.setItem('payMsg', JSON.stringify(payMsg))
    } else {
      if (!sessionStorage.getItem('payMsg')) {
        this.$store.commit('OPEN_ALERT', {'val': '请返回重新操作！', wait: 1000})
        return false
      }
      let data = JSON.parse(sessionStorage.getItem('payMsg') || '""')
      if (data.state) {
        this.money = data.data.data.money
        this.remaininglimit = data.data.data.remaininglimit
        this.start = data.data.data.start
        this.orderid = data.data.data.order_id
        // 更新数据状态
        let payMsg: any = {}
        payMsg.state = false
        payMsg.data = data.data
        sessionStorage.setItem('payMsg', JSON.stringify(payMsg))
      } else {
        this.$store.commit('OPEN_ALERT', {'val': '请勿重新提交，返回重新操作！', wait: 1000})
      }
    }
  }

  get whitestripesshow () {
    if (Number(this.money) > Number(this.remaininglimit)) {
      return false
    } else {
      return true
    }
  }

  /**
   * @description 勾选支付方式
   * @param { string } val 支付
   * @returns void
   */
  changeChecked (val: string) {
    switch (val) {
      case 'whitestripes':
        this.whitestripesradio = true
        this.alipayradio = false
        this.wxradio = false
        this.current = '白条'
        break
      case 'alipay':
        this.whitestripesradio = false
        this.alipayradio = true
        this.wxradio = false
        this.current = '支付宝'
        break
      case 'wxpay':
        this.whitestripesradio = false
        this.alipayradio = false
        this.wxradio = true
        this.current = '微信'
        break
    }
  }

  /**
   * @description 查询该支付方式是否存在于页面中
   * @param { array } data 支持的支付方式
   * @param { string } val 检测的支付方式
   * @returns { boolean } 是否支持
   */
  showPay (data: Array<any>, val: string) {
    if (data.indexOf(val + '') >= 0) {
      return true
    } else {
      return false
    }
  }

  /**
   * @description 支付宝支付
   * @param void
   * @returns void
   */
  submitAlipay () {
    let that = this
    this.$store.commit('CHANGE_LINEAR', true)
    Vue.prototype.Axios.post('/index.php/Home/Submitpay/Apipay', {
      paytype: JSON.parse(sessionStorage.getItem('payType') || '""'),
      order_id: that.orderid
    })
      .then((res: any) => {
        that.$store.commit('CHANGE_LINEAR', false)
        if (!res.data.code) {
          this.alipayshow = true
          document.getElementById('alipay')!.innerHTML = res.data;
          (document as any).forms['alipaysubmit'].submit()
        } else {
          that.$store.commit('OPEN_ALERT', {'val': '支付失败，请返回重新操作!', wait: 1000})
        }
      })
  }

  /**
   * @description 微信支付开始
   * @param void
   * @returns void
   */
  submitWX () {
    // 判断浏览器发起支付
    if (this.isWx) {
      // 微信浏览器支付
      this.getWxPay()
    } else {
      // H5支付
      this.getH5Pay()
    }
  }

  /**
   * @description 微信H5支付
   * @param void
   * @returns void
   */
  getH5Pay () {
    let that = this
    this.$store.commit('CHANGE_LINEAR', true)
    Vue.prototype.Axios.post('/index.php/Home/Payment/PaywxHfive', {
      paytype: JSON.parse(sessionStorage.getItem('payType') || '""'),
      order_id: that.orderid
    })
      .then(function (res: any) {
        that.$store.commit('CHANGE_LINEAR', false)
        if (res.data.code === 1) {
          location.href = res.data.data
        } else {
          that.$store.commit('OPEN_ALERT', {'val': '支付失败，请返回重新操作!', wait: 1000})
        }
      })
  }

  /**
   * @description 是否为微信浏览器
   * @param void
   * @returns void
   */
  isWeiXin () {
    let ua = navigator.userAgent.toLowerCase()
    if (ua.match(/MicroMessenger/i)) {
      if (ua.match(/MicroMessenger/i)![0] === 'micromessenger') {
        return true
      } else {
        return false
      }
    } else {
      return false
    }
  }

  /**
   * @description 获取微信公众号支付的数据
   * @param void
   * @returns void
   */
  getWxPay () {
    let that = this
    this.$store.commit('CHANGE_LINEAR', true)
    Vue.prototype.Axios.post('/index.php/Home/Submitpay/submitPaymentwx', {
      paytype: JSON.parse(sessionStorage.getItem('payType') || '""'),
      order_id: that.orderid
    })
      .then(function (res: any) {
        that.$store.commit('CHANGE_LINEAR', false)
        if (res.data.code === 1) {
          if (typeof window.WeixinJSBridge === 'undefined') {
            if (document.addEventListener) {
              document.addEventListener('WeixinJSBridgeReady', that.onBridgeReady(res.data.data), false)
            } else if ((document as any).attachEvent) {
              (document as any).attachEvent('WeixinJSBridgeReady', that.onBridgeReady(res.data.data));
              (document as any).attachEvent('onWeixinJSBridgeReady', that.onBridgeReady(res.data.data))
            }
          } else {
            that.onBridgeReady(res.data.data)
          }
        } else {
          that.$store.commit('OPEN_ALERT', {'val': res.data.message, wait: 1000})
        }
      })
  }

  /**
   * @description 发起微信公众号支付请求
   * @param { any } data 支付数据
   * @returns void
   */
  onBridgeReady (data: any): any {
    let obj = JSON.parse(data)
    let that = this
    window.WeixinJSBridge.invoke(
      'getBrandWCPayRequest', {
        'appId': obj.appId,     // 公众号名称，由商户传入
        'timeStamp': obj.timeStamp,         // 时间戳，自1970年以来的秒数
        'nonceStr': obj.nonceStr, // 随机串
        'package': obj.package,     // 订单详情扩展字符串
        'signType': 'MD5',         // 微信签名方式
        'paySign': obj.paySign // 微信签名
      },
      function (res: any) {
        // 使用以上方式判断前端返回,微信团队郑重提示：res.err_msg将在用户支付成功后返回    ok，但并不保证它绝对可靠
        if (res.err_msg === 'get_brand_wcpay_request:ok') {
          that.$store.commit('OPEN_ALERT', {'val': '支付成功，请稍等!', wait: 1000})
          setTimeout(function () {
            that.$router.push({
              name: 'order'
            })
          }, 1000)
        } else {
          that.$store.commit('OPEN_ALERT', {'val': '支付失败，请返回重新操作', wait: 1000})
        }
      }
    )
  }

  /**
   * @description 白条支付
   * @param void
   * @returns void
   */
  whitestripes () {
    let that = this
    this.$store.commit('CHANGE_LINEAR', true)
    Vue.prototype.Axios.post('/index.php/Home/White/Whitepayment', {
      paytype: JSON.parse(sessionStorage.getItem('payType') || '""'),
      order_id: that.orderid
    })
      .then((res: any) => {
        that.$store.commit('CHANGE_LINEAR', false)
        if (res.data.code === 1) {
          that.$store.commit('OPEN_ALERT', {'val': '白条支付成功！', wait: 1000})
          setTimeout(function () {
            that.$router.push({
              name: 'center'
            })
          }, 0)
        } else {
          that.$store.commit('OPEN_ALERT', {'val': '支付失败，' + res.data.message, wait: 1000})
        }
      })
  }

  /**
   * @description 点击支付按钮
   * @param void
   * @returns void
   */
  submit () {
    if (!this.money || !this.remaininglimit) {
      this.$store.commit('OPEN_ALERT', {'val': '支付金额为空！返回重新操作！', wait: 1000})
      return false
    }
    if (!this.current) {
      this.$store.commit('OPEN_ALERT', {'val': '请选择支付方式！', wait: 1000})
      return false
    }
    switch (this.current) {
      case '白条':
        this.whitestripes()
        break
      case '支付宝':
        this.submitAlipay()
        break
      case '微信':
        this.submitWX()
        break
      default:
        break
    }
  }

  /**
   * @description 找人代付， 不可白条
   * @param void
   * @returns void
   */
  submitOther () {
    if (!this.money || !this.remaininglimit) {
      this.$store.commit('OPEN_ALERT', {'val': '支付金额为空！返回重新操作！', wait: 1000})
      return false
    }
    if (!this.current) {
      this.$store.commit('OPEN_ALERT', {'val': '请选择支付方式！', wait: 1000})
      return false
    }
    if (this.current === '白条') {
      this.$store.commit('OPEN_ALERT', {'val': '找人代付不可使用白条支付', wait: 1000})
      return false
    }
    switch (this.current) {
      case '支付宝':
        this.submitAlipayQR()
        break
      case '微信':
        this.submitWXQR()
        break
      default:
        break
    }
  }
  /**
   * @description 支付宝二维码支付
   */
  submitAlipayQR () {
    let that = this
    this.$store.commit('CHANGE_LINEAR', true)
    Vue.prototype.Axios.post('/index.php/Home/AliQrPay/AliQrcodePay', {
      paytype: JSON.parse(sessionStorage.getItem('payType') || '""'),
      order_id: that.orderid
    })
      .then(function (res: any) {
        that.$store.commit('CHANGE_LINEAR', false)
        if (res.data.code === 1) {
          QRCode.toDataURL(res.data.data)
            .then((url: any) => {
              that.QR.url = url
            })
            .catch((err: any) => {
              console.error(err)
            })
          that.showQR()
        } else {
          that.$store.commit('OPEN_ALERT', {'val': '支付宝二维码支付发起失败，请稍后再试', wait: 1000})
        }
      })
  }
  /**
   * @description 微信二维码支付
   */
  submitWXQR () {
    let that = this
    this.$store.commit('CHANGE_LINEAR', true)
    Vue.prototype.Axios.post('/index.php/Home/WeixQrPay/WeixinQrcodePay', {
      paytype: JSON.parse(sessionStorage.getItem('payType') || '""'),
      order_id: that.orderid
    })
      .then(function (res: any) {
        that.$store.commit('CHANGE_LINEAR', false)
        if (res.data.code === 1) {
          QRCode.toDataURL(res.data.data)
            .then((url: any) => {
              that.QR.url = url
            })
            .catch((err: any) => {
              console.error(err)
            })
          that.showQR()
        } else {
          that.$store.commit('OPEN_ALERT', {'val': '微信二维码支付发起失败，请稍后再试', wait: 1000})
        }
      })
  }
  /**
   * 弹出二维码展示框
   */
  showQR () {
    this.QR.isShow = true
    this.getOrderStatues()
  }
  /**
   * 关闭二维码展示框
   */
  hideQR () {
    this.QR.isShow = false
    this.QR.url = ''
  }
  /**
   * 轮询订单支付状态
   */
  getOrderStatues () {
    let that = this
    let getStatues = setInterval (function () {
      Vue.prototype.Axios.post('/index.php/Home/WeixQrPay/verifyPayStatus', {
        order_id: that.orderid
      })
        .then((res: any) => {
          if (res.data.code === 1) {
            that.$store.commit('OPEN_ALERT', {'val': '支付成功', wait: 1000})
            that.hideQR()
            clearInterval(getStatues)
            that.$router.push({
              name: 'order'
            })
          }
        })
    }, 2000)
  }
}

</script>

<style scoped lang="less">
  .pay{
    background: #f4f4f4;
    > p{
      background: #fff;
      padding: 1.4rem 1rem;
      color: #d84f46;
      font-size: 1.25rem;
    }
    > h2{
      padding: 1.4rem 1rem 0.8rem;
    }
    .pay-type {
      background: #fff;
      > li{
        display: flex;
        margin-left: 1rem;
        padding: 1.2rem 0;
        padding-right: 1rem;
        border-bottom: 1px solid #f4f4f4;
        .cartpart-checkbox{
          position: relative;
          margin-right: 1rem;
          input{
            width: 14px;
            height: 14px;
            opacity: 0;
            position: absolute;
            z-index: 2;
            top: 3px; left: 0px;
          }
          .checkbox-box{
            position: relative;
            width: 14px;
            line-height: 14px;
            text-align: center;
            height: 14px;
            left: 0px; top: 3px;
            z-index: 1;
            span{
              width: 100%;
              height: 100%;
              display: block;
              border-radius: 100%;
            }
            span.checkbox-false{
              border: 1px solid #b7b7b7;
              box-sizing: content-box
            }
            span.checkbox-true{
              background-color: #348ac7;
              border: 1px solid #348ac7;
              box-sizing: content-box;
              .iconfont{
                color: #fff;
                font-size: 10px;
              }
            }
            span.checkbox-no{
              background-color: #f1f1f1;
              border: 1px solid #f1f1f1;
              box-sizing: content-box
            }
            span.checkbox-true-on{
              background-color: #fff;
              border: 1px solid #ccc;
              box-sizing: content-box;
              .iconfont{
                color: #ccc;
                font-size: 10px;
              }
            }
          }
          .checkbox-box::before{
            margin-top: 100%
          }
        }
        > img{
          width: 2rem;
          height: 2rem;
          margin-right: 1rem;
        }
        > span{
          font-size: 1.2rem;
          line-height: 2rem;
        }
        > i{
          line-height: 2rem;
          margin-left: auto;
          color: #d0d0d0
        }
      }
    }
    .pay-btn-box {
      position: fixed;
      display: flex;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 56px;
      line-height: 56px;
      font-size: 1.5rem;
      .pay-btn{
        flex: 64;
        background: #2580c1;
        color: #fff;
        border: 0px;
      }
      .pay-other {
        flex: 36;
        background: #424242;
        color: #fff;
        border: 0px;
      }
    }
  }
  .qr-box{
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    z-index: 1;
    .qr-bg{
      background: #000;
      position: fixed;
      opacity: 0.6;
      width: 100%;
      height: 100%;
      z-index: 1;
    }
    .qr-content{
      width: 90%;
      position: fixed;
      z-index: 2;
      top: 0; left: 0;
      margin-top: 10%;
      margin-left: 5%;
      background: #fff;
      border-radius: 4px;
      box-shadow: 0px 0px 10px #666;
      display: flex;
      flex-direction: column;
      .qr-close{
        margin: 10px;
      }
      .qr-p{
        text-align: center;
        font-size: 17px;
        span {
          color: #2580c1;
          margin: 0 4px;
        }
      }
      .qr-img{
        width: 70%;
        display: block;
        margin: 10px auto 30px;
      }
    }
  }
</style>
