<template>
  <div class="assemblydiagram" id="assemblydiagram" :style="{height: this.height - 56 + 'px'}">
    <div class="assemblydiagram-mess-box" id="msg-box">
      <div class="assemblydiagram-bg"></div>
      <div class="assemblydiagram-mess">
        <img :src="carmsg.caricon" class="assemblydiagram-icon" alt="">
        <p class="assemblydiagram-carname">{{carmsg.carname}}</p>
        <p class="assemblydiagram-subhead">{{carmsg.carmodules}}</p>
        <p class="assemblydiagram-group">{{carmsg.cargroup}}</p>
      </div>
    </div>
    <ul class="assembly-list">
      <li v-for="item in assemblylist" :key="item.id">
        <div class="assembly-box" @click="sumbit(item.url, item.id)" :data-id="item.id">
          <div class="assembly-icon"></div>
          <div class="img-box" v-if="item.url && item.url !== 'http://43.242.84.6/Public/'"><img :src="item.url" :alt="item.title"></div>
          <p>{{item.notes}}</p>
        </div>
      </li>
    </ul>
  </div>
</template>

<script lang='ts'>
import { Component, Vue, Prop } from 'vue-property-decorator'

@Component
export default class Assemblydiagram extends Vue {
  @Prop()
  height!: number

  carmsg: any = {
    caricon: '',
    carname: '',
    carmodules: '',
    cargroup: ''
  }
  assemblylist: any = null

  created () {
    this.carmsg.caricon = JSON.parse(sessionStorage.getItem('logoMsg') || '""')
    this.carmsg.carname = JSON.parse(sessionStorage.getItem('carmodelsMsg') || '""')
    this.carmsg.carmodules = JSON.parse(sessionStorage.getItem('accessoriesgroupMsg') || '""')
    if (this.$route.params.Data !== undefined) {
      sessionStorage.setItem('assemblydiagramMsg', JSON.stringify(this.$route.params.Msg))
      sessionStorage.setItem('assemblydiagramData', JSON.stringify(this.$route.params.Data))
      this.carmsg.cargroup = this.$route.params.Msg
      this.assemblylist = this.$route.params.Data
      if (this.assemblylist.length === 1) {
        this.sumbit(this.assemblylist[0].url, this.assemblylist[0].id)
      }
    } else {
      this.carmsg.cargroup = JSON.parse(sessionStorage.getItem('assemblydiagramMsg') || '""')
      this.assemblylist = JSON.parse(sessionStorage.getItem('assemblydiagramData') || '""')
    }
  }
  mounted () {
    // 控制滚动条至列表顶部
    let msgBoxHeight = document.getElementById('msg-box')!.clientHeight
    document.getElementById('assemblydiagram')!.scrollTop = msgBoxHeight
  }

  sumbit (imgUrl: string, id: number) {
    let that = this
    this.$store.commit('CHANGE_LINEAR', true)
    Vue.prototype.Axios.post('/index.php/home/Api/getParts', {
      key: id
    })
    .then(function (res: any) {
      that.$store.commit('CHANGE_LINEAR', false)
      if (res.data.code === 1) {
        that.$router.push({
          name: 'partsList',
          params: {
            Msg: imgUrl !== 'http://43.242.84.6/Public/' ? imgUrl : '',
            Data: res.data.data
          }
        })
      } else if (res.data.code === 17) {
        that.$router.push('/login')
      } else if (res.data.code === 23) {
        that.$store.commit('OPEN_ALERT', {'val': '芸豆数量不足', wait: 1000})
      }
    })
  }
}
</script>

<style scoped lang="less">
  .assemblydiagram{
    overflow-y: auto;
    background: #fafafa;
    .assemblydiagram-mess-box{
      background: #fff;
      position: relative;
      z-index: 2;
      box-shadow: 0px 10px 10px #ededed;
      .assemblydiagram-bg{
        height: 6rem;
        background: url("../../../static/img/bg_top.jpg") no-repeat bottom center;
        background-size: cover;
        position: relative;
        z-index: 1;
      }
      .assemblydiagram-mess{
        position: relative;
        z-index: 2;
        padding-bottom: 2rem;
      }
      .assemblydiagram-icon{
        width: 5rem;
        height: 5rem;
        display: block;
        margin: 0 auto;
        padding: 0.7rem;
        background: #fff;
        border-radius: 100%;
        border: 1px solid #c8c8c8;
        margin-top: -2.5rem;
      }
      .assemblydiagram-carname{
        text-align: center;
        font-size: 1.5rem;
        line-height: 2.4rem;
        margin-top: 0.6rem;
        font-weight: 700
      }
      .assemblydiagram-subhead{
        font-size: 1.1rem;
        color: #999999;
        line-height: 1.6rem;
        margin-top: 0.6rem;
        text-align: center;
        padding: 0 1rem;
      }
      .assemblydiagram-group{
        font-size: 1.1rem;
        color: #999999;
        margin-top: 0.1rem;
        line-height: 1.6rem;
        text-align: center;
      }
    }
    .assembly-list{
      position: relative;
      z-index: 1;
      background: #fafafa;
      padding: 0.25rem 0;
      li{
        margin: 1rem;
        background: #fff;
        p{
          margin-top: 0.4rem;
          color: #2f2f32;
          font-size: 1.3rem;
          line-height: 1.8rem;
          font-weight: 500;
          text-align: center
        }
        .assembly-box{
          position: relative;
          border:1px solid #eeeeee;
          border-radius: 3px;
          padding: 1rem 0;
        }
        .img-box{
          width:100%;
          img{
            width: 100%;
          }
        }
        .assembly-icon{
          content: ' ';
          background: #e3eff7;
          width: 3rem;
          height: 3rem;
          position: absolute;
          top: 50%; right: 1rem;
          margin-top: -1.5rem;
          border-radius: 50%;
        }
        .assembly-icon::before{
          position: absolute;
          right: 1.5rem;
          top: 1.5rem;
          display: block;
          width: 10px;
          height: 10px;
          margin-top: -5px;
          margin-right: -3px;
          content: '';
          clear: both;
          border-right: 2px solid #348ac7;
          border-bottom: 2px solid #348ac7;
          ransform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
          -moz-transform: rotate(-45deg);
          -webkit-transform: rotate(-45deg);
          -o-transform: rotate(-45deg);
        }
      }
    }
  }
</style>
