<template>
  <div class="carfilter" id="carfilter" :style="{height: this.height - 56 + 'px'}">
    <div class="carfilter-option" id="carfilter-option" :style="{height: this.height - 56 - 61 + 'px'}">
      <!-- 品牌  -->
      <div class="carfilter-box">
        <div class="group-select">
          <span
            :class="{ 'hide' : controlBrand.title }"
            @click="showbrand()"
          >{{ controlBrand.title ? controlBrand.title : '品牌' }}</span>
          <i class="iconfont icon-arrLeft-fill"></i>
        </div>
        <ul class="group-list" v-show="controlBrand.show">
          <li v-for="(item,index) in brand" class="brand" :key="item.id">
            <span
              :class="{'blue':controlBrand.curNum === index}"
              @click="brandlevelone(index)"
            >{{item.capital}}</span>
            <ul v-show="controlBrand.curNum === index">
              <li
                @click="brandleveltwo(index, items.brand, items.is_new, items.logo)"
                :class="{'blue':controlBrand.brandNum === index}"
                v-for="(items,index) in item.list"
                :key="items.id"
                :data-dataType="items.is_new"
              >{{items.brand}}</li>
            </ul>
          </li>
        </ul>
      </div>
      <!-- 新数据 -->
      <div id="carfilter-down" v-if="dataType === 1">
        <!-- 车系-新 -->
        <div class="carfilter-box" v-if="newSeries.show">
          <div class="group-select">
            <span
              :class="{ 'hide' : newSeries.title }"
              @click="shownewseries()"
            >{{newSeries.title ? newSeries.title : '车系' | OmittedTwentyTwo | ToDate}}</span>
            <i class="iconfont icon-arrLeft-fill"></i>
          </div>
          <ul class="group-list" v-show="newSeries.listshow">
            <li v-for="(item, index) in newSeries.list" :key="item.id">
              <span
                :class="{'blue':newSeries.brandNum === index}"
                @click="handleseries(item.series, item.series_id, index)"
              >{{item.series}}</span></li>
          </ul>
        </div>
        <!-- 车系细分-新 -->
        <div class="carfilter-box" v-if="newchildSeries.show">
          <div class="group-select">
            <span
              :class="{ 'hide' : newchildSeries.title }"
              @click="shownewchildseries()"
            >{{newchildSeries.title ? newchildSeries.title : '车系细分' | OmittedTwentyTwo | ToDate }}</span>
            <i class="iconfont icon-arrLeft-fill"></i>
          </div>
          <ul class="group-list" v-show="newchildSeries.listshow">
            <li v-for="(item, index) in newchildSeries.list" :key="item.id" :data-id="item.id">
              <span
                :class="{'blue':newchildSeries.brandNum === index}"
                @click="handlechildseries(item.series_name, item.id, index)"
              >{{item.series_name | ToDate }}</span></li>
          </ul>
        </div>
        <!-- 车型-新 -->
        <div class="carfilter-box" v-if="newmodel.show">
          <div class="group-select">
            <span :class="{ 'hide' : newmodel.title }" @click="shownewmodel()">{{newmodel.title ? newmodel.title : '车型' | OmittedTwentyTwo | ToDate }}</span>
            <i class="iconfont icon-arrLeft-fill"></i>
          </div>
          <ul class="group-list" v-show="newmodel.listshow">
            <li v-for="(item, index) in newmodel.list" :key="item.id" :data-id="item.id">
              <span
                :class="{'blue':newmodel.brandNum === index}"
                @click="handlemodel(item.model_name, item.id, index)"
              >{{item.model_name}}</span></li>
          </ul>
        </div>
        <!-- 车身类型-新 -->
        <div class="carfilter-box" v-if="newmodelbody.show">
          <div class="group-select">
            <span :class="{ 'hide' : newmodelbody.title }" @click="shownewmodelbody()">{{newmodelbody.title ? newmodelbody.title : '车身类型' | OmittedTwentyTwo | ToDate }}</span>
            <i class="iconfont icon-arrLeft-fill"></i>
          </div>
          <ul class="group-list" v-show="newmodelbody.listshow">
            <li v-for="(item, index) in newmodelbody.list" :key="item.id" :data-id="item.id">
              <span
                :class="{'blue':newmodelbody.brandNum === index}"
                @click="handlemodelbody(item.model_body_name, item.id, index)"
              >{{item.model_body_name}}</span></li>
          </ul>
        </div>
        <!-- 变速箱-新 -->
        <div class="carfilter-box" v-if="newmodeltrans.show">
          <div class="group-select">
            <span :class="{ 'hide' : newmodeltrans.title }" @click="shownewmodeltrans()">{{newmodeltrans.title ? newmodeltrans.title : '变速箱' | OmittedTwentyTwo | ToDate }}</span>
            <i class="iconfont icon-arrLeft-fill"></i>
          </div>
          <ul class="group-list" v-show="newmodeltrans.listshow">
            <li v-for="(item, index) in newmodeltrans.list" :key="item.id" :data-id="item.id">
              <span
                :class="{'blue':newmodeltrans.brandNum === index}"
                @click="handlemodeltrans(item.model_trans_name, item.id, index)"
              >{{item.model_trans_name}}</span></li>
          </ul>
        </div>
        <!-- 适用地区-新 -->
        <div class="carfilter-box" v-if="newmodelregion.show">
          <div class="group-select">
            <span :class="{ 'hide' : newmodelregion.title }" @click="shownewmodelregion()">{{newmodelregion.title ? newmodelregion.title : '适用地区' | OmittedTwentyTwo | ToDate}}</span>
            <i class="iconfont icon-arrLeft-fill"></i>
          </div>
          <ul class="group-list" v-show="newmodelregion.listshow">
            <li v-for="(item, index) in newmodelregion.list" :key="item.id" :data-id="item.id">
              <span
                :class="{'blue':newmodelregion.brandNum === index}"
                @click="handlemodelregion(item.model_region_name, item.id, index)"
              >{{item.model_region_name}}</span></li>
          </ul>
        </div>
        <!-- 燃料类型-新 -->
        <div class="carfilter-box" v-if="newmodelfuelform.show">
          <div class="group-select">
            <span :class="{ 'hide' : newmodelfuelform.title }" @click="shownewmodelfuelform()">{{newmodelfuelform.title ? newmodelfuelform.title : '燃料类型' | OmittedTwentyTwo | ToDate}}</span>
            <i class="iconfont icon-arrLeft-fill"></i>
          </div>
          <ul class="group-list" v-show="newmodelfuelform.listshow">
            <li v-for="(item, index) in newmodelfuelform.list" :key="item.id" :data-id="item.id">
              <span
                :class="{'blue':newmodelfuelform.brandNum === index}"
                @click="handlemodelfuelform(item.model_fuelform_name, item.id, index)"
              >{{item.model_fuelform_name}}</span></li>
          </ul>
        </div>
        <!-- 车型详细-新 -->
        <div class="carfilter-box" v-if="newmodeldetail.show">
          <div class="group-select">
            <span :class="{ 'hide' : newmodeldetail.title }" @click="shownewmodeldetail()">{{newmodeldetail.title ? newmodeldetail.title : '车型详细' | OmittedTwentyTwo | ToDate}}</span>
            <i class="iconfont icon-arrLeft-fill"></i>
          </div>
          <ul class="group-list" v-show="newmodeldetail.listshow">
            <li v-for="(item, index) in newmodeldetail.list" :key="item.id" :data-id="item.id">
              <span
                :class="{'blue':newmodeldetail.brandNum === index}"
                @click="handlemodeldetail(item.full_name, item.id, index)"
              >{{item.full_name | ToDate }}</span></li>
          </ul>
        </div>
      </div>
      <!-- 旧数据 -->
      <div id="carfilter-down" v-else-if="dataType === 2">
        <!-- 车系-旧 -->
        <div class="carfilter-box" v-if="oldseries.show">
          <div class="group-select">
            <span :class="{ 'hide' : oldseries.title }" @click="showoldseries()">{{oldseries.title ? oldseries.title : '车系' | OmittedTwentyTwo | ToDate}}</span>
            <i class="iconfont icon-arrLeft-fill"></i>
          </div>
          <ul class="group-list" v-show="oldseries.listshow">
            <li v-for="(item, index) in oldseries.list" :key="item.id" :data-id="item.id">
              <span
                :class="{'blue':oldseries.brandNum === index}"
                @click="handleoldseries(item.series_name, item.id, index)"
              >{{item.series_name}}</span></li>
          </ul>
        </div>
        <!-- 年份/车款-旧 -->
        <div class="carfilter-box" v-if="oldgroup.show">
          <div class="group-select">
            <span :class="{ 'hide' : oldgroup.title }" @click="showoldgroup()">{{oldgroup.title ? oldgroup.title : '年份/车款' | OmittedTwentyTwo | ToDate }}</span>
            <i class="iconfont icon-arrLeft-fill"></i>
          </div>
          <ul class="group-list" v-show="oldgroup.listshow">
            <li v-for="(item, index) in oldgroup.list" :key="item.id" :data-id="item.id">
              <span
                :class="{'blue':oldgroup.brandNum === index}"
                @click="handleoldgroup(item.group_name, item.id, index)"
              >{{item.group_name}}</span></li>
          </ul>
        </div>
        <!-- 排量-旧 -->
        <div class="carfilter-box" v-if="oldengine.show">
          <div class="group-select">
            <span :class="{ 'hide' : oldengine.title }" @click="showoldengine()">{{oldengine.title ? oldengine.title : '排量' | OmittedTwentyTwo | ToDate }}</span>
            <i class="iconfont icon-arrLeft-fill"></i>
          </div>
          <ul class="group-list" v-show="oldengine.listshow">
            <li v-for="(item, index) in oldengine.list" :key="item.id" :data-id="item.id">
              <span
                :class="{'blue':oldengine.brandNum === index}"
                @click="handleoldengine(item.engine_name, item.id, index)"
              >{{item.engine_name}}</span></li>
          </ul>
        </div>
        <!-- 变速箱-旧 -->
        <div class="carfilter-box" v-if="oldgearbox.show">
          <div class="group-select">
            <span :class="{ 'hide' : oldgearbox.title }" @click="showoldgearbox()">{{oldgearbox.title ? oldgearbox.title : '变速箱' | OmittedTwentyTwo | ToDate }}</span>
            <i class="iconfont icon-arrLeft-fill"></i>
          </div>
          <ul class="group-list" v-show="oldgearbox.listshow">
            <li v-for="(item, index) in oldgearbox.list" :key="item.id" :data-id="item.id">
              <span
                :class="{'blue':oldgearbox.brandNum === index}"
                @click="handleoldgearbox(item.gearbox_name, item.id, index)"
              >{{item.gearbox_name}}</span></li>
          </ul>
        </div>
        <!-- 车型-旧 -->
        <div class="carfilter-box" v-if="oldmodel.show">
          <div class="group-select">
            <span :class="{ 'hide' : oldmodel.title }" @click="showoldmodel()">{{oldmodel.title ? oldmodel.title : '车型' | OmittedTwentyTwo | ToDate }}</span>
            <i class="iconfont icon-arrLeft-fill"></i>
          </div>
          <ul class="group-list" v-show="oldmodel.listshow">
            <li v-for="(item, index) in oldmodel.list" :key="item.id" :data-id="item.id">
              <span
                :class="{'blue':oldmodel.brandNum === index}"
                @click="handleoldmodel(item.series,item.veh_name,item.engine, item.gearbox, item.seat,item.id, index)"
              >{{item.series}} {{item.veh_name}} {{item.engine}} {{item.gearbox}} {{item.seat}} 座</span></li>
          </ul>
        </div>
        <!-- 车型配置-旧 -->
        <div class="carfilter-box" v-if="oldvehiclemodel.show">
          <div class="group-select">
            <span :class="{ 'hide' : oldvehiclemodel.title }" @click="showoldvehiclemodel()">{{oldvehiclemodel.title ? oldvehiclemodel.title : '车型配置' | OmittedTwentyTwo | ToDate }}</span>
            <i class="iconfont icon-arrLeft-fill"></i>
          </div>
          <ul class="group-list" v-show="oldvehiclemodel.listshow">
            <li v-for="(item, index) in oldvehiclemodel.list" :key="item.id" :data-id="item.id">
              <span
                :class="{'blue':oldvehiclemodel.brandNum === index}"
                @click="handleoldvehiclemodel(item.vehicle_code, item.id, index)"
              >{{item.vehicle_code}}</span></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="carfilter-btn-box">
      <button @click="submit()" :class="{ 'blue' : btndataType }" :disabled="!btndataType">确定</button>
    </div>
  </div>
</template>

<script lang='ts'>
import { Component, Vue, Prop } from 'vue-property-decorator'

@Component
export default class Carfilter extends Vue {
  @Prop()
  height!: number

  dataType: number = 0
  btndataType: boolean = false
  curid: string = ''
  curserid: string = ''
  curmodel: string = ''
  curyear: string = ''
  controlBrand: any = {     // 品牌
    title: null,      // 标题
    show: true,       // 子集列表显示状态
    curNum: -1,       // 字母排序选中状态
    brandNum: -1      // 品牌选中状态
  }
  brand: string = ''
  newSeries: any = {        // 车系-新
    show: false,      // 整体显示状态
    title: null,      // 标题
    listshow: true,   // 子集列表显示状态
    list: null,       // 子集列表数据
    brandNum: -1      // 选中状态
  }
  newchildSeries: any = {   // 车系细分-新
    show: false,
    title: null,
    listshow: true,
    list: null,
    brandNum: -1
  }
  newmodel: any = {         // 车型-新
    show: false,
    title: null,
    listshow: true,
    list: null,
    brandNum: -1
  }
  newmodelbody: any = {     // 车身类型-新
    show: false,
    title: null,
    listshow: true,
    list: null,
    brandNum: -1
  }
  newmodeltrans: any = {    // 变速箱-新
    show: false,
    title: null,
    listshow: true,
    list: null,
    brandNum: -1
  }
  newmodelregion: any = {    // 适用地区-新
    show: false,
    title: null,
    listshow: true,
    list: null,
    brandNum: -1
  }
  newmodelfuelform: any = {  // 燃料类型-新
    show: false,
    title: null,
    listshow: true,
    list: null,
    brandNum: -1
  }
  newmodeldetail: any = {    // 车型详细-新
    show: false,
    title: null,
    listshow: true,
    list: null,
    brandNum: -1
  }
  oldseries: any = {         // 车系-旧
    show: false,
    title: null,
    listshow: true,
    list: null,
    brandNum: -1
  }
  oldgroup: any = {          // 年份/车款-旧
    show: false,
    title: null,
    listshow: true,
    list: null,
    brandNum: -1
  }
  oldengine: any = {          // 排量-旧
    show: false,
    title: null,
    listshow: true,
    list: null,
    brandNum: -1
  }
  oldgearbox: any = {         // 变速箱-旧
    show: false,
    title: null,
    listshow: true,
    list: null,
    brandNum: -1
  }
  oldmodel: any = {           // 车型- 旧
    show: false,
    title: null,
    listshow: true,
    list: null,
    brandNum: -1
  }
  oldvehiclemodel: any = {    // 车型配置
    show: false,
    title: null,
    listshow: true,
    list: null,
    brandNum: -1
  }

  created () {
    // 请求品牌数据
    let that = this
    Vue.prototype.Axios.post('/index.php/home/Api/getBrands')
    .then(function (res: any) {
      if (res.data.code === 1) {
        that.brand = res.data.data
      } else if (res.data.code === 17) {
        that.$router.push('/login')
      }
    })
  }

  // 点选后跳转到页面最下方
  scrollButtom () {
    setTimeout(function () {
      document.getElementById('carfilter-option')!.scrollTop = 1000
    }, 0)
  }
  // 恢复默认数据
  changedef (...args: any[]) {
    for (let el of args) {
      el.show = false
      el.title = null
      el.listshow = true
      el.list = null
      el.brandNum = -1
    }
  }
  // 品牌点击-回退
  showbrand () {
    this.btndataType = false
    this.controlBrand.show = true
    this.changedef(this.newSeries, this.newchildSeries, this.newmodel, this.newmodelbody, this.newmodeltrans, this.newmodelregion, this.newmodelfuelform, this.newmodeldetail)
    this.changedef(this.oldseries, this.oldgroup, this.oldengine, this.oldgearbox, this.oldmodel, this.oldvehiclemodel)
  }
  // 点击品牌
  brandleveltwo (val: string, name: string, dataType: number, logo: string) {
    let that = this
    let logoUrl = 'https://api.autocloudpro.com/Public/car_logo_images/' + logo
    this.dataType = dataType
    this.controlBrand.brandNum = val
    this.controlBrand.title = name
    this.controlBrand.show = false
    sessionStorage.setItem('dataType', JSON.stringify(dataType))
    sessionStorage.setItem('logoMsg', JSON.stringify(logoUrl))
    sessionStorage.setItem('carmodelsMsg', JSON.stringify(name))
    if (dataType === 1) {
      this.$store.commit('CHANGE_LINEAR', true)
      Vue.prototype.Axios.post('/index.php/home/Api/getSeries', {
        key: name
      })
      .then(function (res: any) {
        that.$store.commit('CHANGE_LINEAR', false)
        if (res.data.code === 1) {
          that.newSeries.show = true
          that.newSeries.list = res.data.data
          if (that.newSeries.list.length === 1) {
            // 自动点击车系-new
            that.handleseries(that.newSeries.list[0].series, that.newSeries.list[0].series_id, 0)
          }
        } else if (res.data.code === 17) {
          that.$router.push('/login')
        } else if (res.data.code === 23) {
          that.$store.commit('OPEN_ALERT', {'val': '芸豆数量不足', 'wait': 1000})
        }
      })
    } else if (dataType === 2) {
      this.$store.commit('CHANGE_LINEAR', true)
      Vue.prototype.Axios.post('/index.php/home/Api/getSeriesOld', {
        key: name
      })
      .then(function (res: any) {
        that.$store.commit('CHANGE_LINEAR', false)
        if (res.data.code === 1) {
          if (res.data.data.length === 0) {
            that.$store.commit('OPEN_ALERT', {'val': '暂无数据', 'wait': 1000})
            return false
          }
          that.oldseries.show = true
          that.oldseries.list = res.data.data
          if (that.oldseries.list.length === 1) {
            // 自动点击车系-old
            that.handleoldseries(that.oldseries.list[0].series_name, that.oldseries.list[0].id, 0)
          }
        } else if (res.data.code === 17) {
          that.$router.push('/login')
        } else if (res.data.code === 23) {
          that.$store.commit('OPEN_ALERT', {'val': '芸豆数量不足', 'wait': 1000})
        }
      })
    }
  }
  //
  // 新数据-----回退方法
  //
  // 车系-新
  shownewseries () {
    this.btndataType = false
    this.newSeries.show = true
    this.newSeries.listshow = true
    this.changedef(this.newchildSeries, this.newmodel, this.newmodelbody, this.newmodeltrans, this.newmodelregion, this.newmodelfuelform, this.newmodeldetail)
  }
  // 车系细分-新
  shownewchildseries () {
    this.btndataType = false
    this.newchildSeries.show = true
    this.newchildSeries.listshow = true
    this.changedef(this.newmodel, this.newmodelbody, this.newmodeltrans, this.newmodelregion, this.newmodelfuelform, this.newmodeldetail)
  }
  // 车型-新
  shownewmodel () {
    this.btndataType = false
    this.newmodel.show = true
    this.newmodel.listshow = true
    this.changedef(this.newmodelbody, this.newmodeltrans, this.newmodelregion, this.newmodelfuelform, this.newmodeldetail)
  }
  // 车身类型-新
  shownewmodelbody () {
    this.btndataType = false
    this.newmodelbody.show = true
    this.newmodelbody.listshow = true
    this.changedef(this.newmodeltrans, this.newmodelregion, this.newmodelfuelform, this.newmodeldetail)
  }
  // 变速箱-新
  shownewmodeltrans () {
    this.btndataType = false
    this.newmodeltrans.show = true
    this.newmodeltrans.listshow = true
    this.changedef(this.newmodelregion, this.newmodelfuelform, this.newmodeldetail)
  }
  // 适用地区-新
  shownewmodelregion () {
    this.btndataType = false
    this.newmodelregion.show = true
    this.newmodelregion.listshow = true
    this.changedef(this.newmodelfuelform, this.newmodeldetail)
  }
  // 燃料类型-新
  shownewmodelfuelform () {
    this.btndataType = false
    this.newmodelfuelform.show = true
    this.newmodelfuelform.listshow = true
    this.changedef(this.newmodeldetail)
  }
  // 车型详细-新
  shownewmodeldetail () {
    this.btndataType = false
    this.newmodeldetail.show = true
    this.newmodeldetail.listshow = true
  }
  //
  // 旧数据-----回退方法
  //
  // 车系-旧
  showoldseries () {
    this.btndataType = false
    this.oldseries.show = true
    this.oldseries.listshow = true
    this.changedef(this.oldgroup, this.oldengine, this.oldgearbox, this.oldmodel, this.oldvehiclemodel)
  }
  // 年份/车款-旧
  showoldgroup () {
    this.btndataType = false
    this.oldgroup.show = true
    this.oldgroup.listshow = true
    this.changedef(this.oldengine, this.oldgearbox, this.oldmodel, this.oldvehiclemodel)
  }
  // 排量-旧
  showoldengine () {
    this.btndataType = false
    this.oldengine.show = true
    this.oldengine.listshow = true
    this.changedef(this.oldgearbox, this.oldmodel, this.oldvehiclemodel)
  }
  // 变速箱-旧
  showoldgearbox () {
    this.btndataType = false
    this.oldgearbox.show = true
    this.oldgearbox.listshow = true
    this.changedef(this.oldmodel, this.oldvehiclemodel)
  }
  // 车型-旧
  showoldmodel () {
    this.btndataType = false
    this.oldmodel.show = true
    this.oldmodel.listshow = true
    this.changedef(this.oldvehiclemodel)
  }
  // 车型配置-旧
  showoldvehiclemodel () {
    this.btndataType = false
    this.oldvehiclemodel.show = true
    this.oldvehiclemodel.listshow = true
  }
  //
  // 品牌点选
  brandlevelone (val: string) {
    this.controlBrand.curNum = val
    this.controlBrand.brandNum = -1
  }
  //
  // 新数据---点选方法
  //
  // 车系-新
  handleseries (val: string, id: string, index: number) {
    let that = this
    this.newSeries.brandNum = index
    this.newSeries.title = val
    this.newSeries.listshow = false
    this.curserid = id
    this.$store.commit('CHANGE_LINEAR', true)
    Vue.prototype.Axios.post('/index.php/home/Api/getChildSeries', {
      brand: that.controlBrand.title,
      series: val
    })
    .then(function (res: any) {
      that.$store.commit('CHANGE_LINEAR', false)
      if (res.data.code === 1) {
        that.newchildSeries.show = true
        that.newchildSeries.list = res.data.data
        if (that.newchildSeries.list.length === 1) {
          // 点击车系细分
          that.handlechildseries(that.newchildSeries.list[0].series_name, that.newchildSeries.list[0].id, 0)
        }
        that.scrollButtom()
      } else if (res.data.code === 17) {
        that.$router.push('/login')
      } else if (res.data.code === 23) {
        that.$store.commit('OPEN_ALERT', {'val': '芸豆数量不足', 'wait': 1000})
      }
    })
  }
  // 车系细分-新
  handlechildseries (val: string, id: string, index: number) {
    let that = this
    this.newchildSeries.brandNum = index
    this.newchildSeries.title = val
    this.newchildSeries.listshow = false
    this.$store.commit('CHANGE_LINEAR', true)
    Vue.prototype.Axios.post('/index.php/home/Api/getModel', {
      key: id
    })
    .then(function (res: any) {
      that.$store.commit('CHANGE_LINEAR', false)
      if (res.data.code === 1) {
        that.newmodel.show = true
        that.newmodel.list = res.data.data
        if (that.newmodel.list.length === 1) {
          // 点击车型
          that.handlemodel(that.newmodel.list[0].model_name, that.newmodel.list[0].id, 0)
        }
        that.scrollButtom()
      } else if (res.data.code === 17) {
        that.$router.push('/login')
      } else if (res.data.code === 23) {
        that.$store.commit('OPEN_ALERT', {'val': '芸豆数量不足', 'wait': 1000})
      }
    })
  }
  // 车型-新
  handlemodel (val: string, id: string, index: number) {
    let that = this
    this.newmodel.brandNum = index
    this.newmodel.title = val
    this.newmodel.listshow = false
    this.curmodel = val
    this.curyear = val.substring(0, 4)
    this.$store.commit('CHANGE_LINEAR', true)
    Vue.prototype.Axios.post('/index.php/home/Api/getModelBody', {
      key: id
    })
    .then(function (res: any) {
      that.$store.commit('CHANGE_LINEAR', false)
      if (res.data.code === 1) {
        that.newmodelbody.show = true
        that.newmodelbody.list = res.data.data
        if (that.newmodelbody.list.length === 1) {
          that.handlemodelbody(that.newmodelbody.list[0].model_body_name, that.newmodelbody.list[0].id, 0)
        }
        that.scrollButtom()
      } else if (res.data.code === 17) {
        that.$router.push('/login')
      } else if (res.data.code === 23) {
        that.$store.commit('OPEN_ALERT', {'val': '芸豆数量不足', 'wait': 1000})
      }
    })
  }
  // 车身类型-新
  handlemodelbody (val: string, id: string, index: number) {
    let that = this
    this.newmodelbody.brandNum = index
    this.newmodelbody.title = val
    this.newmodelbody.listshow = false
    this.$store.commit('CHANGE_LINEAR', true)
    Vue.prototype.Axios.post('/index.php/home/Api/getModelTrans', {
      key: id
    })
    .then(function (res: any) {
      that.$store.commit('CHANGE_LINEAR', false)
      if (res.data.code === 1) {
        that.newmodeltrans.show = true
        that.newmodeltrans.list = res.data.data
        if (that.newmodeltrans.list.length === 1) {
          that.handlemodeltrans(that.newmodeltrans.list[0].model_trans_name, that.newmodeltrans.list[0].id, 0)
        }
        that.scrollButtom()
      } else if (res.data.code === 17) {
        that.$router.push('/login')
      } else if (res.data.code === 23) {
        that.$store.commit('OPEN_ALERT', {'val': '芸豆数量不足', 'wait': 1000})
      }
    })
  }
  // 变速箱-新
  handlemodeltrans (val: string, id: string, index: number) {
    let that = this
    this.newmodeltrans.brandNum = index
    this.newmodeltrans.title = val
    this.newmodeltrans.listshow = false
    this.$store.commit('CHANGE_LINEAR', true)
    Vue.prototype.Axios.post('/index.php/home/Api/getModelRegion', {
      key: id
    })
    .then(function (res: any) {
      that.$store.commit('CHANGE_LINEAR', false)
      if (res.data.code === 1) {
        that.newmodelregion.show = true
        that.newmodelregion.list = res.data.data
        if (that.newmodelregion.list.length === 1) {
          that.handlemodelregion(that.newmodelregion.list[0].model_region_name, that.newmodelregion.list[0].id, 0)
        }
        that.scrollButtom()
      } else if (res.data.code === 17) {
        that.$router.push('/login')
      } else if (res.data.code === 23) {
        that.$store.commit('OPEN_ALERT', {'val': '芸豆数量不足', 'wait': 1000})
      }
    })
  }
  // 适用地区-新
  handlemodelregion (val: string, id: string, index: number) {
    let that = this
    this.newmodelregion.brandNum = index
    this.newmodelregion.title = val
    this.newmodelregion.listshow = false
    this.$store.commit('CHANGE_LINEAR', true)
    Vue.prototype.Axios.post('/index.php/home/Api/getModelFuelform', {
      key: id
    })
    .then(function (res: any) {
      that.$store.commit('CHANGE_LINEAR', false)
      if (res.data.code === 1) {
        that.newmodelfuelform.show = true
        that.newmodelfuelform.list = res.data.data
        if (that.newmodelfuelform.list.length === 1) {
          that.handlemodelfuelform(that.newmodelfuelform.list[0].model_fuelform_name, that.newmodelfuelform.list[0].id, 0)
        }
        that.scrollButtom()
      } else if (res.data.code === 17) {
        that.$router.push('/login')
      } else if (res.data.code === 23) {
        that.$store.commit('OPEN_ALERT', {'val': '芸豆数量不足', 'wait': 1000})
      }
    })
  }
  // 燃料类型-新
  handlemodelfuelform (val: string, id: string, index: number) {
    let that = this
    this.newmodelfuelform.brandNum = index
    this.newmodelfuelform.title = val
    this.newmodelfuelform.listshow = false
    this.$store.commit('CHANGE_LINEAR', true)
    Vue.prototype.Axios.post('/index.php/home/Api/getModelDetail', {
      key: id
    })
    .then(function (res: any) {
      that.$store.commit('CHANGE_LINEAR', false)
      if (res.data.code === 1) {
        that.newmodeldetail.show = true
        that.newmodeldetail.list = res.data.data
        if (that.newmodeldetail.list.length === 1) {
          that.handlemodeldetail(that.newmodeldetail.list[0].full_name, that.newmodeldetail.list[0].id, 0)
        }
        that.scrollButtom()
      } else if (res.data.code === 17) {
        that.$router.push('/login')
      } else if (res.data.code === 23) {
        that.$store.commit('OPEN_ALERT', {'val': '芸豆数量不足', 'wait': 1000})
      }
    })
  }
  // 车型详细-新
  handlemodeldetail (val: string, id: string, index: number) {
    this.scrollButtom()
    this.curid = id
    this.newmodeldetail.brandNum = index
    this.newmodeldetail.title = val
    this.newmodeldetail.listshow = false
    this.btndataType = true
    this.submit()
  }
  //
  // 旧数据---点选方法
  //
  // 车系-旧
  handleoldseries (val: string, id: string, index: number) {
    let that = this
    this.oldseries.brandNum = index
    this.oldseries.title = val
    this.oldseries.listshow = false
    this.curserid = id
    this.$store.commit('CHANGE_LINEAR', true)
    Vue.prototype.Axios.post('/index.php/home/Api/getGroupOld', {
      key: id
    })
    .then(function (res: any) {
      that.$store.commit('CHANGE_LINEAR', false)
      if (res.data.code === 1) {
        that.oldgroup.show = true
        that.oldgroup.list = res.data.data
        if (that.oldgroup.list.length === 1) {
          that.handleoldgroup(that.oldgroup.list[0].group_name, that.oldgroup.list[0].id, 0)
        }
        that.scrollButtom()
      } else if (res.data.code === 17) {
        that.$router.push('/login')
      } else if (res.data.code === 23) {
        that.$store.commit('OPEN_ALERT', {'val': '芸豆数量不足', 'wait': 1000})
      }
    })
  }
  // 年份/车款-旧
  handleoldgroup (val: string, id: string, index: number) {
    let that = this
    this.oldgroup.brandNum = index
    this.oldgroup.title = val
    this.oldgroup.listshow = false
    this.$store.commit('CHANGE_LINEAR', true)
    Vue.prototype.Axios.post('/index.php/home/Api/getEngineOld', {
      key: id
    })
    .then(function (res: any) {
      that.$store.commit('CHANGE_LINEAR', false)
      if (res.data.code === 1) {
        that.oldengine.show = true
        that.oldengine.list = res.data.data
        if (that.oldengine.list.length === 1) {
          that.handleoldengine(that.oldengine.list[0].engine_name, that.oldengine.list[0].id, 0)
        }
        that.scrollButtom()
      } else if (res.data.code === 17) {
        that.$router.push('/login')
      } else if (res.data.code === 23) {
        that.$store.commit('OPEN_ALERT', {'val': '芸豆数量不足', 'wait': 1000})
      }
    })
  }
  // 排量-旧
  handleoldengine (val: string, id: string, index: number) {
    let that = this
    this.oldengine.brandNum = index
    this.oldengine.title = val
    this.oldengine.listshow = false
    this.$store.commit('CHANGE_LINEAR', true)
    Vue.prototype.Axios.post('/index.php/home/Api/getGearboxOld', {
      key: id
    })
    .then(function (res: any) {
      that.$store.commit('CHANGE_LINEAR', false)
      if (res.data.code === 1) {
        that.oldgearbox.show = true
        that.oldgearbox.list = res.data.data
        if (that.oldgearbox.list.length === 1) {
          that.handleoldgearbox(that.oldgearbox.list[0].gearbox_name, that.oldgearbox.list[0].id, 0)
        }
        that.scrollButtom()
      } else if (res.data.code === 17) {
        that.$router.push('/login')
      } else if (res.data.code === 23) {
        that.$store.commit('OPEN_ALERT', {'val': '芸豆数量不足', 'wait': 1000})
      }
    })
  }
  // 变速箱-旧
  handleoldgearbox (val: string, id: string, index: number) {
    let that = this
    this.oldgearbox.brandNum = index
    this.oldgearbox.title = val
    this.oldgearbox.listshow = false
    this.$store.commit('CHANGE_LINEAR', true)
    Vue.prototype.Axios.post('/index.php/home/Api/getModelOld', {
      key: id
    })
    .then(function (res: any) {
      that.$store.commit('CHANGE_LINEAR', false)
      if (res.data.code === 1) {
        that.oldmodel.show = true
        that.oldmodel.list = res.data.data
        if (that.oldmodel.list.length === 1) {
          that.handleoldmodel(that.oldmodel.list[0].series, that.oldmodel.list[0].veh_name, that.oldmodel.list[0].engine, that.oldmodel.list[0].gearbox, that.oldmodel.list[0].seat, that.oldmodel.list[0].id, 0)
        }
        that.scrollButtom()
      } else if (res.data.code === 17) {
        that.$router.push('/login')
      } else if (res.data.code === 23) {
        that.$store.commit('OPEN_ALERT', {'val': '芸豆数量不足', 'wait': 1000})
      }
    })
  }
  // 车型-旧
  handleoldmodel (series: string, vehname: string, engine: string, gearbox: string, seat: string, id: string, index: number) {
    let that = this
    this.oldmodel.brandNum = index
    this.oldmodel.title = series + ' ' + vehname + ' ' + engine + ' ' + gearbox + ' ' + seat + '座'
    this.oldmodel.listshow = false
    this.curyear = vehname.substring(0, 4)
    this.curmodel = this.oldmodel.title
    this.$store.commit('CHANGE_LINEAR', true)
    Vue.prototype.Axios.post('/index.php/home/Api/getVehicleModelOld', {
      key: id
    })
    .then(function (res: any) {
      that.$store.commit('CHANGE_LINEAR', false)
      if (res.data.code === 1) {
        that.oldvehiclemodel.show = true
        that.oldvehiclemodel.list = res.data.data
        if (that.oldvehiclemodel.list.length === 1) {
          that.handleoldvehiclemodel(that.oldvehiclemodel.list[0].vehicle_code, that.oldvehiclemodel.list[0].id, 0)
        }
        that.scrollButtom()
      } else if (res.data.code === 17) {
        that.$router.push('/login')
      } else if (res.data.code === 23) {
        that.$store.commit('OPEN_ALERT', {'val': '芸豆数量不足', 'wait': 1000})
      }
    })
  }
  // 车型配置-旧
  handleoldvehiclemodel (val: string, id: string, index: number) {
    this.oldvehiclemodel.brandNum = index
    this.oldvehiclemodel.title = val
    this.oldvehiclemodel.listshow = false
    this.curid = id
    this.btndataType = true
    this.submit()
  }
  // 提交
  submit () {
    let that = this
    sessionStorage.setItem('year', JSON.stringify(that.curyear))
    sessionStorage.setItem('model', JSON.stringify(that.curmodel))
    sessionStorage.setItem('seriesId', JSON.stringify(that.curserid))
    if (this.dataType === 1) {
      let a = that.newmodeldetail.title
      let b = a.replace(/999999/, '至今')
      let c = b.replace(/99999/, '至今')
      let d = c.replace(/9999/, '至今')
      this.$store.commit('CHANGE_LINEAR', true)
      Vue.prototype.Axios.post('/index.php/home/Api/getPartCategory', {
        key: that.curid
      })
      .then(function (res: any) {
        that.$store.commit('CHANGE_LINEAR', false)
        if (res.data.code === 1) {
          sessionStorage.setItem('Businessline', JSON.stringify('click'))
          that.$router.push({
            name: 'partsGroup',
            params: {
              Msg: d,
              Data: res.data.grouplst
            }
          })
        } else if (res.data.code === 17) {
          that.$router.push('/login')
        } else if (res.data.code === 23) {
          that.$store.commit('OPEN_ALERT', {'val': '芸豆数量不足', 'wait': 1000})
        }
      })
    } else if (this.dataType === 2) {
      let a = that.oldmodel.title
      let b = a.replace(/999999/, '至今')
      let c = b.replace(/99999/, '至今')
      let d = c.replace(/9999/, '至今')
      this.$store.commit('CHANGE_LINEAR', true)
      Vue.prototype.Axios.post('/index.php/home/Api/getCatListOld', {
        key: that.curid
      })
      .then(function (res: any) {
        that.$store.commit('CHANGE_LINEAR', false)
        if (res.data.code === 1) {
          sessionStorage.setItem('Businessline', JSON.stringify('click'))
          that.$router.push({
            name: 'partsGroup',
            params: {
              Msg: d,
              Data: res.data.grouplst
            }
          })
        } else if (res.data.code === 17) {
          that.$router.push('/login')
        } else if (res.data.code === 23) {
          that.$store.commit('OPEN_ALERT', {'val': '芸豆数量不足', 'wait': 1000})
        }
      })
    }
  }
}
</script>

<style scoped lang="less">
  .carfilter{
    position: relative;
    .carfilter-option{
      padding: 10px 0;
      overflow-y: auto;
    }
    .carfilter-btn-box{
      background: #fafafa;
      border-top: 1px solid #e5e5e5;
      padding: 1rem 0;
      position: absolute;
      bottom: 0; left: 0;
      width: 100%;
      button{
        height: 3rem;
        border-radius: 3rem;
        background: #ccc;
        width: 36%;
        border: 0px;
        display: block;
        margin: 0 auto;
        font-size: 1.6rem;
        color: #fff;
      }
      button.blue{
        background: #2580c1;
        border-color: #2580c1;
        color: #fff;
      }
    }
  }
  .carfilter-box{
    display: block;
    margin-top: 1.4rem
  }
  .group-select{
    width:92%;
    margin:0 auto;
    height: 3rem;
    border-radius: 3rem;
    font-size:1.6rem;
    border: 1px solid #d5d5d5;
    position: relative;
    .iconfont{
      position: absolute;
      line-height: 3rem;
      right: 10px;
      top: 0px;
    }
    span{
      font-size: 1.4rem;
      color: #979798;
      width: 100%;
      display: block;
      line-height: 3rem;
      height: 3rem;
      text-align: center
    }
    span.hide{
      color: #2f2f32;
    }
  }
  .group-list-box{
    padding-bottom: 3rem;
  }
  .group-list{
    overflow: hidden;
    width:94%;
    margin:1.4rem auto 0;
    > li{
      > ul{
        > li{
          min-width: 3.4rem;
          text-align: center;
          color: #646466;
          float: left;
          line-height: 1.3rem;
          border-radius: 2.2rem;
          padding: 0.4rem 0.8rem;
          margin: 0.3rem 1%;
          border:1px solid #d5d5d5;
        }
        > li.blue{
          background: #2580c1;
          color: #fff;
          border-color: #2580c1;
        }
      }
      > span{
        min-width: 3.4rem;
        text-align: center;
        color: #646466;
        float: left;
        line-height: 1.3rem;
        border-radius: 2.2rem;
        padding: 0.4rem 0.8rem;
        margin: 0.3rem 1%;
        border:1px solid #d5d5d5;
      }
    }
    li.blue{
      background: #348ac7;
      color: #fff;
      border-color: #2580c1;
    }
    > li > span.blue{
      background: #2580c1;
      border-color: #2580c1;
      color: #fff;
    }
    .blue{
      background: #348ac7;
      border-color: #2580c1;
      color: #fff;
    }
  }
</style>
