<template>
  <div class="carmodels" :style="{height: this.height - 56 + 'px'}">
    <div class="carmodels-mess-box">
      <div class="carmodels-bg"></div>
      <div class="carmodels-mess">
        <img :src="codeNum.logo" class="carmodels-icon" alt="">
        <p class="carmodels-carname">{{codeNum.brand_name}}</p>
      </div>
      <div v-if="codeNum.is_new === 1">
        <ul class="carmodels-attr-list" v-if="index === 0" v-for="(item, index) in codeNum.list" :key="item.id" :data-id="item.id">
          <li v-show="item.series !== null">
            <h5>车系</h5>
            <p>{{item.series}}</p>
          </li>
          <li v-show="item.series_name !== null">
            <h5>车系细分</h5>
            <p>{{item.series_name | ToDate}}</p>
          </li>
          <li v-show="item.model_name !== null">
            <h5>车型</h5>
            <p>{{item.model_name}}</p>
          </li>
          <li v-show="item.model_body_name !== null">
            <h5>车身结构</h5>
            <p>{{item.model_body_name}}</p>
          </li>
          <li v-show="item.model_trans_name !== null">
            <h5>变速箱</h5>
            <p>{{item.model_trans_name}}</p>
          </li>
          <li v-show="item.model_region_name !== null">
            <h5>适用地区</h5>
            <p>{{item.model_region_name}}</p>
          </li>
          <li v-show="item.model_fuelform_name !== null">
            <h5>燃油类型</h5>
            <p>{{item.model_fuelform_name}}</p>
          </li>
          <li v-show="item.model_detail_full_name !== null">
            <h5>车型详细</h5>
            <p>{{item.model_detail_full_name | ToDate}}</p>
          </li>
        </ul>
      </div>
      <div v-else-if="codeNum.is_new === 2">
        <ul class="carmodels-attr-list" v-if="index === 0" v-for="(item, index) in codeNum.list" :key="item.id" :data-id="item.id">
          <li v-show="item.family_abbr !== null">
            <h5>车系</h5>
            <p>{{item.family_abbr}}</p>
          </li>
          <li v-show="item.group_name !== null">
            <h5>年份车款</h5>
            <p>{{item.group_name | ToDate}}</p>
          </li>
          <li v-show="item.engine_name !== null">
            <h5>排量</h5>
            <p>{{item.engine_name}}</p>
          </li>
          <li v-show="item.gearbox_name !== null">
            <h5>变速箱</h5>
            <p>{{item.gearbox_name}}</p>
          </li>
          <li v-show="item.veh_name !== null">
            <h5>车型</h5>
            <p>{{item.veh_name}}</p>
          </li>
          <li v-show="item.vehicle_code !== null">
            <h5>车型配置</h5>
            <p>{{item.vehicle_code}}</p>
          </li>
        </ul>
      </div>
      <button class="see-accessories" @click="submit()">查看配件</button>
    </div>
    <div v-if="codeNum.list !== '' && codeNum.list.length !== 1">
      <p class="carmodels-hint">车型不对？请尝试查询如下车型</p>
      <ul class="other-carmodels">
        <li @click="submit_other(item.model_detail_full_name ? item.model_detail_full_name : item.family_abbr + ' ' + item.engine_name + ' ' + item.gearbox_name + ' ' + item.veh_name + ' ' + item.vehicle_code, item.series_id, item.id)" :data-id="item.id" v-if="index !== 0" v-for="(item, index) in codeNum.list" :key="item.id"><span>{{item.full_name ? item.full_name : item.family_abbr + ' ' + item.engine_name + ' ' + item.gearbox_name + ' ' + item.veh_name + ' ' + item.vehicle_code | OmittedThirtyTwo}}</span><i class="iconfont icon-more"></i></li>
      </ul>
    </div>
  </div>
</template>

<script lang='ts'>
import { Component, Vue, Prop } from 'vue-property-decorator'


@Component
export default class Carmodels extends Vue {
  @Prop()
  height!: number

  codeNum: any = {
    'is_new': null,
    'logo': null,
    'brand_name': null,
    'list': [
      {
        'series': null,
        'series_name': null,
        'model_name': null,
        'model_body_name': null,
        'model_trans_name': null,
        'model_region_name': null,
        'model_fuelform_name': null,
        'id': null,
        'full_name': null
      }
    ]
  }

  created () {
    this.codeNum = JSON.parse(sessionStorage.getItem('carmodelsData') || '""')
  }

  // 提交
  submit () {
    let isNew = this.codeNum.is_new
    let id = this.codeNum.list[0].id
    let seriesId = this.codeNum.list[0].series_id
    sessionStorage.setItem('seriesId', JSON.stringify(seriesId))
    if (!id) {
      this.$store.commit('OPEN_ALERT', {'val': '请稍后再试', wait: 1000})
      return false
    }
    if (isNew === 1) {
      let that = this
      this.$store.commit('CHANGE_LINEAR', true)
      Vue.prototype.Axios.post('/index.php/home/Api/getPartCategory', {
        key: id
      })
      .then(function (res: any) {
        that.$store.commit('CHANGE_LINEAR', false)
        if (res.data.code === 1) {
          that.$router.push({
            name: 'partsGroup',
            params: {
              Msg: that.codeNum.list[0].model_detail_full_name,
              Data: res.data.grouplst
            }
          })
        } else if (res.data.code === 17) {
          that.$router.push('/login')
        } else {
          that.$store.commit('OPEN_ALERT', {'val': '暂无数据', wait: 1000})
        }
      })
    } else if (isNew === 2) {
      let that = this
      this.$store.commit('CHANGE_LINEAR', true)
      Vue.prototype.Axios.post('/index.php/home/Api/getCatListOld', {
        key: id
      })
      .then(function (res: any) {
        that.$store.commit('CHANGE_LINEAR', false)
        if (res.data.code === 1) {
          that.$router.push({
            name: 'partsGroup',
            params: {
              Msg: that.codeNum.list[0].family_abbr + ' ' + that.codeNum.list[0].engine_name + ' ' + that.codeNum.list[0].gearbox_name + ' ' + that.codeNum.list[0].veh_name,
              Data: res.data.grouplst
            }
          })
        } else if (res.data.code === 17) {
          that.$router.push('/login')
        } else {
          that.$store.commit('OPEN_ALERT', {'val': '暂无数据', wait: 1000})
        }
      })
    }
  }
  // 提交
  submit_other (name: string, seriesid: string, id: number) {
    let isNew = this.codeNum.is_new
    sessionStorage.setItem('seriesId', seriesid)
    if (!id) {
      this.$store.commit('OPEN_ALERT', {'val': '请稍后再试', wait: 1000})
      return false
    }
    if (isNew === 1) {
      let that = this
      this.$store.commit('CHANGE_LINEAR', true)
      Vue.prototype.Axios.post('/index.php/home/Api/getPartCategory', {
        key: id
      })
      .then(function (res: any) {
        that.$store.commit('CHANGE_LINEAR', false)
        if (res.data.code === 1) {
          that.$router.push({
            name: 'accessoriesgroup',
            params: {
              Msg: name,
              Data: res.data.grouplst
            }
          })
        } else if (res.data.code === 17) {
          that.$router.push('/login')
        } else {
          that.$store.commit('OPEN_ALERT', {'val': '暂无数据', wait: 1000})
        }
      })
    } else if (isNew === 2) {
      let that = this
      this.$store.commit('CHANGE_LINEAR', true)
      Vue.prototype.Axios.post('/index.php/home/Api/getCatListOld', {
        key: id
      })
      .then(function (res: any) {
        that.$store.commit('CHANGE_LINEAR', false)
        if (res.data.code === 1) {
          that.$router.push({
            name: 'accessoriesgroup',
            params: {
              Msg: name,
              Data: res.data.grouplst
            }
          })
        } else if (res.data.code === 17) {
          that.$router.push('/login')
        } else {
          that.$store.commit('OPEN_ALERT', {'val': '暂无数据', wait: 1000})
        }
      })
    }
  }
}
</script>

<style scoped lang="less">
  .carmodels{
    overflow-y: auto;
    .carmodels-mess-box{
      .carmodels-bg{
        height: 6rem;
        background: url("../../../static/img/bg_top.jpg") no-repeat bottom center;
        background-size: cover;
        position: relative;
        z-index: 1;
      }
      .carmodels-mess{
        position: relative;
        z-index: 2;
        padding-bottom: 3.2rem;
        .carmodels-icon{
          width: 5rem;
          height: 5rem;
          display: block;
          margin: 0 auto;
          padding: 0.6rem;
          background: #fff;
          border-radius: 100%;
          border: 1px solid #c8c8c8;
          margin-top: -2.5rem;
        }
        .carmodels-carname{
          text-align: center;
          font-size: 1.5rem;
          line-height: 2.4rem;
          margin-top: 0.6rem;
          font-weight: 700
        }
      }
      .carmodels-attr-list{
        overflow: hidden;
        padding: 1rem 0;
        display: table;
        margin: 0 4%;
        width: 92%;
        border-top: 1px dashed #eeeeee;
        border-bottom: 1px dashed #eeeeee;
        li{
          width: 50%;
          display: inline-block;
          vertical-align: top;
          padding: 0.6rem 0;
          h5{
            color: #9b9b9b;
            line-height: 1rem;
            margin-bottom: 0.25rem;
          }
          p{
            font-size: 1.25rem;
            line-height: 1.5rem;
          }
        }
      }
    }
  }
  .other-carmodels{
    overflow: hidden;
    padding: 1rem 0;
    > li{
      width: 92%;
      margin: 0.8rem 4%;
      border-radius: 3px;
      border:1px solid #eaeaea;
      overflow: hidden;
      padding: 1.5rem 0.8rem;
      span{
        float: left;
        font-size: 1.1rem;
        line-height: 24px;
      }
      .iconfont{
        float: right;
        line-height: 24px;
      }
    }
  }
  .see-accessories{
    margin: 2.2rem 5% 1.6rem;
    display: block;
    width: 90%;
    height: 3.4rem;
    line-height: 3.4rem;
    border-radius: 3.4rem;
    background: #2580c1;
    border-color: #2580c1;
    color: #fff;
    font-size:1.5rem;
  }
  .carmodels-hint{
    color: #f76260;
    text-align: center;
    line-height: 3rem;
  }
</style>
