<template>
  <div class="accessoriesdetails" :style="{height: this.height - 56 + 'px'}">
    <div class="accessoriesdetails-content" :style="{height: this.height - 56 - 56 + 'px'}">
      <div class="details-car-box" v-if="carmsg.carname">
        <img :src="carmsg.caricon" alt="" class="details-car-img">
        <div class="details-car-msg">
          <h1 class="details-car-name">{{carmsg.carname}}</h1>
          <p class="details-car-sub">{{carmsg.carmodules | OmittedTwentyTwo}}</p>
          <p class="details-car-sub">{{carmsg.cargroup | OmittedTwentyTwo}}</p>
        </div>
      </div>
      <div class="details-accessories">
        <div class="accessories-title">{{details.name}}</div>
        <ul class="accessories-list">
          <li v-if="details.sequence">
            <h6>位置编号</h6>
            <p>{{details.sequence}}</p>
          </li>
          <li class="num" v-if="details.code">
            <h6>原厂编号</h6>
            <p>{{details.code}}</p>
          </li>
          <li v-if="details.quantity">
            <h6>装配数量</h6>
            <p>{{details.quantity}}</p>
          </li>
        </ul>
        <p class="accessories-note">备注：{{details.model ? details.model : '-'}}</p>
      </div>
      <div class="details-img">
        <img :src="carmsg.carassembly" alt="">
      </div>
    </div>
    <div :class="{ 'bottom-pos' : !carmsg.carassembly }">
      <div class="details-money-box">
        <div class="details-money">
          <h6 v-if="money.price_form === '4s'">4S店参考价</h6>
          <h6 v-else>车通云价</h6>
          <p v-if="money.price_normal">￥<span class="money">{{money.price_normal}}</span></p>
          <p class="money-no" v-else>暂无价格</p>
        </div>
        <button class="details-btn" :disabled="!btnType" @click="submit()">加入购物车</button>
      </div>
    </div>
  </div>
</template>

<script lang='ts'>
import { Component, Vue, Prop } from 'vue-property-decorator'

@Component
export default class Accessoriesdetails extends Vue {
  @Prop()
  height!: number

  btnType: boolean = true
  carmsg: any = {
    caricon: '',
    carname: '',
    carmodules: '',
    cargroup: '',
    carassembly: null
  }
  details: any = {}
  money: any = {
    city: null,
    price_normal: null
  }

  created () {
    // 搜索oe进入
    if (JSON.parse(sessionStorage.getItem('Businessline') || '""') === 'search-oe') {
      if (this.$route.params.Data !== undefined) {
        let data = JSON.parse(this.$route.params.Data)
        this.details = data
        this.money = data
        sessionStorage.setItem('accessoriesdetailsMsg', JSON.stringify(data))
        sessionStorage.setItem('seriesId', JSON.stringify(data.series_id))
      } else {
        this.details = JSON.parse(sessionStorage.getItem('accessoriesdetailsMsg') || '""')
        this.money = JSON.parse(sessionStorage.getItem('accessoriesdetailsMsg') || '""')
      }
    }
    if (JSON.parse(sessionStorage.getItem('Businessline') || '""') === 'search-vin' || JSON.parse(sessionStorage.getItem('Businessline') || '""') === 'click') {
      // 载入默认数据
      if (JSON.parse(sessionStorage.getItem('logoMsg') || '""')) this.carmsg.caricon = JSON.parse(sessionStorage.getItem('logoMsg') || '""')
      if (JSON.parse(sessionStorage.getItem('accessoriesgroupMsg') || '""')) this.carmsg.carmodules = JSON.parse(sessionStorage.getItem('accessoriesgroupMsg') || '""')
      if (JSON.parse(sessionStorage.getItem('carmodelsMsg') || '""')) this.carmsg.carname = JSON.parse(sessionStorage.getItem('carmodelsMsg') || '""')
      if (JSON.parse(sessionStorage.getItem('assemblydiagramMsg') || '""')) this.carmsg.cargroup = JSON.parse(sessionStorage.getItem('assemblydiagramMsg') || '""')
      // 判断有无
      if (JSON.parse(sessionStorage.getItem('accessorieslistMsg') || '""') !== undefined) {
        this.carmsg.carassembly = JSON.parse(sessionStorage.getItem('accessorieslistMsg') || '""')
      }
      // 判断是否为父级跳转而来
      if (this.$route.params.Data !== undefined) {
        this.details = this.$route.params.Msg
        this.money = this.$route.params.Data
        sessionStorage.setItem('accessoriesdetailsMsg', JSON.stringify(this.$route.params.Msg))
        sessionStorage.setItem('accessoriesdetailsData', JSON.stringify(this.$route.params.Data))
      } else {
        this.details = JSON.parse(sessionStorage.getItem('accessoriesdetailsMsg') || '""')
        this.money = JSON.parse(sessionStorage.getItem('accessoriesdetailsData') || '""')
      }
    }
  }

  changeVal (value: string) {
    let a = value.replace(/x/i, '1')
    let b = a.replace(/n/i, '1')
    return b
  }
  // 提交(添加进购物车)
  submit () {
    let that = this
    let vin = null
    let seriesId = null
    let picPath = null
    if (sessionStorage.getItem('seriesId') !== 'undefined') {
      seriesId = JSON.parse(sessionStorage.getItem('seriesId') || '""')
    }
    if (JSON.parse(sessionStorage.getItem('Businessline') || '""') === 'search-vin') {
      if (sessionStorage.getItem('vin') !== 'undefined') {
        vin = JSON.parse(sessionStorage.getItem('vin') || '""')
      }
    }
    if (JSON.parse(sessionStorage.getItem('Businessline') || '""') === 'click') {
      if (sessionStorage.getItem('accessorieslistMsg') !== 'undefined') {
        picPath = JSON.parse(sessionStorage.getItem('accessorieslistMsg') || '""')
      }
    }
    this.$store.commit('CHANGE_LINEAR', true)
    Vue.prototype.Axios.post('/index.php/home/shopping/CartProductAdd', {
      key: JSON.stringify([{
        'partnum': that.details.code,
        'parttitle': that.details.name,
        'partnote': that.details.model,
        'vin': vin,
        'series_id': seriesId,
        'storage_id': that.money.storage_id ? that.money.storage_id : that.money.cheapest.goods_storage_id,
        'city_id': that.money.city,
        'parttype': that.money.part_type ? that.money.part_type : that.money.cheapest.part_type,
        'carttitle': that.carmsg.carname ? that.carmsg.carname : that.details.carname,
        'carticon': that.carmsg.caricon ? that.carmsg.caricon : that.details.caricon,
        'partquantity': that.details.quantity ? that.changeVal(that.details.quantity) : '',
        'year': JSON.parse(sessionStorage.getItem('year') || '""'),
        'model': JSON.parse(sessionStorage.getItem('model') || '""'),
        'pic_path': picPath
      }])
    })
    .then(function (res: any) {
      that.$store.commit('CHANGE_LINEAR', false)
      if (res.data.code === 1) {
        that.btnType = false
        if (JSON.parse(sessionStorage.getItem('Businessline') || '""') !== 'search-oe') {
          that.$store.commit('OPEN_ALERT', {'val': '加入成功，稍后自动跳转', wait: 1000})
          setTimeout(function () {
            that.$router.push({
              name: 'partsList'
            })
          }, 1000)
        } else {
          that.$store.commit('OPEN_ALERT', {'val': '加入成功', wait: 1000})
        }
      } else if (res.data.code === 17) {
        that.$router.push('/login')
      }
    })
  }
}
</script>

<style scoped lang="less">
  .accessoriesdetails{
    position: relative;
    .accessoriesdetails-content{
      overflow-y: auto;
      position: relative;
      .details-car-box{
        background: url("../../../static/img/bg_top.jpg") no-repeat bottom center;
        background-size: cover;
        overflow: hidden;
        padding: 1rem;
        position: relative;
        .details-car-img{
          background: #fff;
          float: left;
          width: 5.6rem;
          height: 5.6rem;
          border-radius: 100%;
        }
        .details-car-msg{
          position: absolute;
          left: 7.4rem;
          top: 1rem;
          .details-car-name{
            font-size: 1.67rem;
            height: 2.2rem;
            line-height: 2.2rem;
            overflow: hidden;
            color: #fff;
            margin-bottom: 0.5rem;
            font-weight: 700
          }
          .details-car-sub{
            font-size: 1.1rem;
            color: #bdbdbe;
            line-height: 1.4rem;
            height: 1.4rem;
            overflow: hidden;
            margin-bottom: 0.1rem;
          }
        }
      }
      .details-accessories{
        box-shadow: 0px 3px 10px #f2f2f2;
        padding: 0 2rem;
        margin-bottom: 10px;
        .accessories-title{
          font-size: 1.2rem;
          color: #396686;
          padding: 1.1rem 0px 0.7rem ;
        }
        .accessories-list{
          overflow: hidden;
          margin-bottom: 0.6rem;
        }
        .accessories-list > li{
          float: left;
          width: 22%;
        }
        .accessories-list > li.num{
          width: 56%;
        }
        .accessories-list>li h6{
          color: #b7b7b7;
          font-size: 0.83rem;
        }
        .accessories-list>li p{
          color: #646464;
          font-size: 1.1rem;
          line-height: 2rem;
        }
        .accessories-note{
          border-top: 1px solid #f2f2f2;
          word-break: break-all;
          padding: 0.7rem 0rem;
          color: #899daa;
          font-size: 0.83rem;
        }
      }
      .details-img{
        width: 100%;
        img{
          width: 100%
        }
      }
    }
    .bottom-pos{
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%
    }
    .details-money-box{
      border-top: 1px solid #eeeeee;
      overflow: hidden;
      .details-money{
        float: left;
        height: 56px;
        h6,
        p{
          padding-left: 1.2rem;
        }
        h6{
          color: #b7b7b7;
          padding-top: 8px;
          font-size: 1rem;
          line-height: 14px;
          padding-left: 1.2rem
        }
        p{
          font-size: 1.6rem;
          letter-spacing: -0.5px;
          font-weight: 500;
          height: 2.2rem;
          line-height: 2.2rem;
          color: #2f2f32;
          span{
            font-size: 2rem
          }
        }
        p.blue{
          color: #348ac7;
        }
        p.money-no{
          font-size: 1.5rem
        }
      }
      .details-btn{
        display: block;
        float: right;
        height: 56px;
        width: 50%;
        background: #348ac7;
        color: #fff;
        font-size: 1.5rem;
        text-align: center;
        line-height: 56px;
        border: none;
      }
    }
  }
</style>
