<template>
  <div class="accessoriesgroup" :style="{height: this.height - 56 + 'px'}">
    <div class="accessoriesgroup-mess-box">
      <div class="accessoriesgroup-bg"></div>
      <div class="accessoriesgroup-mess">
        <img :src="logoMsg" class="accessoriesgroup-icon" alt="">
        <p class="accessoriesgroup-carname">{{carmodelsMsg}}</p>
        <p class="accessoriesgroup-subhead">{{accessoriesgroupMsg}}</p>
      </div>
    </div>
    <div class="group-list-box">
      <!-- 主组数据 -->
      <div class="group-box" v-show="groupone.show" :class="{ 'hide' : !groupone.msg }">
        <div class="group-select">
          <span @click="clickOne(groupone.msg)">{{groupone.msg?groupone.msg:'选择配件类型' | OmittedFifteen}}</span>
          <i class="iconfont icon-arrLeft-fill"></i>
        </div>
        <ul class="group-list" v-show="groupone.list">
          <li :class="{ 'blue': index === groupone.index }" :data-id="item.id" :key="item.id" v-for="(item,index) in grouplst" @click="handleone(item.name,item.children,index, item.id)">{{item.name}}</li>
        </ul>
      </div>
      <!-- 子组1 -->
      <div class="group-box" v-show="grouptwo.show" :class="{ 'hide' : !grouptwo.msg }">
        <div class="group-select">
          <span @click="clickTwo(grouptwo.msg)">{{grouptwo.msg?grouptwo.msg:'选择配件子组一' | OmittedFifteen}}</span>
          <i class="iconfont icon-arrLeft-fill"></i>
        </div>
        <ul class="group-list" v-show="grouptwo.list">
          <li :class="{ 'blue': index === grouptwo.index }" :data-id="item.id" :key="item.id" v-for="(item,index) in twolist" @click="handletwo(item.name,item.children,index, item.id)">{{item.name}}</li>
        </ul>
      </div>
      <!-- 子组2 -->
      <div class="group-box" v-show="groupthree.show" :class="{ 'hide' : !groupthree.msg }">
        <div class="group-select">
          <span>{{groupthree.msg?groupthree.msg:'选择配件子组二' | OmittedFifteen}}</span>
          <i class="iconfont icon-arrLeft-fill"></i>
        </div>
        <ul class="group-list" v-show="groupthree.list">
          <li :class="{ 'blue': index === groupthree.index }" :data-id="item.id" :key="item.id" v-for="(item,index) in threelist" @click="handlethree(item.name,index, item.id)">{{item.name}}</li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script lang='ts'>
import { Component, Vue, Prop } from 'vue-property-decorator'

@Component
export default class Accessoriesgroup extends Vue {
  @Prop()
  height!: number

  groupone: any = {
    show: true,
    list: true,
    msg: '',
    index: -1
  }
  grouptwo: any = {
    show: false,
    list: false,
    msg: '',
    index: -1
  }
  groupthree: any = {
    show: false,
    list: false,
    msg: '',
    index: -1
  }
  logoMsg: string = ''
  carmodelsMsg: string = ''
  accessoriesgroupMsg: string = ''
  twolist: any = {}
  threelist: any = {}
  grouplst: any = []

  created () {
    // 载入默认数据
    this.logoMsg = JSON.parse(sessionStorage.getItem('logoMsg') || '""')
    this.carmodelsMsg = JSON.parse(sessionStorage.getItem('carmodelsMsg') || '""')
    // 判断是否为父级跳转而来
    if (this.$route.params.Data !== undefined) {
      if (this.$route.params.Msg) {
        this.accessoriesgroupMsg = this.$route.params.Msg
        sessionStorage.setItem('accessoriesgroupMsg', JSON.stringify(this.$route.params.Msg))
      }
      sessionStorage.setItem('accessoriesgroupData', JSON.stringify(this.$route.params.Data))
      this.grouplst = this.$route.params.Data
    } else {
      this.logoMsg = JSON.parse(sessionStorage.getItem('logoMsg') || '""')
      this.carmodelsMsg = JSON.parse(sessionStorage.getItem('carmodelsMsg') || '""')
      this.accessoriesgroupMsg = JSON.parse(sessionStorage.getItem('accessoriesgroupMsg') || '""')
      this.grouplst = JSON.parse(sessionStorage.getItem('accessoriesgroupData') || '""')
    }
  }
  // 点击主组
  clickOne (val: string) {
    if (val) {
      this.groupone.show = true
      this.groupone.list = true
      this.grouptwo.show = false
      this.grouptwo.list = false
      this.grouptwo.msg = ''
      this.grouptwo.index = -1
      this.groupthree.show = false
      this.groupthree.list = false
      this.groupthree.msg = ''
      this.groupthree.index = -1
    }
  }
  // 点击一级子组
  clickTwo (val: string) {
    if (val) {
      this.grouptwo.show = true
      this.grouptwo.list = true
      this.groupthree.show = false
      this.groupthree.list = false
    }
  }
  // 选中主组
  handleone (val: string, child: string, index: number, id: number) {
    this.groupone.msg = val
    this.groupone.index = index
    if (child) {
      this.twolist = child
      this.groupone.list = false
      this.grouptwo.show = true
      this.grouptwo.list = true
      if (this.twolist.length === 1) {
        this.handletwo(this.twolist[0].name, this.twolist[0].children, 0, this.twolist[0].id)
      }
    } else {
      this.twolist = {}
      this.grouptwo.show = false
      this.grouptwo.list = false
      this.groupthree.show = false
      this.groupthree.list = false
      this.routerChange(id)
    }
  }
  // 选中一级子组
  handletwo (val: string, child: string, index: number, id: number) {
    this.grouptwo.msg = val
    this.grouptwo.index = index
    if (child) {
      this.threelist = child
      this.grouptwo.list = false
      this.groupthree.show = true
      this.groupthree.list = true
      if (this.threelist.length === 1) {
        this.handlethree(this.threelist[0].name, 0, this.threelist[0].id)
      }
    } else {
      this.threelist = {}
      this.groupthree.show = false
      this.groupthree.list = false
      this.routerChange(id)
    }
  }
  // 选中二级子组
  handlethree (val: string, index: number, id: number) {
    this.groupthree.msg = val
    this.groupthree.index = index
    this.routerChange(id)
  }
  // 路由 (配件组)
  // 新数据 => getPicGroup    旧数据 => getPartsOld
  routerChange (id: number) {
    let that = this
    let dataType = JSON.parse(sessionStorage.getItem('dataType') || '""')
    if (dataType === 1) {
      this.$store.commit('CHANGE_LINEAR', true)
      Vue.prototype.Axios.post('/index.php/home/Api/getPicGroup', {
        key: id
      })
      .then(function (res: any) {
        that.$store.commit('CHANGE_LINEAR', false)
        if (res.data.code === 1) {
          that.$router.push({
            name: 'assemblyDiagram',
            params: {
              Msg: that.groupone.msg + ' ' + that.grouptwo.msg + ' ' + that.groupthree.msg,
              Data: res.data.data
            }
          })
        } else if (res.data.code === 17) {
          that.$router.push('/login')
        } else if (res.data.code === 23) {
          that.$store.commit('OPEN_ALERT', {'val': '芸豆数量不足', 'wait': 1000})
        }
      })
    } else if (dataType === 2) {
      this.$store.commit('CHANGE_LINEAR', true)
      Vue.prototype.Axios.post('/index.php/home/Api/getPartsOld', {
        key: id
      })
      .then(function (res: any) {
        that.$store.commit('CHANGE_LINEAR', false)
        if (res.data.code === 1) {
          that.$router.push({
            name: 'partsList',
            params: {
              Msg: that.groupone.msg + ' ' + that.grouptwo.msg + ' ' + that.groupthree.msg,
              Data: res.data.data
            }
          })
        } else if (res.data.code === 17) {
          that.$router.push('/login')
        } else if (res.data.code === 23) {
          that.$store.commit('OPEN_ALERT', {'val': '芸豆数量不足', 'wait': 1000})
        }
      })
    }
  }
}
</script>

<style scoped lang="less">
  .accessoriesgroup{
    overflow-y: auto;
    .accessoriesgroup-mess-box{
      .accessoriesgroup-bg{
        height: 6rem;
        background: url("../../../static/img/bg_top.jpg") no-repeat bottom center;
        background-size: cover;
        position: relative;
        z-index: 1;
      }
      .accessoriesgroup-mess{
        position: relative;
        z-index: 2;
        padding-bottom: 2rem;
        .accessoriesgroup-icon{
          width: 5rem;
          height: 5rem;
          display: block;
          margin: 0 auto;
          padding: 0.7rem;
          background: #fff;
          border-radius: 100%;
          border: 1px solid #c8c8c8;
          margin-top: -2.5rem;
        }
        .accessoriesgroup-carname{
          text-align: center;
          font-size: 1.5rem;
          line-height: 2.4rem;
          margin-top: 0.6rem;
          font-weight: 700
        }
        .accessoriesgroup-subhead{
          font-size: 1.1rem;
          color: #999999;
          line-height: 1.6rem;
          margin-top: 0.6rem;
          text-align: center;
          padding: 0 1rem;
        }
      }
    }
    .group-list-box{
      padding-bottom: 3rem;
      .group-box{
        display: block;
        margin-top: 2rem;
      }
      .group-box.hide div span{
        color: #979798;
        font-weight: 200;
      }
      .group-select{
        width:92%;
        margin:0 auto;
        height: 3.4rem;
        line-height: 3.4rem;
        border-radius: 3.4rem;
        font-size:1.6rem;
        border: 1px solid #d5d5d5;
        position: relative;
        .iconfont{
          position: absolute;
          color: #d2d2d2;
          line-height: 3.4rem;
          right: 10px;
          top: 0px;
        }
        span{
          font-size: 1.3rem;
          font-weight: 400;
          color: #2f2f32;
          width: 100%;
          display: block;
          line-height: 3.4rem;
          height: 3.4rem;
          text-align: center
        }
      }
      .group-list{
        overflow: hidden;
        width:94%;
        margin:1.4rem auto 0;
        li{
          font-size: 1.1rem;
          color: #646466;
          float: left;
          line-height: 1.3rem;
          border-radius: 2.3rem;
          padding:  0.5rem 1rem;
          margin: 0.3rem 1%;
          border:1px solid #d5d5d5;
        }
        li.blue{
          background: #348ac7;
          color: #fff;
        }
      }
    }
  }
</style>
