<template>
  <div class="accessorieslist" id="accessorieslist" :style="{height: this.height - 56 + 'px'}">
    <div class="accessorieslist-mess-box" id="msg-box" v-if="carmsg.caricon">
      <div class="accessorieslist-bg"></div>
      <div class="accessorieslist-mess">
        <img :src="carmsg.caricon" class="accessorieslist-icon" alt="">
        <p class="accessorieslist-carname">{{carmsg.carname}}</p>
        <p class="accessorieslist-subhead">{{carmsg.carmodules}}</p>
        <p class="accessorieslist-group">{{carmsg.cargroup}}</p>
        <div class="accessorieslist-img" v-if="carmsg.carassembly">
          <img :src="carmsg.carassembly" alt="">
        </div>
      </div>
    </div>
    <ul class="accessories-list">
      <li v-for="item in accessorieslist" :key="item.id" @click="submit(item)">
        <div class="assembly-icon"></div>
        <h2 class="accessorieslist-title">{{item.name}}</h2>
        <ul class="accessorieslist-msg-box">
          <li v-if="item.sequence">
            <h6 class="accessorieslist-msg-title">位置编号</h6>
            <p class="accessorieslist-msg">{{item.sequence ? item.sequence : '-'}}</p>
          </li>
          <li class="num" v-if="item.code">
            <h6 class="accessorieslist-msg-title">原厂编号</h6>
            <p class="accessorieslist-msg">{{item.code}}</p>
          </li>
          <li v-if="item.quantity">
            <h6 class="accessorieslist-msg-title">装配数量</h6>
            <p class="accessorieslist-msg">{{item.quantity}}</p>
          </li>
        </ul>
        <p class="accessorieslist-note">备注：{{item.model}}</p>
      </li>
    </ul>
  </div>
</template>

<script lang='ts'>
import { Component, Vue, Prop } from 'vue-property-decorator'

@Component
export default class Accessorieslist extends Vue {
  @Prop()
  height!: number

  dataType: string = ''
  carmsg: any = {
    caricon: '',
    carname: '',
    carmodules: '',
    cargroup: '',
    carassembly: null
  }
  accessorieslist: any = null

  created () {
    // 载入数据类型
    let dataType = JSON.parse(sessionStorage.getItem('dataType') || '""') ? JSON.parse(sessionStorage.getItem('dataType') || '""') : ''
    this.dataType = dataType
    // 载入存储数据  logo   组信息   车型名称
    this.carmsg.caricon = JSON.parse(sessionStorage.getItem('logoMsg') || '""')
    this.carmsg.carmodules = JSON.parse(sessionStorage.getItem('accessoriesgroupMsg') || '""')
    this.carmsg.carname = JSON.parse(sessionStorage.getItem('carmodelsMsg') || '""')
    // 判断是否从父级跳转而来，内置新旧数据处理
    if (this.$route.params.Data !== undefined) {
      // 跳转进来
      if (this.$route.params.Msg) {
        if (dataType === 1) {     // 如果是新数据，
          // 载入组信息
          this.carmsg.cargroup = JSON.parse(sessionStorage.getItem('assemblydiagramMsg') || '""')
          // 载入装配图，并存到本地
          this.carmsg.carassembly = this.$route.params.Msg
          sessionStorage.setItem('accessorieslistMsg', JSON.stringify(this.$route.params.Msg))
        } else if (dataType === 2) {      // 如果是旧数据，
          // 载入组信息，并存到本地
          this.carmsg.cargroup = this.$route.params.Msg
          sessionStorage.setItem('assemblydiagramMsg', JSON.stringify(this.$route.params.Msg))
        }
      }
      if (this.$route.params.Data) {
        // 载入展示数据，并存储到本地
        this.accessorieslist = this.$route.params.Data
        sessionStorage.setItem('accessorieslistData', JSON.stringify(this.$route.params.Data))
      }
    } else {
      // 刷新页面
      if (dataType === 1) {
        // 如果是新数据，载入装配图
        this.carmsg.carassembly = JSON.parse(sessionStorage.getItem('accessorieslistMsg') || '""')
      }
      // 载入存储的展示数据
      this.accessorieslist = JSON.parse(sessionStorage.getItem('accessorieslistData') || '""')
      // 载入组信息
      this.carmsg.cargroup = JSON.parse(sessionStorage.getItem('assemblydiagramMsg') || '""')
    }
    // 如果只有一条数据，自动提交，进入下一页
    if (this.accessorieslist.length === 1) {
      this.submit(this.accessorieslist[0])
    }
  }

  mounted () {
    // 控制滚动条至列表顶部
    if (document.getElementById('msg-box')) {
      let msgBoxHeight = document.getElementById('msg-box')!.clientHeight
      document.getElementById('accessorieslist')!.scrollTop = msgBoxHeight
    }
  }

  // 提交路由
  submit (item: any) {
    let that = this
    // 如果业务线为点选进入或者搜索VIN
    if (JSON.parse(sessionStorage.getItem('Businessline') || '""') === 'click' || JSON.parse(sessionStorage.getItem('Businessline') || '""') === 'search-vin') {
      let dataType = JSON.parse(sessionStorage.getItem('dataType') || '""')
      if (dataType === 1) {
        this.$store.commit('CHANGE_LINEAR', true)
        Vue.prototype.Axios.post('/index.php/home/Api/getPartWithPrice', {
          key: item.id,
          code: item.code,
          brandname: JSON.parse(sessionStorage.getItem('carmodelsMsg') || '""'),
          seriesid: JSON.parse(sessionStorage.getItem('seriesId') || '""')
        })
        .then(function (res: any) {
          that.$store.commit('CHANGE_LINEAR', false)
          if (res.data.code === 1) {
            that.$router.push({
              name: 'partsDetails',
              params: {
                Msg: item,
                Data: res.data.data
              }
            })
          } else if (res.data.code === 17) {
            that.$router.push('/login')
          } else if (res.data.code === 23) {
            that.$store.commit('OPEN_ALERT', {'val': '芸豆数量不足', wait: 1000})
          }
        })
      } else if (dataType === 2) {
        sessionStorage.setItem('accessorieslistMsg', JSON.stringify(null))
        this.$store.commit('CHANGE_LINEAR', true)
        Vue.prototype.Axios.post('/index.php/home/Api/getPartWithPriceOld', {
          key: item.id,
          code: item.code,
          brandname: JSON.parse(sessionStorage.getItem('carmodelsMsg') || '""'),
          seriesid: JSON.parse(sessionStorage.getItem('seriesId') || '""')
        })
        .then(function (res: any) {
          that.$store.commit('CHANGE_LINEAR', false)
          if (res.data.code === 1) {
            that.$router.push({
              name: 'partsDetails',
              params: {
                Msg: item,
                Data: res.data.data
              }
            })
          } else if (res.data.code === 17) {
            that.$router.push('/login')
          } else if (res.data.code === 23) {
            that.$store.commit('OPEN_ALERT', {'val': '芸豆数量不足', wait: 1000})
          }
        })
      }
    }
  }
}
</script>

<style scoped lang="less">
  .accessorieslist{
    overflow-y: auto;
    background: #fafafa;
    .accessorieslist-mess-box{
      background: #fff;
      position: relative;
      z-index: 2;
      box-shadow: 0px 10px 10px #ededed;
      .accessorieslist-bg{
        height: 6rem;
        background: url("../../../static/img/bg_top.jpg") no-repeat bottom center;
        background-size: cover;
        position: relative;
        z-index: 1;
      }
      .accessorieslist-mess{
        position: relative;
        z-index: 2;
        padding-bottom: 2rem;
      }
      .accessorieslist-icon{
        width: 5rem;
        height: 5rem;
        display: block;
        margin: 0 auto;
        padding: 0.7rem;
        background: #fff;
        overflow: hidden;
        border-radius: 100%;
        border: 1px solid #c8c8c8;
        margin-top: -2.5rem;
      }
      .accessorieslist-carname{
        text-align: center;
        font-size: 1.5rem;
        line-height: 2.4rem;
        margin-top: 0.6rem;
        font-weight: 700
      }
      .accessorieslist-subhead{
        font-size: 1.1rem;
        color: #999999;
        line-height: 1.6rem;
        margin-top: 0.6rem;
        text-align: center;
        padding: 0 1rem;
      }
      .accessorieslist-group{
        font-size: 1.1rem;
        color: #999999;
        margin-top: 0.1rem;
        line-height: 1.6rem;
        text-align: center;
      }
      .accessorieslist-img{
        margin-top: 1rem;
        width: 100%;
        img{
          width: 100%;
        }
      }
    }
  }
  .accessories-list{
    padding: 0.25rem 0;
    background: #fafafa;
    > li{
      position: relative;
      margin: 1rem;
      background: #fff;
      border: 1px solid #eeeeee;
      border-radius: 3px;
      .accessorieslist-msg-title{
        color: #b7b7b7;
        font-size: 0.83rem;
      }
      .accessorieslist-msg{
        color: #646464;
        font-size: 1.1rem;
        line-height: 2rem;
      }
    }
    .accessorieslist-title{
      font-size: 1.2rem;
      color: #396686;
      padding:1.1rem 1.25rem 0.7rem ;
    }
    .accessorieslist-msg-box{
      overflow: hidden;
      margin-bottom: 0.6rem;
      padding:0 1.25rem;
      > li{
        float: left;
        width: 19%;
      }
      > li.num{
        width: 48%;
      }
    }
    .accessorieslist-note{
      border-top: 1px solid #f2f2f2;
      padding:0.7rem 1.25rem;
      color: #899daa;
      font-size: 0.83rem;
    }
    .assembly-icon{
      content: ' ';
      background: #e3eff7;
      width: 3rem;
      height: 3rem;
      position: absolute;
      top: 50%; right: 1rem;
      margin-top: -1.5rem;
      border-radius: 50%;
    }
    .assembly-icon::before{
      position: absolute;
      right: 1.5rem;
      top: 1.5rem;
      display: block;
      width: 10px;
      height: 10px;
      margin-top: -5px;
      margin-right: -3px;
      content: '';
      clear: both;
      border-right: 2px solid #348ac7;
      border-bottom: 2px solid #348ac7;
      ransform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
    }
  }
</style>
