<template>
  <div class="SearchHistory" :style="{height: this.height - 56 + 'px'}">
    <div class="history-false" v-if="this.SearchHistoryList.length === 0">暂无记录！</div>
    <ul class="history-true" v-else>
      <li v-for="item in SearchHistoryList" :key="item.id">
        <div class="list-top">
          <div class="vin"> <span>VIN</span> {{ item.vin }}</div>
          <div class="time">{{ item.time }}</div>
        </div>
        <div class="list-center">
          <div class="center-left">
            <h1 class="part-name">{{ item.name }}</h1>
            <label class="part-oe">OE:{{ item.oe ? item.oe : '-' }}</label>
          </div>
          <div class="center-right">
            <div class="part-money-box">
              <span class="part-money-title">原厂价</span>
              <span v-if="item.htcprice">￥{{ item.htcprice }}</span>
              <span v-else>-</span>
            </div>
            <div class="part-money-box">
              <span class="part-money-title">品牌价</span>
              <span v-if="item.brandprice">￥{{ item.brandprice }}</span>
              <span v-else>-</span>
            </div>
          </div>
        </div>
        <ul class="list-bottom">
          <li>
            <h3>品牌</h3>
            <span>{{ item.brandname ? item.brandname : '-' }}</span>
          </li>
          <li>
            <h3>年份</h3>
            <span>{{ item.year ? item.year : '-' }}</span>
          </li>
          <li>
            <h3>车型</h3>
            <span>{{ item.model ? item.model : '-' }}</span>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</template>

<script lang='ts'>
import { Component, Vue, Prop } from 'vue-property-decorator'

@Component
export default class SearchHistory extends Vue {
  @Prop()
  height!: number

  SearchHistoryList: Array<any> = [
    // {
    //   vin: 'LS5AB2AD90G0089090',
    //   time: '2018-02-02 12:00:00',
    //   name: '灯(前左大灯,氙气随动)',
    //   oe: '8T0941029AB',
    //   originalprice: '235.00',
    //   htcprice: '',
    //   brandname: '飞度',
    //   year: '2018',
    //   model: '飞度2018'
    // }
  ]

  created () {
    let that = this
    this.$store.commit('CHANGE_LINEAR', true)
    Vue.prototype.Axios.post('/index.php/Home/Search/SearchHistory')
    .then((res: any) => {
      that.$store.commit('CHANGE_LINEAR', false)
      if (res.data.code === 1) {
        that.SearchHistoryList = res.data.data
      } else if (res.data.code === 0) {
        that.$store.commit('OPEN_ALERT', {'val': '暂无记录！', wait: 1000})
      } else {
        that.$store.commit('OPEN_ALERT', {'val': '获取失败，请稍后重试！', wait: 1000})
      }
    })
  }

}
</script>

<style lang='less'>
.SearchHistory{
  overflow-y: auto;
  .history-false{
    color: rgb(180, 180, 180);
    text-align: center;
    padding-top: 10rem;
  }
  .history-true {
    min-height: 100%;
    background-color: #f7f7f7;
    padding: 1px 0;
    > li{
      background-color: #fff;
      margin: 1rem 0;
      padding: 0 1rem;
      .list-top{
        overflow: hidden;
        padding: 1rem 0;
        .vin{
          float: left;
          font-size: 1.08rem;
          line-height: 1.5rem;
          color: #212121;
          span{
            background-color: #5e5e5e;
            color: #fff;
            padding: 0.2rem 0.5rem;
            border-radius: 3px;
          }
        }
        .time{
          float: right;
          line-height: 1.5rem;
          font-size: 0.91rem;
          color: #999999;
        }
      }
      .list-center{
        padding: 0.8rem 0;
        border-top: 1px solid #e5e5e5;
        border-bottom: 1px solid #e5e5e5;
        display: flex;
        line-height: 1.5rem;
        .center-left{
          .part-name{
            font-size: 1.08rem;
            color: #010101;
          }
          .part-oe{
            color: #808080;
          }
        }
        .center-right{
          margin-left: auto;
          .part-money-title{
            color: #808080;
          }
        }
      }
      .list-bottom{
        padding: 0.6rem 0;
        overflow: hidden;
        > li{
          float: left;
          width: 50%;
          h3, span{
            float: left;
            font-size: 0.91rem;
            line-height: 1.5rem;
          }
          h3{
            color: #808080;
          }
          span{
            color: #212121;
            margin-left: 6px;
          }
        }
      }
    }
  }
}
</style>
