<template>
  <div class="VINsearchresult" id="VINsearchresult" :style="{height: height - 56 + 'px'}">
    <div class="searchresult-title">
      <span class="searchresult-title-left">VIN</span>
      <span class="searchresult-title-right">{{ vin }}</span>
    </div>
    <ul class="cart-msg-box" v-if="attr !== undefined">
      <li v-for="(item, key) in attr" :key='item.id' v-if='key !== "carpic" && key !== "id" && key !== "车体结构" && key !== "销售版本" && key !== "指导价" && key !== "发动机排量(ml)" && item '>
        <label>{{ toKey(key) }}</label>
        <span>{{item | ToDate}}</span>
      </li>
    </ul>
    <ul class="cart-msg-box" v-else>
      <p class="cart-msg-nolist">暂无查询结果</p>
    </ul>
    <div class="searchresult-sub">
      <div class="searchresult-sub-title">找配件</div>
      <button class="searchresult-history" @click="toSearchHistory()">
        <span>询价历史</span>
        <i class="iconfont icon-more"></i>
      </button>
    </div>
    <ul class="searchresult-list" id="searchresult-list">
      <li v-for="(item, index) in Accessories" :key="item.id">
        <div class="search-show" v-show="item.showState">
          <i class="iconfont">&#xe6b9;</i>
          <input :id="'search-' + index" v-focus='item.focus' class="search" @blur="blur(index)" v-model="item.searchContent" @input="search(item.searchContent, index)" type="text" placeholder="添加您要查询的配件名称">
        </div>
        <div class="search-handle" v-show="item.handleState">
          <p class="search-result" @click="selectType(index)">
            <span>{{ item.curSearch.parttitle }}</span>
            <button class="search-type"><span>{{ getType(item.curSearch.type) }}</span><i class="iconfont icon-moreunfold"></i></button>
          </p>
          <button @click="reset(item.searchContent, index)" class="handle-reset"><i class="iconfont">&#xe610;</i></button>
          <button @click="del(index)" class="handle-del"><i class="iconfont">&#xe6db;</i></button>
        </div>
        <div v-if="item.searchState">
          <p class="search-list-close"><span @click="closeSearchList(index)">关闭列表</span></p>
          <ul class="search-list">
            <li v-for="items in item.searchList" @click="handleSearchList(items, index)" :key="items.id">{{ items.parttitle }}</li>
          </ul>
        </div>
      </li>
    </ul>
    <button :class="{'index-search-dis': SubmitReady()}" :disabled="SubmitReady()" @click="showAddress()" class="search-btn index-search-btn">提交询价</button>
    <button class="search-btn index-search-car" @click="next()">进入车型挑选配件</button>

    <!-- 地址弹出 -->
    <div class="address-alert" v-if="addressAlert.show" :data-index="addressAlert.index">
      <div class="bg" v-if='addressAlert.show'></div>
      <div class="address-alert-line"><p>请先选择询价配件收货地区</p></div>
      <div class="address-alert-tabs">
        <span @click="clicktabsprovince()" :class="{'tabs-on':addressAlert.provinceshow}" class="tabs-province">{{addressAlert.curProvince?addressAlert.curProvince:'请选省'}}</span>
        <span :class="{'tabs-on':addressAlert.cityshow}" class="tabs-city">{{addressAlert.curCity?addressAlert.curCity:'请选市'}}</span>
        <span @click="clicktabsdel()" class="tabs-close">取消</span>
      </div>
      <div class="address-alert-list">
        <ul class="address-alert-province" v-if="addressAlert.provinceshow">
          <li @click="handleAddressAlertProvince(index, item)" v-for="(item, index) in addressAlert.addresslist" :key="item.id" :data-id="item.id">{{item.name}}</li>
        </ul>
        <ul class="address-alert-city" v-if="addressAlert.cityshow">
          <li @click="handleAddressAlertCity(items)" v-for="items in addressAlert.citylist" :key="items.id" :data-id="items.id">{{items.name}}</li>
        </ul>
      </div>
    </div>
    <!-- 配件类型弹出（原厂件，副厂件） -->
    <div class='money-alert' v-if='part.show' :data-index='part.index'>
      <div class="bg" v-if='part.show'></div>
      <div class='money-alert-content'>
        <h2>选择配件类型</h2>
        <i @click="ClosePartAlert()" class='iconfont'>&#xe69a;</i>
        <ul>
          <li v-for="item in partType" :key='item.id' @click="handlePartType(item)">{{ item }}</li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script lang='ts'>
import { Component, Vue, Prop } from 'vue-property-decorator'
import address from '../../../static/data/address'

interface Element {
  focus?: any
}

@Component
export default class VINsearchresult extends Vue {
  @Prop()
  height!: number

  type: number = 0
  vin: string = ''
  data: any = {}
  attr: any = {}
  source: any
  partType: Array<any> = ['原厂件', '品牌件']
  part: any = {
    show: false,
    index: []
  }
  Accessories: Array<any> = [
    {
      showState: true,          // 搜索前
      handleState: false,       // 搜索后
      curSearch: {              // 当前搜索
        parttitle: '',
        type: '1'
      },
      searchContent: '',        // 搜索词
      searchState: false,       // 搜索列表显示状态
      searchList: []            // 搜索候选列表
    }
  ]
  addressAlert: any = {
    show: false,
    provinceshow: true,
    curProvince: '',
    curProvinceid: null,
    cityshow: false,
    curCity: '',
    curCityid: null,
    citylist: null,
    addresslist: address
  }

  created () {
    this.source = Vue.prototype.Axios.CancelToken.source()
    sessionStorage.setItem('lastSearchParts', 'null')
    // 判断是否父级而来
    if (this.$route.params.Data !== undefined && this.$route.params.vin !== undefined) {
      let listCarModel = JSON.parse(this.$route.params.listCarModel)
      let paramsData = JSON.parse(this.$route.params.Data)
      let model = paramsData.list[0].model_name
                  ? paramsData.list[0].model_name
                  : paramsData.list[0].family_abbr + ' ' + paramsData.list[0].veh_name + ' ' + paramsData.list[0].engine_name + ' ' + paramsData.list[0].gearbox_name
      let year = paramsData.list[0].model_name
                  ? paramsData.list[0].model_name
                  : paramsData.list[0].veh_name
      sessionStorage.setItem('listCarModel', JSON.stringify(listCarModel))
      sessionStorage.setItem('dataType', JSON.stringify(paramsData.is_new))
      sessionStorage.setItem('logoMsg', JSON.stringify(paramsData.logo))
      sessionStorage.setItem('carmodelsMsg', JSON.stringify(paramsData.brand_name))
      sessionStorage.setItem('carmodelsData', JSON.stringify(paramsData))
      sessionStorage.setItem('vin', JSON.stringify(this.$route.params.vin))
      sessionStorage.setItem('year', JSON.stringify(year.substring(0, 4)))
      sessionStorage.setItem('model', JSON.stringify(model))
      this.vin = this.$route.params.vin
      this.data = JSON.parse(this.$route.params.Data)
      this.type = JSON.parse(this.$route.params.Data).is_new
      this.attr = this.dealwithData(JSON.parse(this.$route.params.listCarModel))
    } else {
      this.vin = JSON.parse(sessionStorage.getItem('vin') || '""')
      this.data = JSON.parse(sessionStorage.getItem('carmodelsData') || '""')
      this.type = JSON.parse(sessionStorage.getItem('carmodelsData') || '""').is_new
      this.attr = this.dealwithData(JSON.parse(sessionStorage.getItem('listCarModel') || '""'))
    }
  }

  // 数据展示标题处理
  toKey (key: string) {
    switch (key) {
      case 'subbrand':
        return '品牌'
      case 'carmodel':
        return '车型'
      default:
        return key
    }
  }
  // 跳转到搜索历史
  toSearchHistory () {
    this.$router.push({
      name: 'rapidInquiryHistory'
    })
  }
  // 处理vin的查询数据，得到字段值统一的数据
  dealwithData (obj: any): object {
    let rawData = obj
    if (rawData.length === 1) {
      return rawData[0]
    } else {
      let obj: any = rawData[0]
      for (let i = 0; i < rawData.length; i++) {
        Object.keys(rawData[i]).forEach((key: any) => {
          if (obj[key] !== rawData[i][key]) {
            delete obj[key]
          }
        })
      }
      return obj
    }
  }
  // 模糊查询-清理之前的定时器
  search (val: string, index: number) {
    if (val === '') {
      this.Accessories[index].searchState = false
    }
    if (!sessionStorage.getItem('searchHistory')) {
      sessionStorage.setItem('searchHistory', JSON.stringify({
        val: val,
        time: new Date().getTime()
      }))
      // 这里要清理之前的定时器
      this.setSearch('', index)
      this.setSearch(val, index)
    } else {
      let lastSearch = JSON.parse(sessionStorage.getItem('searchHistory') || '""')
      if (lastSearch.val !== val || ((new Date().getTime()) - lastSearch.time) >= 3000) {
        sessionStorage.setItem('searchHistory', JSON.stringify({
          val: val,
          time: new Date().getTime()
        }))
        // 这里要清理之前的定时器
        this.setSearch('', index)
        this.setSearch(val, index)
      }
    }
  }
  // 模糊查询-定时触发
  setSearch (val: string, index: number): void {
    if (val) {
      let timer = setTimeout(() => {
        this.getSearch(val, index)
      }, 500)
    } else {
      let timer = ''
    }
  }
  // 模糊查询-发起搜索请求
  getSearch (val: string, index: number): void {
    let that = this
    // START 搜索追加
    this.$store.commit('CHANGE_LINEAR', true)
    Vue.prototype.Axios.post('/index.php/Home/Search/FuzzySearch', {
      key: this.Accessories[index].searchContent,
      // vin: this.vin,
      // data: sessionStorage.getItem('carmodelsData'),
      cancelToken: this.source.token
    })
    .then((res: any) => {
      that.$store.commit('CHANGE_LINEAR', false)
      if (res.data.code === 1) {
        // 填充搜索数据
        this.Accessories[index].searchList = res.data.data
        // 展开搜索结果
        this.Accessories[index].searchState = true
      }
      if (res.data.code === 0) {
        that.$store.commit('OPEN_ALERT', {'val': '暂无结果，请重新查询', 'wait': 1000})
      }
    })
    // END 搜索追加
  }
  // 模糊查询-中断查询
  cancel () {
    this.source.cancel('取消请求')
  }
  changeVal (value: string) {
    let a = value.replace(/x/i, '1')
    let b = a.replace(/n/i, '1')
    return b
  }
  // 通过type显示文字
  getType (type: string) {
    switch (type) {
      case '1':
        return '原厂件'
      case '0':
        return '品牌件'
    }
  }
  // 搜索-点击搜索列表
  handleSearchList (items: any, index: number) {
    this.cancel()
    for (let i in this.Accessories) {
      if (this.Accessories[i].curSearch.parttitle === items.parttitle) {
        this.$store.commit('OPEN_ALERT', {'val': '请勿重复询价！', 'wait': 1000})
        return false
      }
    }
    // 定义本条数据状态
    this.Accessories[index].showState = false
    this.Accessories[index].handleState = true
    this.Accessories[index].searchState = false
    this.Accessories[index].curSearch = items
    // 定义新增数据
    if (this.Accessories[this.Accessories.length - 1].searchContent !== '') {
      this.Accessories.push({
        showState: true,
        handleState: false,
        curSearch: {},
        searchContent: '',
        searchState: false,
        searchList: []
      })
    }
  }
  // 搜索-关闭搜索列表
  closeSearchList (index: number) {
    // 定义新增数据
    this.Accessories[index].searchContent = this.Accessories[index].searchContent.replace(/(^\s*)|(\s*$)/g, '')
    if (this.Accessories[index].searchContent.indexOf(' ') < 0) {
      this.Accessories[index].showState = false
      this.Accessories[index].handleState = true
      this.Accessories[index].searchState = false
      this.Accessories[index].searchList = []
      this.Accessories[index].curSearch = {
        parttitle: this.Accessories[index].searchContent,
        type: '1'
      }
      if (this.Accessories[this.Accessories.length - 1].searchContent !== '') {
        this.Accessories.push({
          showState: true,
          handleState: false,
          curSearch: {},
          searchContent: '',
          searchState: false,
          searchList: []
        })
      }
    } else {
      let searchTxt = this.Accessories[index].searchContent
      // 当前搜索栏添加分割后的第一个
      this.Accessories[index].showState = false
      this.Accessories[index].handleState = true
      this.Accessories[index].searchState = false
      this.Accessories[index].searchList = []
      this.Accessories[index].searchContent = searchTxt.split(' ')[0]
      this.Accessories[index].curSearch = {
        parttitle: searchTxt.split(' ')[0],
        type: '1'
      }
      if (this.Accessories[this.Accessories.length - 1].searchContent !== '') {
        this.Accessories.push({
          showState: true,
          handleState: false,
          curSearch: {},
          searchContent: '',
          searchState: false,
          searchList: []
        })
      }
      searchTxt.split(' ').forEach((key: any, indexs: number) => {
        if (indexs !== 0) {
          this.Accessories[this.Accessories.length - 1].showState = false
          this.Accessories[this.Accessories.length - 1].handleState = true
          this.Accessories[this.Accessories.length - 1].searchState = false
          this.Accessories[this.Accessories.length - 1].searchList = []
          this.Accessories[this.Accessories.length - 1].searchContent = key
          this.Accessories[this.Accessories.length - 1].curSearch = {
            parttitle: key,
            type: '1'
          }
          if (this.Accessories[this.Accessories.length - 1].searchContent !== '') {
            this.Accessories.push({
              showState: true,
              handleState: false,
              curSearch: {},
              searchContent: '',
              searchState: false,
              searchList: []
            })
          }
        }
      })
    }
  }
  // 搜索-编辑操作
  reset (val: string, index: number) {
    this.Accessories[index].showState = true
    this.Accessories[index].handleState = false
    this.Accessories[index].searchState = false
    this.Accessories[index].searchContent = val
    this.Accessories[index].curSearch = {}
    this.Accessories[index].focus = true
    this.getSearch(val, index)
  }
  // 搜索-删除操作
  del (index: number) {
    this.Accessories.splice(index, 1)
  }
  // 搜索-输入时，失去焦点
  blur (index: number) {
    for (let i = 0; i < this.Accessories.length; i++) {
      if (this.Accessories[i].showState === true && this.Accessories[i].searchContent !== '') {
        this.closeSearchList(i)
      }
    }
    if ((index + 1) <= this.Accessories.length) {
      if (this.Accessories[index].searchContent === '' && (index + 1) < this.Accessories.length) {
        this.Accessories.splice(index, 1)
      }
    }
  }
  // 地址框-弹出地址框
  showAddress () {
    this.addressAlert.show = true
  }
  // 地址框-选省份
  handleAddressAlertProvince (index: number, item: any) {
    this.addressAlert.curProvince = item.name
    this.addressAlert.curProvinceid = item.id
    this.addressAlert.provinceshow = false
    this.addressAlert.citylist = item.cites
    this.addressAlert.cityshow = true
  }
  // 地址框-选城市
  handleAddressAlertCity (items: any) {
    this.addressAlert.curCity = items.name
    this.addressAlert.curCityid = items.id
    // 恢复默认
    this.clicktabsdel()
    // 发起询价
    this.joincart()
  }
  // 地址框-点击弹出框中的省份,重新选省
  clicktabsprovince () {
    if (this.addressAlert.show) {
      if (this.addressAlert.cityshow) {
        this.addressAlert.provinceshow = true
        this.addressAlert.curProvince = null
        this.addressAlert.cityshow = false
      }
    }
  }
  // 地址框-恢复默认
  clicktabsdel () {
    this.addressAlert.show = false
    this.addressAlert.provinceshow = true
    this.addressAlert.curProvince = null
    this.addressAlert.cityshow = false
    this.addressAlert.curCity = null
    this.addressAlert.citylist = null
  }
  // 通过ID获取省市名称
  getAdd (a: string, b: string) {
    if (!a) return false
    if (!b) return false
    b = b + ''
    let province
    let city
    if (a === b) {
      for (let i in this.addressAlert.addresslist) {
        if ((this.addressAlert.addresslist[i].id + '') === a) {
          city = this.addressAlert.addresslist[i].name
        }
      }
      province = ''
    } else {
      for (let i in this.addressAlert.addresslist) {
        if ((this.addressAlert.addresslist[i].id + '') === a) {
          province = this.addressAlert.addresslist[i].name
          for (let q in this.addressAlert.addresslist[i].cites) {
            if ((this.addressAlert.addresslist[i].cites[q].id + '') === b) {
              city = this.addressAlert.addresslist[i].cites[q].name
            }
          }
        }
      }
    }
    return province + ' ' + city
  }
  // 配件类型弹出框-弹出
  selectType (index: any) {
    this.part.show = true
    this.part.index = index
  }
  // 配件类型弹出框-选择
  handlePartType (item: string) {
    let type: string = '1' // 默认为原厂件
    switch (item) {
      case '原厂件':
        type = '1'
        break
      case '品牌件':
        type = '0'
        break
    }
    this.Accessories[this.part.index].curSearch.type = type
    this.ClosePartAlert()
  }
  // 配件类型弹出框-关闭
  ClosePartAlert () {
    this.part.show = false
    this.part.index = []
  }
  // 快速询价提交
  joincart () {
    let obj: Array<any> = []
    let that = this
    for (let i in this.Accessories) {
      if (this.Accessories[i].handleState) {
        obj.push(this.Accessories[i].curSearch)
      }
    }
    if (sessionStorage.getItem('lastSearchParts') !== JSON.stringify(obj)) {
      this.$store.commit('CHANGE_LINEAR', true)
      Vue.prototype.Axios.post('/index.php/Home/Search/FuzzySearchAdd', {
        province: this.addressAlert.curProvinceid,
        city: this.addressAlert.curCityid,
        key: JSON.stringify(obj),
        vin: this.vin,
        data: JSON.stringify(this.attr)
      })
        .then((res: any) => {
          that.$store.commit('CHANGE_LINEAR', false)
          if (res.data.code === 1) {
            sessionStorage.setItem('lastSearchParts', JSON.stringify(obj))
            that.$store.commit('OPEN_ALERT', {'val': '提交成功，请稍后在购物车中查看！', 'wait': 1000})
          } else {
            that.$store.commit('OPEN_ALERT', {'val': '快速询价失败！', 'wait': 1000})
          }
        })
    } else {
      that.$store.commit('OPEN_ALERT', {'val': '请勿重复提交询价！', 'wait': 1000})
    }
  }
  // 进入车型选择
  next () {
    sessionStorage.setItem('Businessline', JSON.stringify('click'))
    this.$router.push({
      name: 'modelList'
    })
  }
  // 判断当前是否可以提交询价
  SubmitReady (): boolean {
    let bool: boolean = true
    if (Object.keys(this.Accessories).length === 1) {
      bool = this.Accessories[0].handleState
    } else {
      Object.keys(this.Accessories).forEach((key: any) => {
        if (parseInt(key, 0) !== (this.Accessories.length - 1)) {
          bool = this.Accessories[key].handleState
        }
      })
    }
    return !bool
  }
}
</script>

<style scoped lang="less">
  .VINsearchresult{
    overflow-y: auto;
    .cart-msg-box{
      overflow: hidden;
      padding: 1rem 4%;
      display: table;
      width: 92%;
      box-sizing: content-box;
      box-shadow: 0px 0px 50px #e6e6e6;
      .cart-msg-nolist{
        color: #999;
        text-align: center
      }
      > li{
        width: 31.33%;
        box-sizing: content-box;
        display: inline-block;
        vertical-align: top;
        padding: 0.6rem 1%;
        label,
        span {
          display: block;
        }
        label{
          color: #808080;
          font-size: 0.83rem;
        }
        span{
          color: #1f1f1f;
          font-weight: 550;
          word-break: break-all
        }
      }
    }
    .searchresult-title{
      background: url('../../../static/img/bg_top.jpg');
      background-size: cover;
      padding: 2rem 0;
      position: relative;
      .searchresult-title-left{
        position: absolute;
        top: 2rem; left: 4%;
        width: 14%;
        text-align: center;
        border-radius: 2.4rem;
        line-height: 2.4rem;
        font-style: italic;
        font-size: 1.4rem;
        font-weight: 600;
        background-color: #fff;
        color: #343538;
      }
      .searchresult-title-right{
        line-height: 2.4rem;
        padding-left: 22%;
        font-size: 1.8rem;
        font-weight: 550;
        color: #fff;
      }
    }
    .searchresult-sub{
      overflow: hidden;
      padding-top: 3rem;
      line-height: 3rem;
      .searchresult-sub-title{
        float: left;
        font-size: 1.6rem;
        border: 1px solid #fff;
        text-indent: 4%;
      }
      .searchresult-history{
        padding: 0; margin: 0;
        margin-right: 4%;
        float: right;
        color: #808080;
        border: 1px solid #fff;
        box-sizing: border-box;
        background-color: #fff;
        span, i {
          vertical-align: middle
        }
      }
    }
    .searchresult-list{
      border-top: 1px solid #e5e5e5;
      .search-show{
        height: 6rem;
        line-height: 6rem;
        overflow: hidden;
        width: 100%;
        display: table;
        border-bottom: 1px solid #e5e5e5
      }
      .search-show .iconfont{
        margin-left: 4%;
      }
      .search-show .search{
        text-indent: 0.6rem;
        font-size: 1.2rem;
        width: 90%;
        border: 0px;
        padding: 0px;
        margin: 0px;
      }
    }
    .search-list-close{
      overflow: hidden;
      padding: 1rem 6% 0;
      span{
        float: right
      }
    }
    .search-list{
      overflow: hidden;
      padding: 4%;
      border-bottom: 1px solid #e5e5e5;
      display: table;
      width: 100%;
      li{
        word-break: break-all;
        width: 46%;
        padding: 0.4rem;
        padding-bottom: 0.5rem;
        border-radius: 0.6rem;
        margin: 2%;
        font-size: 1.2rem;
        border: 1px solid #e5e5e5;
        display: inline-table;
        word-wrap: break-word
      }
    }
    .search-handle{
      height: 6rem;
      line-height: 6rem;
      overflow: hidden;
      width: 100%;
      overflow: hidden;
      border-bottom: 1px solid #e5e5e5;
      .search-result{
        width: 70%;
        float: left;
        line-height: 2.2rem;
        font-size: 1.2rem;
        margin-top: 1.6rem;
        padding-left: 1rem;
        span {
          line-height: 1.3rem;
          display: inherit;
        }
      }
      .search-type{
        font-size: 0.91rem;
        border: 1px solid #fff;
        background-color: #fff;
        padding: 0px;
        line-height: 1.5rem;
        height: 1.5rem;
        color: #808080;
        span, i {
          vertical-align: middle;
        }
      }
      .handle-reset,
      .handle-del{
        float: left;
        height: 6rem;
        width: 15%;
        padding: 0px;
        margin: 0px;
        border: 0px;
        font-size: 1.4rem;
        color: #fff;
      }
      .handle-reset{
        background-color: #d1d1d2;
      }
      .handle-del{
        background-color: #999
      }
    }
    .search-btn{
      width:85%;
      display: block;
      height: 3.4rem;
      line-height: 3.4rem;
      border-radius: 3.4rem;
      font-size:1.5rem;
    }
    .index-search-btn{
      margin:14% auto 0;
      background: #2580c1;
      border: 1px solid #2580c1;
      color: #fff;
    }
    .index-search-car{
      border: 1px solid #2580c1;
      margin:0 auto;
      background: #fff;
      color: #2580c1;
      margin-bottom: 2rem;
      margin-top: 6%;
    }
    .index-search-dis{
      background-color: #ccc;
      border-color: #ccc;
    }
  }

.address-alert{
    position: fixed;
    bottom: 0px; left: 0px;
    width: 100%;
    z-index: 9;
    background-color: #fff;
    .address-alert-line{
      background-color: #ffffff;
      padding: 1rem 2%;
      border-bottom: 1px solid #eee;
      position: relative;
      z-index: 9;
      p{
        padding:0 1.2rem;
        font-size: 1.1rem;
      }
    }
    .tabs-province,
    .tabs-city,
    .tabs-close{
      font-size: 1.1rem;
      padding: 1rem 1.2rem;
    }
    .tabs-province,
    .tabs-city{
      float: left;
    }
    .tabs-close{
      float: right;
    }
    .tabs-on{
      border-bottom: 2px solid #348ac7;
    }
    .address-alert-tabs,
    .address-alert-list{
      background-color: #fff;
      z-index: 9;
      position: relative;
    }
    .address-alert-tabs{
      overflow: hidden;
      padding: 0 2%;
    }
    .address-alert-list{
      padding: 2%;
      max-height: 80vh;
      overflow-y: auto;
    }
    .address-alert-province,
    .address-alert-city{
      overflow: hidden;
    }
    .address-alert-province li,
    .address-alert-city li{
      float: left;
      padding: 0.6rem 1rem;
      margin: 1%;
      border: 1px solid #e9e9e9;
      text-align: center;
      border-radius: 3px;
    }
  }
  .address-alert .bg{
    content: '';
      display: block;
      z-index: 3;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: #000;
      opacity: .6;
  }
  .address-alert .bg,
    .money-alert .bg{
      content: '';
      display: block;
      z-index: 3;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: #000;
      opacity: .6;
    }
    .address-alert,
    .money-alert{
      position: fixed;
      bottom: 0px; left: 0px;
      width: 100%;
      max-height: 100%;
      z-index: 9;
      background-color: #fff;
    }
    .address-alert-tabs,
    .address-alert-list,
    .money-alert-content{
      background-color: #fff;
      z-index: 9;
      position: relative;
    }
    .address-alert-tabs{
      overflow: hidden;
      padding: 0 2%;
    }
    .tabs-province,
    .tabs-city,
    .tabs-close{
      font-size: 1.1rem;
      padding: 1rem 1.2rem;
    }
    .tabs-province,
    .tabs-city{
      float: left;
    }
    .tabs-close{
      float: right;
    }
    .tabs-on{
      border-bottom: 2px solid #348ac7;
    }
    .address-alert-list{
      padding: 2%;
    }
    .address-alert-province,
    .address-alert-city{
      overflow: hidden;
      li{
        float: left;
        padding: 0.6rem 1rem;
        margin: 1%;
        border: 1px solid #e9e9e9;
        text-align: center;
        border-radius: 3px;
      }
    }
    .money-alert-content{
      padding: 2%;
      padding-bottom: 2rem;
      h2{
        font-size: 1.3rem;
        padding: 2rem 0 1.2rem
      }
      .iconfont{
        position: absolute;
        right: 1rem;
        top: 1rem;
      }
      ul{
        overflow: hidden;
        li{
          float: left;
          width: 48%;
          margin: 1%;
          border: 1px solid #e9e9e9;
          text-align: center;
          padding: 0.6rem 0;
          // min-height: 4.2rem;
          border-radius: 3px;
          p{
            line-height: 1.5rem;
          }
        }
      }
    }
</style>
