/**
 * BTN & INPUT
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*
 *	手机范畴
 */
html{font-size:12px}
@media screen and (min-width:321px) and (max-width:375px){html{font-size:12px}}
@media screen and (min-width:376px) and (max-width:414px){html{font-size:14px}}
/*
 *	平板范畴
 */
@media screen and (min-width:415px) and (max-width:639px){html{font-size:14px}}
@media screen and (min-width:640px) and (max-width:719px){html{font-size:14px}}
@media screen and (min-width:720px) and (max-width:749px){html{font-size:14px}}
@media screen and (min-width:750px) and (max-width:799px){html{font-size:14px}}
@media screen and (min-width:800px){html{font-size:14px}}
/*
 *	默认字体
 */
body{
	font-family: "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
}
input,button {
  border: 1px #cdcdcd solid;
  outline: none;
  border-radius: 0px;
}
input{
	-webkit-appearance : none ;  /*解决iPhone6以及iPhone中safari上的圆角问题*/
}
.mu-bottom-item-active .mu-bottom-item-icon,
.mu-bottom-item-active .mu-bottom-item-text{
  color: #2580c1;
}
.mu-tabs{
  background: #fff;
}
.mu-tab-link{
  color: #2f2f32;
}
.mu-tab-active .mu-tab-text{
  color: #348ac7
}
.tabs-line{
	background: none;
}
.tabs-line::after,
.tabs-line::before{
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	background: #348ac7;
	height: 100%;
	width: 50%;
	margin: 0 25%;
}
.mu-checkbox input[type=checkbox]:checked+.mu-checkbox-wrapper .mu-checkbox-ripple-wrapper,
.mu-checkbox input[type=checkbox]:checked+.mu-checkbox-wrapper .mu-checkbox-icon-uncheck,
.mu-checkbox-icon-checked{
	color: #348ac7
}
.mu-checkbox-icon{
	border-radius: 24px;
}
.cart .mu-checkbox-icon-uncheck{
	color: #cdcdcd;
}
.cart .mu-icon{
	font-size: 22px;
}
.cart-bottom-input .mu-checkbox-icon{
	margin-right: 0px;
	transform: translateX(5px) translateY(3px)
}
.demo-popup-top{
	width: 100%;
	opacity: .8;
	height: 48px;
	line-height: 48px;
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: 375px;
	background: rgba(0, 0, 0, 0.6);
	color: #fff;
	font-size: 1.4rem;
}
.mu-icon{
	font-size: 1.8rem;
	line-height: 2.2rem;
}
.mu-checkbox-svg-icon{
	width: 16px;
	height: 16px;
}
.mu-tab-link{
	min-height: 40px;
}
.mu-paper-1{
	border-top: 1px solid #eeeeee;
	box-shadow: none
}
.mu-flat-button-primary{
	color: #2580c1
}
.mu-linear-progress{
	height: 1px;
	position: fixed;
	z-index: 999;
}
.mu-linear-progress-determinate, .mu-linear-progress-indeterminate {
	background-color: #2580c1
}