<template>
  <div class="askinaftersale" :style="{height: this.height - 56 + 'px'}">
    <div class="orderid">
      <label>订单编号：</label>
      <span>{{ orderid }}</span>
    </div>
    <ul class="askinaftersale-list">
      <li v-for="itemParts in item" :key="itemParts.id">
        <div class="aftersale-list-mess">
          <h2 class="aftersale-list-title">{{ itemParts.orderPartsName }}</h2>
          <p class="aftersale-list-remark"><i>原厂编号：{{ itemParts.orderPartsNum }}</i> <i>类别：<span>{{ itemParts.type ? itemParts.type : '—' }}</span></i></p>
          <p class="aftersale-list-remark">备注：{{ itemParts.orderPartsNote ? itemParts.orderPartsNote : '—' }}</p>
        </div>
        <div class="aftersale-list-num-box">
          <p class="aftersale-part-state">x{{ itemParts.orderPartsNumber }}</p>
        </div>
      </li>
    </ul>
    <ul class="aftersale-opt">
      <li>
        <label class="aftersale-title">申请服务</label>
        <div class="aftersale-edit">
          <ul class="type">
            <li v-for="item in type.def" :key="item.id" @click="changeType(item)"><span :class="{ 'cur' : item === type.current }">{{item}}</span></li>
          </ul>
        </div>
      </li>
      <li>
        <label class="aftersale-title">申请凭据</label>
        <div class="aftersale-edit">
          {{istax ? istax : '-'}}
        </div>
      </li>
      <li>
        <label class="aftersale-title">收货地址</label>
        <div class="aftersale-edit">
          <input type="text" placeholder="请选择收货地址" v-model="address.address" disabled>
        </div>
      </li>
      <li>
        <label class="aftersale-title">联系人</label>
        <div class="aftersale-edit">
          <input type="text" placeholder="输入售后联系人" v-model="address.accept_name" disabled>
        </div>
      </li>
      <li>
        <label class="aftersale-title">联系电话</label>
        <div class="aftersale-edit">
          <input type="text" placeholder="输入售后联系电话" v-model="address.accept_phone" disabled>
        </div>
      </li>
      <li>
        <label class="aftersale-title">数量</label>
        <div class="aftersale-edit">
          <input type="number" placeholder="输入售后数量" v-model="number" @input="handleNumber(number)">
        </div>
      </li>
      <li>
        <label class="aftersale-title">备注</label>
        <div class="aftersale-edit">
          <input type="text" placeholder="输入售后备注" v-model="note">
        </div>
      </li>
    </ul>
    <p class="subhead">请保持电话畅通，售后专员会与您电话沟通</p>
    <button class="askin-btn" :disabled="loadingState" @click="submit()">保存</button>
    <div class="loading" v-if="loadingState">
      <mu-circular-progress :size="40" color="#2580c1"/>
    </div>
  </div>
</template>

<script lang='ts'>
import { Component, Vue, Prop } from 'vue-property-decorator'

@Component
export default class AskinAfterSale extends Vue {
  @Prop()
  height!: number

  type: any = {
    def: ['退货', '换货'],
    current: ''
  }
  loadingState: boolean = false
  saleNumber: string = ''
  item: Array<any> = []
  istax: string = ''
  orderid: string = ''
  name: string = ''
  tel: string = ''
  number: string = ''
  note: string = ''
  address: any = {}

  created () {
    if (JSON.stringify(this.$route.params) !== '{}') {
      sessionStorage.setItem('AskinAfterSaleData', this.$route.params.data)
      sessionStorage.setItem('AskinAfterSaleIsTax', this.$route.params.istax)
      sessionStorage.setItem('AskinAfterSaleOrderId', this.$route.params.orderid)
      sessionStorage.setItem('AskinAfterSaleNumber', this.$route.params.salenumber)
      sessionStorage.setItem('AskinAfterSaleAddress', this.$route.params.address)
      this.orderid = this.$route.params.orderid
      this.istax = this.$route.params.istax
      this.saleNumber = this.$route.params.salenumber
      this.address = JSON.parse(this.$route.params.address)
      this.item.push(JSON.parse(this.$route.params.data))
    } else {
      let data = JSON.parse(sessionStorage.getItem('AskinAfterSaleData') || '""' )
      if (typeof data === 'object') {
        this.item.push(data)
      }
      this.istax = sessionStorage.getItem('AskinAfterSaleIsTax') || ''
      this.orderid = sessionStorage.getItem('AskinAfterSaleOrderId') || ''
      this.saleNumber = sessionStorage.getItem('AskinAfterSaleNumber') || ''
      this.address = JSON.parse(sessionStorage.getItem('AskinAfterSaleAddress') || '""')
    }
  }

  /**
   * @description 申请服务
   * @param { string } type 选择的服务
   * @returns void
   */
  changeType (type: string) {
    this.type.current = type
  }

  /**
   * @description 售后数量过滤
   * @param { string } value 售后数量
   * @returns void
   */
  handleNumber (value: string) {
    this.number = value.replace(/[^\d]/g,'')
  }

  /**
   * @description 提交售后申请
   * @param void
   * @returns void
   */
  submit () {
    let that = this
    if (!this.type.current) {
      this.$store.commit('OPEN_ALERT', {'val': '请选择申请服务类型', wait: 1000})
      return false
    }
    if (!this.address.accept_name) {
      this.$store.commit('OPEN_ALERT', {'val': '缺少联系人，请联系客服', wait: 1000})
      return false
    }
    if (!this.address.accept_phone) {
      this.$store.commit('OPEN_ALERT', {'val': '缺少联系电话，请联系客服', wait: 1000})
      return false
    }
    if (!this.address.address) {
      this.$store.commit('OPEN_ALERT', {'val': '缺少收货地址，请联系客服', wait: 1000})
      return false
    }
    if (!this.number) {
      this.$store.commit('OPEN_ALERT', {'val': '请输入申请数量', wait: 1000})
      return false
    }
    if (Number(this.number) > Number(this.saleNumber)) {
      this.$store.commit('OPEN_ALERT', {'val': '售后数量不能大于可售后数量', wait: 1000})
      return false
    }
    that.loadingState = true
    Vue.prototype.Axios.post('index.php/Home/Orders/saveAfterService ',{
      data: JSON.stringify({
        orderId: this.orderid,
        orderDetailId: this.item[0].orderPartsId,
        type: this.type.current,
        address: this.address.address,
        isInvoice: this.istax ? true : false,
        name: this.address.accept_name,
        tel: this.address.accept_phone,
        number: this.number,
        note: this.note
      })
    })
      .then((res: any) => {
        that.loadingState = false
        if (res.data.code === 1) {
          setTimeout(function () {
            that.$router.push('/feedbackaftersale')
          }, 0)
        } else {
          this.$store.commit('OPEN_ALERT', {'val': res.data.message, wait: 1000})
        }
      })
  }
}
</script>

<style lang='less'>
.askinaftersale{
  background-color: #F6F6F6;
  overflow-y: auto;
  .loading{
    position: fixed;
    left: 50%; top: 30%;
    padding: 50px 40px;
    margin-left: -60px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 6px;
    text-align: center;
  }
}
.orderid{
  background-color: #fff;
  font-size: 1.08rem;
  line-height: 3rem;
  border-bottom: 1px solid #e0e0e0;
  padding: 0 1rem;
}
.askinaftersale-list{
  background-color: #fff;
  margin-bottom: 0.8rem;
}
.askinaftersale-list > li{
  padding: 1.2rem 1rem 1.25rem 0;
  margin-left: 1rem;
  border-bottom: 1px solid #f1f1f1;
  overflow: hidden;
  position: relative;
  .aftersale-list-mess{
    float: left;
    width: 90%;
    .aftersale-list-title{
      font-size: 1.16rem;
      margin-bottom: 0.4rem;
      color: #010101;
    }
    .aftersale-list-remark{
      color: #808080;
      font-size: 1rem;
      margin-top: 0.05rem;
      overflow: hidden;
      i{
        float: left;
        &:first-child {
          margin-right: 1rem;
        }
      }
    }
    .aftersale-list-money{
      font-size: 1.33rem;
      color: #010101;
    }
    .aftersale-list-money-cn{
      font-size: 1.15rem;
    }
    .aftersale-list-num{
      color: #808080;
      font-size: 0.9rem;
    }
  }
  .aftersale-list-num-box{
    float: right;
    width: 10%;
    p {
      font-size: 1.16rem;
      text-align: right;
    }
  }
}
.aftersale-opt{
  background: #fff;
}
.aftersale-opt > li{
  margin-left: 1rem;
  border-bottom: 1px solid #f1f1f1;
  line-height: 3.8rem;
  height: 3.8rem;
  overflow: hidden;
  .aftersale-title,
  .aftersale-edit{
    line-height: 3.8rem;
    float: left;
    width:23%;
    color: #616166;
  }
  .aftersale-title span{
    color: #bcbcbc;
    font-size: 0.91rem;
  }
  .aftersale-edit {
    width: 74%;
    float: right;
    margin-right: 3%;
    position: relative;
    .type {
      overflow: hidden;
      li {
        float: left;
        margin-right: 0.8rem;
        &:last-child {
          margin-right: 0px;
        }
        span {
          border: 1px solid #cccccc;
          border-radius: 3px;
          padding: 0.4rem 0.8rem;
        }
        span.cur {
          border-color: #2580c1;
          color: #2580c1;
        }
      }
    }
    i.iconfont {
      position: absolute;
      top: 0px;
      right: 0px;
    }
    input{
      line-height: 3.6rem;
      height: 3.6rem;
      margin: 0;
      padding: 0;
      width: 100%;
      border: 0px;
      text-align: left;
    }
    input[disabled],
    input:disabled {
      background-color: #fff;
    }
  }
}
.subhead{
  color: #999999;
  padding: 1rem;
}
.askin-btn{
  width: 85%;
  display: block;
  height: 3.4rem;
  line-height: 3.4rem;
  border-radius: 3.4rem;
  margin: 2em auto 1.5rem;
  font-size: 1.5rem;
  outline: none;
  text-align: center;
  position: relative;
  overflow: hidden;
  background: #2580c1;
  border: 1px solid #2580c1;
  color: #fff;
}
</style>
