<template>
  <div class="aftersaledatail" :style="{height: this.height - 56 + 'px'}">
    <div class="atersale-status">
      {{ getStatus(status) }}
    </div>
    <ul class="askinaftersale-list">
      <li> 
        <div class="aftersale-list-mess">
          <h2 class="aftersale-list-title">{{ partData.name }}</h2>
          <p class="aftersale-list-remark"><i>原厂编号：{{ partData.oe }}</i> <i>类别：<span>{{ partData.type }}</span></i></p>
          <p class="aftersale-list-remark">备注：{{ partData.note ? partData.note : '-' }}</p>
          <div class="aftersale-list-money-box">
            <span class="aftersale-list-money">￥{{ partData.money }}</span>
            <span class="order-list-num">x{{ partData.number }}</span>
          </div>
        </div>
        <div class="after-btn">
          <span class="order-part-service-after" @click="joinCart()" 
            v-if="status === '3'
                  || (status === '2' && defType === '退货' && Number(opts.orderPartsSaleNumber) < Number(partData.number))
                  || (status === '2' && defType === '换货')" 
          >立即购买</span>
          <span class="order-part-service-after" @click="toAfterSale()" 
            v-if="(status === '3'
                  || (status === '2' && defType === '退货' && Number(opts.orderPartsSaleNumber) < Number(partData.number))
                  || (status === '2' && defType === '换货'))
                  && partData.money !== '0.00'" 
          >申请售后</span>
        </div>
      </li>
    </ul>
    <ul class="aftersale-sum" v-if="defType === '退货'">
      <li><span>退款金额：</span>￥{{ afterSale.money }}</li>
      <li><span>退款方式：</span>
        <i v-if="afterSale.way.alipay && afterSale.way.alipay !== '0.00'">支付宝￥{{ afterSale.way.alipay | Price }}</i>
        <i v-if="afterSale.way.wx && afterSale.way.wx !== '0.00'">微信￥{{ afterSale.way.wx | Price }}</i>
        <i v-if="afterSale.way.white && afterSale.way.white !== '0.00'">白条￥{{ afterSale.way.white | Price }}</i>
        <i v-if="afterSale.way.caseback && afterSale.way.caseback !== '0.00'">返现￥{{ afterSale.way.caseback | Price }}</i>
        <i v-if="!afterSale.way.alipay && !afterSale.way.wx && !afterSale.way.white && !afterSale.way.caseback">-</i>
      </li>
    </ul>
    <ul class="aftersale-opts">
      <li><span>售后单号：</span>{{opts.afterSaleId}}</li>
      <li><span>关联订单：</span>{{opts.orderId}}</li>
      <li><span>商品名称：</span>{{opts.name}}</li>
      <li><span>售后数量：</span>{{opts.number}}</li>
      <li><span>售后时间：</span>{{opts.time ? opts.time : '-'}}</li>
      <li><span>备注说明：</span>{{opts.reasons ? opts.reasons : '-'}}</li>
    </ul>
    <p class='aftersale-subhead'>温馨提示：本次售后服务将由车通云为您提供</p>
  </div>
</template>

<script lang='ts'>
import { Component, Vue, Prop } from 'vue-property-decorator'

@Component
export default class AfterSaleDetail extends Vue {
  @Prop()
  height!: number

  defType: string = ''
  defOrderId: string = ''
  defOrderDetailId: string = ''
  defItem: string = ''
  defTax: string = ''
  status: string = ''
  partData: any = {
    name: '',
    oe: '',
    type: '',
    note: '',
    money: '',
    number: ''
  }
  afterSale: any = {
    money: '',
    way: {
      white: '',
      caseback: '',
      wx: '',
      alipay: ''
    }
  }
  opts: any = {
    afterSaleId: '',
    orderId: '',
    name: '',
    number: '',
    time: ''
  }

  created () {
    if (JSON.stringify(this.$route.params) !== '{}') {
      this.defOrderId = JSON.parse(this.$route.params.data).orderId
      this.defOrderDetailId = JSON.parse(this.$route.params.data).orderDetailId
      this.defType = JSON.parse(this.$route.params.data).type
      this.defItem = JSON.parse(this.$route.params.data).item
      this.defTax = JSON.parse(this.$route.params.data).istax
      sessionStorage.setItem('afterSaleDetailOrderId', JSON.parse(this.$route.params.data).orderId)
      sessionStorage.setItem('afterSaleDetailOrderDetailId', JSON.parse(this.$route.params.data).orderDetailId)
      sessionStorage.setItem('afterSaleDetailType', JSON.parse(this.$route.params.data).type)
      sessionStorage.setItem('afterSaleDetailItem', JSON.parse(this.$route.params.data).item)
      sessionStorage.setItem('afterSaleDetailTax', JSON.parse(this.$route.params.data).istax)
    } else {
      this.defOrderId = sessionStorage.getItem('afterSaleDetailOrderId') || ''
      this.defType = sessionStorage.getItem('afterSaleDetailType') || ''
      this.defOrderDetailId = sessionStorage.getItem('afterSaleDetailOrderDetailId') || ''
      this.defItem = sessionStorage.getItem('afterSaleDetailItem') || ''
      this.defTax = sessionStorage.getItem('afterSaleDetailTax') || ''
    }
    this.getAfterSaleDetailData()
  }

  /**
   * @description 获取售后详情
   * @param void
   * @returns void
   */
  getAfterSaleDetailData () {
    Vue.prototype.Axios.post('/index.php/Home/Orders/afterSaleDetails', {
      type: this.defType,
      orderId: this.defOrderId,
      orderDetailId: this.defOrderDetailId
    })
      .then((res: any) => {
        if (res.data.code === 1) {
          this.status = res.data.status
          this.partData = res.data.partData
          this.afterSale = res.data.afterSale
          this.opts = res.data.opts
        } else {
          this.$store.commit('OPEN_ALERT', {'val': res.data.message, 'wait': 1000})
        }
      })
  }

  /**
   * @description 售后单状态
   * @param { string } status 后台传来的售后单状态标识
   * @returns void
   */
  getStatus (status: string) {
    switch (status) {
      case '1':
        return '处理中'
      case '2':
        return '已完成'
      case '3':
        return '已驳回'
    }
  }

  /**
   * @description 再次购买
   * @param void
   * @returns void
   */
  joinCart () {
    let that = this
    Vue.prototype.Axios.post('/index.php/Home/Shopping/buyItNow', {
      orderId: this.defOrderId,
      orderDetailId: this.defOrderDetailId
    })
      .then(function (res: any) {
        that.$store.commit('CHANGE_LINEAR', false)
        if (res.data.code === 1) {
          that.$store.commit('OPEN_ALERT', {'val': '加入成功购物车成功', wait: 1000})
        } else {
          that.$store.commit('OPEN_ALERT', {'val': res.data.message, wait: 1000})
        }
      })
  }

  /**
   * @description 申请售后
   * @param void
   * @returns void
   */
  toAfterSale () {
    Vue.prototype.Axios.post('/index.php/Home/Orders/applicationSale', {
      orderId: this.defOrderId,
      orderDetailId: this.defOrderDetailId
    })
      .then((res: any) => {
        if (res.data.code === 1) {
          this.$router.push({
            name: 'aftersaleApply',
            params: {
              from: 'orderdetail',
              orderid: this.defOrderId,
              istax: this.defTax,
              data: this.defItem,
              salenumber: (Number(this.partData.number) - Number(this.opts.orderPartsSaleNumber)).toString(),
              address: JSON.stringify(res.data.data)
            }
          })
        } else {
          this.$store.commit('OPEN_ALERT', {'val': res.data.message, wait: 1000})
        }
      })
  }
}
</script>

<style lang='less'>
.aftersaledatail{
  overflow-y: auto;
  background-color: #f6f6f6;
}
.atersale-status{
  background: #348ac7;
  color: #fff;
  width: 100%;
  padding: 1.6rem 1rem;
  font-size: 1.16rem;
}
.aftersale-opt > li{
  overflow: hidden;
  margin-left: 1rem;
  border-bottom: 1px solid #f1f1f1;
  line-height: 3.8rem;
  height: 3.8rem;
  overflow: hidden;
  .aftersale-title,
  .aftersale-edit{
    line-height: 3.8rem;
    float: left;
    width:23%;
    color: #616166;
  }
  .aftersale-title span{
    color: #bcbcbc;
    font-size: 0.91rem;
  }
  .aftersale-edit {
    width: 74%;
    float: right;
    margin-right: 3%;
    position: relative;
    .type {
      overflow: hidden;
      li {
        float: left;
        margin-right: 0.8rem;
        &:last-child {
          margin-right: 0px;
        }
        span {
          border: 1px solid #cccccc;
          border-radius: 3px;
          padding: 0.4rem 0.8rem;
        }
      }
    }
    i.iconfont {
      position: absolute;
      top: 0px;
      right: 0px;
    }
    input{
      line-height: 3.6rem;
      height: 3.6rem;
      margin: 0;
      padding: 0;
      width: 100%;
      border: 0px;
      text-align: left;
    }
  }
}
.askinaftersale-list{
  background-color: #fff;
}
.askinaftersale-list > li{
  padding: 1.2rem 1rem 1.25rem 0;
  margin-left: 1rem;
  border-bottom: 1px solid #f1f1f1;
  overflow: hidden;
  position: relative;
  .aftersale-list-mess{
    float: left;
    width: 70%;
    .aftersale-list-title{
      font-size: 1.2rem;
      line-height: 1.8rem;
      margin-bottom: 0.4rem;
      color: #010101;
    }
    .aftersale-list-remark{
      color: #808080;
      font-size: 1rem;
      line-height: 1.4rem;
      margin-top: 0.05rem;
      overflow: hidden;
      i{
        float: left;
        &:first-child {
          margin-right: 1rem;
        }
      }
    }
    .aftersale-list-money{
      font-size: 1.33rem;
      color: #010101;
    }
    .aftersale-list-money-cn{
      font-size: 1.15rem;
    }
    .aftersale-list-num{
      color: #808080;
      font-size: 0.9rem;
    }
  }
}
.aftersale-sum,
.aftersale-opts {
  overflow: hidden;
  background-color: #fff;
  margin-top: 0.8rem;
  padding: 1rem 0.6rem;
}
.aftersale-sum li,
.aftersale-opts li{
  float: left;
  width: 100%;
  padding: 0 1rem;
  color: #333333;
  line-height: 1.8rem;
  font-size: 1.16rem;
  span {
    color: #999999;
  }
}
.aftersale-subhead{
  color: #cfcfcf;
  line-height: 3rem;
  padding: 0 1rem;
}
.after-btn {
  overflow: hidden;
  position: absolute;
  bottom: 1.25rem; right: 1rem;
  span {
    float: left;
    border: 1px solid #808080;
    font-size: 1.08rem;
    color: #212121;
    text-align: center;
    border-radius: 3px;
    padding: 0.6rem 0.8rem;
    margin-left: 0.8rem;
    float: right;
    &:last-child {
      margin-left: 0px;
    }
  }
  span.order-part-service-after{
    padding: 0.4rem 0.4rem;
    margin-left: 0.5rem;
    font-size: 1rem;
  }
}
</style>
