<template>
  <div class="addressmanagement" :style="{height: this.height - 56 + 'px'}">
    <div class="addressmanagement-list" :style="{height: this.height - 56 - 66 + 'px'}">
      <div class="addressmanagement-top"></div>
      <ul class="address-list-box">
        <li v-for="item in addressList" :key='item.id'>
          <div class="address-list-msg-box" @click='toPurchase(item)'>
            <div class="address-msg-top">
              <h3 class="address-msg-name">收货人：{{ item.name }}</h3>
              <h4 class="address-msg-tel">{{ item.tel }}</h4>
            </div>
            <p class="address-msg-addr">收货地址：{{ item.addr }}</p>
            <p class="address-msg-company">公司：{{ item.company ? item.company : '—' }}</p>
          </div>
          <i class="iconfont icon-bianji" @click="ToAddressEdit(item)"></i>
        </li>
        <li v-if="addressList.length === 0" class="no-address">暂无地址，请新增地址</li>
      </ul>
    </div>
    <div class="address-new">
      <button @click="ToAddressAdd()">
        <i class="iconfont icon-add"></i>
        <span>新增地址</span>
      </button>
    </div>
  </div>
</template>

<script lang='ts'>
import { Component, Vue, Prop } from 'vue-property-decorator'

@Component
export default class Addressmanagement extends Vue {
  @Prop()
  height!: number

  addressList: Array<any> = [
    // {
    //   id: '',
    //   name: '',
    //   tel: '',
    //   addr: '',
    //   company: '',
    //   provinceid: '',
    //   cityid: ''
    // }
  ]

  created () {
    let that = this
    this.$store.commit('CHANGE_LINEAR', true)
    Vue.prototype.Axios.post('/index.php/Home/Shopping/AddressBuyersLists')
    .then((res: any) => {
      that.$store.commit('CHANGE_LINEAR', false)
      if (res.data.code === 1) {
        that.addressList = res.data.data
      }
    })
  }

  /**
   * @description 回溯到上级页面
   * @param { any } item 地址信息
   * @returns void
   */
  toPurchase (item: any) {
    if (JSON.parse(sessionStorage.getItem('fromRouter') || '""').type === 'getData') {
      if (JSON.parse(sessionStorage.getItem('fromRouter') || '""').from === 'purchase') {
        Vue.prototype.Axios.post('/index.php/Home/Shopping/SetUserDefault', {
          id: item.id
        })
        .then((res: any) => {
          if (res.data.code === 1) {
            this.$router.push({
              name: JSON.parse(sessionStorage.getItem('fromRouter') || '""').from
            })
          }
        })
      } else {
        this.$router.push({
          name: JSON.parse(sessionStorage.getItem('fromRouter') || '""').from,
          params: {
            from: 'addressmanagement',
            data: JSON.stringify(item)
          }
        })
      }
    }
  }

  /**
   * @description 地址编辑
   * @param { any } item 地址信息
   * @returns void
   */
  ToAddressEdit (item: any) {
    let a = item.addr.replace(/(^\s*)|(\s*$)/g, '')
    let b = a.indexOf(' ')
    if (b !== -1) {
      item.addr = a.slice(b + 1, a.length)
    } else {
      item.addr = a
    }
    // 修改地址
    this.$router.push({
      name: 'addressEdit',
      params: {
        type: 'edit',
        data: JSON.stringify(item)
      }
    })
  }

  /**
   * @description 新增地址
   * @param void
   * @returns void
   */
  ToAddressAdd () {
    if (this.addressList.length === 10) {
      this.$store.commit('OPEN_ALERT', {'val': '收货地址不能多于10条！', 'wait': 1000})
      return false
    }
    //  新增地址
    this.$router.push({
      name: 'addressEdit',
      params: {
        type: 'add',
        data: ''
      }
    })
  }
}
</script>

<style lang='less'>
.addressmanagement{
  position: relative;
}
.addressmanagement-list{
  overflow-y: auto
}
.address-new{
  height: 56px;
  position: absolute;
  left: 0px; bottom: 0px;
  width: 100%;
  button{
    border-color: #2580c1;
    color: #2580c1;
    width: 85%;
    display: block;
    height: 3.4rem;
    line-height: 3.4rem;
    border-radius: 3.4rem;
    margin: 0 auto;
    font-size: 1.5rem;
    outline: none;
    text-align: center;
    position: relative;
    background-color: #fff;
    .iconfont{
      color: #2580c1;
      font-weight: bold
    }
  }
}
.addressmanagement-top{
  background: url('../../../static/img/order_list_top.jpg') repeat-x;
  height: 4px;
}
.address-list-box{
  padding-bottom: 1.3rem;
  > li{
    display: table;
    width: 100%;
    padding: 1rem;
    border-bottom: 1px solid #dcdcdc;
    .address-list-msg-box,
    .iconfont{
      vertical-align: middle;
      display: table-cell;
    }
    .address-list-msg-box{
      width: 88%;
    }
    .iconfont{
      width: 12%;
      text-align: right;
    }
    .address-msg-top{
      display: flex;
      color: #212121;
      margin-bottom: 0.3rem;
      line-height: 1.5rem;
      .address-msg-name{
        flex: 1;
      }
      .address-msg-tel{
        flex: 1;
        text-align: right;
      }
    }
    .address-msg-addr,
    .address-msg-company{
      color: #7a7978;
      font-size: 0.91rem;
      margin-top: 0.2rem;
    }
  }
}
li.no-address{
  border-bottom: 1px solid #fff;
  text-align: center;
  padding-top: 6rem;
  color: #ccc;
}
</style>
