<template>
  <div class="addressediting" id="addressediting" :style="{height: this.height - 56 + 'px'}">
    <div class="addressediting-content" :style="{height: this.height - 56 - 139 + 'px'}">
      <ul :id='address.id'>
        <li>
          <label class="addr-title">企业地址<span>(非必填)</span></label>
          <div class="addr-edit">
            <input type="text" placeholder="企业地址" v-model="address.company">
          </div>
        </li>
        <li>
          <label class="addr-title">收货人姓名</label>
          <div class="addr-edit">
            <input type="text" placeholder="收货人姓名" v-model="address.name">
          </div>
        </li>
        <li>
          <label class="addr-title">收货人电话</label>
          <div class="addr-edit">
            <input type="text" placeholder="收货人电话" v-model="address.tel">
          </div>
        </li>
        <li>
          <label class="addr-title">收货省市</label>
          <div class="addr-edit" @click="showAddress()" :provinceid='address.provinceid' :cityid='address.cityid'>
            <span>{{ getAdd(address.provinceid, address.cityid) ? getAdd(address.provinceid, address.cityid) : '请选择' }}</span>
            <i class="iconfont">&#xe77a;</i>
          </div>
        </li>
        <li>
          <label class="addr-title">详细地址</label>
          <div class="addr-edit">
            <input type="text" placeholder="详细地址" @input="handleinput(address.addr)" v-model="address.addr">
          </div>
        </li>
      </ul>
    </div>
    <div class="addressediting-button" :class="{ 'addressediting-button-only' : !delBtnShow }">
      <button v-if="!address.id" class="save" @click="save()">保 存</button>
      <button v-else class="save" @click="save()">修 改</button>
      <button class="del" @click="del()" v-if="delBtnShow">删 除</button>
    </div>

    <!-- 地址弹出 -->
    <div class="address-alert" v-if="addressAlert.show" :data-index="addressAlert.index">
      <div class='bg' v-if="addressAlert.show" ></div>
      <div class="address-alert-tabs">
        <span @click="clicktabsprovince()" :class="{'tabs-on':addressAlert.provinceshow}" class="tabs-province">{{addressAlert.curProvince?addressAlert.curProvince:'请选省'}}</span>
        <span :class="{'tabs-on':addressAlert.cityshow}" class="tabs-city">{{addressAlert.curCity?addressAlert.curCity:'请选市'}}</span>
        <span @click="clicktabsdel()" class="tabs-close">取消</span>
      </div>
      <div class="address-alert-list">
        <ul class="address-alert-province" v-if="addressAlert.provinceshow">
          <li @click="handleAddressAlertProvince(item)" v-for="(item) in addressAlert.addresslist" :key="item.id" :data-id="item.id">{{item.name}}</li>
        </ul>
        <ul class="address-alert-city" v-if="addressAlert.cityshow">
          <li @click="handleAddressAlertCity(items)" v-for="items in addressAlert.citylist" :key="items.id" :data-id="items.id">{{items.name}}</li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script lang='ts'>
import { Component, Vue, Prop } from 'vue-property-decorator'
import address from '../../../static/data/address'

@Component
export default class Addressediting extends Vue {
  @Prop()
  height!: number

  delBtnShow: boolean = true
  type: string = ''
  address: any = {
    id: '',
    name: '',
    tel: '',
    addr: '',
    company: '',
    provinceid: '',
    cityid: '',
    province: '',
    city: ''
  }
  addressAlert: any = {
    show: false,
    provinceshow: true,
    curProvince: null,
    curProvinceid: null,
    cityshow: false,
    curCity: null,
    curCityid: null,
    citylist: null,
    addresslist: address
  }

  created () {
    if (this.$route.params.data !== undefined) {
      sessionStorage.setItem('addressEditType', this.$route.params.type)
      sessionStorage.setItem('addressEditData', this.$route.params.data)
      this.type = this.$route.params.type
      this.address = JSON.parse(this.$route.params.data)
    } else {
      this.type = sessionStorage.getItem('addressEditType') || '""'
      this.address = JSON.parse(sessionStorage.getItem('addressEditData') || '""')
    }
    if (this.type === 'add') {
      this.delBtnShow = false
      this.address = {
        id: '',
        name: '',
        tel: '',
        addr: '',
        company: '',
        provinceid: '',
        cityid: '',
        province: '',
        city: ''
      }
    } else {
      this.delBtnShow = true
    }
  }

  /**
   * @description 过滤赋值
   * @param { string } value 需要过滤的值
   * @returns void
   */
  handleinput (value: string) {
    value = value.replace(/(^\s*)|(\s*$)/g, '')
    this.address.addr = value
  }

  /**
   * @description 保存地址
   * @param void
   * @returns void
   */
  save () {
    if (!this.address.name) {
      this.$store.commit('OPEN_ALERT', {'val': '请填写收货人姓名！', 'wait': 1000})
      return false
    }
    if (!this.address.tel) {
      this.$store.commit('OPEN_ALERT', {'val': '请填写收货人电话！', 'wait': 1000})
      return false
    }
    if (!/^1(3|4|5|6|7|8|9)\d{9}$/.test(this.address.tel)) {
      this.$store.commit('OPEN_ALERT', {'val': '手机号码格式不正确', wait: 1000})
      return false
    }
    if (!this.address.cityid && !this.address.provinceid) {
      this.$store.commit('OPEN_ALERT', {'val': '请选择收货省市！', 'wait': 1000})
      return false
    }
    if (!this.address.addr) {
      this.$store.commit('OPEN_ALERT', {'val': '请填写详细地址！', 'wait': 1000})
      return false
    }
    let that = this
    if (this.address.id) {
      // 修改
      this.$store.commit('CHANGE_LINEAR', true)
      Vue.prototype.Axios.post('/index.php/Home/Shopping/AddressBuyersAdd', {
        id: this.address.id,
        name: this.address.name,
        tel: this.address.tel,
        addr: this.address.addr,
        company: this.address.company,
        provinceid: this.address.provinceid,
        cityid: this.address.cityid,
        city: this.address.city,
        province: this.address.province
      })
        .then((res: any) => {
          that.$store.commit('CHANGE_LINEAR', false)
          if (res.data.code === 1) {
            that.$store.commit('OPEN_ALERT', {'val': '保存成功，自动跳转！', 'wait': 1000})
            setTimeout(function () {
              that.$router.push({
                name: 'addressList'
              })
            }, 1000)
          } else {
            that.$store.commit('OPEN_ALERT', {'val': '保存失败，请稍后再试！', 'wait': 1000})
          }
        })
    } else {
      // 新增
      this.$store.commit('CHANGE_LINEAR', true)
      Vue.prototype.Axios.post('/index.php/Home/Shopping/AddressBuyersAdd', {
        id: this.address.id,
        name: this.address.name,
        tel: this.address.tel,
        addr: this.address.addr,
        company: this.address.company,
        provinceid: this.address.provinceid,
        cityid: this.address.cityid,
        city: this.address.city,
        province: this.address.province
      })
        .then((res: any) => {
          that.$store.commit('CHANGE_LINEAR', false)
          if (res.data.code === 1) {
            that.$store.commit('OPEN_ALERT', {'val': '保存成功，自动跳转！', 'wait': 1000})
            setTimeout(function () {
              that.$router.push({
                name: 'addressList'
              })
            }, 1000)
          } else {
            that.$store.commit('OPEN_ALERT', {'val': '保存失败，请稍后再试！', 'wait': 1000})
          }
        })
    }
  }

  /**
   * @description 删除地址
   * @param void
   * @returns void
   */
  del () {
    let that = this
    this.$store.commit('CHANGE_LINEAR', true)
    Vue.prototype.Axios.post('/index.php/Home/Shopping/AddressBuyersDelete', {
      id: this.address.id
    })
      .then((res: any) => {
        that.$store.commit('CHANGE_LINEAR', false)
        if (res.data.code === 1) {
          that.$store.commit('OPEN_ALERT', {'val': '删除成功，自动跳转！', 'wait': 1000})
          setTimeout(function () {
            that.$router.push({
              name: 'addressList'
            })
          }, 1000)
        } else {
          that.$store.commit('OPEN_ALERT', {'val': '删除失败，请稍后再试！', 'wait': 1000})
        }
      })
  }

  /**
   * @description 弹出地址选择框
   * @param void
   * @returns void
   */
  showAddress () {
    this.addressAlert.show = true
  }

  /**
   * @description 地址选择框选择省份
   * @param { any } item 所选的省份信息
   * @returns void
   */
  handleAddressAlertProvince (item: any) {
    this.addressAlert.curProvince = item.name
    this.addressAlert.curProvinceid = item.id
    this.addressAlert.provinceshow = false
    this.addressAlert.citylist = item.cites
    this.addressAlert.cityshow = true
  }

  /**
   * @description 选择城市
   * @param { any } items 所选的城市信息
   * @returns void
   */
  handleAddressAlertCity (items: any) {
    this.address.provinceid = this.addressAlert.curProvinceid + ''
    this.address.cityid = items.id + ''
    this.address.province = this.addressAlert.curProvince
    this.address.city = items.name
    // 恢复默认
    this.clicktabsdel()
  }

  /**
   * @description 重新选择省份
   * @param void
   * @returns void
   */
  clicktabsprovince () {
    if (this.addressAlert.show) {
      if (this.addressAlert.cityshow) {
        this.addressAlert.provinceshow = true
        this.addressAlert.curProvince = null
        this.addressAlert.cityshow = false
      }
    }
  }

  /**
   * @description 清除地址选择框的屯余数据
   * @param void
   * @returns void
   */
  clicktabsdel () {
    this.addressAlert.show = false
    this.addressAlert.provinceshow = true
    this.addressAlert.curProvince = null
    this.addressAlert.cityshow = false
    this.addressAlert.curCity = null
    this.addressAlert.citylist = null
  }

  /**@description 通过省市ID获取省市名称
   * @param { string } a 省ID
   * @param { string } b 市ID
   * @returns { string } 省市名称
   */
  getAdd (a: string, b: string) {
    if (!a) return false
    if (!b) return false
    b = b + ''
    let province
    let city
    if (a === b) {
      for (let i in this.addressAlert.addresslist) {
        if ((this.addressAlert.addresslist[i].id + '') === a) {
          city = this.addressAlert.addresslist[i].name
        }
      }
      province = ''
    } else {
      for (let i in this.addressAlert.addresslist) {
        if ((this.addressAlert.addresslist[i].id + '') === a) {
          province = this.addressAlert.addresslist[i].name
          for (let q in this.addressAlert.addresslist[i].cites) {
            if ((this.addressAlert.addresslist[i].cites[q].id + '') === b) {
              city = this.addressAlert.addresslist[i].cites[q].name
            }
          }
        }
      }
    }
    return province + ' ' + city
  }
}
</script>

<style scoped lang='less'>
.addressediting{
  position: relative;
  overflow-y: auto;
}
.addressediting-content{
  overflow-y: auto;
}
  .address-alert{
    position: fixed;
    bottom: 0px; left: 0px;
    width: 100%;
    z-index: 9;
    background-color: #fff;
    .tabs-province,
    .tabs-city,
    .tabs-close{
      font-size: 1.1rem;
      padding: 1rem 1.2rem;
    }
    .tabs-province,
    .tabs-city{
      float: left;
    }
    .tabs-close{
      float: right;
    }
    .tabs-on{
      border-bottom: 2px solid #348ac7;
    }
    .address-alert-tabs,
    .address-alert-list{
      background-color: #fff;
      z-index: 9;
      position: relative;
    }
    .address-alert-tabs{
      overflow: hidden;
      padding: 0 2%;
    }
    .address-alert-list{
      padding: 2%;
      max-height: 80vh;
      overflow-y: auto;
    }
    .address-alert-province,
    .address-alert-city{
      overflow: hidden;
    }
    .address-alert-province li,
    .address-alert-city li{
      float: left;
      padding: 0.6rem 1rem;
      margin: 1%;
      border: 1px solid #e9e9e9;
      text-align: center;
      border-radius: 3px;
    }
  }
  .address-alert .bg{
    content: '';
      display: block;
      z-index: 3;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: #000;
      opacity: .6;
  }
  .addressediting-button-only{
    margin-top: 5.06rem;
  }
  .addressediting-button{
    padding: 0 0 1.2rem;
    background-color: #fff;
    position: absolute;
    left: 0px; bottom: 0px;
    width: 100%;
    button{
      border-color: #2580c1;
      color: #fff;
      width: 85%;
      display: block;
      height: 3.4rem;
      line-height: 3.4rem;
      border-radius: 3.4rem;
      margin: 0 auto;
      font-size: 1.5rem;
      outline: none;
      text-align: center;
      position: relative;
      background-color: #2580c1;
    }
    button.del{
      margin-top: 1.66rem;
      background-color: #fff;
      color: #dd5555;
      border-color: #dd5555;
    }
  }
  .addressediting-content ul li{
    margin-left: 1rem;
    border-bottom: 1px solid #f1f1f1;
    line-height: 3.8rem;
    height: 3.8rem;
    overflow: hidden;
    .addr-title,
    .addr-edit{
      line-height: 3.8rem;
      float: left;
      width:33%;
      color: #616166;
    }
    .addr-title span{
      color: #bcbcbc;
      font-size: 0.91rem;
    }
    .addr-edit {
      width: 64%;
      float: right;
      text-align: right;
      margin-right: 3%;
      input{
        line-height: 3.6rem;
        height: 3.6rem;
        margin: 0;
        padding: 0;
        width: 100%;
        border: 0px;
        text-align: right;
      }
    }
  }
</style>
