<template>
  <div class="addressediting" id="addressediting" :style="{height: this.height - 56 + 'px'}">
    <div class="addressediting-content" :style="{height: this.height - 56 - 139 + 'px'}">
      <ul>
        <li>
          <label class="addr-title">支付密码</label>
          <div class="addr-edit">
            <input type="password" placeholder="支付密码" v-model="PayPassword">
          </div>
        </li>
        <li>
          <label class="addr-title">确认密码</label>
          <div class="addr-edit">
            <input type="password" placeholder="确认密码" v-model="ConfirmPassword">
          </div>
        </li>
        <li>
          <label class="addr-title">验证码</label>
          <div class="addr-edit">
            <input type="text" placeholder="验证码" class="code" v-model="code">
            <button class="login-code-btn" @click="getcode" >{{ timeOpen ? ' ' + time + 's后再次发送 ' : '发送验证码' }}</button>
          </div>
        </li>
      </ul>
    </div>
    <div class="addressediting-button">
      <button class="save" @click="save">保 存</button>
    </div>
  </div>
</template>

<script lang='ts'>
import { Component, Vue, Prop } from 'vue-property-decorator'

@Component
export default class Addressediting extends Vue {
  @Prop()
  height!: number

  PayPassword: string = ''
  ConfirmPassword: string = ''
  code: string = ''
  timeOpen: boolean = false
  time: number = 60

  /**
   * @description 获取验证码
   * @param void
   * @returns void
   */
  getcode () {
    if (!this.timeOpen) {
      let that = this
      this.$store.commit('CHANGE_LINEAR', true)
      Vue.prototype.Axios.post('index.php/Home/Assist/sendPaySMSAction')
      .then(function (res: any) {
        that.$store.commit('CHANGE_LINEAR', false)
        if (res.data.code === 1) {
          that.timeOpen = true
          let timereduce = setInterval(function () {
            if (that.time !== 0) {
              that.time--
            } else {
              that.timeOpen = false
              timereset()
            }
          }, 1000)
          let timereset = function () {
            that.time = 60
            clearInterval(timereduce)
          }
        } else {
          that.$store.commit('OPEN_ALERT', {'val': res.data.message, 'wait': 1000})
        }
      })
    }
  }

  /**
   * @description 保存
   * @param void
   * @returns void
   */
  save () {
    if (!this.PayPassword) {
      this.$store.commit('OPEN_ALERT', {'val': '请填写支付密码', 'wait': 1000})
      return false
    }
    if (!this.ConfirmPassword) {
      this.$store.commit('OPEN_ALERT', {'val': '请填写确认密码', 'wait': 1000})
      return false
    }
    if (!this.code) {
      this.$store.commit('OPEN_ALERT', {'val': '请填写验证码', 'wait': 1000})
      return false
    }
    if (this.PayPassword.length < 6) {
      this.$store.commit('OPEN_ALERT', {'val': '支付密码不能小于6位', 'wait': 1000})
      return false
    }
    if (this.PayPassword !== this.ConfirmPassword) {
      this.$store.commit('OPEN_ALERT', {'val': '两次输入的密码不一致', 'wait': 1000})
      return false
    }
    let that = this
    this.$store.commit('CHANGE_LINEAR', true)
    Vue.prototype.Axios.post('index.php/Home/Member/modifyPayPwd', {
      PayPassword: this.PayPassword,
      ConfirmPassword: this.ConfirmPassword,
      SMSCode: this.code
    })
      .then(function (res: any) {
        that.$store.commit('CHANGE_LINEAR', false)
        if (res.data.code === 1) {
          that.$router.push({
            name: 'feedback',
            params: {
              state: 'true'
            }
          })
        } else {
          that.$store.commit('OPEN_ALERT', {'val': res.data.message, 'wait': 1000})
        }
      })
  }
}
</script>

<style scoped lang='less'>
.addressediting{
  position: relative;
  overflow-y: auto;
}
.addressediting-content{
  overflow-y: auto;
}
.addressediting-button{
  padding: 0 0 1.2rem;
  background-color: #fff;
  position: absolute;
  left: 0px; bottom: 0px;
  width: 100%;
  button{
    border-color: #2580c1;
    color: #fff;
    width: 85%;
    display: block;
    height: 3.4rem;
    line-height: 3.4rem;
    border-radius: 3.4rem;
    margin: 0 auto;
    font-size: 1.5rem;
    outline: none;
    text-align: center;
    position: relative;
    background-color: #2580c1;
  }
}
.addressediting-content ul li{
  margin-left: 1rem;
  border-bottom: 1px solid #f1f1f1;
  line-height: 3.8rem;
  height: 3.8rem;
  overflow: hidden;
  .addr-title,
  .addr-edit{
    line-height: 3.8rem;
    float: left;
    width:23%;
    color: #616166;
  }
  .addr-title span{
    color: #bcbcbc;
    font-size: 0.91rem;
  }
  .addr-edit {
    width: 74%;
    float: right;
    text-align: right;
    margin-right: 3%;
    input{
      line-height: 3.6rem;
      height: 3.6rem;
      margin: 0;
      padding: 0;
      width: 100%;
      border: 0px;
      text-align: left;
    }
    input.code,
    .login-code-btn {
      width: 50%;
      float: left;
    }
    .login-code-btn{
      border: 0px;
      background: #fff;
      color: #2580c1;
      text-align: right;
    }
  }
}
</style>
