<template>
  <div class="index" :style="{height: height - 56 + 'px'}">
    <img src="../../static/img/index_logo.jpg" class="index-logo">
    <div class="big-btn index-search-box" :inputValue="inputValue">
      <input id="index-search-input" class="big-btn index-search-input" type="text" placeholder="VIN / OE码 / 图片" x-webkit-speech @input="handleInputValue(inputValue)" v-model="inputValue">
      <i class="iconfont iconfont-search">&#xe60d;</i>
      <div class="iconfont-photo">
        <label for="imagefile">
          <i class="iconfont">&#xe603;</i>
        </label>
        <input type="file" name="file" id="imagefile" @change="uploadPhoto">
      </div>
    </div>
    <button class="big-btn index-search-btn" @click="submit()">查 询</button>
    <button class="big-btn index-search-car" @click="toModelQueries()">车型查询</button>
    <div class="loading" v-if="loadingState">
      <mu-circular-progress :size="40" color="#2580c1"/>
    </div>
  </div>
</template>

<script lang='ts'>
import { Component, Vue, Prop, Model } from 'vue-property-decorator'
import lrz from 'lrz'

@Component
export default class Home extends Vue {
  @Prop()
  height!: number

  inputValue: string = ''
  loadingState: boolean = false

  /**
   * @description 过滤输入的字符
   * @param { string } value 输入的字符
   * @returns void
   */
  handleInputValue (value: string) {
    let handleValue = this.filterStringBlank(value.toUpperCase().replace(/[^a-zA-Z0-9]/ig, ''))
    this.inputValue = handleValue
  }

  /**
   * @description 提交查询
   * @param void
   * @returns void
   */
  submit () {
    let isLogin = this.$store.state.userMessages.isLogin
    if (isLogin) {
      let that = this
      let val = this.inputValue
      // 处理判断
      if (val.length === 0) {
        this.$store.commit('OPEN_ALERT', {'val': '输入不能为空', wait: 1000})
        return false
      }
      if (/[\u4e00-\u9fa5]+/.test(val)) {
        this.$store.commit('OPEN_ALERT', {'val': '不能包含中文', wait: 1000})
        return false
      }
      if (val.length < 5) {
        this.$store.commit('OPEN_ALERT', {'val': '请检查输入内容', wait: 1000})
        return false
      }
      // 路由请求
      this.$store.commit('CHANGE_LINEAR', true)
      Vue.prototype.Axios.post('/index.php/Home/Api/getVinlist', {
        key: val
      })
        .then(function (res: any) {
          that.$store.commit('CHANGE_LINEAR', false)
          if (res.data.code === 1 && res.data.datatype === 'vin') {
            // 返回成功 且数据为VIN
            sessionStorage.setItem('Businessline', JSON.stringify('search-vin'))
            that.$router.push({
              name: 'rapidInquiry',
              params: {
                vin: that.inputValue,
                Data: JSON.stringify(res.data.data),
                listCarModel: JSON.stringify(res.data.vinInfo)
              }
            })
          } else if (res.data.code === 1 && res.data.datatype === 'oe') {
            if (res.data.data.name === null) {
              that.$store.commit('OPEN_ALERT', {'val': '查无结果', wait: 1000})
              return false
            }
            // 返回成功 且数据为OE
            sessionStorage.setItem('logoMsg', 'null')
            sessionStorage.setItem('carmodelsMsg', 'null')
            sessionStorage.setItem('accessoriesgroupMsg', 'null')
            sessionStorage.setItem('assemblydiagramMsg', 'null')
            sessionStorage.setItem('assemblydiagramMsg', 'null')
            sessionStorage.setItem('accessorieslistMsg', 'null')
            sessionStorage.setItem('year', 'null')
            sessionStorage.setItem('model', 'null')
            sessionStorage.setItem('Businessline', JSON.stringify('search-oe'))
            that.$router.push({
              name: 'partsDetails',
              params: {
                Msg: '',
                Data: JSON.stringify(res.data.data)
              }
            })
          } else if (res.data.code === 17) {
            that.$router.push('/login')
          } else if (res.data.code === 23) {
            that.$store.commit('OPEN_ALERT', {'val': '云豆数量不足', wait: 1000})
          } else {
            that.$store.commit('OPEN_ALERT', {'val': '查无结果', wait: 1000})
          }
        })
        .catch(function (err: any) {
          console.log(err)
        })
    } else {
      // 未登录跳转到登录页面
      this.$router.push('/login')
    }
  }

  /**
   * @description 上传图片
   * @param { any } e event
   * @returns void
   */
  uploadPhoto (e: any) {
    this.inputValue = ''
    let that = this
    lrz(e.target.files[0], {width: 2000, quality: 0.9})
      .then((rst: any) => {
        this.loadingState = true
        let xhr = new XMLHttpRequest()
        let timer = setTimeout(function () {
          xhr.abort()
          that.loadingState = false
          that.$store.commit('OPEN_ALERT', {'val': '识别超时，请重试', wait: 1000})
        }, 30000)
        xhr.open('POST', '/index.php/Home/Fileget/getfile', true)
        xhr.send(rst.formData)
        xhr.onload = function (e) {
          if (this.status === 200) {
            that.loadingState = false
            clearTimeout(timer)
            JSON.parse(this.responseText).vin
              ? that.inputValue = JSON.parse(this.responseText).vin
              : that.$store.commit('OPEN_ALERT', {'val': '识别失败，请手动键入', wait: 1000})
          }
        }
      })
      .catch((err: any) => {
        that.$store.commit('OPEN_ALERT', {'val': err, wait: 1000})
      })
  }

  /**
   * @description 过滤首尾空格
   * @param { string } str 输入的字符串
   * @returns 过滤后的字符串
   */
  filterStringBlank (str: string) {
    return str.replace(/(^\s*)|(\s*$)/g, '')
  }

  /**
   * @description 跳转到车型查询
   * @param void
   * @returns void
   */
  toModelQueries () {
    this.$router.push({name: 'modelQueries'})
  }
}
</script>

<style scoped lang="less">
  .index {
    .index-logo{
      width: 100%;
    }
    .big-btn {
      -webkit-appearance: none;
      width:85%;
      display: block;
      height: 3.4rem;
      line-height: 3.4rem;
      border-radius: 3.4rem;
      margin: 0 auto;
      font-size:1.5rem;
      outline: none;
      text-align: center;
      position: relative;
      overflow: hidden;
    }
    .index-search-box{
      margin:12% auto 6%;
      border: 1px #cdcdcd solid;
      .iconfont-search{
        position: absolute;
        top: 0; left: 0;
        height: 3.4rem;
        line-height: 3.4rem;
        margin-left: 1.2rem;
        font-size: 1rem;
        color: #999
      }
      .index-search-input{
        width:76%;
        vertical-align: bottom;
        font-size:1.2rem;
        outline: none;
        text-align: left;
        border: 0px;
      }
      .iconfont-photo{
        position: absolute;
        top: 0; right: 0;
        height: 3.4rem;
        width: 3.4rem;
        line-height: 3.4rem;
        color: #2580c1;
        text-align: center;
        .iconfont{
          font-size: 2rem;
          position: relative;
          z-index: 1;
        }
        #imagefile{
          position: absolute;
          left: 0px; top: -100vh;
          height: 3.4rem;
          width: 3.4rem;
          z-index: 2;
          opacity: 0.01;
        }
      }
    }
    .index-search-btn{
      background: #2580c1;
      border: 1px solid #2580c1;
      color: #fff;
    }
    .index-search-car{
      border-color: #2580c1;
      background: #fff;
      color: #2580c1;
      margin-bottom: 2rem;
      margin-top: 6%;
    }
    .loading{
      position: fixed;
      left: 50%; top: 30%;
      padding: 50px 40px;
      margin-left: -60px;
      background-color: rgba(0, 0, 0, 0.3);
      border-radius: 6px;
      text-align: center;
    }
  }
</style>
