<template>
  <div class="login" id="login" :style="{height:this.Gheight+'px'}">
    <router-link to="/" class="login-logo-link">
      <img src="../../../static/img/logo.png" class="logo" alt="">
    </router-link>
    <input type="tel" pattern="[0-9]*" class="login-input reg-input" v-model="username" placeholder="请输入您手机号">
    <input type="password" class="login-input reg-input" v-model="password" placeholder="请输入密码">
    <button class="login-input login-btn" @click="submit()" id="login-btn">登 录</button>
    <p class="login-getP"><span @click='toForgetPassword()'>忘记密码?</span></p>
    <router-link to="/register"><button class="login-input reg-btn">注 册</button></router-link>
    <p class="login-button-text">Powered by 鼎奥科技</p>
  </div>
</template>

<script lang='ts'>
import { Component, Vue, Prop } from 'vue-property-decorator'

@Component
export default class Login extends Vue {
  @Prop()
  height!: number

  username: string = ''
  password: string = ''
  Gheight: number = 667

  mounted () {
    this.loginWeiXin()
    // 登录页面作为第一个进入的页面，需要重新获取设备高度
    let Height = window.innerHeight || document.documentElement.clientHeight || document.body.clientHeight
    sessionStorage.setItem('windowHeightNoSRF', Height.toString())
    this.Gheight = parseFloat(sessionStorage.getItem('windowHeightNoSRF') || this.height.toString())
  }

  /**
   * @description 判断是不是微信浏览器
   * @param void
   * @returns void
   */
  isWeiXin () {
    let ua = window.navigator.userAgent.toLowerCase()
    if (ua.match(/MicroMessenger/i)) {
      if (ua.match(/MicroMessenger/i)![0] === 'micromessenger') {
        return true
      } else {
        return false
      }
    } else {
      return false
    }
  }

  /**
   * @description 获取url参数
   * @param { string } url 需要解析的url
   * @param { string } name 需要获取的key
   * @returns { string } 拿到的value
   */
  GetQueryString (url: string, name: string) {
    let reg = new RegExp('(^|&)' + name + '=([^&]*)(&|$)')
    let r = url.match(reg)
    if (r === null) {
      return null
    } else {
      return unescape(r[2])
    }
  }

  /**
   * @description 跳转忘记密码
   * @param void
   * @returns void
   */
  toForgetPassword () {
    this.$router.push({name: 'forgetPassword'})
  }

  /**
   * @description 微信登录、
   * @param void
   * @returns void
   */
  loginWeiXin () {
    if (this.isWeiXin()) {
      let that = this
      let appid = 'wxea1fc4f1d40bbc9a'
      let callback = location.protocol + '//' + location.host + '/#/login'
      if (!sessionStorage.getItem('wxinfo')) {
        setTimeout(function () {
          if (!that.GetQueryString(location.href.substring(location.href.indexOf('?') + 1, location.href.length), 'code')) {
            let state = Date.parse(new Date().toString())
            let url = 'http://www.autocloudpro.com/ctyms.php?appid='
                      + appid
                      + '&redirect_uri='
                      + encodeURIComponent(callback + '?v=' + (new Date().getTime()))
                      + '&response_type=code&scope=snsapi_userinfo&state='
                      + state
                      + '&device=wx'
            window.location.href = url
          }
        }, 300)
        let Time = setInterval(function () {
          if (that.GetQueryString(location.href.substring(location.href.indexOf('?') + 1, location.href.length), 'code')) {
            const code = that.GetQueryString(location.href.substring(location.href.indexOf('?') + 1, location.href.length), 'code')
            Vue.prototype.Axios.post('/index.php/home/Personal/getParint', {
              key: code
            })
            .then((res: any) => {
              clearInterval(Time)
              if (res.data.code === 1) {
                sessionStorage.setItem('wxinfo', res.data.data)
              }
              if (res.data.islogin === 1) {
                that.$store.commit('OPEN_ALERT', {'val': '自动登录，请稍等', wait: 1000})
                that.$store.commit('CHANGE_LOG', true)
                sessionStorage.setItem('isLogin', 'true')
                setTimeout(function () {
                  that.$router.push('/')
                }, 1000)
              }
            })
          }
        }, 1500)
      }
    }
  }

  /**
   * @description 登录提交
   * @param void
   * @returns void
   */
  submit () {
    let that = this
    if (!/^1(3|4|5|6|7|8|9)\d{9}$/.test(this.username)) {
      that.$store.commit('OPEN_ALERT', {'val': '手机号码格式不正确', wait: 1000})
      return false
    }
    this.$store.commit('CHANGE_LINEAR', true)
    Vue.prototype.Axios.post('/index.php/home/Member/loginAction', {
      phone: that.username,
      password: that.password
    })
    .then(function (res: any) {
      that.$store.commit('CHANGE_LINEAR', false)
      if (res.data.code === 1) {
        if (res.data.userAttr === 2) {
          that.$store.commit('OPEN_ALERT', {'val': '太保用户，请在PC端进行操作', wait: 1000})
          return
        } else {
          that.$store.commit('OPEN_ALERT', {'val': '登录成功，稍后自动跳转', wait: 1000})
          that.$store.commit('CHANGE_LOG', true)
          sessionStorage.setItem('isLogin', 'true')
          setTimeout(function () {
            that.$router.push('/')
          }, 1000)
        }
      }
      if (res.data.code === 11) {
        that.$store.commit('OPEN_ALERT', {'val': '手机号码不能为空', wait: 1000})
      }
      if (res.data.code === 12) {
        that.$store.commit('OPEN_ALERT', {'val': '密码不能为空', wait: 1000})
      }
      if (res.data.code === 13) {
        that.$store.commit('OPEN_ALERT', {'val': '此号码未注册', wait: 1000})
      }
      if (res.data.code === 14) {
        that.$store.commit('OPEN_ALERT', {'val': '密码错误', wait: 1000})
      }
      if (res.data.code === 15) {
        that.$store.commit('OPEN_ALERT', {'val': '手机号错误或未存在', wait: 1000})
      }
      if (res.data.code === 17) {
        that.$router.push('/login')
      }
    })
  }
}
</script>

<style scoped lang="less">
  .login{
    width:100%;
    height:100%;
    background: url("../../../static/img/bg_login.jpg") no-repeat bottom center;
    background-size: cover;
    .login-input {
      width: 68%;
      padding: 0 4%;
      box-sizing: content-box;
      color: #fff;
      display: block;
      height: 3.4rem;
      line-height: 3.4rem;
      border-radius: 3.4rem;
      margin: 1.2rem auto;
      font-size: 1.2rem;
      outline: none;
      text-align: left;
      border: 1px solid rgba(0,0,0,0);
    }
    .logo{
      width:46%;
      display: block;
      margin:0 auto;
      padding: 18% 0;
    }
    .reg-input{
      background: url("../../../static/img/bg_input.png")
    }
    .login-btn{
      background: #fff;
      color: #4a9bd0;
      font-size: 1.3rem;
      text-align: center;
    }
    .login-button-text{
      text-align: center;
      color: #97b7d8;
      font-size: 0.9rem;
      line-height: 1rem;
      margin-top: 1.3rem;
      width: 100%;
    }
    .login-getP{
      width: 70%;
      padding: 0 3%;
      font-size: 1.1rem;
      margin: 1.2rem auto 1.6rem;
      box-sizing: content-box;
      text-align: right;
    }
    .login-getP span{
      color: #fff
    }
    .reg-btn{
      text-align: center;
      border-color: #d8e7f4;
      background: none;
      color: #fff;
      font-size: 1.3rem;
    }
  }

</style>
