<template>
  <div class="register" id="register" :style="{height:this.Gheight+'px'}">
    <router-link to="/">
      <img src="../../../static/img/logo.png" class="logo" alt="">
    </router-link>
    <input type="tel" pattern="[0-9]*" class="register-btn reg-input" v-model="username" placeholder="请输入您手机号">
    <input type="password" class="reg-input register-btn" v-model="password" placeholder="请输入密码">
    <div class="login-code-box reg-input register-btn">
      <input type="number" pattern="[0-9]*" v-model="code" placeholder="请输入验证码">
      <button class="login-code-btn" @click="getcode()">{{ timeOpen ? ' ' + time + 's后再次发送 ' : '发送验证码' }}</button>
    </div>
    <button class="reg-btn register-btn" @click="submit()" id="reg-btn">注 册</button>
    <p class="login-button-text">Powered by 鼎奥科技</p>
  </div>
</template>

<script lang='ts'>
import { Component, Vue, Prop } from 'vue-property-decorator'

@Component
export default class Register extends Vue {
  @Prop()
  height!: number

  screenHeight: number = window.innerHeight || document.documentElement.clientHeight || document.body.clientHeight
  username: string = ''
  password: string = ''
  code: string = ''
  timeOpen: boolean = false
  time: number = 60
  Gheight: number = 667

  mounted () {
    this.Gheight = parseFloat(sessionStorage.getItem('windowHeightNoSRF') || this.height.toString())
  }

  /**
   * @description 获取验证码
   * @param void
   * @returns void
   */
  getcode () {
    if (!this.timeOpen) {
      let that = this
      if (!this.username) {
        that.$store.commit('OPEN_ALERT', {'val': '手机号码不能为空', wait: 1000})
        return false
      }
      if (!/^1(3|4|5|6|7|8|9)\d{9}$/.test(this.username)) {
        that.$store.commit('OPEN_ALERT', {'val': '手机号码格式不正确', wait: 1000})
        return false
      }
      this.$store.commit('CHANGE_LINEAR', true)
      Vue.prototype.Axios.post('/index.php/home/Assist/sendSMSAction', {
        phone: that.username,
        page: 'reg'
      })
      .then(function (res: any) {
        that.$store.commit('CHANGE_LINEAR', false)
        if (res.data.code === 11) {
          that.$store.commit('OPEN_ALERT', {'val': '手机号码为空', wait: 1000})
        }
        if (res.data.code === 12) {
          that.$store.commit('OPEN_ALERT', {'val': '手机号码已注册', wait: 1000})
          setTimeout(function () {
            that.$router.push('/login')
          }, 1000)
        }
        if (res.data.code === 17) {
          that.$router.push('/login')
        }
        if (res.data.code === 1) {
          that.timeOpen = true
          let timereduce = setInterval(function () {
            if (that.time !== 0) {
              that.time--
            } else {
              that.timeOpen = false
              timereset()
            }
          }, 1000)
          let timereset = function () {
            that.time = 60
            clearInterval(timereduce)
          }
        }
      })
    }
  }

  /**
   * @description 提交注册
   * @param void
   * @returns void
   */
  submit () {
    if (!this.username || !this.password || !this.code) {
      this.$store.commit('OPEN_ALERT', {'val': '请将信息填写完整', wait: 1000})
      return false
    }
    if (this.password.length < 6) {
      this.$store.commit('OPEN_ALERT', {'val': '密码不小于6位', wait: 1000})
      return false
    }
    if (!/^1(3|4|5|6|7|8|9)\d{9}$/.test(this.username)) {
      this.$store.commit('OPEN_ALERT', {'val': '手机号码格式不正确', wait: 1000})
      return false
    }
    let that = this
    this.$store.commit('CHANGE_LINEAR', true)
    Vue.prototype.Axios.post('/index.php/home/Member/registerAction', {
      phone: that.username,
      password: that.password,
      code: that.code
    })
    .then(function (res: any) {
      that.$store.commit('CHANGE_LINEAR', false)
      if (res.data.code === 11) {
        that.$store.commit('OPEN_ALERT', {'val': '手机号码不能为空', wait: 1000})
        setTimeout(function () {
          that.$router.push('/register')
        }, 1000)
      }
      if (res.data.code === 12) {
        that.$store.commit('OPEN_ALERT', {'val': '密码不能为空', wait: 1000})
        setTimeout(function () {
          that.$router.push('/register')
        }, 1000)
      }
      if (res.data.code === 13) {
        that.$store.commit('OPEN_ALERT', {'val': '验证码不能为空', wait: 1000})
        setTimeout(function () {
          that.$router.push('/register')
        }, 1000)
      }
      if (res.data.code === 14) {
        that.$store.commit('OPEN_ALERT', {'val': '手机号码格式不正确', wait: 1000})
        setTimeout(function () {
          that.$router.push('/register')
        }, 1000)
      }
      if (res.data.code === 15) {
        that.$store.commit('OPEN_ALERT', {'val': '请输入正确的验证码', wait: 1000})
        setTimeout(function () {
          that.$router.push('/register')
        }, 1000)
      }
      if (res.data.code === 18) {
        that.$store.commit('OPEN_ALERT', {'val': '该手机号已注册', wait: 1000})
        setTimeout(function () {
          that.$router.push('/login')
        }, 1000)
      }
      if (res.data.code === 1) {
        that.$store.commit('OPEN_ALERT', {'val': '注册成功，自动登录中', wait: 1000})
        that.$store.commit('CHANGE_LOG', true)
        sessionStorage.setItem('isLogin', 'true')
        setTimeout(function () {
          that.$router.push('/')
        }, 1000)
      }
    })
  }
}
</script>

<style scoped lang="less">
  .register{
    width:100%;
    height:100%;
    background: url("../../../static/img/bg_login.jpg") no-repeat bottom center;
    background-size: cover;
    .register-btn{
      width: 68%;
      padding: 0 4%;
      box-sizing:content-box;
      color: #fff;
      display: block;
      height: 3.4rem;
      line-height: 3.4rem;
      border-radius: 3.4rem;
      border: 0px;
      margin:0 auto;
      outline: none;
      text-align: left;
      border: 1px solid rgba(0,0,0,0);
    }
    .logo{
      width:46%;
      display: block;
      margin:0 auto;
      padding: 18% 0;
    }
    .reg-input{
      margin:1.2rem auto;
      font-size:1.2rem;
      background: url("../../../static/img/bg_input.png")
    }
    .login-code-box{
      overflow: hidden;
    }
    .login-code-box input{
      float: left;
      width: 46%;
      background: none;
      border: none;
      height: 3.4rem;
      line-height: 3.4rem;
      color: #fff;
    }
    .login-code-btn{
      float: right;
      color: #0060a0;
      background: none;
      border: none;
      height: 3.4rem;
      line-height: 3.4rem;
    }
    .reg-btn{
      background: #fff;
      color: #4a9bd0;
      font-size: 1.3rem;
      text-align: center;
    }
    .login-button-text{
      text-align: center;
      color: #97b7d8;
      font-size: 0.9rem;
      line-height: 1rem;
      margin-top: 1.4rem;
      width: 100%;
    }
  }
</style>
