<template>
  <div id="app">
    <mu-linear-progress class="linear" v-show="this.$store.state.linearshow" />
    <div id="display-area" class="display-area" :style="{height:this.height+'px'}">
      <router-view :height="height"/>
      <BottomMenu id="nav-bottom" v-if="this.$store.state.nav.show"></BottomMenu>
    </div>
    <mu-popup position="top" :overlay="false" popupClass="demo-popup-top" :open="this.$store.state.alert.alertshow">
      {{this.$store.state.alert.alertText}}
    </mu-popup>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Watch } from 'vue-property-decorator'

@Component
export default class App extends Vue {
  height: number = 0

  created () {
    window.onresize = () => {
      this.handleHeight()
    }
  }

  mounted () {
    this.handleHeight()
    let Height = window.innerHeight || document.documentElement.clientHeight || document.body.clientHeight
    sessionStorage.setItem('windowHeightNoSRF', Height.toString())
  }

  /**
   * @description 初始化高度
   * @param void
   * @returns void
   */
  handleHeight () {
    let hei
    let screenHeight = window.innerHeight || document.documentElement.clientHeight || document.body.clientHeight
    hei = screenHeight
    sessionStorage.setItem('windowHeight', hei.toString())
    this.height = hei
  }
}
</script>

<style>
.linear{
  position: fixed;
  top: 0px;
  left: 0px;
}
</style>
