<template>
  <div class="center" id="center" :style="{height: this.height - 56 + 'px'}">
    <div class="center-bg">
      <img class="center-avatar" :src="this.$store.getters.Avatar ? this.$store.getters.Avatar : '/static/img/avt.png'" alt="">
      <span class="center-username">{{this.$store.getters.userName}}</span>
      <button class="center-out" @click="userout()">退出</button>
    </div>
    <div class="center-attributes-box">
      <div class="center-attributes">
        <router-link to="/center/cashback">
          <p>￥ {{this.$store.getters.cashbackBalance}}</p>
          <span>返现账户</span>
        </router-link>
      </div>
      <div class="center-attributes" v-if="this.$store.getters.whitestripesState !== 'close'">
        <router-link to="/center/white">
          <p>￥ {{this.$store.getters.whitestripesBalance}}</p>
          <span>白条待还款</span>
        </router-link>
      </div>
      <div class="center-attributes">
        <router-link to="/center/renewals">
          <p> {{this.$store.getters.cloudBeansBalance}}</p>
          <span>续费</span>
        </router-link>
      </div>
    </div>
    <ul class="center-list">
      <li>
        <router-link to="/order">
          <h3>我的订单</h3>
          <span>查看我的全部订单</span>
          <i class="iconfont">&#xe6a7;</i>
        </router-link>
      </li>
      <li>
        <a @click="setFormRouter">
          <h3>收货地址</h3>
          <i class="iconfont iconfont-addr">&#xe6a7;</i>
        </a>
      </li>
      <li>
        <a @click="toPayPassword">
          <h3>支付密码</h3>
          <i class="iconfont iconfont-addr">&#xe6a7;</i>
        </a>
      </li>
    </ul>
  </div>
</template>

<script lang='ts'>
import { Component, Vue, Prop } from 'vue-property-decorator'

@Component
export default class Center extends Vue {
  @Prop()
  height!: number

  created () {
    let that = this
    Vue.prototype.Axios.post('/index.php/Home/CommentPer/PersonalCom')
      .then((res: any) => {
        if (res.data.code === 1) {
          that.$store.commit('UPDATEUSERMESSGAES', res.data.data)
        }
      })
  }

  /**
   * @description 跳转到地址管理
   * @param void
   * @returns void
   */
  setFormRouter () {
    sessionStorage.setItem('fromRouter', JSON.stringify({
      type: 'look',
      from: 'center'
    }))
    this.$router.push({
      name: 'addressList'
    })
  }

  /**
   * @description 退出登录
   * @param void
   * @returns void
   */
  userout () {
    let that = this
    Vue.prototype.Axios.post('/index.php/home/Member/logoutQuit')
      .then(function (res: any) {
        if (res.data.code === 1) {
          that.$store.commit('CHANGE_LOG', false)
          sessionStorage.removeItem('isLogin')
          that.$store.commit('OPEN_ALERT', {'val': '退出成功，稍后自动刷新', 'wait': 1000})
          setTimeout(function () {
            that.$router.push('/')
          }, 1000)
        } else if (res.data.code === 17) {
          that.$router.push('/login')
        }
      })
  }

  /**
   * @description 跳转到支付密码
   * @param void
   * @returns void
   */
  toPayPassword () {
    this.$router.push({
      name: 'paypassword'
    })
  }
}
</script>

<style scoped lang="less">
.center{
  overflow-y: auto;
  background: #f6f6f6;
  .center-bg{
    background: url("../../../static/img/center_bg.jpg") no-repeat center center;
    background-size: cover;
    padding: 3rem 2.4rem;
    display: flex;

    .center-avatar{
      width: 4rem;
      height: 4rem;
      -webkit-border-radius: 4rem;
      -moz-border-radius: 4rem;
      border-radius: 4rem;
    }
    .center-username{
      color: #fff;
      line-height: 4rem;
      margin-left: 2rem;
    }
    .center-out{
      margin-top: auto;
      margin-bottom: auto;
      margin-left: auto;
      height: 1.8rem;
      padding: 0 1rem;
      border: 1px solid #fff;
      -webkit-border-radius: 0.9rem;
      -moz-border-radius: 0.9rem;
      border-radius: 0.9rem;
      background: none;
      color: #fff;
      opacity: 0.6;
    }
  }
  .center-attributes-box{
    display: flex;
    padding: 1rem 0;
    background: #fff;
    .center-attributes{
      flex: 1;
      text-align: center;
      p{
        color: #dd5555;
        font-size: 1.3rem;
        line-height: 2rem;
      }
      span{
        color: #6d6d6f;
        font-size: 1rem;
      }
    }
  }
  .center-list{
    margin-top: 1rem;
    background: #fff;
    > li {
      border-bottom: 1px solid #e0e0e0;
      a {
        display: flex;
        padding: 1rem;
        line-height: 2rem;
        color: #b7b7b7;
        h3{
          font-size: 1.3rem;
          color: #000
        }
        span{
          margin-left: auto;
          color: #b7b7b7;
        }
        .iconfont-addr{
          margin-left: auto
        }
      }
      &:last-child{
        border-bottom: 0px;
      }
    }
  }
}
</style>
