<template>
  <div class="renewals" id="renewals" :style="{height: this.height - 56 + 'px'}">
    <div class="renewals-up">
      <h6 class="renewals-paytitle">剩余云豆</h6>
      <p class="renewals-paynum">{{number}}</p>
      <label class="renewals-label"> 查询操作，消耗云豆，请随时关注余量 </label>
    </div>
    <h1 class="renewals-title">充值续费</h1>
    <h3 class="renewals-small-title" v-if="renewalsPreferential.length > 0">优惠购</h3>
    <ul class="renewals-preferential">
      <li v-for="(item, index) in renewalsPreferential" :data-level="item.level" :key="item.id" :class="{'preferential-mar' : (index+1) % 3 === 0}">
        <div class="preferential-content" @click="getMoney(item.price, item.total_sum, item.level, index)" :class="{'show':index === curPitchOn}">
          <div class="preferential-icon"><i class="iconfont icon-dui"></i></div>
          <h4 :style="{paddingTop:padtop+'px'}" class="preferential-money">{{item.total_sum}}豆</h4>
          <p class="preferential-explain"><span>{{item.price}}</span>元</p>
        </div>
      </li>
    </ul>
    <h3 class="renewals-small-title renewals-small-title-num">按数量付费</h3>
    <div class="renewals-input-box">
      <input pattern="[0-9]*" class="renewals-input" oninput="if(value.length>6)value=value.slice(0,6)" type="number" @input="inspectNum(inputNum)" v-model="inputNum" placeholder="请填写充值云豆数">
    </div>
    <div class="renewals-btn-box" :class="{ 'blue':allMoney !== ''&& allMoney !== '0' }"><button @click="submit(inputNum,curnumber,curlevel, allMoney)" :disabled="allMoney === '' || allMoney === '0'" class="renewals-btn"><span v-show="allMoney !== '' && allMoney !== 0">￥{{allMoney}}</span> 提交</button></div>
    <div id="alipay" v-show="alipayshow"></div>
  </div>
</template>

<script lang='ts'>
import { Component, Vue, Prop } from 'vue-property-decorator'

@Component
export default class Renewals extends Vue {
  @Prop()
  height!: number

  alipayshow: boolean = false
  number: number = 0
  allMoney: number = 0
  curPitchOn: number = -1
  curnumber: number = -1
  curlevel: number = -1
  inputNum: string = ''
  renewalsPreferential: Array<any> = []
  payAlert: any = {
    show: false
  }

  get padtop () {
    let winW = window.innerWidth
    let halfboxW = ((winW - 20) * 0.35 * 0.6) / 2
    return halfboxW - 22
  }

  created () {
    let that = this
    Vue.prototype.Axios.get('/index.php/home/api/getyunNum')
    .then(function (res: any) {
      if (res.data.code === 1) {
        that.number = res.data.data
      } else if (res.data.code === 17) {
        that.$router.push('/login')
      }
    })
    Vue.prototype.Axios.post('/index.php/home/Payment/Paymentyh')
    .then(function (res: any) {
      if (res.data.code === 1) {
        that.renewalsPreferential = res.data.data
      }
    })
  }
  mounted () {
    document.getElementById('alipay')!.innerHTML = ''
  }

  /**@description 选择优惠购
   * @param { number } val 价格
   * @param { number } numbers 云豆数量
   * @param { number } level 级别
   * @param { number } index 下标
   * @returns void
   */
  getMoney (val: number, numbers: number, level: number, index: number) {
    this.inputNum = ''
    if (this.curPitchOn === index) {
      this.allMoney = 0
      this.curPitchOn = -1
      this.curnumber = -1
      this.curlevel = -1
    } else {
      this.allMoney = val
      this.curPitchOn = index
      this.curnumber = numbers
      this.curlevel = level
    }
  }

  /**
   * @description 过滤输入内容，并储存相关信息
   * @param { any } val 输入的内容
   * @returns void
   */
  inspectNum (val: any) {
    this.inputNum = val.match(/^[1-9]{1}[0-9]*$/) ? val.match(/^[1-9]{1}[0-9]*$/) : ''
    this.allMoney = 0
    this.allMoney = val / 5
    this.curPitchOn = -1
    if (this.inputNum === '') {
      this.allMoney = 0
    }
  }

  /**
   * @description 提交结算
   * @param { string } number1 按数量付费的云豆数量
   * @param { string } number2 优惠购的云豆数量
   * @param { number } level 充值的级别
   * @param { number } money 金额
   */
  submit (number1: string, number2: number, level: number, money: number) {
    let data = null
    let that = this
    if (number1) {
      data = {
        number: number1[0],
        money: money.toString(),
        level: '3'
      }
    } else {
      data = {
        number: number2,
        money: money,
        level: level
      }
    }
    if (data.level < 0) {
      this.$store.commit('OPEN_ALERT', {'val': '请选择或输入充值云豆数','wait': 1000})
      return false
    }
    Vue.prototype.Axios.post('/index.php/Home/Payment/getWeist', data)
      .then((res: any) => {
        if (res.data.code === 1) {
          sessionStorage.setItem('payType', JSON.stringify('renewals'))
          that.$router.push({
            name: 'pay',
            params: {
              data: res.data.data
            }
          })
        }
      })
  }
}
</script>

<style scoped lang="less">
  .renewals{
    padding-bottom: 3rem;
    overflow-y: auto;
    .renewals-up{
      position: relative;
      height: 12rem;
      background: url("../../../static/img/renewals_bg.png") no-repeat bottom center;
      background-size: cover;
      .renewals-paytitle{
        padding-top: 2.6rem;
        color: #feffff;
        text-align: center;
        font-size: 1.2rem;
      }
      .renewals-paynum{
        font-size: 3rem;
        margin-bottom: 0.6rem;
        text-align: center;
        color: #fff;
      }
      .renewals-label{
        font-size: 1rem;
        text-align: center;
        color: #94c9f0;
        display: block
      }
    }
    .renewals-title{
      border-bottom: 1px solid #e5e5e5;
      font-size: 1.3rem;
      line-height: 3rem;
      padding: 0 1rem;
      margin-top: 1rem;
    }
    .renewals-small-title{
      font-size: 1.2rem;
      color: #0d5081;
      padding: 0 1rem;
      line-height: 2.8rem;
      margin-top: 0.8rem;
    }
    .renewals-small-title-num{
      margin-top: 0;
    }
    .renewals-preferential{
      padding: 0 1rem;
      overflow: hidden;
      li{
        float: left;
        width: 35%;
        overflow: hidden;
        text-align: center;
        position: relative;
        margin-right: 3.2%;
        margin-bottom: 1rem;
        .preferential-content{
          position: absolute;
          width: 100%;
          height: 100%;
          border: 1px solid #e5e5e5;
          border-radius: 3px;
          .preferential-icon{
            display: none;
            width: 14px;
            height: 14px;
            line-height: 14px;
            border-radius: 100%;
            position: absolute;
            right: 0.4rem;
            top: 0.4rem;
            background-color: #348ac7;
            .iconfont{
              font-size: 0.7rem;
              font-weight: 300;
              color:#fff;
            }
          }
          .preferential-money{
            font-size: 1.7rem;
            line-height: 2.2rem;
          }
          .preferential-explain{
            font-size: 1.3rem;
            line-height: 1.6rem;
            color: #b7b7b7;
            li.preferential-mar{
              margin-right: 0px;
            }
          }
        }
        .preferential-content.show{
          border-color: #348ac7;
          .preferential-icon{
            display: block
          }
        }
      }
      li::after{
        content: '';
        display: block;
        margin-top: 60%;
      }
    }
    .renewals-input-box{
      margin: 0 1rem;
      border: 1px solid #e5e5e5;
      border-radius: 3.4px;
      font-size: 1.1rem;
      line-height: 3.4rem;
      overflow: hidden;
      .renewals-input{
        width: 64%;
        border: 0px;
        padding: 0 3%;
        float: left;
      }
    }
    .renewals-btn-box{
      margin: 3rem 1rem 0;
      .renewals-btn{
        line-height: 3.4rem;
        border:0px;
        background: #dadada;
        border-radius: 3.4rem;
        display: block;
        width:100%;
        font-size: 1.5rem;
        color: #fff;
      }
    }
    .renewals-btn-box.blue .renewals-btn{
      background: #348ac7;
    }
  }
  .pay-alert{
    position: fixed;
    bottom: 0px; left: 0px;
    width: 100%;
    z-index: 9;
    background-color: #fff;
    .pay-box{
      background-color: #fff;
      z-index: 9;
      position: relative;
      padding-bottom: 1px;
      .pay-title{
        overflow: hidden;
        padding: 0 2%;
        border-bottom: 1px solid #999;
        .pay-close{
          float: right;
          font-size: 1.1rem;
          padding: 1rem 1.2rem;
        }
      }
      .pay-btn-box{
        padding: 1rem 0;
        overflow: hidden;
        .pay-btn.otherUA{
          width:90%;
        }
        .pay-btn{
          width: 90%;
          display: block;
          height: 3.4rem;
          line-height: 3.4rem;
          border-radius: 3.4rem;
          margin: 2rem 5%;
          background: #2580c1;
          border: 1px solid #2580c1;
          color: #fff;
          font-size: 1.5rem;
        }
      }
    }
  }
  .pay-alert:before{
    content: '';
    display: block;
    z-index: 3;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #000;
    opacity: .6;
  }
</style>
